<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client UI</title>
    <!-- link main.css -->
    <link rel="stylesheet" href="../src/css/main.css">
</head>
<body>
    <!--main nav-->
<header id="navbar">
<nav>
    <h3><a href="#">Inspot</a></h3> 
    <form>
<div class="nav-wrapper">
    <div><input type="text" placeholder="Search your games and applications"></div>
    <div class="links">
        <ul>
            <li><a href="#">FAVORIES</a></li>
            <li><a href="#">TIME REMAINING</a></li>
            <li><a href="#">infdel06</a></li>
        </ul>
    </div>
</div>
</form>
</nav>
</header>
    <!--/main nav-->
</body>
</html>