[submodule "Submodules/Gizmo.Client.UI.Resources"]
	path = Submodules/Gizmo.Client.UI.Resources
	url = https://github.com/GAMP/Gizmo.Client.UI.Resources
	branch = main
[submodule "Submodules/Gizmo.Web.Components"]
	path = Submodules/Gizmo.Web.Components
	url = https://github.com/GAMP/Gizmo.Web.Components
	branch = dev
[submodule "Submodules/Gizmo.Client.UI.Services"]
	path = Submodules/Gizmo.Client.UI.Services
	url = https://github.com/GAMP/Gizmo.Client.UI.Services
	branch = dev
    
[submodule "Submodules/Gizmo.Shared"]
	path = Submodules/Gizmo.Shared
	url = https://github.com/GAMP/Gizmo.Shared
	branch = feature_api_standart
[submodule "Submodules/CoreLib"]
	path = Submodules/CoreLib
	url = https://github.com/GAMP/CoreLib
	branch = feature_api_standart
[submodule "Submodules/Win32API"]
	path = Submodules/Win32API
	url = https://github.com/GAMP/Win32API
	branch = main
[submodule "Submodules/DataInterfaces"]
	path = Submodules/DataInterfaces
	url = https://github.com/GAMP/DataInterfaces
	branch = feature_api_standart
[submodule "Submodules/cyClone"]
	path = Submodules/cyClone
	url = https://github.com/GAMP/cyClone
	branch = feature_api_standart
[submodule "Submodules/TransformLib"]
	path = Submodules/TransformLib
	url = https://github.com/GAMP/TransformLib
	branch = feature_api_standart


[submodule "Submodules/NetLib"]
	path = Submodules/NetLib
	url = https://github.com/GAMP/NetLib
	branch = feature_api_standart
[submodule "Submodules/SharedLib"]
	path = Submodules/SharedLib
	url = https://github.com/GAMP/SharedLib
	branch = feature_api_standart

[submodule "Submodules/Gizmo.Server.Shared"]
	path = Submodules/Gizmo.Server.Shared
	url = https://github.com/GAMP/Gizmo.Server.Shared
	branch = feature_api_standart
[submodule "Submodules/Gizmo.UI"]
	path = Submodules/Gizmo.UI
	url = https://github.com/GAMP/Gizmo.UI
	branch = main
[submodule "Submodules/Gizmo.Client.Shared"]
	path = Submodules/Gizmo.Client.Shared
	url = https://github.com/GAMP/Gizmo.Client.Shared
	branch = main
