//=============== Ads Carousel ================//

.giz-ads-carousel {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    position: relative;
    overflow: hidden;
    width: 100%;

    &__header {
        margin-bottom: 1.6rem;
        @include font-h5($font-weight-bold);
    }

    &__body {
        position: relative;
        height: 40.0rem;
        overflow: hidden;
    }

    &__navigation {
        margin-top: 2.1rem;
    }

    &-item {
        position: absolute;
        border-radius: 4.0rem;
        overflow: hidden;
        display: none;

        &.single {
        }

        &.first {
        }

        &.second {
        }

        &.previous {
            display: inline-block;
            width: 72.2rem;
            height: 38.0rem;
            top: 1.0rem;
            right: calc(50% + 3.4rem);
            transform: translateX(-50%);
            mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0));
            cursor: pointer;

            &:after {
                content: '';
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.2;
            }

            &:hover {
                &:after {
                    opacity: 0;
                }
            }

            .giz-ads-carousel-item__content-wrapper {
                visibility: hidden;
            }
        }

        &.current {
            display: inline-block;
            width: 76.0rem;
            height: 40.0rem;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &.next {
            display: inline-block;
            width: 72.2rem;
            height: 38.0rem;
            top: 1.0rem;
            left: calc(50% + 3.4rem);
            transform: translateX(50%);
            mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0));
            cursor: pointer;

            &:after {
                content: '';
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.2;
            }

            &:hover {
                &:after {
                    opacity: 0;
                }
            }

            .giz-ads-carousel-item__content-wrapper {
                visibility: hidden;
            }
        }

        &__image {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__content {
            display: grid;
            grid-template-rows: min-content 1fr min-content;
            height: 100%;
            overflow: hidden;
            //white-space: nowrap;
            text-overflow: ellipsis;
            @include font-m($font-weight-light);

            &-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                //padding: 8.6rem 3.2rem 6.5rem 3.2rem;
            }
        }
    }

    &-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;

        &-button {
            box-sizing: content-box;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background: rgba(250, 250, 250, 0.16);
            cursor: pointer;

            &.active {
                background: #FAFAFA;
                border: 0.4rem solid #0078D2;
            }
        }
    }

    .fade-out-previously {
        animation-duration: 1s;
        animation-name: ads-fade-out-previously-anim;
        animation-timing-function: ease-in-out;
    }

    .fade-in-current {
        animation-duration: 1s;
        animation-name: ads-fade-in-current-anim;
        animation-timing-function: ease-in-out;
    }
}    

@keyframes ads-fade-out-previously-anim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes ads-fade-in-current-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
