//=============== Ads Carousel ================//

.giz-ads-carousel {
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    &__header {
        margin-bottom: 1.6rem;
        @include font-h5($font-weight-bold);
    }

    &__body {
        position: relative;
        height: 36.5rem;
        overflow: hidden;
    }

    &__navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 2.1rem;
        color: rgba(255, 255, 255, 0.3);
        @include font-s($font-weight-regular);
    }

    &-item {
        position: absolute;
        top: 0;
        height: 100%;
        display: none;

        &.current {
            display: inline-block;
            position: relative;
            left: 0;
            width: calc(50% - 1.2rem);
        }

        &.second {
            display: inline-block;
            left: calc(50% + 1.2rem);
            width: calc(25% - 1.8rem);
        }

        &.third {
            display: inline-block;
            left: calc(75% + 1.8rem);
            width: calc(25% - 1.8rem);
        }

        &.next {
            display: inline-block;
            left: 100%;
            width: calc(25% - 1.8rem);
        }

        &__image {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__content {
            display: grid;
            grid-template-rows: min-content 1fr min-content;
            height: 100%;

            &-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 8.6rem 3.2rem 6.5rem 3.2rem;
            }

            &__title {
                margin-bottom: 2.4rem;
                @include font-h5($font-weight-bold);
            }

            &__text {
                overflow: hidden;
                //white-space: nowrap;
                text-overflow: ellipsis;
                margin-bottom: 3.2rem;
                @include font-m($font-weight-light);
            }
        }
    }

    &-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;

        &-button {
            box-sizing: content-box;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background: rgba(250, 250, 250, 0.16);
            cursor: pointer;

            &.active {
                background: #FAFAFA;
                border: 0.4rem solid #0078D2;
            }
        }
    }

    .slide-left-current {
        left: -50%;
        animation-duration: 1s;
        animation-name: ads-slide-left-current-anim;
    }

    .slide-left-second {
        left: 0;
        width: calc(50% - 1.2rem);
        animation-duration: 1s;
        animation-name: ads-slide-left-second-anim;
    }

    .slide-left-third {
        left: calc(50% + 1.2rem);
        width: calc(25% - 1.8rem);
        animation-duration: 1s;
        animation-name: ads-slide-left-third-anim;
    }

    .slide-left-next {
        left: calc(75% + 1.8rem);
        width: calc(25% - 1.8rem);
        animation-duration: 1s;
        animation-name: ads-slide-left-next-anim;
    }

    .slide-right-current {
        left: 0;
        width: calc(50% - 1.2rem);
        animation-duration: 1s;
        animation-name: ads-slide-right-current-anim;
    }

    .slide-right-second {
        left: calc(50% + 1.2rem);
        width: calc(25% - 1.8rem);
        animation-duration: 1s;
        animation-name: ads-slide-right-second-anim;
    }

    .slide-right-third {
        left: calc(75% + 1.8rem);
        width: calc(25% - 1.8rem);
        animation-duration: 1s;
        animation-name: ads-slide-right-third-anim;
    }

    .slide-right-next {
        left: 100%;
        animation-duration: 1s;
        animation-name: ads-slide-right-next-anim;
    }

    .fade-out-previously {
        //top: 100%;
        animation-duration: 0.5s;
        animation-name: ads-fade-out-previously-anim;
    }

    .fade-in-current {
        animation-duration: 0.5s;
        animation-name: ads-fade-in-current-anim;
    }
}

@keyframes ads-slide-left-current-anim {
    from {
        left: 0;
    }

    to {
        left: -50%;
    }
}

@keyframes ads-slide-left-second-anim {
    from {
        left: calc(50% + 1.2rem);
        width: calc(25% - 1.8rem);
    }

    to {
        left: 0;
        width: calc(50% - 1.2rem);
    }
}

@keyframes ads-slide-left-third-anim {
    from {
        left: calc(75% + 1.8rem);
    }

    to {
        left: calc(50% + 1.2rem);
    }
}

@keyframes ads-slide-left-next-anim {
    from {
        left: 100%;
    }

    to {
        left: calc(75% + 1.8rem);
    }
}

@keyframes ads-slide-right-current-anim {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}

@keyframes ads-slide-right-second-anim {
    from {
        left: 0;
        width: calc(50% - 1.2rem);
    }

    to {
        left: calc(50% + 1.2rem);
        width: calc(25% - 1.8rem);
    }
}

@keyframes ads-slide-right-third-anim {
    from {
        left: calc(50% + 1.2rem);
    }

    to {
        left: calc(75% + 1.8rem);
    }
}

@keyframes ads-slide-right-next-anim {
    from {
        left: calc(75% + 1.8rem);
    }

    to {
        left: 100%;
    }
}

@keyframes ads-fade-out-previously-anim {
    from {
        //top: 0;
        opacity: 1;
    }

    to {
        //top: 100%;
        opacity: 0;
    }
}

@keyframes ads-fade-in-current-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
