//=============== Alert Dialog ================//

.giz-alert-dialog {
    &-heading {
        @include font-10($letter-spacing-15);
        color: $primary-light-color;
        font-weight: $font-weight-400;
    }

    &-text {
        font-size: $font-18;
        line-height: $line-height-21;
        letter-spacing: $letter-spacing-2;
        color: $white-color;
        font-weight: $font-weight-400;
    }
}
