//=============== Application Details Dialog ================//

/*.giz-app-details-card {

    .giz-app-details-card-brand {
        &-info {
            display: grid;
            grid-template-columns: 6.438rem 5.688rem;
            @include font-12;
            grid-column-gap: 2px;
            border-bottom: 1px solid $border-dark-color;
            padding: 0.563rem 0;

            &:last-child {
                border-bottom: none !important;
            }
        }

        &-title {
            letter-spacing: $letter-spacing-2;
            font-weight: $font-weight-600;
        }

        &-text {
            text-shadow: $text-shadow-sm;
            text-align: $text-align-right;
        }
    }

    .giz-apps-tags {
        display: flex;
        align-items: center;
        margin-bottom: 0.938rem;

        .giz-selected-tag {
            color: $pastel-blue;
            margin-right: 0.188rem;
            padding: 0 0.25rem;
            text-align: $text-align-center;
            background: $dark-pastel-blue;
            border-radius: $rounded;
            font-size: $font-11;
            line-height: $line-height-20;
            letter-spacing: $letter-spacing-2;
        }

        .giz-add-tags {
            cursor: pointer;
            background: $light-navy-blue;
            @extend .giz-selected-tag;
            font-weight: $font-weight-400;
            color: $white-color;
        }
    }

    .giz-executable-list {
        display: grid;
        grid-template-columns: 1fr 1fr; //min-content min-content;
        grid-gap: 16px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .giz-modal-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.875rem;

        &--navbar {
            list-style: $list-unstyled;
            display: flex;
            align-items: center;
        }

        &--items {
            @include font-11;
            text-transform: $text-uppercase;
            margin-right: 1rem;

            .active {
                border-radius: $rounded-pill;
                background: $info-color;
            }
        }

        &--links {
            color: $white-color;
            padding: 0.5rem;
        }

        .giz-disable-link {
            color: $dim-white;
            pointer-events: none;
        }
    }

    .giz-modal-video {
        img {
            min-width: $width-full;
            margin-bottom: 1rem;
            border-radius: $rounded;
        }

        &--title {
            @include font-11;
            letter-spacing: $letter-spacing-24;
            text-transform: $text-uppercase;
            color: $blue-gray;
            text-shadow: $text-shadow-sm;
            margin-bottom: 0.5rem;
        }

        &--text {
            @include open-sans-600;
            font-size: $font-15;
            line-height: $line-height-19;
            letter-spacing: $letter-spacing-5;
        }
    }
}
*/