//=============== Application Details Dialog ================//

/*.giz-app-details-card {

    .giz-app-details-card-brand {
        &-info {
            display: grid;
            grid-template-columns: 6.438rem 5.688rem;
            grid-column-gap: 2px;
            padding: 0.563rem 0;

            &:last-child {
                border-bottom: none !important;
            }
        }

        &-title {
        }

        &-text {
            text-align: $text-align-right;
        }
    }

    .giz-apps-tags {
        display: flex;
        align-items: center;
        margin-bottom: 0.938rem;

        .giz-selected-tag {
            color: $pastel-blue;
            margin-right: 0.188rem;
            padding: 0 0.25rem;
            text-align: center;
            background: $dark-pastel-blue;
        }

        .giz-add-tags {
            cursor: pointer;
            background: $light-navy-blue;
            @extend .giz-selected-tag;
        }
    }

    .giz-executable-list {
        display: grid;
        grid-template-columns: 1fr 1fr; //min-content min-content;
        grid-gap: 16px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .giz-modal-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.875rem;

        &--navbar {
            display: flex;
            align-items: center;
        }

        &--items {
            text-transform: $text-uppercase;
            margin-right: 1rem;

            .active {
                background: $info-color;
            }
        }

        &--links {
            padding: 0.5rem;
        }

        .giz-disable-link {
            color: $dim-white;
            pointer-events: none;
        }
    }

    .giz-modal-video {
        img {
            min-width: 100%;
            margin-bottom: 1rem;
        }

        &--title {
            text-transform: $text-uppercase;
            color: $blue-gray;
            margin-bottom: 0.5rem;
        }

        &--text {
        }
    }
}
*/