//=============== Application Card ================//

.giz-app-card {
    background: #22272B;
    border-radius: 8px;
    overflow: hidden;

    &__content {
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        gap: 12px;
        height: 100%;

        &__image {
            height: 333px;
            border-radius: 8px 8px 0 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__details {
            padding: 0 16px;
        }

        &__footer {
            padding: 16px;
        }

        &--hovered {
            display: grid;
            grid-template-rows: min-content 1fr min-content;
            align-items: center;
            height: 100%;
            padding: 16px;

            &__header {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &-text {
        overflow: hidden;

        .inactive {
        }

        .giz-playing-indicator {
            height: 0.5rem;
            width: 0.5rem;
            background: $unknown-color;
            margin-right: 0.188rem;
            display: inline-block;
        }
    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include font-l($font-weight-light);
    }

    &__count {
    }

    &__rating {
        color: $unknown-color;
        letter-spacing: normal;
        margin-left: 0.625rem;
    }
}

.store-btn {
    .giz-icon {
        width: 24px;
        height: 24px;
    }
}

.giz-app-card-b1 {
    display: flex;
    align-items: center;
    background: #1B1D21;
    opacity: 0.9;
    border-radius: 12px;
    padding: 4px 8px;
    color: #FAFAFA;
    @include font-s($font-weight-light);

    & > svg {
        margin-right: 4px;
    }
}

.giz-app-card-b2 {
    display: flex;
    align-items: center;
    background: #1B1D21;
    opacity: 0.9;
    border-radius: 12px;
    padding: 4px 8px;
    color: #FAFAFA;
    @include font-s($font-weight-light);

    & > svg {
        margin-right: 4px;
    }
}