//=============== Badge ================//

.giz-badge {
    &.corner {
        & > .giz-badge__wrapper {
            & > .giz-badge__badge {
                height: unset;
                min-width: unset;
                background: #E70038;
                padding: 2px 6px;
                inset: auto auto calc(100% - 15px) calc(100% - 10px);
                //Font
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}