//=============== Badge ================//

.giz-badge {
    &--corner {
        & > .giz-badge__wrapper {
            & > .giz-badge__badge {
                height: unset;
                min-width: unset;
                background-color: #E70038;
                padding: 0.2rem 0.6rem;
                inset: auto auto calc(100% - 1.5rem) calc(100% - 1.0rem);
                //Font ?
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
        }
    }
}