.giz-change-profile {
    &-dialog {
        color: #FAFAFA;
        width: 60.0rem;

        .giz-user-avatar {
            width: 11.2rem;
            height: 11.2rem;
        }
    }

    &-section {
        &__header {
            color: rgba(255, 255, 255, 0.6);
            //Font
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }

        &__body {
        }
    }

    &-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;
    }
}
