.giz-change-picture-dialog {
    color: #FAFAFA;
    width: 600px;

    &-image {
        position: relative;
        width: 260px;
        height: 260px;

        &-delete-button.giz-button--fill.primary:not(.disabled) {
            position: absolute;
            top: 16px;
            left: 16px;
            width: 24px;
            background-color: #FFFFFF;
            color: black;

            .giz-icon--extra-small {
                width: 14px;
                height: 14px
            }
        }
    }

    .giz-input-label {
        color: #FFFFFF;
        margin-bottom: 4px;
        //Font
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    .giz-input-control {
        .giz-input-label {
            color: #FFFFFF;
            margin-bottom: 4px;
            //Font
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
        }
    }

    &-message {
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 24px;
        //Font
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    & > .giz-client-dialog__body {
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    & > .giz-client-dialog__footer {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
    }
}
