.giz-change-picture-dialog {
    color: #FAFAFA;
    width: 600px;

    &-image {
        width: 260px;
        height: 260px;
    }

    &-message {
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 24px;
        //Font
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    & > .giz-client-dialog__body {
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    & > .giz-client-dialog__footer {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
    }
}
