.giz-change-email-dialog {
    color: #FAFAFA;
    width: 600px;

    &-email {
        margin-bottom: 24px;
    }

    &-message {
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 24px;
        @include font-l($font-weight-regular);
    }

    & > .giz-client-dialog__footer {
        display: grid;
        grid-template-rows: min-content min-content;
        gap: 16px;
    }

    .giz-button-timer {
        position: absolute;
        right: 30px;
        @include font-s($font-weight-light);
    }
}
