//=============== Client Tab ================//

.giz-client-tab {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: 16px;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    min-height: 34px;

    .giz-button {
        width: 24px;
        padding: unset;
    }

    &--internal {
        grid-template-columns: 1fr;

        .giz-button.giz-button--fill.primary:not(.disabled) {
            width: 32px;
            height: 32px;
            background: rgba(50, 53, 54, 0.75);
            border-radius: 8px;

            .giz-icon--extra-small {
                width: 24px;
                height: 24px;
            }
        }

        .giz-client-tab__previous {
            position: absolute;
            left: 0;
        }

        .giz-client-tab__next {
            position: absolute;
            right: 0;
        }
    }

    &__wrapper {
        height: 100%;
        overflow: hidden;
    }

    &__content {
        display: flex;
        gap: 16px;
        height: 100%;
        transition: margin 1s;
    }

    &-item {
        color: #FAFAFA;
        cursor: pointer;
        @include font-m($font-weight-light);

        &.active {
            color: $primary-color;
            position: relative;

            svg {
                color: #0078D2;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $primary-color;
            }
        }
    }
}
