//=============== Client Tab ================//

.giz-client-tab {
    display: flex;
    gap: 16px;
    white-space: nowrap;

    &-item {
        color: #FAFAFA;
        cursor: pointer;
        //Font
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;

        &.active {
            color: $primary-color;
            position: relative;

            svg {
                color: #0078D2;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $primary-color;
            }
        }
    }
}
