//=============== Executable Selector Dialog ================//

.giz-executable-selector-dialog {
    .giz-client-dialog {
        &__header {
            &__title {
                color: #FAFAFA;
                @include font-h5($font-weight-bold);
            }

            &__subtitle {
                color: rgba(255, 255, 255, 0.6);
                @include font-l($font-weight-light);
            }
        }
    }
}

.giz-executable-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 43px;
}
