//== Client UI global style ==//

body {
    user-select: none;
}

main {
    position: relative;
}

.giz-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //height: 100%;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(12, 15, 17, 0.0001) 0%, rgba(12, 15, 17, 0.0156863) 9.22%, rgba(12, 15, 17, 0.054902) 18.76%, rgba(12, 15, 17, 0.117647) 28.48%, rgba(12, 15, 17, 0.2) 38.19%, rgba(12, 15, 17, 0.290196) 47.75%, rgba(12, 15, 17, 0.392157) 56.99%, rgba(12, 15, 17, 0.501961) 65.75%, rgba(12, 15, 17, 0.607843) 73.87%, rgba(12, 15, 17, 0.709804) 81.18%, rgba(12, 15, 17, 0.8) 87.52%, rgba(12, 15, 17, 0.846259) 90.45%, rgba(12, 15, 17, 0.882353) 92.74%, rgba(12, 15, 17, 0.90408) 92.75%, rgba(12, 15, 17, 0.945098) 96.66%, rgba(12, 15, 17, 0.959815) 99.12%, rgba(12, 15, 17, 0.978709) 99.13%, rgba(12, 15, 17, 0.984314) 99.14%, rgba(12, 15, 17, 0.986777) 99.98%, rgba(12, 15, 17, 0.996851) 99.99%, #0C0F11 100%, #0C0F11 100%, #0C0F11 100%);
        backdrop-filter: blur(4px);
    }

    img {
        width: inherit;
    }
}

.giz-container {
    position: relative;
}

.giz-user-lock {
    color: #FAFAFA;

    .giz-input-text {
        .giz-input-root--outline {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid rgba(246, 251, 253, 0.28);
            border-radius: 0;

            &:hover {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid rgba(246, 251, 253, 0.28);
            }

            &:focus-within {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid #0091E6;
            }

            input {
                text-align: center;
                //Font ?
                font-weight: 700;
                font-size: 26px;
                line-height: 34px;
            }
        }
    }

    &.error {
        .giz-input-text {
            .giz-input-root--outline {
                border-bottom: 2px solid #F73B3B;

                &:hover {
                    border-bottom: 2px solid #F73B3B;
                }

                &:focus-within {
                    border-bottom: 2px solid #F73B3B;
                }
            }
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(35, 35, 45, 0.9) 0%, rgba(42, 44, 53, 0.15) 100%);
        backdrop-filter: blur(30px);
        z-index: $lock-overlay-index;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    &__title {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 24px rgba(0, 0, 0, 0.2);
        margin-bottom: 12px;
        @include font-h1($font-weight-bold);
    }

    &__subtitle {
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 52px;
        @include font-l($font-weight-light);
    }

    &__error {
        margin-top: 4px;
        margin-bottom: 24px;
        color: #C74952;
        @include font-m($font-weight-light);
    }

    &__numpad {
        display: flex;
        gap: 4px;
        margin-top: 52px;
        margin-bottom: 48px;

        & > .giz-button {
            width: 48px;
        }
    }

    &__actions {
        margin-bottom: 32px;
    }

    &__note {
        color: #FFFFFF;
        @include font-l($font-weight-regular);
    }
}

.compo-test {
    margin-bottom: 20px;
}

.giz-empty-state {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    &__title {
        color: #FAFAFA;
        @include font-xxl($font-weight-bold);
    }

    &__text {
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.6);
        @include font-m($font-weight-light);
    }
}

.giz-loader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .giz-animate-spinner {
        height: 32px;

        .giz-spinner {
            color: #0078D2;
        }
    }

    &__title {
        color: #FAFAFA;
        margin-top: 20px;
        @include font-xxl($font-weight-bold);
    }

    &__text {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 20px;
        @include font-m($font-weight-light);
    }
}

.expandable {
    &.expanding {
        overflow: hidden;
        animation-name: giz-expandable-expanding-animation;
        animation-timing-function: ease-in-out;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }

    &.collapsing {
        overflow: hidden;
        animation-name: giz-expandable-collapsing-animation;
        animation-timing-function: ease-in-out;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }
}

@keyframes giz-expandable-expanding-animation {
    from {
        height: 0;
    }

    to {
        height: var(--abh);
    }
}

@keyframes giz-expandable-collapsing-animation {
    from {
        height: var(--abh);
    }

    to {
        height: 0;
    }
}

.giz-ads-carousel {
    padding-top: 16px;
}

.giz-registration-form-input {
    margin-bottom: 4px;
}

.giz-form-input {
    margin-bottom: 16px;
}

.giz-form-input-columns {
    display: flex;
    gap: 16px;

    & > div {
        flex: 1;
    }
}

.order-on-hold {
    background-color: #F38B01;
    color: #FAFAFA;
    border-radius: 4px;
    padding: 3px 8px;
    text-align: center;
    //Font
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.order-completed {
    background-color: #24C38E;
    color: #FAFAFA;
    border-radius: 4px;
    padding: 3px 8px;
    text-align: center;
    //Font
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.order-canceled {
    background-color: #33000F;
    color: #FAFAFA;
    border-radius: 4px;
    padding: 3px 8px;
    text-align: center;
    //Font
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.order-accepted {
    background-color: #F2C94C;
    color: #FAFAFA;
    border-radius: 4px;
    padding: 3px 8px;
    text-align: center;
    //Font
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.purchase-details {
    display: flex;
    align-items: flex-start;
    color: #FAFAFA;
    //Font
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    &-title {
        color: rgba(255, 255, 255, 0.6);
        //Font
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    &-name {
        color: #57BCFF;
        //Font
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }

    &-points {
        //Font
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
}

.purchase-details-deposit {
    color: #24C38E;
}

.purchase-details-withdraw {
    color: #FF4443;
}

.giz-input-select.app-filter--filled {
    .giz-input-root {
        background: #0b1a24;
        border-color: #0b1a24;
    }
}

.giz-input-multi-select.app-filter--filled {
    .giz-input-root {
        background: #0b1a24;
        border-color: #0b1a24;

        .giz-input-icon-right {
            svg {
                color: #3F8CFF;
            }
        }

        .giz-input-icon-clear {
            .giz-icon {
                background: rgba(0, 120, 210, 0.4);
                border-radius: 50%;
                width: 16px;
                height: 16px;
                display: inline-flex;
                justify-content: center;

                svg {
                    color: #0b1a24;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}