//== Client UI global style ==//

body {
    user-select: none;
}

main {
    position: relative;
}

.giz-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(12, 15, 17, 0.0001) 0%, rgba(12, 15, 17, 0.0156863) 9.22%, rgba(12, 15, 17, 0.054902) 18.76%, rgba(12, 15, 17, 0.117647) 28.48%, rgba(12, 15, 17, 0.2) 38.19%, rgba(12, 15, 17, 0.290196) 47.75%, rgba(12, 15, 17, 0.392157) 56.99%, rgba(12, 15, 17, 0.501961) 65.75%, rgba(12, 15, 17, 0.607843) 73.87%, rgba(12, 15, 17, 0.709804) 81.18%, rgba(12, 15, 17, 0.8) 87.52%, rgba(12, 15, 17, 0.846259) 90.45%, rgba(12, 15, 17, 0.882353) 92.74%, rgba(12, 15, 17, 0.90408) 92.75%, rgba(12, 15, 17, 0.945098) 96.66%, rgba(12, 15, 17, 0.959815) 99.12%, rgba(12, 15, 17, 0.978709) 99.13%, rgba(12, 15, 17, 0.984314) 99.14%, rgba(12, 15, 17, 0.986777) 99.98%, rgba(12, 15, 17, 0.996851) 99.99%, #0C0F11 100%, #0C0F11 100%, #0C0F11 100%);
        backdrop-filter: blur(0.4rem);
    }

    img {
        width: inherit;
    }
}

.giz-container {
    position: relative;
}

.giz-user-lock {
    color: #FAFAFA;

    .giz-input-text {
        .giz-input-root--outline {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 0.2rem solid rgba(246, 251, 253, 0.28);
            border-radius: 0;

            &:hover {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 0.2rem solid rgba(246, 251, 253, 0.28);
            }

            &:focus-within {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 0.2rem solid #0091E6;
            }

            input {
                text-align: center;
                //Font ?
                font-weight: 700;
                font-size: 2.6rem;
                line-height: 3.4rem;
            }
        }
    }

    &.error {
        .giz-input-text {
            .giz-input-root--outline {
                border-bottom: 0.2rem solid #F73B3B;

                &:hover {
                    border-bottom: 0.2rem solid #F73B3B;
                }

                &:focus-within {
                    border-bottom: 0.2rem solid #F73B3B;
                }
            }
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(35, 35, 45, 0.9) 0%, rgba(42, 44, 53, 0.15) 100%);
        backdrop-filter: blur(3.0rem);
        z-index: $lock-overlay-index;
        opacity: 0;
        transition: opacity 0.5s;

        &.open {
            opacity: 1;
        }
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    &__title {
        text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
        margin-bottom: 1.2rem;
        @include font-h1($font-weight-bold);
    }

    &__subtitle {
        text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
        margin-bottom: 5.2rem;
        @include font-l($font-weight-light);
    }

    &__error {
        margin-top: 0.4rem;
        margin-bottom: 2.4rem;
        color: #C74952;
        @include font-m($font-weight-light);
    }

    &__numpad {
        display: flex;
        gap: 0.4rem;
        margin-top: 5.2rem;
        margin-bottom: 4.8rem;

        & > .giz-button {
            width: 4.8rem;
        }
    }

    &__actions {
        margin-bottom: 3.2rem;
    }

    &__note {
        color: #FFFFFF;
        @include font-l($font-weight-regular);
    }
}

.compo-test {
    margin-bottom: 2.0rem;
}

.giz-empty-state {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    &__title {
        color: #FAFAFA;
        @include font-xxl($font-weight-bold);
    }

    &__text {
        margin-top: 2.0rem;
        color: rgba(255, 255, 255, 0.6);
        @include font-m($font-weight-light);
    }
}

.giz-loader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .giz-animate-spinner {
        height: 3.2rem;

        .giz-spinner {
            color: #0078D2;
        }
    }

    &__title {
        color: #FAFAFA;
        margin-top: 2.0rem;
        @include font-xxl($font-weight-bold);
    }

    &__text {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 2.0rem;
        @include font-m($font-weight-light);
    }
}

.expandable {
    &.expanding {
        overflow: hidden;
        animation-name: giz-expandable-expanding-animation;
        animation-timing-function: ease-in-out;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }

    &.collapsing {
        overflow: hidden;
        animation-name: giz-expandable-collapsing-animation;
        animation-timing-function: ease-in-out;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }
}

@keyframes giz-expandable-expanding-animation {
    from {
        height: 0;
    }

    to {
        height: var(--abh);
    }
}

@keyframes giz-expandable-collapsing-animation {
    from {
        height: var(--abh);
    }

    to {
        height: 0;
    }
}

.giz-ads-carousel {
    padding-top: 1.6rem;
}

.giz-registration-form-input {
    margin-bottom: 0.4rem;
}

.giz-form-input {
    margin-bottom: 1.6rem;
}

.giz-form-input-columns {
    display: flex;
    gap: 1.6rem;

    & > div {
        flex: 1;
    }
}

.order-on-hold {
    background-color: #F38B01;
    color: #FAFAFA;
    border-radius: 0.4rem;
    padding: 0.3rem 0.8rem;
    text-align: center;
    @include font-s($font-weight-light);
}

.order-completed {
    background-color: #24C38E;
    color: #FAFAFA;
    border-radius: 0.4rem;
    padding: 0.3rem 0.8rem;
    text-align: center;
    @include font-s($font-weight-light);
}

.order-canceled {
    background-color: #33000F;
    color: #FAFAFA;
    border-radius: 0.4rem;
    padding: 0.3rem 0.8rem;
    text-align: center;
    @include font-s($font-weight-light);
}

.order-accepted {
    background-color: #F2C94C;
    color: #FAFAFA;
    border-radius: 0.4rem;
    padding: 0.3rem 0.8rem;
    text-align: center;
    @include font-s($font-weight-light);
}

.purchase-details {

    &-title {
        grid-column-start: 1;
        grid-column-end: 2;
        color: rgba(255, 255, 255, 0.6);
        @include font-s($font-weight-light);
    }

    &-name {
        color: #57BCFF;
        @include font-m($font-weight-light);
    }

    &-points {
        @include font-m($font-weight-light);
    }

    &-invoice {
        grid-column-start: 1;
        grid-column-end: 2;
        color: #0F9FFF;
        @include font-m($font-weight-light);
    }

    &__quantities {
        color: #FAFAFA;
        @include font-s($font-weight-light);
    }

    &__prices {
        color: #FAFAFA;
        @include font-s($font-weight-light);
    }

    &__details {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 1.6rem;
        grid-row-gap: 1.0rem;
        margin-bottom: 0.8rem;
        color: #FAFAFA;
        @include font-s($font-weight-light);
    }

    &-action {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.giz-data-grid {
    .giz-data-grid-row-detail {
        background-color: #0C0F11;

        td {
            padding: 0.8rem;
            vertical-align: top;
        }
    }
}

.purchase-details-deposit {
    color: #24C38E;
}

.purchase-details-withdraw {
    color: #FF4443;
}

.giz-select.app-filter--filled {
    .giz-input-root {
        background-color: #0b1a24;
        border-color: #0b1a24;
        color: #0078D2;

        .giz-icon {
            svg {
                color: #3F8CFF;
            }
        }

        input {
            color: #0078D2;
        }
    }
}

.giz-multi-select.app-filter--filled {
    .giz-input-root {
        background-color: #0b1a24;
        border-color: #0b1a24;
        color: #0078D2;

        .giz-input__icon-right {
            svg {
                color: #3F8CFF;
            }
        }

        .giz-input-icon-clear {
            .giz-icon {
                background-color: rgba(0, 120, 210, 0.4);
                border-radius: 50%;
                width: 1.6rem;
                height: 1.6rem;
                display: inline-flex;
                justify-content: center;

                svg {
                    color: #0b1a24;
                    width: 1.0rem;
                    height: 1.0rem;
                }
            }
        }
    }
}

.user-agreement {
    @include font-l($font-weight-light);
}

.giz-combo-button {
    .giz-icon--medium {
        width: 2.0rem;
        height: 2.0rem;
    }
}

.giz-points-icon {
    width: 2.0rem;
    height: 2.0rem;
}

.giz-points-award-icon {
    width: 2.0rem;
    height: 2.0rem;
}

.giz-product-icon {
    width: 1.9rem;
    height: 1.9rem;
}

.giz-coin-icon {
    width: 1.8rem;
    height: 1.8rem;
}

.giz-hexagon-icon {
    width: 0.6rem;
    height: 0.6rem;
}

.giz-check-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.giz-filters-icon {
    width: 0.6rem;
    height: 2.2rem;
}

.giz-app-autostart {
    & input {
        & + label {
            &:before {
                margin-right: 1.7rem !important;
                width: 2.0rem !important;
                height: 2.0rem !important;
            }
        }
    }
}

.global-search-no-results {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;

    &__header {
        @include font-xxl($font-weight-bold);

        .global-search-pattern {
            color: #FFFFFF;
        }
    }

    &__body {
        margin-top: 2.0rem;
        @include font-m($font-weight-light);
    }
}

.giz-default-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.giz-dock-item-content {
    .giz-default-image {
        img {
            filter: drop-shadow(0 0.4rem 0.8rem rgba(0, 0, 0, 0.16));
        }
    }
}

.giz-image__spinner {
    padding: 10%;
    display: inline-block;
}