//=============== Global Search ================//

.giz-global-search {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: rgba(250, 250, 250, 0.16);
    border-radius: 8px;
    height: 48px;
    /*&:focus-within {
        background: $jet-black;
    }*/

    &.open {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    input {
        color: white;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.625rem;
        width: 19.75rem;
        color: #FAFAFA;
        @include font-l($font-weight-light);
    }

    .giz-terminate {
        visibility: hidden;
    }

    .giz-global-search-dropdown {
        min-height: 25rem;
        //
        position: absolute;
        top: 100%;
        width: 100%;
        background: #22272B;
        z-index: 1;

        &__body {
            padding: 32px;
        }

        .giz-global-search-section {
            display: grid;
            grid-template-rows: min-content 1fr;

            &__header {
                margin-bottom: 8px;
                color: #FAFAFA;
                @include font-l($font-weight-normal);
            }

            &__body {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 0.875rem;
            }
        }
    }
}

.giz-global-search-result-card {
    word-break: break-word;

    &__title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__overlay {
        position: relative;
        width: 167px;
        height: 239px;
        background: #242731;
        border-radius: 4px;

        &__more {
            text-align: center;

            a {
                color: $unknown-color;
                text-transform: none;
            }
        }

        img {
            width: -moz-available;
            width: -webkit-fill-available;
            height: -moz-available;
            height: -webkit-fill-available;
        }
    }
}