//=============== Global Search ================//

.giz-nav-item-global-search {

    .giz-global-search {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: $width-full;

        &:focus-within {
            background: $jet-black;
            border-radius: $rounded;
        }

        &.open {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        input {
            color: $white-color;
            text-shadow: $text-shadow-sm;
            background-color: inherit;
            border: $border-0;
            outline: $outline-0;
            padding: 0.625rem;
            font-size: $font-15;
            line-height: $line-height-15;
            width: 19.75rem;
        }

        .giz-search {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        .giz-terminate {
            visibility: hidden;
        }

        .giz-global-search-dropdown {
            top: 100%;
            width: $width-full;
            min-height: 25rem;
            border-radius: 0 0 $rounded-lg $rounded-lg;
            background: $jet-black;
            box-shadow: $elevation-5;
            border: $border-0;
            position: absolute;

            .giz-heading {
                @include font-10($letter-spacing-15);
                color: $blue-gray;
                text-shadow: $text-shadow-sm;
                margin-bottom: 0.438rem;
            }

            .giz-search-menu {
                border-top: 1px solid $border-ship-gray;
                border-bottom: 1px solid $border-ship-gray;
                padding: 0.938rem 0.813rem;

                .giz-type {
                    @include font-13;
                    @include open-sans-600;
                    letter-spacing: $letter-spacing-2;

                    button {
                        margin-left: 0.25rem;
                        padding: 0.25rem 0.375rem;
                    }

                    .giz-text {
                        margin-left: 0.5rem;
                        color: $smokey-gray;
                        pointer-events: none;

                        + .giz-btn-secondary-light {
                            color: $smokey-gray;
                            pointer-events: none;
                        }
                    }
                }
            }

            .giz-align-center {
                @include align-center;
            }

            .giz-search-menu-container {
                padding: 0.875rem;

                .giz-search-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 0.875rem;
                }

                .giz-apps-card {
                    font-size: $font-16;
                    line-height: $line-height-20;
                    word-break: break-word;

                    &-title {
                        @include open-sans-600;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    &--overlay {
                        position: relative;
                        width: 167px;
                        height: 239px;
                        background: #242731;
                        border-radius: 4px;

                        .giz-apps-card-more {
                            @include align-center;
                            text-align: $text-align-center;

                            a {
                                font-size: $font-13;
                                color: $smokey-gray;
                                text-transform: none;
                            }
                        }

                        img {
                            border-radius: $rounded;
                            width: -moz-available;
                            width: -webkit-fill-available;
                            height: -moz-available;
                            height: -webkit-fill-available;
                        }
                    }
                }
            }
        }
    }
}
