//== header section common style == //

.giz-header {
    display: flex;
    align-items: stretch;
    height: 100%;
    padding: 0 1.6rem;

    &__logo {
        display: flex;
        align-items: center;
        padding: 0 3.2rem 0 0;
    }

    &__modules-menu {
        display: flex;
        gap: 1.6rem;
        padding: 0 3.2rem 0 0;

        &-item {
            width: 5.6rem;

            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: white;

                svg {
                    color: #FAFAFA;
                }

                &.active {
                    color: $primary-color;
                    position: relative;

                    svg {
                        color: #0078D2;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.3rem;
                        background-color: $primary-color;
                        border-radius: 0.2rem;
                    }
                }

                & > span {
                    display: none;
                }
            }
        }
    }

    &__global-search {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0 3.2rem 0 0;
    }

    &__user-menu {
        display: flex;
        align-items: stretch;
        justify-content: center;
        height: 100%;
        gap: 1.6rem;
        position: relative;

        &-item {
            display: flex;
            align-items: center;
            @include font-xl($font-weight-regular);

            &__icon {
                margin-right: 1.0rem;
            }

            & > .giz-user-menu-button {
                display: grid;
                grid-template-columns: auto auto auto;
                align-items: center;
                gap: 1.0rem;
                white-space: nowrap;
                padding: 0.7rem;
                border-radius: 0.8rem;
                cursor: pointer;
                height: 4.8rem;
                //Button
                background: transparent;
                border: none;
                color: #FAFAFA;
                @include font-xl($font-weight-regular);
            }
        }
    }
}

.giz-user-dropdown {
    white-space: nowrap;

    .giz-dropdown-menu {
        min-width: 36.0rem;
    }

    &.open {
        .giz-user-menu-button {
            background: #1D334E;
            box-shadow: inset 0px 0px 101px rgba(255, 255, 255, 0.06);
        }
    }
}

.user-menu-item-button {
    cursor: pointer;

    &--box {
        width: 4.8rem;
        height: 4.8rem;
        background: rgba(250, 250, 250, 0.16);
        border-radius: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.75);
        //Button
        border: none;
    }
}

.giz-notifications-dropdown {
    &.open {
        .user-menu-item-button--box {
            background: #1D334E;
            color: #0F7CFE;
        }
    }
}

.giz-active-apps-dropdown {
    &.open {
        .user-menu-item-button--box {
            background: #1D334E;
            color: #0F7CFE;
        }
    }
}
