//== header section common style == //

.giz-header {
    display: flex;
    align-items: stretch;
    height: 100%;
    padding: 0 16px;

    &__logo {
        display: flex;
        align-items: center;
        padding: 0 32px 0 0;
    }

    &__modules-menu {
        display: flex;
        gap: 16px;
        padding: 0 32px 0 0;

        &-item {
            width: 56px;

            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: white;

                svg {
                    color: #FAFAFA;
                }

                &.active {
                    color: $primary-color;
                    position: relative;

                    svg {
                        color: #0078D2;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $primary-color;
                    }
                }

                & > span {
                    display: none;
                }
            }
        }
    }

    &__global-search {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0 32px 0 0;
    }

    &__user-menu {
        display: flex;
        align-items: stretch;
        justify-content: center;
        height: 100%;
        gap: 16px;

        &-item {
            display: flex;
            align-items: center;
            position: relative;
            @include font-xl($font-weight-regular);

            &__icon {
                margin-right: 10px;
            }

            & > .giz-user-menu-button {
                display: flex;
                align-items: center;
                gap: 10px;
                white-space: nowrap;
                padding: 7px;
                border-radius: 8px;
                cursor: pointer;
                height: 48px;
            }
        }
    }
}

.giz-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    //top: calc(100% + 8px);
    right: 0;
    z-index: $header-dropdown-index;
}

.giz-user-dropdown {
    white-space: nowrap;

    .giz-dropdown-menu {
        min-width: 360px;
    }

    &:hover {
        .giz-user-menu-button {
            background: #1D334E;
            box-shadow: inset 0px 0px 101px rgba(255, 255, 255, 0.06);
        }

        .giz-dropdown-menu {
            display: block;
        }
    }
}

.giz-user-links {
    display: grid;
    grid-auto-flow: row;
    gap: 16px;
    padding: 16px;
    background: #22272B;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 8px 8px;
}

.giz-user-links-item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #E0E1E6;
    cursor: pointer;
    //Font
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;

    &:hover {
        color: #0F7CFE;

        .giz-user-links-item__icon {
            background: #1D334E;

            svg {
                color: #0F7CFE;
            }
        }
    }

    &__icon {
        width: 36px;
        height: 36px;
        background: #373839;
        box-shadow: inset 0px 0px 101px rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(60px);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            color: #E0E1E6;
        }
    }
}

.user-menu-item-button {
    cursor: pointer;

    &--box {
        width: 48px;
        height: 48px;
        background: rgba(250, 250, 250, 0.16);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.75);
    }
}

.giz-notifications-dropdown {
    &.open {
        .user-menu-item-button--box {
            background: #1D334E;
            color: #0F7CFE;
        }
    }

    .giz-dropdown-menu {
        &.open {
            display: block;
        }
    }
}

.giz-active-apps-dropdown {
    &.open {
        .user-menu-item-button--box {
            background: #1D334E;
            color: #0F7CFE;
        }
    }

    .giz-dropdown-menu {
        &.open {
            display: block;
        }
    }
}
