//=============== Layout ================//

.giz-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;
    overflow: hidden;

    .giz-app__header {
        background: #22272B;
        border-bottom: 0.1rem solid rgba(246, 251, 253, 0.06);
        height: 6.4rem;
    }

    .giz-app__body {
        height: 100%;
        overflow: hidden;
    }
}