.giz-leaderboard {
    width: 546px;
    max-height: 100vh;
    padding-top: 16px;
    padding-right: 16px;

    &__main {
        background: #22272B;
        border-radius: 16px;
        height: 566px;
        padding: 22px 32px;

        &__header {
            border-bottom: 1px solid rgba(246, 251, 253, 0.06);
            //Font
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__tournament {
        background: #22272B;
        border-radius: 16px;
        margin-top: 40px;
        padding: 22px 32px;

        &__header {
            //Font
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }
    }
}
