//=============== List ================//

.giz-menu-list {
    padding: 0.625rem;

    .giz-list-item {
        margin: 0.625rem 0;
        padding: 0.75rem;

        &:first-child {
            margin: 0 0 0.625rem 0;
        }

        &:last-child {
            margin: 0.625rem 0 0 0;
        }

        .giz-search-number {
            padding: 0.25rem 0.375rem;
        }
    }

    &.giz-list--selectable {
        .giz-list-item {
            &:hover {
                .giz-search-number {
                    background: $unknown-color;
                }
            }

            &.giz-list-item-selected {
                background: $unknown-color;
                color: white;

                .giz-search-number {
                    background: $unknown-color;
                }
            }
        }
    }
}