//=============== Menu Active Apps ================//

.giz-active-apps {
    display: grid;
    grid-template-rows: min-content 1fr;
    background: #22272B;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 8px 8px;

    &__header {
        color: #E4E6EB;
        padding: 8px 16px;
        @include font-h5($font-weight-bold);
    }

    &__body {
    }
}

.giz-active-app-card {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #373839;
    padding: 16px;

    &__info {
        &__category {
            color: rgba(255, 255, 255, 0.6);
            opacity: 0.6;
            @include font-s($font-weight-light);
        }

        &__title {
            color: #FAFAFA;
            @include font-l($font-weight-normal);
        }
    }
}