//=============== Menu Active Apps ================//

.giz-active-apps {
    &__header {
        color: #E4E6EB;
        padding: 8px 16px;
        //Font
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }

    &__body {
    }
}

.giz-active-app-card {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #373839;
    padding: 16px;

    &__info {
        &__category {
            color: rgba(255, 255, 255, 0.6);
            opacity: 0.6;
            //Font
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
        }

        &__title {
            color: #FAFAFA;
            //Font
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
        }
    }
}