//=============== Menu Notifications ================//

.giz-menu-notifications {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background: #22272B;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 8px 8px;

    &__header {
        color: #E4E6EB;
        padding: 20px 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        //Font
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;

        span {
            color: rgba(255, 255, 255, 0.75);
            //Font
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
        }
    }

    &__footer {
        text-align: center;
        color: #0F7CFE;
        padding: 11px;
        //Font
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }
}

.giz-menu-notification-item {
    padding: 1.375rem;
    border-bottom: 1px solid $border-nile-blue;
    position: relative;

    &:last-child {
        border-bottom: none;
    }

    &-title {
        color: #FAFAFA;
        //Font
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
    }

    &__icon {
        position: absolute;
        right: 26px;
        top: 42px;

        svg {
            fill: $primary-color;
        }
    }

    &__text {
        color: #FAFAFA;
        //Font
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;

        span {
            color: rgba(255, 255, 255, 0.6);
            //text-align: right;
            //Font
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
