//=============== Menu User Menu ================//

.giz-user-links {
    display: grid;
    grid-auto-flow: row;
    gap: 16px;
    padding: 16px;
    background: #22272B;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
    //box-shadow: 0px 8px 32px rgba(150, 0, 0, 0.8);
    max-height: 100%;
    overflow: hidden;
}

.giz-user-links-item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #E0E1E6;
    cursor: pointer;
    //Font
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;

    &:hover {
        color: #0F7CFE;

        .giz-user-links-item__icon {
            background: #1D334E;

            svg {
                color: #0F7CFE;
            }
        }
    }

    &__icon {
        width: 36px;
        height: 36px;
        background: #373839;
        box-shadow: inset 0px 0px 101px rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(60px);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            color: #E0E1E6;
        }
    }
}
