//== Client UI mixin ==//

@mixin font-h1($font-weight: 500) {
    font-weight: $font-weight;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: initial;
    font-family: $font-family-header;
}

@mixin font-h5($font-weight: 500) {
    font-weight: $font-weight;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: initial;
    font-family: $font-family-header;
}

@mixin font-s($font-weight: 500) {
    font-weight: $font-weight;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: initial;
}

@mixin font-m($font-weight: 500) {
    font-weight: $font-weight;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: initial;
}

@mixin font-l($font-weight: 500) {
    font-weight: $font-weight;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: initial;
}

@mixin font-xl($font-weight: 500) {
    font-weight: $font-weight;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: initial;
}

@mixin font-xxl($font-weight: 500) {
    font-weight: $font-weight;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: initial;
}