//============= News Feed Media Item Card ===============//

.giz-news-feed-media-item-card {
    &__header {

        img {
            width: 100%;
            height: auto;
        }
    }

    &__body {
        padding: 1.25rem 1.188rem;

        &__title {
            text-transform: uppercase;
            color: $unknown-color;
        }

        &__text {
            color: white;
        }
    }
}
