//== daily news section common style ==//

#giz-home-sidebar {
    height: 100%;

    .giz-news-feed-carousel { //TODO: A GOES TO MEDIA CARD ONLY
        /*background: $jet-black !important;
        box-shadow: $elevation-3;*/
    }
}

#giz-home-main {
    max-height: 100%;
    overflow-y: scroll;

    .giz-app-carousel {
        margin-bottom: 1.5rem;
    }
}