//============= News Feed Media Item Dialog ===============//

.giz-news-feed-media-item-dialog {
    .giz-card {
        padding: unset !important;
        background: $dark-color;

        &:before {
            background: unset !important;
        }

        &-header {
            border-bottom: 1px solid $border-silver-gray;
        }
    }

    &__header {
        text-align: $text-align-center;
        margin: 2rem;

        &__title {
            @include font-10($letter-spacing-15);
            color: $primary-light-color;
        }

        &__text {
            @include font-20;
            color: $white-color;
            margin-top: 0.625rem;
        }
    }

    &__body {
        text-align: left;
        margin: 2rem;

        img {
            border-radius: $rounded-lg;
            width: $width-full;
        }

        &__source {
            text-transform: $text-uppercase;
            letter-spacing: $letter-spacing-24;
            color: $blue-gray;
            text-shadow: $text-shadow-sm;
            margin-bottom: $spacer-8;
            @include font-11;
        }

        &__title {
            color: $white-color;
            line-height: $line-height-25;
            @include open-sans-600;
            font-size: $font-20;
            letter-spacing: $letter-spacing-5;
        }

        &__text {
            font-family: $font-family-open-sans;
            font-size: $font-14;
            line-height: $line-height-21;
            letter-spacing: $letter-spacing-1;
            color: $milky-white;
            margin-top: 1rem;
        }
    }
}
