//============= News Feed RSS Item Card ===============//

.giz-news-feed-rss-item-card {
    margin-bottom: 0.625rem;

    .giz-card {
        background: #0E1015 !important;
    }

    &__body {
        padding: 22px !important;

        &__title {
            text-transform: uppercase;
            color: $unknown-color;
        }

        &__text {
            color: white;
        }

        &__details {
            color: $unknown-color;
        }
    }

    &--active {
        .giz-news-feed-rss-item-card__body {
            border-left: 3px solid $unknown-color !important;
            background: linear-gradient(to right, rgba(44, 124, 244, 0.2) 0%, rgba(13, 16, 23, 0) 30%) !important;
        }
    }
}
