//============= News Feed RSS Item Card ===============//

.giz-news-feed-rss-item-card {
    margin-bottom: 0.625rem;

    .giz-card {
        background: #0E1015 !important;
    }

    &__body {
        padding: 22px !important;

        &__title {
            text-transform: $text-uppercase;
            letter-spacing: $letter-spacing-24;
            color: $blue-gray;
            text-shadow: $text-shadow-sm;
            margin-bottom: $spacer-8;
            @include font-11;
        }

        &__text {
            color: $white-color;
            line-height: $line-height-19;
            @include open-sans-600;
            @include font-15;
        }

        &__details {
            font-size: $font-13;
            line-height: $line-height-17;
            color: $dim-blue-gray;
            margin-top: $spacer-8;
        }
    }

    &--active {
        border-radius: $rounded-lg !important;

        .giz-news-feed-rss-item-card__body {
            border-left: 3px solid $primary-dark !important;
            background: linear-gradient(to right, rgba(44, 124, 244, 0.2) 0%, rgba(13, 16, 23, 0) 30%) !important;
        }
    }
}
