//============= News Feed Media Item Dialog ===============//

.giz-news-feed-media-item-dialog {
    .giz-card {
        padding: unset !important;
        background: $unknown-color;

        &:before {
            background: unset !important;
        }

        &-header {
        }
    }

    &__header {
        text-align: center;
        margin: 2rem;

        &__title {
            color: $unknown-color;
        }

        &__text {
            color: white;
            margin-top: 0.625rem;
        }
    }

    &__body {
        text-align: left;
        margin: 2rem;

        img {
            width: 100%;
        }

        &__source {
            text-transform: uppercase;
            color: $unknown-color;
        }

        &__title {
            color: white;
        }

        &__text {
            color: $unknown-color;
            margin-top: 1rem;
        }
    }
}
