//============= Notifications ===============//

.giz-notifications-container {
    z-index: $notifications-index;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 40px 28px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    height: calc(100vh - 75px);
    overflow-y: auto;
    pointer-events: none;
}

.giz-notification-dialog {
    pointer-events: all;
}

.giz-notification-card {
    background: #22272B;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    position: relative;
    overflow: hidden;

    &__header {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: min-content min-content;
        margin-bottom: 24px;

        &__title {
            grid-row-start: 1;
            grid-row-end: 2;
            @include font-h5($font-weight-bold);
        }

        &__subtitle {
            grid-row-start: 2;
            grid-row-end: 3;
            @include font-l($font-weight-light);
        }
    }
}
