.giz-order {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    gap: 1.6rem;
    height: 100%;
    overflow: hidden;
    min-width: 49.2rem;
    padding: 1.6rem;

    &__items {
        display: grid;
        grid-template-rows: min-content 1fr;
        background: #22272B;
        border-radius: 1.6rem;
        height: 100%;
        overflow: hidden;

        &__header {
            border-bottom: 0.1rem solid rgba(246, 251, 253, 0.06);
            padding: 2.4rem 2.4rem 0.4rem 2.4rem;
            @include font-xxl($font-weight-regular);
        }

        &__body {
            position: relative;
            padding: 0 2.4rem 0.4rem 2.4rem;
            height: 100%;
            overflow-y: auto;

            .giz-order__items-wrapper {
                display: block;

                .giz-order-item {
                    display: grid;
                    grid-template-columns: 1fr 12.0rem;
                    padding: 1.5rem 0;
                    border-bottom: 0.1rem solid rgba(246, 251, 253, 0.06);

                    &__description {
                        @include font-m($font-weight-regular);
                    }

                    &__details {
                        display: grid;
                        grid-template-rows: min-content 1fr min-content;
                        grid-template-columns: min-content 1fr;
                        align-items: center;
                        text-align: right;
                        @include font-xl($font-weight-regular);

                        &__price-radio {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 1;
                            grid-row-end: 2;
                        }

                        &__points-radio {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 2;
                            grid-row-end: 3;
                        }

                        &__price {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            grid-row-start: 1;
                            grid-row-end: 2;
                        }

                        &__points {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            grid-row-start: 2;
                            grid-row-end: 3;
                        }

                        &__and {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 1;
                            grid-row-end: 3;
                        }

                        .giz-shop-quantity-picker {
                            grid-column-start: 1;
                            grid-column-end: 3;
                            grid-row-start: 3;
                            grid-row-end: 4;
                            margin-top: 0.8rem;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            .giz-no-order {
                &-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    height: 100%;
                }
            }
        }
    }

    &__notes {
        background: #22272B;
        border-radius: 1.6rem;
        padding: 2.4rem;

        &__header {
            margin-bottom: 0.8rem;
            @include font-m($font-weight-light);
        }

        .giz-order-notes {
            .giz-input-root {
                min-height: 9.8rem;
            }
        }
    }

    &__totals {
        background: #22272B;
        border-radius: 1.6rem;
        padding: 3.2rem 2.4rem;

        .giz-order-summary {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-row-gap: 1.2rem;
            margin-bottom: 2.4rem;

            &-text-bold {
                @include font-xxl($font-weight-regular);
            }

            &-number-bold {
                display: flex;
                align-items: center;
                text-align: right;
                @include font-h5($font-weight-bold);
            }

            &-number-separator {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.8rem;
                letter-spacing: initial;
                margin: 0 1.5rem;
            }

            &-text {
                @include font-m($font-weight-light);
            }

            &-number {
                text-align: right;
                @include font-m($font-weight-light);
            }
        }
    }
}
