//=============== Page App Details ================//

.giz-app-details {
    display: grid;
    grid-template-columns: 1fr min-content;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__app {
        display: grid;
        grid-template-rows: min-content 1fr;
        padding: 0 60px;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &__navigation {
            display: flex;
            align-items: center;
            margin: 28px 0;
            cursor: pointer;
            color: #FAFAFA;
            @include font-l($font-weight-light);

            &__icon {
                display: flex;
                align-items: center;
                margin-right: 10px;
            }
        }

        &__info {
            display: grid;
            grid-template-rows: min-content 1fr;
            grid-template-columns: min-content 1fr;
            column-gap: 40px;
            row-gap: 17px;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &__image {
                width: 222px;
                height: 333px;
                background: #FFFFFF;
                border-radius: 16px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__details {
                color: #FAFAFA;
                display: grid;
                grid-template-rows: min-content min-content 1fr min-content;
                width: 100%;
                overflow: hidden;

                &__category {
                    margin-bottom: 16px;
                    @include font-xl($font-weight-regular);
                }

                &__title {
                    margin-bottom: 24px;
                    //Font
                    font-size: 36px;
                    line-height: 44px;
                    font-weight: 500;
                }

                &__description {
                    @include font-l($font-weight-light);
                }
            }

            &__additional-content {
                width: 100%;
                height: 100%;
                overflow: hidden;

                &__tags {
                    display: flex;
                    margin-bottom: 42px;

                    .giz-app-tag {
                        color: rgba(255, 255, 255, 0.75);
                        background: rgba(250, 250, 250, 0.16);
                        border-radius: 4px;
                        padding: 2px 12px;
                        //Font
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 30px;
                    }
                }

                &__media {
                    margin-top: 42px;
                    height: 164px;
                    overflow: hidden;
                }
            }
        }
    }

    &__leaderboard {
    }

    &-card-brand-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        row-gap: 24px;
        column-gap: 18px;
        white-space: nowrap;
        color: #808191;
        @include font-s($font-weight-regular);

        .giz-app-details-card-brand-text {
            text-align: right;
            color: #FFFFFF;
        }
    }
}

.giz-app-media-item {
    width: 292px;
    height: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}