//=============== Page Shop ================//

.giz-shop {
    display: grid;
    grid-template-columns: 1fr min-content;
    height: 100%;
    overflow: hidden;

    &__products {
        display: grid;
        grid-template-rows: min-content 1fr;
        height: 100%;
        overflow: hidden;

        &__header {
            width: 100%;
            overflow: auto;
            padding: 16px;

            &__tab {
                background: rgba(255, 255, 255, 0.01);
                box-shadow: inset 0px 0px 101px rgba(255, 255, 255, 0.06);
                backdrop-filter: blur(60px);
                border-radius: 16px;
                height: 66px;
                padding: 16px;
                display: flex;
                gap: 10px;
                width: 100%;
                overflow: hidden;
            }
        }

        &__body {
            padding: 16px;
            height: 100%;
            overflow: auto;

            &__ads {
            }

            .giz-section {
                margin-top: 16px;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
            grid-template-rows: minmax(420px, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            justify-content: left;
            height: 100%;
            overflow: auto;
        }
    }

    &__order {
        height: 100%;
        overflow: hidden;
    }

    .giz-ads-carousel-item__content__text {
        max-width: 288px;
    }
}

.giz-shop-quantity-picker {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 6px;
    @include font-l($font-weight-regular);

    button {
        background: none;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        padding: 0 6px;
        @include font-l($font-weight-regular);
    }
}