//=============== Page Shop ================//

.giz-shop {
    display: grid;
    grid-template-columns: 1fr min-content;
    height: 100%;
    overflow: hidden;

    &__products {
        display: grid;
        grid-template-rows: min-content 1fr;
        height: 100%;
        overflow: hidden;

        &__header {
            width: 100%;
            overflow: auto;
            padding: 16px;

            &__tab {
                background: rgba(255, 255, 255, 0.01);
                box-shadow: inset 0px 0px 101px rgba(255, 255, 255, 0.06);
                backdrop-filter: blur(60px);
                border-radius: 16px;
                height: 66px;
                padding: 16px;
                display: flex;
                gap: 10px;
                width: 100%;
                overflow: hidden;
            }
        }

        &__body {
            padding: 16px;
            height: 100%;
            overflow: auto;

            &__ads {
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
            grid-template-rows: minmax(420px, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            justify-content: left;
            height: 100%;
            overflow: auto;
        }
    }

    &__order {
        height: 100%;
        overflow: hidden;
    }
}

.giz-order {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    gap: 16px;
    height: 100%;
    overflow: hidden;
    min-width: 400px;
    padding: 16px;

    &__items {
        display: grid;
        grid-template-rows: min-content 1fr;
        background: #22272B;
        border-radius: 16px;
        height: 100%;
        overflow: hidden;

        &__header {
            border-bottom: 1px solid rgba(246, 251, 253, 0.06);
            padding: 24px 24px 4px 24px;
            @include font-xxl($font-weight-normal);
        }

        &__body {
            position: relative;
            padding: 0 24px 4px 24px;
            height: 100%;
            overflow-y: auto;

            .giz-order__items-wrapper {
                display: block;

                .giz-order-item {
                    display: grid;
                    grid-template-columns: 1fr 120px;
                    padding: 1.25rem 0;
                    border-bottom: 1px solid rgba(246, 251, 253, 0.06);

                    &__description {
                        @include font-m($font-weight-normal);
                    }

                    &__details {
                        display: grid;
                        grid-template-rows: min-content 1fr min-content;
                        text-align: right;
                        @include font-xl($font-weight-normal);

                        &__price {
                        }

                        &__points {
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &__info {
                        display: grid;
                        grid-column-gap: 0.625rem;
                        grid-template-columns: 2fr .3fr;

                        .giz-rounded-circle {
                            background: $unknown-color;
                            text-align: center;
                            height: 1.875rem;
                            width: 1.875rem;
                            margin-top: 0.625rem;
                        }
                    }

                    &__amount {
                        margin: 1.25rem 0;
                    }

                    &__buttons {
                        span {
                            margin: 0 0.625rem;
                        }

                        .giz-increase-btn {
                            padding: 0.063rem 0.375rem;
                        }

                        .giz-decrease-btn {
                            padding: 0.063rem 0.5rem;
                        }
                    }
                }
            }

            .giz-no-order-wrapper {
                width: fit-content;
                text-align: center;

                &__title {
                    margin-bottom: 0.625rem;
                }

                &__text {
                }
            }
        }
    }

    &__notes {
        background: #22272B;
        border-radius: 16px;
        padding: 24px;

        &__header {
            margin-bottom: 8px;
        }

        .giz-order-notes {
            .giz-input-root {
                min-height: 4.188rem;
            }
        }
    }

    &__totals {
        background: #22272B;
        border-radius: 16px;
        padding: 32px 24px;

        .giz-order-summary {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-row-gap: 12px;
            margin-bottom: 24px;

            &-text-bold {
                @include font-xxl($font-weight-normal);
            }

            &-number-bold {
                text-align: right;
                @include font-h5($font-weight-bold);
            }

            &-text {
                @include font-m($font-weight-light);
            }

            &-number {
                text-align: right;
                @include font-m($font-weight-light);
            }
        }
    }
}


.giz-shop-quantity-picker {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 6px;
    @include font-l($font-weight-normal);

    button {
        background: none;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        padding: 0 6px;
        @include font-l($font-weight-normal);
    }
}