//=============== Page Profile ================//

.giz-profile {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    height: 100%;
    overflow: hidden;

    &__body {
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        width: 1138px;
        height: 100%;
        overflow: hidden;
    }

    &-navigation {
        display: flex;
        gap: 62px;
        padding: 24px 32px;
        border: 1px solid rgba(246, 251, 253, 0.06);
        border-radius: 16px;
        white-space: nowrap;

        &-item {
            height: 46px;
            @include font-l($font-weight-regular);

            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: white;

                svg {
                    color: #FAFAFA;
                    margin-right: 15px;
                }

                &.active {
                    color: $primary-color;
                    position: relative;

                    svg {
                        color: #0078D2;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $primary-color;
                    }
                }

                & > span {
                    display: none;
                }
            }
        }
    }

    &-user-details {
        margin-top: 40px;

        &__header {
            color: #FAFAFA;
            margin-bottom: 24px;
            @include font-h5($font-weight-regular);
        }
    }

    &-user-purchases {
        display: grid;
        grid-template-rows: min-content 1fr;
        padding: 2.813rem 2.688rem;
        height: 100%;
        overflow: hidden;

        &__header {
            color: #FAFAFA;
            margin-bottom: 24px;
            @include font-h5($font-weight-regular);
        }

        .giz-table-history {
            height: 100%;
            overflow-y: scroll;
        }
    }
}

.giz-user-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    grid-row-gap: 20px;
    grid-column-gap: 60px;
    color: rgba(255, 255, 255, 0.6);
    @include font-l($font-weight-regular);

    &-text {
        color: #FAFAFA;
        @include font-l($font-weight-light);
    }

    &--not-available {
        color: rgba(255, 255, 255, 0.24);
        @include font-l($font-weight-regular);
    }
}

.giz-profile-header {

    &__avatar {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 16px;
        margin-bottom: 24px;

        &__about {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;

            &__name {
                color: #FAFAFA;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.2);
                //Font
                font-size: 36px;
                line-height: 44px;
                font-weight: 500;
            }

            &__host {
                color: rgba(255, 255, 255, 0.6);
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2);
                @include font-xxl($font-weight-regular);
            }
        }
    }

    &__stats {
        display: flex;
        gap: 16px;
        margin-bottom: 48px;

        &-item {
            display: flex;
            align-items: center;
            padding-right: 16px;

            &:last-child {
                border-right: none;
            }

            .giz-icon {
                margin-right: 10px;
            }
        }

        &-text {

            .giz-title {
                color: rgba(255, 255, 255, 0.6);
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2);
                @include font-s($font-weight-light);
            }

            .giz-numbers {
                color: #FAFAFA;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2);
                @include font-xxl($font-weight-regular);
            }
        }
    }
}
