//=============== Page Product Details ================//

.giz-product-details {
    display: grid;
    grid-template-columns: 1fr min-content;
    height: 100%;
    overflow: hidden;

    &__product {
        display: grid;
        grid-template-rows: min-content min-content 1fr min-content;
        padding: 0 6.0rem;
        height: 100%;
        overflow: hidden;

        &__bundled-products {
            margin-top: 2.4rem;
            display: flex;
            gap: 1.6rem;

            &-product {
                width: 9.6rem;
                height: 9.6rem;
                background: rgba(0, 0, 0, 0.8);
                border-radius: 0.8rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__navigation {
            display: flex;
            align-items: center;
            margin: 2.8rem 0;
            cursor: pointer;
            color: #FAFAFA;
            @include font-l($font-weight-light);

            &__icon {
                display: flex;
                align-items: center;
                margin-right: 1.0rem;
            }
        }

        &__info {
            display: grid;
            grid-template-columns: min-content 1fr;
            gap: 4.0rem;

            &__image {
                width: 22.2rem;
                height: 33.3rem;
                background: rgba(0, 0, 0, 0.8);
                border-radius: 1.6rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__basic {
                display: grid;
                grid-template-rows: min-content min-content 1fr min-content;

                &__category {
                    margin-bottom: 1.6rem;
                    @include font-xl($font-weight-regular);
                }

                &__title {
                    margin-bottom: 2.4rem;
                    //Font ?
                    font-size: 3.6rem;
                    line-height: 4.4rem;
                    font-weight: 500;
                }

                &__description {
                    @include font-l($font-weight-light);
                }

                &__action {
                    display: flex;

                    &__price {
                        margin-left: 3.2rem;
                        margin-right: 12.0rem;
                        @include font-h1($font-weight-bold);
                    }

                    .giz-button {
                        padding: 1.1rem 2.4rem;
                    }
                }
            }
        }

        &__related {
            margin-top: 4.0rem;

            &__header {
                margin-bottom: 2.4rem;
                @include font-h5($font-weight-bold);
            }

            &__body {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(22.2rem, 1fr));
                grid-template-rows: minmax(42.0rem, 1fr);
                grid-column-gap: 1.6rem;
                grid-row-gap: 1.6rem;
                justify-content: left;
                //height: 100%;
                //overflow: auto;
            }
        }
    }

    &__order {
        height: 100%;
        overflow: hidden;
    }
}
