//=============== Page Profile ================//

.giz-profile {
    display: flex;
    justify-content: center;
    padding-top: 7.2rem;
    height: 100%;
    overflow: hidden;

    &__body {
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        width: 113.8rem;
        height: 100%;
        overflow: hidden;
    }

    &-navigation {
        display: flex;
        gap: 6.2rem;
        padding: 2.4rem 3.2rem;
        border: 0.1rem solid rgba(246, 251, 253, 0.06);
        border-radius: 1.6rem;
        white-space: nowrap;

        &-item {
            height: 4.6rem;
            @include font-l($font-weight-regular);

            .giz-icon--medium {
                width: 2.0rem;
                height: 2.0rem;
            }

            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: white;

                .giz-icon {
                    color: #FAFAFA;
                    margin-right: 1.5rem;
                }

                &.active {
                    color: $primary-color;
                    position: relative;

                    svg {
                        color: #0078D2;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.3rem;
                        background-color: $primary-color;
                        border-radius: 0.2rem;
                    }
                }

                & > span {
                    display: none;
                }
            }
        }
    }

    &-user-details {
        margin-top: 4.0rem;

        &__header {
            color: #FAFAFA;
            margin-bottom: 2.4rem;
            @include font-h5($font-weight-regular);

            .giz-icon {
                margin-left: 1.8rem;
            }
        }
    }

    &-user-purchases {
        display: grid;
        grid-template-rows: min-content 1fr;
        padding: 4.0rem 0;
        height: 100%;
        overflow: hidden;

        &__header {
            color: #FAFAFA;
            margin-bottom: 2.4rem;
            @include font-h5($font-weight-regular);
        }

        .giz-table-history {
            height: 100%;
            overflow: hidden;
        }
    }
}

.giz-user-information {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-auto-flow: row dense;
    grid-row-gap: 2.0rem;
    grid-column-gap: 6.0rem;
    color: rgba(255, 255, 255, 0.6);
    @include font-l($font-weight-regular);

    &-text {
        color: #FAFAFA;
        @include font-l($font-weight-light);
    }

    &--not-available {
        color: rgba(255, 255, 255, 0.24);
        @include font-l($font-weight-regular);
    }
}

.giz-profile-header {

    &__avatar {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 1.6rem;
        margin-bottom: 2.4rem;

        &__about {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 1.6rem;

            &__name {
                color: #FAFAFA;
                text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
                //Font ?
                font-size: 3.6rem;
                line-height: 4.4rem;
                font-weight: 500;
            }

            &__host {
                color: rgba(255, 255, 255, 0.6);
                text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
                @include font-xxl($font-weight-regular);
            }
        }
    }

    &__stats {
        display: flex;
        gap: 1.6rem;
        margin-bottom: 4.8rem;

        &-item {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            padding-right: 1.6rem;

            &:last-child {
                border-right: none;
            }

            .giz-icon {
                margin-right: 1.0rem;
            }
        }

        &-text {

            .giz-title {
                color: rgba(255, 255, 255, 0.6);
                text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
                @include font-s($font-weight-light);
            }

            .giz-numbers {
                color: #FAFAFA;
                text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
                @include font-xxl($font-weight-regular);
            }
        }
    }
}

.giz-settings {
    max-height: 100%;
    overflow: auto;

    &-update-button {
        color: #57BCFF;
        cursor: pointer;
        @include font-l($font-weight-light);
    }

    .giz-section {
        margin-top: 2.0rem;

        &__header {
            color: #FAFAFA;
            @include font-h5($font-weight-light);
        }
    }

    .giz-expansion-panel {
        margin-top: 2.0rem;
        margin-bottom: 2.2rem;

        &__header {
            margin-bottom: 1.6rem;

            &__content {
                @include font-h5($font-weight-light);
            }
        }
    }

    &__content {
        display: grid;
        grid-template-rows: min-content min-content;
        justify-content: center;
        margin-top: 6.4rem;
        padding-bottom: 6.4rem;

        &__header {
            text-align: center;
            padding-bottom: 2.0rem;
            border-bottom: 0.1rem solid rgba(246, 251, 253, 0.06);

            &__icon {
                .giz-icon--extra-large {
                    width: 11.2rem;
                    height: 11.2rem;
                    position: relative;

                    &:after {
                        position: absolute;
                        top: 1.0rem;
                        left: 1.0rem;
                        width: calc(100% - 2.0rem);
                        height: calc(100% - 2.0rem);
                        border-radius: 50%;
                        content: '';
                        background: #101419;
                    }

                    svg {
                        z-index: 1;
                        color: #2E3D4F;
                    }
                }
            }

            &__title {
                margin-top: 3.2rem;
                margin-bottom: 2.4rem;
                @include font-h1($font-weight-light);
            }

            &__subtitle {
                color: rgba(250, 250, 250, 0.6);
                text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
                //Font ?
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
            }
        }

        &__body {
            width: 61.4rem;
        }
    }
}

.giz-settings-change-password {
    display: inline-block;
    color: #0F9FFF;
    border-bottom: 0.1rem solid #0F9FFF;
    cursor: pointer;
    @include font-l($font-weight-light);
}