//=============== Page Profile ================//

#giz-user-history {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 2.813rem 2.688rem;
    height: 100%;

    .giz-user-profile-heading {
        @include open-sans-600;
        font-size: $font-20;
        line-height: $line-height-25;
        letter-spacing: $letter-spacing-5;
        margin-bottom: 0.313rem;
    }

    .giz-table-history {
        height: 100%;
        overflow-y: scroll;
    }
}

