//=============== Page App Details ================//

.giz-app-details {
    display: grid;
    grid-template-columns: 1fr min-content;
    height: 100%;

    &__app {
        display: grid;
        grid-template-rows: min-content min-content 1fr min-content;
        padding: 0 60px;

        &__navigation {
            display: flex;
            align-items: center;
            margin: 28px 0;
            cursor: pointer;
            color: #FAFAFA;
            @include font-l($font-weight-light);

            &__icon {
                display: flex;
                align-items: center;
                margin-right: 10px;
            }
        }

        &__info {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: min-content 1fr;
            column-gap: 40px;
            row-gap: 17px;

            &__image {
                width: 222px;
                height: 333px;
                background: #FFFFFF;
                border-radius: 16px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__details {
                color: #FAFAFA;
                display: grid;
                grid-template-rows: min-content min-content 1fr min-content;

                &__category {
                    margin-bottom: 16px;
                    @include font-xl($font-weight-regular);
                }

                &__title {
                    margin-bottom: 24px;
                    //Font
                    font-size: 36px;
                    line-height: 44px;
                    font-weight: 500;
                }

                &__description {
                    @include font-l($font-weight-light);
                }
            }
        }
    }

    &__leaderboard {
    }

    &-card-brand-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        row-gap: 24px;
        column-gap: 18px;
        white-space: nowrap;
        color: #808191;
        @include font-s($font-weight-regular);

        .giz-app-details-card-brand-text {
            text-align: right;
            color: #FFFFFF;
        }
    }
}
