//=============== Page Profile ================//

.giz-profile {
    display: flex;
    justify-content: center;
    padding-top: 7.2rem;
    height: 100%;
    overflow: hidden;

    .giz-user-avatar {
        width: 5.6rem;
        height: 5.6rem;
    }

    &-sections {
        width: 61.3rem;
    }

    &-section {
        margin-top: 4rem;

        &__header {
            margin-bottom: 1.2rem;
            //Font
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
        }

        &-item {
            display: grid;
            grid-template-columns: min-content 1fr min-content;
            align-items: center;
            gap: 1.6rem;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4.4rem;
                height: 4.4rem;
                background-color: #22272B;
                border-radius: 1.6rem;
            }

            &__info {
                &__title {
                    color: rgba(255, 255, 255, 0.6);
                    //Font
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                }

                &__text {
                    //Font
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;

                    &--name {
                        color: rgba(255, 255, 255, 0.6);
                        //Font
                        font-family: 'Noto Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }

            .giz-button {
                width: 3.6rem;
                height: 3.6rem;
            }
        }
    }

    &__body {
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        height: 100%;
        width: 113.8rem;
        overflow: hidden;
    }

    &-navigation {
        display: flex;
        gap: 6.2rem;
        padding: 2.4rem 3.2rem;
        border: 0.1rem solid rgba(246, 251, 253, 0.06);
        border-radius: 1.6rem;
        white-space: nowrap;

        &-item {
            height: 4.6rem;
            @include font-l($font-weight-regular);

            .giz-icon--medium {
                width: 2.0rem;
                height: 2.0rem;
            }

            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: white;

                .giz-icon {
                    color: #FAFAFA;
                    margin-right: 1.5rem;
                }

                &.active {
                    color: $primary-color;
                    position: relative;

                    svg {
                        color: #0078D2;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.3rem;
                        background-color: $primary-color;
                        border-radius: 0.2rem;
                    }
                }

                & > span {
                    display: none;
                }
            }
        }
    }

    &-user-details {
        margin-top: 4.0rem;

        &__header {
            color: #FAFAFA;
            margin-bottom: 2.4rem;
            @include font-h5($font-weight-regular);

            .giz-icon {
                margin-left: 1.8rem;
            }
        }
    }

    &-user-purchases {
        display: grid;
        grid-template-rows: min-content 1fr;
        padding: 4.0rem 0;
        height: 100%;
        overflow: hidden;

        &__header {
            color: #FAFAFA;
            margin-bottom: 2.4rem;
            @include font-h5($font-weight-regular);
        }

        .giz-table-history {
            height: 100%;
            overflow: hidden;
            border: 0.1rem solid rgba(246, 251, 253, 0.16);
            border-radius: 8px;
        }
    }
}

.giz-profile-header {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 4.8rem;

    .giz-user-avatar {
        width: 11.2rem;
        height: 11.2rem;
    }

    &__info {
        display: grid;
        grid-template-rows: min-content min-content;
        gap: 1.6rem;

        &__username {
            color: #FAFAFA;
            text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
            //Font
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
        }

        &__stats {
            display: flex;
            gap: 1.6rem;

            &-item {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                padding-right: 1.6rem;

                &:last-child {
                    border-right: none;
                }

                .giz-icon {
                    margin-right: 1.0rem;
                }
            }

            &-text {

                .giz-title {
                    color: rgba(255, 255, 255, 0.6);
                    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
                    @include font-s($font-weight-light);
                }

                .giz-numbers {
                    color: #FAFAFA;
                    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
                    @include font-xxl($font-weight-regular);
                }
            }
        }
    }
}