//=============== Payment Method Selector Dialog ================//

.giz-payment-method-selector-dialog {
    width: 600px;

    .giz-client-dialog {
        &__body {
            max-height: 445px;
        }
    }

    .giz-checkout {
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-rows: 1fr min-content min-content min-content;

        &__list {
            height: 100%;
            overflow: hidden;

            .giz-data-grid {
                thead {
                    th {
                        background-color: #22272b;
                        color: rgba(255, 255, 255, 0.6);
                        @include font-s($font-weight-regular);
                    }
                }

                color: rgba(255, 255, 255, 0.6);
                @include font-m($font-weight-light);
            }
        }

        &__summary {
            display: flex;
            justify-content: space-between;
            color: #FAFAFA;
            padding-top: 12px;
            border-top: 1px solid rgba(246, 251, 253, 0.06);
            @include font-m($font-weight-bold);
        }

        &__payment-method {
            display: grid;
            grid-template-columns: min-content 1fr;
            align-items: center;
            gap: 14px;
            white-space: nowrap;
            color: #FAFAFA;
            margin-top: 12px;
            padding-top: 12px;
            border-top: 1px solid rgba(246, 251, 253, 0.06);
            @include font-m($font-weight-bold);
        }

        &__notes {
            color: rgba(255, 255, 255, 0.3);
            margin-top: 34px;
            padding-top: 24px;
            padding-bottom: 24px;
            border-top: 1px solid rgba(246, 251, 253, 0.06);
            @include font-s($font-weight-light);
        }

        &__actions {
            display: flex;
            gap: 16px;
            justify-content: flex-end;
        }
    }

    .giz-checkout-complete {
        text-align: center;

        &__message {
            margin-top: 24px;
            @include font-h5($font-weight-bold);
        }

        &__actions {
            margin-top: 24px;
        }

        &__notes {
            margin-top: 96px;
            @include font-s($font-weight-light);
        }
    }
}