//=============== Payment Method Selector Dialog ================//

.giz-payment-method-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.063rem;

    &-item {
        background: rgba(43, 59, 79, 0.19);
        border-radius: 3px;
        color: white;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background: rgba(43, 59, 79, 0.7);
        }

        &__title {
            margin-bottom: 0.25rem;
        }

        &__icon {
            .giz-icon {
                margin: 10px;
            }
        }
    }
}