//============= Product Card ===============//

.giz-product-card {
    position: relative;
    background: #22272B;
    border-radius: 0.8rem;
    overflow: hidden;

    .giz-button--fill.accent.giz-product-card-primary-button {
        background-color: rgba(250, 250, 250, 0.16);
    }

    &:hover {
        background: #050607;

        .giz-product-card__content__image__hovered {
            background: rgba(0, 0, 0, 0.84);

            .giz-timeline {
                display: block;
            }
        }

        .giz-button--fill.accent.giz-product-card-primary-button {
            background: #0078d2;
        }
    }

    &.product {
        &:hover {
            background: #22272B;

            .giz-product-card__content__image__hovered {
                background: unset;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        gap: 1.2rem;
        height: 100%;

        &__image {
            position: relative;
            height: 24.6rem;
            border-radius: 0.8rem 0.8rem 0 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__hovered {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                padding: 1.6rem 1.6rem 0 1.6rem;

                &__header {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                }

                .giz-timeline {
                    display: none;
                }
            }
        }

        &__image--time {
            position: relative;
            height: 24.6rem;
            border-radius: 0.8rem 0.8rem 0 0;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.84);
            }

            & > img {
                width: 100%;
                height: 100%;
            }

            & > svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }

        &__details {
            padding: 0 1.6rem;
        }

        &__footer {
            padding: 1.6rem;
        }
    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include font-m($font-weight-light);
    }

    &__price {
        @include font-l($font-weight-light);

        svg {
            fill: white;
        }

        .inactive {
        }
    }
}

.giz-product-card-alternative-button {
    display: none;
}

.giz-timeline {
    position: relative;
    overflow: hidden;

    &-header {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 1.2rem;
        position: relative;
        @include font-s($font-weight-light);

        svg {
            margin-right: 0.4rem;
        }

        &:after {
            content: '';
            border-left: 0.1rem solid rgba(255, 255, 255, 0.6);
            position: absolute;
            top: calc(50% + 0.5rem);
            left: 0.2rem;
            height: calc(100% + 0.3rem);
        }
    }

    &-item {
        color: #FFAC33;
        margin-bottom: 1.6rem;
        position: relative;
        @include font-s($font-weight-regular);

        & > div {
            margin-left: 0.9rem;
        }

        &:before {
            content: '';
            background: rgba(255, 255, 255, 0.6);
            border: 0.1rem solid rgba(255, 255, 255, 0.6);
            border-radius: 50%;
            width: 0.2rem;
            height: 0.2rem;
            position: absolute;
            top: 50%;
            left: 0.1rem;
            transform: translate(0, -50%);
        }

        &:after {
            content: '';
            border-left: 0.1rem solid rgba(255, 255, 255, 0.6);
            position: absolute;
            top: calc(50% + 0.4rem);
            left: 0.2rem;
            height: calc(100% + 0.8rem);
        }

        &:last-child {
            &:after {
                height: 102.4rem;
            }
        }
    }
}

.giz-time-product-details {
    color: #FAFAFA;
    @include font-s($font-weight-light);

    span {
        margin-left: 0.8rem;
        color: #FFAC33;
        @include font-s($font-weight-regular);
    }
}

.giz-bundle-product-details {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    svg {
        margin-right: 0.8rem;
    }
}