//============= Product Card ===============//

.giz-product-card {
    background: #22272B;
    border-radius: 0.8rem;
    overflow: hidden;

    &.product {
        .giz-hoverable-card {
            &:hover {
                .hovered-content-wrapper {
                    display: none;
                }

                .giz-product-card-primary-button {
                    display: none;
                }

                .giz-product-card-alternative-button {
                    display: block;
                }
            }
        }
    }

    &.bundle {
        .giz-hoverable-card {
            &:hover {
                .giz-product-card__content__details {
                    visibility: hidden;
                }
            }
        }
    }

    &.time {
        .giz-hoverable-card {
            &:hover {
                .giz-product-card__content__details {
                    visibility: hidden;
                }
            }
        }
    }

    &__content {
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        gap: 1.2rem;
        height: 100%;

        &__image {
            height: 24.6rem;
            border-radius: 0.8rem 0.8rem 0 0;
            overflow: hidden;
            text-align: center;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__image--time {
            height: 24.6rem;
            border-radius: 0.8rem 0.8rem 0 0;
            overflow: hidden;
            text-align: center;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.84);
            }

            img {
                width: 100%;
                height: 100%;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }

        &__details {
            padding: 0 1.6rem;
        }

        &__footer {
            padding: 1.6rem;
        }

        &--hovered {
            display: grid;
            gap: 1.2rem;
            grid-template-rows: min-content 1fr min-content;
            align-items: center;
            height: 100%;
            width: 100%;
            overflow: hidden;

            &__header {
                display: flex;
                justify-content: space-between;
                height: 24.6rem;
                padding: 1.6rem;
                width: 100%;
                overflow: hidden;
            }

            &__body {
                height: 100%;
                padding: 0 1.6rem;
            }

            &__footer {
                padding: 1.6rem;
            }
        }
    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include font-m($font-weight-light);
    }

    &__price {
        @include font-l($font-weight-light);

        svg {
            fill: white;
        }

        .inactive {
        }
    }
}

.giz-product-card-alternative-button {
    display: none;
}

.giz-timeline {
    position: relative;
    overflow: hidden;

    &-header {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 1.2rem;
        position: relative;
        @include font-s($font-weight-light);

        svg {
            margin-right: 0.4rem;
        }

        &:after {
            content: '';
            border-left: 1px solid rgba(255, 255, 255, 0.6);
            position: absolute;
            top: calc(50% + 0.5rem);
            left: 0.2rem;
            height: calc(100% + 0.3rem);
        }
    }

    &-item {
        color: #FFAC33;
        margin-bottom: 1.6rem;
        position: relative;
        @include font-s($font-weight-regular);

        & > div {
            margin-left: 0.9rem;
        }

        &:before {
            content: '';
            background: rgba(255, 255, 255, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 50%;
            width: 0.2rem;
            height: 0.2rem;
            position: absolute;
            top: 50%;
            left: 0.1rem;
            transform: translate(0, -50%);
        }

        &:after {
            content: '';
            border-left: 1px solid rgba(255, 255, 255, 0.6);
            position: absolute;
            top: calc(50% + 0.4rem);
            left: 0.2rem;
            height: calc(100% + 0.8rem);
        }

        &:last-child {
            &:after {
                height: 102.4rem;
            }
        }
    }
}

.giz-time-product-details {
    color: #FAFAFA;
    @include font-s($font-weight-light);

    span {
        margin-left: 0.8rem;
        color: #FFAC33;
        @include font-s($font-weight-regular);
    }
}

.giz-bundle-product-details {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    svg {
        margin-right: 0.8rem;
    }
}