//============= Product Card ===============//

.giz-product-card {
    background: #22272B;
    border-radius: 8px;

    &__content {
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        gap: 12px;
        height: 100%;

        &__image {
            height: 246px;
            border-radius: 8px 8px 0 0;
            overflow: hidden;
            text-align: center;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__details {
            padding: 0 16px;
        }

        &__footer {
            padding: 16px;
        }

        &--hovered {
            display: grid;
            grid-template-rows: min-content 1fr min-content;
            align-items: center;
            height: 100%;

            &__header {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include font-m($font-weight-light);
    }

    &__price {
        @include font-l($font-weight-light);

        svg {
            fill: white;
        }

        .inactive {
        }
    }
}
