.giz-shop-quantity-picker {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 0.8rem;
    text-align: center;
    color: #FFFFFF;
    padding: 0 0.6rem;
    @include font-l($font-weight-regular);

    button {
        background: none;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        padding: 0 0.6rem;
        @include font-l($font-weight-regular);
    }

    &--small {
        height: 3.2rem;
    }

    &--medium {
        height: 3.6rem;
    }

    &--large {
        height: 4.8rem;
    }
}
