.giz-shop-quantity-picker {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 6px;
    @include font-l($font-weight-regular);

    button {
        background: none;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        padding: 0 6px;
        @include font-l($font-weight-regular);
    }

    &--small {
        height: 32px;
    }

    &--medium {
        height: 36px;
    }

    &--large {
        height: 48px;
    }
}
