//=============== Quick Launcher ================//

.quick-launcher {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    padding: 16px;
}

.quick-launcher-switch {
    width: 120px;
    height: 48px;
    border: 1px solid #0078D2;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;

        &.active {
            background: #0078D2;
        }
    }
}