.giz-section {
    &__header {
        margin-bottom: 16px;
        color: #FAFAFA;
        @include font-h5($font-weight-bold);
        display: flex;
        align-items: center;

        &__filters {
            display: flex;
            gap: 8px;

            &__title {
                margin-bottom: 4px;
                @include font-m($font-weight-light);
            }
        }
    }
}
