.giz-section {
    &__header {
        margin-bottom: 16px;
        color: #FAFAFA;
        @include font-h5($font-weight-bold);
        display: flex;
        align-items: center;

        &__filters {
            display: flex;
            gap: 8px;

            &__title {
                margin-bottom: 4px;
                //Font
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: initial;
            }
        }
    }
}
