//============= Client UI Sub Dropdown Menu ===========//

.giz-sub-dropdown {
    position: absolute;
    transform: translate(0%, 0%);
    right: 0;
    z-index: 1000;
    background: $unknown-color;
    backdrop-filter: blur(20px);
    min-width: 11.563rem;
    margin-top: 0.438rem;
    border: 1px solid $unknown-color;
    display: none;

    &--item {
        padding: 0.625rem 0px;

        form {
            display: inline-block;
            margin: 0 0.688rem;

            .giz-label {
                display: block;
                position: relative;
                padding-left: 1.063rem;
                margin-bottom: 0.75rem;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                .giz-checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 0.875rem;
                    width: 0.875rem;

                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 4px;
                        top: 1px;
                        width: 0.188rem;
                        height: 0.438rem;
                        border: solid white;
                        border-width: 0 1px 1px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }

                input:checked ~ .giz-checkmark {
                    background-color: transparent;
                }

                input:checked ~ .giz-checkmark:after {
                    display: block;
                }
            }
        }

        .giz-terminate {
            stroke: $unknown-color;
        }

        svg {
            margin: 0 0.688rem;
            fill: $unknown-color;
        }

        .giz-icon-right {
            float: right;
            margin-top: 0.188rem;
        }

        &:hover {
            background: $unknown-color;
            color: white;

            svg {
                fill: white !important;
            }

            .giz-terminate {
                stroke: white;
            }
        }

        &:hover .giz-sub-dropdown--link {
            color: white;
        }
    }

    &--link {
        color: $unknown-color;
        display: inline-block;
    }

    &--btn {
        padding: 0.813rem 0.75rem;
        display: none;

        .giz-primary {
            padding: 0.75rem 0.813rem;
            width: 100%;
        }
    }
}
