//=============== Toast ================//

.giz-toast {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    border-radius: 8px;
    padding: 16px;
    gap: 16px;

    &__body {
        &__title {
            @include font-m($font-weight-regular);
        }

        &__text {
            @include font-m($font-weight-light);
        }
    }

    &--warning {
        background: #FEF3EC;
        color: #CB662F;
    }

    &--success {
        background: #E8F7F4;
        color: #008E7D;
    }

    &--danger {
        background: #FF2E5A;
        color: #FFFFFF;
    }

    &--info {
        background: #F4F4F4;
        color: #2B2D33;
    }

    &--accent {
        background: #D9E8FF;
        color: #3F8CFF;
    }

    .close-btn {
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }
    }
}
