//=============== Spinner ================//

.giz-top-up-dialog {
    color: #FAFAFA;
    width: 600px;

    .giz-button-group {
        margin: 8px 0 24px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
        gap: 8px;
        border: none;

        .giz-button {
            flex: 1;
            border-radius: 8px;
            background: #F4F4F4;
            color: #2B2D33;
            //Font
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;

            &.selected {
                background: #0078D2;
                color: #FFFFFF;
            }
        }
    }

    .giz-client-dialog__body {
        //Font
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
    }

    &__summary {
        border-top: 1px solid rgba(246, 251, 253, 0.06);
        border-bottom: 1px solid rgba(246, 251, 253, 0.06);
        padding: 12px 0;
        margin-top: 24px;
        //Font
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }

    &__submitted {
        &__summary {
            border-top: 1px solid rgba(246, 251, 253, 0.06);
            border-bottom: 1px solid rgba(246, 251, 253, 0.06);
            padding: 12px 0;
            margin-bottom: 24px;
            //Font
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            //Font
            //font-weight: 400;
            //font-size: 14px;
            //line-height: 22px;
        }

        &__qr {
            display: flex;
            justify-content: center;
            position: relative;
            border: 1px solid rgba(246, 251, 253, 0.06);
            border-radius: 5px;

            &__image {
                margin: 20px;
            }

            &__label {
                color: rgba(255, 255, 255, 0.6);
                background: #22272B;
                padding: 0 14px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(calc(-50%), calc(-50%));
            }
        }

        &__action {
            display: flex;
            justify-content: center;
            position: relative;
            border: 1px solid rgba(246, 251, 253, 0.06);
            border-radius: 5px;

            & > .giz-button {
                margin: 20px;
            }

            &__label {
                color: rgba(255, 255, 255, 0.6);
                background: #22272B;
                padding: 0 14px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(calc(-50%), calc(-50%));
                //Font
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}