
//==== Client UI standard typography .classes based on new theme pattern (root font-size 16px) =========//

//== body base

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    color: $base-color;
    font-family: $font-family-text;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    letter-spacing: $base-letter-spacing;
    background-color: $base-background;
}

a {
    text-decoration: none;
}

img, svg {
    vertical-align: $vertical-align-middle;
}

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../font-family/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../font-family/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../font-family/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../font-family/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../font-family/NotoSans-Medium.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../font-family/NotoSans-Bold.ttf');
}

//heading
/*h1, .giz-typography-h1 {
    color: $white-color;
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    letter-spacing: $h1-letter-spacing;

    [light-theme] & {
        color: $h-color;
    }
}

h2, .giz-typography-h2 {
    color: $white-color;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    letter-spacing: $h2-letter-spacing;

    [light-theme] & {
       color: $h-color;
    }
}

h3, .giz-typography-h3 {
    color: $white-color;
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    line-height: $h3-line-height;
    letter-spacing: $h3-letter-spacing;

    [light-theme] & {
        color: $h-color;
    }
}

h4, .giz-typography-h4 {
    color: $white-color;
    font-size: $h4-font-size;
    font-weight: $h4-font-weight;
    line-height: $h4-line-height;
    letter-spacing: $h4-letter-spacing;

    [light-theme] & {
        color: $h-color;
    }
}

h5, .giz-typography-h5 {
    color: $white-color;
    font-size: $h5-font-size;
    font-weight: $h5-font-weight;
    line-height: $h5-line-height;
    letter-spacing: $h5-letter-spacing;

    [light-theme] & {
        color: $h-color;
    }
}

h6, .giz-typography-h6 {
    color: $white-color;
    font-size: $h6-font-size;
    font-weight: $h6-font-weight;
    line-height: $h6-line-height;
    letter-spacing: $h6-letter-spacing;

    [light-theme] & {
        color: $h-color;
    }
}*/
/*.giz-typography-body1 {
    font-size: $body1-font-size;
    font-weight: $body1-font-weight;
    line-height: $body1-line-height;
    letter-spacing: $body1-letter-spacing;
}

.giz-typography-body2 {
    font-size: $body2-font-size;
    font-weight: $body2-font-weight;
    line-height: $body2-line-height;
    letter-spacing: $body2-letter-spacing;
}

.giz-typography-subtitle1 {
    font-size: $subtitle1-font-size;
    font-weight: $subtitle1-font-weight;
    line-height: $subtitle1-line-height;
    letter-spacing: $subtitle1-letter-spacing;
}

.giz-typography-subtitle2 {
    font-size: $subtitle2-font-size;
    font-weight: $subtitle2-font-weight;
    line-height: $subtitle2-line-height;
    letter-spacing: $subtitle2-letter-spacing;
}*/
