//============= User avtar ===============//
.giz-user {

    &--avtar {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 2rem;
        margin-bottom: 1.875rem;
    }

    .giz-about-user {
        display: flex;
        flex-direction: $flex-column;
        justify-content: flex-end;

        &--title {
            @include font-10;
            color: $dim-white;
            text-shadow: $text-shadow-sm;
            margin-bottom: 0.375rem;
        }

        &--name {
            @include open-sans-600;
            font-size: $font-20;
            line-height: $line-height-25;
            margin-bottom: 0.875rem;
            letter-spacing: $letter-spacing-5;
        }

        &--detail {
            @include font-12;
        }
    }
}

.giz-user-stats {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.063rem;

    &-item {
        display: flex;
        align-items: $align-center;
        border-right: solid 1px $border-black-color;

        &:last-child {
            border-right: none;
        }

        .giz-icon {
            margin-right: 0.625rem;
        }
    }

    &--text {

        .giz-title {
            @include font-10;
            color: $dim-white;
            text-shadow: $text-shadow-sm;
            margin-bottom: 0.25rem;
        }

        .giz-numbers {
            @include open-sans-600;
            line-height: $line-height-16;
            letter-spacing: $letter-spacing-24;
        }
    }
}
