//=============== Client UI @import font family based on new theme pattern ================//

//=============== Client UI variable declare based on New theme pattern ================//

//===============  (variable declare based on root font-size 16px) ================//

//== font family

$font-family-header: Rubik, sans-serif;
$font-family-text: 'Noto Sans', sans-serif;

//== common color

//Updated
$primary-color: #3F8CFF;

$bg-alert: #F73B3B;

$typo-primary: #FAFAFA;
$typo-secondary: rgba(255, 255, 255, 0.6);
$typo-brand: #0091E6;
$typo-ghost: rgba(255, 255, 255, 0.3);
$typo-link: #0F9FFF;
$typo-link-hover: #6FA5C8;
$typo-link-mirror: #57BCFF;
$typo-system: #636E83;
$typo-normal: #009BF5;
$typo-success: #10AE79;
$typo-warning: #E68200;
$typo-alert: #F73B3B;
$typo-caution: #F8C735;
$typo-critical: #62001D;
//Old
$unknown-color: orange;

//vertical align
$vertical-align-middle: middle;

//base font (body)
$base-font-size: 1rem;
$base-font-weight: normal;
$base-line-height: normal;
$base-letter-spacing: normal;
$base-color: #FAFAFA;
$base-background: #0C0F11;
