//=============== Virtualization Blazor Component ================//

.virtual-chunk-line {
  display: inline-block;
  width: calc(100% / 8 - 1.6rem);
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}

.virtual-chunk-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(42rem, 1fr);
  gap: 1.6rem;
  margin-bottom: 1.6rem;
  justify-content: left;
}
