//=============== Virtualization Blazor Component ================//

.virtual-chunk-line {
  display: inline-block;
  width: calc(100% / 8 - 1.6rem);
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}

.virtual-chunk-grid {
  display: grid;
  grid-auto-rows: minmax(42rem, 1fr);
  gap: 1.6rem;
  margin-bottom: 1.6rem;

  &.home {
    grid-template-columns: repeat(7, 1fr);
  }

  &.app {
    grid-template-columns: repeat(7, 1fr);
  }

  &.shop {
    grid-template-columns: repeat(4, 1fr);
  }
}
