@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Profile

<!--item detail-->
<section id="giz-user-history">
    <div class="giz-user-profile-heading">
        Purchase History
    </div>
    <!--table wrapper-->
    <div class="table-wrapper">
        <!--table-->
        <table class="giz-table-history">
            <!--thead-->
            <thead>
                <tr class="giz-table-history--heading">
                    <td>item</td>
                    <td>amount</td>
                    <td>date</td>
                    <td>payment</td>
                    <td>method</td>
                </tr>
            </thead>
            <!--/thead-->
            <!--tbody-->
            <tbody class="giz-table-history--data">
                <tr>
                    <td>
                        Espresso Coffee
                    </td>
                    <td>
                        01
                    </td>
                    <td>
                        02/01/2020
                    </td>
                    <td>
                        2.50€
                    </td>
                    <td>
                        Balance
                    </td>
                </tr>
                <tr class="giz-table-history--data">
                    <td>
                        Redbull 330ml
                    </td>
                    <td>
                        02
                    </td>
                    <td>
                        12/05/2020
                    </td>
                    <td>
                        4.59€
                    </td>
                    <td>
                        Credit Card
                    </td>
                </tr>
                <tr class="giz-table-history--data">
                    <td>
                        Panini Turkey Croissant
                    </td>
                    <td>
                        01
                    </td>
                    <td>
                        16/05/2020
                    </td>
                    <td>
                        1.99€
                    </td>
                    <td>
                        Credit Card
                    </td>
                </tr>
                <tr class="giz-table-history--data">
                    <td>
                        Espresso Coffee
                    </td>
                    <td>
                        01
                    </td>
                    <td>
                        30/07/2020
                    </td>
                    <td>
                        5.00€
                    </td>
                    <td>
                        Balance
                    </td>
                </tr>
                <tr class="giz-table-history--data">
                    <td>
                        Espresso Coffee
                    </td>
                    <td>
                        01
                    </td>
                    <td>
                        02/01/2020
                    </td>
                    <td>
                        2.50€
                    </td>
                    <td>
                        Balance
                    </td>
                </tr>
                <tr class="giz-table-history--data">
                    <td>
                        Espresso Coffee
                    </td>
                    <td>
                        01
                    </td>
                    <td>
                        08/08/2020
                    </td>
                    <td>
                        2.50€
                    </td>
                    <td>
                        Balance
                    </td>
                </tr>
                <tr class="giz-table-history--data">
                    <td>
                        Service: Printing
                    </td>
                    <td>
                        01
                    </td>
                    <td>
                        19/10/2020
                    </td>
                    <td>
                        4.99€
                    </td>
                    <td>
                        Credit Card
                    </td>
                </tr>
                <tr class="giz-table-history--data">
                    <td>
                        Espresso Coffee
                    </td>
                    <td>
                        01
                    </td>
                    <td>
                        02/01/2020
                    </td>
                    <td>
                        2.50€
                    </td>
                    <td>
                        Balance
                    </td>
                </tr>
                <tr class="giz-table-history--data">
                    <td>
                        Fredo Espresso Coffe
                    </td>
                    <td>
                        01
                    </td>
                    <td>
                        20/10/2020
                    </td>
                    <td>
                        3.20€
                    </td>
                    <td>
                        Balance
                    </td>
                </tr>
            </tbody>
            <!--/tbody-->
        </table>
        <!--/table-->
    </div>
    <!--/table wrapper-->
</section>
<!--/item detail-->
