@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View.States

<div class="giz-user-time-products-type">
    <div class="giz-user-time-products-type-content">
        @switch (TimeProduct.TimeProductType)
        {
            case UsageType.TimeFixed:

                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.75 16.5H13.25V14C13.25 13.0972 12.934 12.3299 12.3021 11.6979C11.6701 11.066 10.9028 10.75 10 10.75C9.09722 10.75 8.32986 11.066 7.69792 11.6979C7.06597 12.3299 6.75 13.0972 6.75 14V16.5ZM4.75608 18C4.54369 18 4.36458 17.9285 4.21875 17.7856C4.07292 17.6427 4 17.4656 4 17.2544C4 17.0431 4.07188 16.8646 4.21563 16.7188C4.35938 16.5729 4.5375 16.5 4.75 16.5H5.25V14C5.25 13.1806 5.44444 12.4201 5.83333 11.7188C6.22222 11.0174 6.76389 10.4444 7.45833 10C6.77778 9.55556 6.23958 8.98264 5.84375 8.28125C5.44792 7.57986 5.25 6.81944 5.25 6V3.5H4.75C4.5375 3.5 4.35938 3.42855 4.21563 3.28565C4.07188 3.14273 4 2.96565 4 2.7544C4 2.54313 4.07183 2.36458 4.2155 2.21875C4.35918 2.07292 4.53722 2 4.7496 2H15.2439C15.4563 2 15.6354 2.07145 15.7812 2.21435C15.9271 2.35727 16 2.53435 16 2.7456C16 2.95687 15.9281 3.13542 15.7844 3.28125C15.6406 3.42708 15.4625 3.5 15.25 3.5H14.75V6C14.75 6.81944 14.5521 7.57986 14.1562 8.28125C13.7604 8.98264 13.2222 9.55556 12.5417 10C13.2361 10.4444 13.7778 11.0174 14.1667 11.7188C14.5556 12.4201 14.75 13.1806 14.75 14V16.5H15.25C15.4625 16.5 15.6406 16.5715 15.7844 16.7144C15.9281 16.8573 16 17.0344 16 17.2456C16 17.4569 15.9282 17.6354 15.7845 17.7812C15.6408 17.9271 15.4628 18 15.2504 18H4.75608Z" fill="#252A31" />
                </svg>

                break;

            case UsageType.Rate:

                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.8041 12.4583H11.1458L11.4167 13.2917C11.4583 13.4306 11.5365 13.5417 11.651 13.625C11.7656 13.7083 11.8929 13.75 12.033 13.75C12.2749 13.75 12.4653 13.6562 12.6042 13.4688C12.7431 13.2812 12.7708 13.0764 12.6875 12.8542L10.909 7.89342C10.8586 7.75614 10.7726 7.64236 10.651 7.55208C10.5295 7.46181 10.3958 7.41667 10.25 7.41667H9.7511C9.59759 7.41667 9.46181 7.45833 9.34375 7.54167C9.22569 7.625 9.13889 7.74306 9.08333 7.89583L7.31973 12.8903C7.24547 13.1023 7.2725 13.2986 7.40083 13.4792C7.52917 13.6597 7.70333 13.75 7.92333 13.75C8.05778 13.75 8.18056 13.7118 8.29167 13.6354C8.40278 13.559 8.47917 13.4514 8.52083 13.3125L8.8041 12.4583ZM9.16667 11.3542L10 8.85417L10.7917 11.3542H9.16667ZM8.25 3C8.0375 3 7.85938 2.92855 7.71563 2.78565C7.57188 2.64273 7.5 2.46565 7.5 2.2544C7.5 2.04313 7.57188 1.86458 7.71563 1.71875C7.85938 1.57292 8.0375 1.5 8.25 1.5H11.75C11.9625 1.5 12.1406 1.57145 12.2844 1.71435C12.4281 1.85727 12.5 2.03435 12.5 2.2456C12.5 2.45687 12.4281 2.63542 12.2844 2.78125C12.1406 2.92708 11.9625 3 11.75 3H8.25ZM10 18C9.02778 18 8.11861 17.8159 7.2725 17.4478C6.4264 17.0796 5.68687 16.5791 5.0539 15.9461C4.42094 15.3131 3.92038 14.5736 3.55223 13.7275C3.18408 12.8814 3 11.9722 3 11C3 10.0278 3.18408 9.11861 3.55223 8.2725C3.92038 7.4264 4.42094 6.68687 5.0539 6.0539C5.68687 5.42094 6.4264 4.92038 7.2725 4.55223C8.11861 4.18408 9.02472 4 9.99083 4C10.8003 4 11.5771 4.13542 12.3212 4.40625C13.0654 4.67708 13.7569 5.05556 14.3958 5.54167L14.9642 4.97329C15.1131 4.82443 15.2847 4.75347 15.4792 4.76042C15.6736 4.76736 15.8472 4.84722 16 5C16.1528 5.15278 16.2292 5.32639 16.2292 5.52083C16.2292 5.71528 16.1528 5.88889 16 6.04167L15.4583 6.60417C15.9444 7.22917 16.3229 7.91533 16.5938 8.66267C16.8646 9.41 17 10.1901 17 11.003C17 11.9732 16.8159 12.8814 16.4478 13.7275C16.0796 14.5736 15.5791 15.3131 14.9461 15.9461C14.3131 16.5791 13.5736 17.0796 12.7275 17.4478C11.8814 17.8159 10.9722 18 10 18Z" fill="#252A31" />
                </svg>

                break;

            case UsageType.TimeOffer:

                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5 5H11.5V3.5H8.5V5ZM13.9953 19C12.8873 19 11.9444 18.6095 11.1667 17.8286C10.3889 17.0477 10 16.1033 10 14.9953C10 13.8873 10.3905 12.9444 11.1714 12.1667C11.9523 11.3889 12.8967 11 14.0047 11C15.1127 11 16.0556 11.3905 16.8333 12.1714C17.6111 12.9523 18 13.8967 18 15.0047C18 16.1127 17.6095 17.0556 16.8286 17.8333C16.0477 18.6111 15.1033 19 13.9953 19ZM3.5 17C3.0875 17 2.73438 16.8531 2.44063 16.5594C2.14688 16.2656 2 15.9125 2 15.5V6.5C2 6.0875 2.14688 5.73438 2.44063 5.44063C2.73438 5.14688 3.0875 5 3.5 5H7V3.49558C7 3.08186 7.14706 2.72917 7.44117 2.4375C7.73528 2.14583 8.08883 2 8.50183 2H11.5055C11.9185 2 12.2708 2.14688 12.5625 2.44063C12.8542 2.73438 13 3.0875 13 3.5V5H16.5C16.9125 5 17.2656 5.14688 17.5594 5.44063C17.8531 5.73438 18 6.0875 18 6.5V11.2292C17.4444 10.6736 16.8368 10.2465 16.1771 9.94792C15.5174 9.64931 14.7917 9.5 14 9.5C12.4722 9.5 11.1736 10.0347 10.1042 11.1042C9.03472 12.1736 8.5 13.4722 8.5 15C8.5 15.2917 8.53125 15.6354 8.59375 16.0312C8.65625 16.4271 8.75 16.75 8.875 17H3.5ZM14.5 14.7917V13.5C14.5 13.3667 14.45 13.25 14.35 13.15C14.25 13.05 14.1333 13 14 13C13.8667 13 13.75 13.05 13.65 13.15C13.55 13.25 13.5 13.3667 13.5 13.5V14.8958C13.5 15.0069 13.5208 15.1076 13.5625 15.1979C13.6042 15.2882 13.6604 15.3687 13.7311 15.4394L14.7917 16.5C14.8939 16.5972 15.0133 16.6458 15.1496 16.6458C15.286 16.6458 15.4028 16.5972 15.5 16.5C15.5972 16.4028 15.6458 16.286 15.6458 16.1496C15.6458 16.0133 15.5972 15.8939 15.5 15.7917L14.5 14.7917Z" fill="#252A31" />
                </svg>

                break;
        }
        <div class="giz-user-time-products-type-description">@TimeProduct.TimeProductName</div>
    </div>
</div>