@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Profile
<!--Basic info-->
<section id="giz-basic-detail">
<div class="giz-user-detail">
<div class="giz-user-detail--heading">Basic Info</div>
    
</div>
    



</section>
<!--/Basic info-->

