
//== content pages common style ==//

//=== content table ===//

.content-table {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    background: $dark-color;

    [light-theme] & {
        background: $white-color;
    }
}

//=== content search ===//

.content-search {
    margin-right: $spacer-16;

    &__box {
        position: $position-relative;
    }

    &__ico {
        position: $position-absolute;
        top: 50%;
        left: 0.7rem;
        width: 1.7rem;
        transform: translateY(-50%);

        > img {
            width: $width-full;
        }
    }

    &__input {
        border: $border-0;
        border-bottom: 1px solid $border-dark-color;
        color: $white-color;
        outline: $outline-0;
        height: 4rem;
        padding-left: $spacer-44;
        width: $width-full;
        background: transparent;
        @extend %gizmo-font-19-normal;

        [light-theme] & {
            color: $secondary-color;
            border-bottom-color: $border-light-color;
        }
    }

    &__input::placeholder {
        color: $secondary-color;
    }
}

//=== content list ===//

.content-list {
    padding: 0 2.5rem;
    color: $white-color;
    font-size: $font-16;

    [light-theme] & {
        color: $secondary-color;
    }

    &__head {
        display: grid;
        grid-template-columns: 5% 22% 10% 10% 10% 10% 15% 18%;
        height: 5rem;
        text-transform: uppercase;
        font-size: $font-15;
        color: $secondary-color;
    }

    &__item {
        display: grid;
        grid-template-columns: 5% 22% 10% 10% 10% 10% 15% 18%;
        height: 6rem;
        background: $dark-light-color;
        border: 1px solid #292e39;
        border-radius: $rounded-lg;
        margin-bottom: $spacer-16;

        [light-theme] & {
            border-color: $primary-light-color;
            background: $primary-light-color;
        }
    }

    &__item:hover {
        border-color: #453855;
        background: $dark-light-color;

        [light-theme] & {
            border-color: #dddfe4;
            background: $primary-light-color;
        }
    }

    &__item.is-active {
        border-color: #453855;
        background: $dark-light-color;
        border-radius: 8px 8px 0 0;
        margin-bottom: $spacer-0;

        [light-theme] & {
            border-color: #dddfe4;
            background: $primary-light-color;
        }
    }

    &__cell {
        display: $display-flex;
        align-items: $align-center;
        justify-content: $justify-start;
        padding: 0 1.7rem;
        white-space: $nowrap-white-space;
    }

    &__cell--fe {
        justify-content: $justify-end;
    }
}

//=== content head ===//

.content-head {
    height: auto;
    background-color: $dark-color;
    color: $white-color;

    [light-theme] & {
        background-color: $secondary-light;
        color: $secondary-color;
    }

    &__wrapper {
        display: $display-flex;
        justify-content: $justify-space-between;
        height: 13rem;
        padding: 0 3rem 0 4rem;
        border-bottom: 1px solid $border-color;

        [light-theme] & {
            border-bottom-color: $light-color;
        }
    }

    &__ico-box {
        width: 7.1rem;
    }

    &__title {
        display: $display-flex;
        align-items: $align-center;
        height: $height-full;
        justify-content: $justify-start;
        font-size: 3.6rem;
        font-weight: $font-weight-500;

        [light-theme] & {
            color: #000;
        }
    }
}

//=== content filters ===//

.content-filters {
    height: 6rem;

    &__ico-box {
        width: 2.7rem;
    }

    &__wrapper {
        display: $display-flex;
        justify-content: $justify-space-between;
        align-items: $align-center;
        padding: 0 2.5rem;
        height: $height-full;
    }

    &__views {
        display: $display-flex;
        align-items: $align-center;
        font-size: $font-19;
        color: $secondary-color;
    }

    &__select {
        display: $display-flex;
        align-items: $align-center;
        font-size: $font-19;
        color: $white-color;
        cursor: $cursor-pointer;
        border-radius: $rounded;
        border: 1px solid $border-dark-color;
        height: 5rem;
        padding: 0 2rem;

        [light-theme] & {
            border-color: #d4d6db;
        }
    }

    &__select--gray {
        color: $secondary-color;
        margin-left: $spacer-12;
    }

    &__right-side {
        display: $display-flex;
        align-items: $align-center;
        justify-content: $justify-end;
    }

    &__amount {
        color: $white-color;
    }
}

//=== content expand ===//

.content-expand {
    position: $position-relative;
    width: $width-full;
    border: 1px solid #292e39;
    border-radius: 0 0 8px 8px;
    margin-bottom: $spacer-16;
    display: $display-flex;
    align-items: $align-start;
    border-top: 0;
    padding: 1.5rem 0;

    [light-theme] & {
        border-color: #dddfe4;
    }


    &__column {
        padding-left: 7rem;
        flex-shrink: $flex-shrink-0;

        &--1 {
            width: 40%;
        }

        &--2 {
            width: 20%;
        }

        &--3 {
            width: 30%;
        }
    }

    &__str {
        display: $display-flex;
    }

    &__label {
        font-weight: $font-weight-700;
        width: 17.5rem;
        flex-shrink: $flex-shrink-0;
        line-height: 1.8;
    }

    &__column--2 &__label {
        width: 12.5rem;
    }

    &__text {
        padding-left: $spacer-28;
        line-height: 1.8;
    }
}

//=== content bottom ===//

.content-bottom {
    height: 10rem;
    border-top: 1px solid $border-color;
    margin-top: 10rem;

    [light-theme] & {
        border-color: $light-color;
    }

    &__pagination {
        position: $position-relative;
        display: $display-flex;
        list-style-type: $list-unstyled;
        font-size: $font-13;
        text-transform: uppercase;
        margin: $spacer-0;
        padding: $spacer-0;

        & li {
            padding: 0 1.4rem;
            margin: 0 0.6rem;
            color: $secondary-color;
            cursor: $cursor-pointer;
            border-radius: $rounded;
            border: 1px solid $border-dark-color;
            font-weight: $font-weight-600;
            height: 3.2rem;
            display: $display-flex;
            align-items: $align-center;

            &:hover, &.is-active {
                background: #5a7ff2;
                border-color: #5a7ff2;
                color: $white-color;
            }

            [light-theme] & {
                color: $secondary-color;
                border-color: #d4d6db;

                &:hover, &.is-active {
                    background: #5a7ff2;
                    border-color: #5a7ff2;
                    color: $white-color;
                }
            }
        }
    }

    &__pagination-info {
        font-size: $font-13;
        color: $secondary-color;

        [light-theme] & {
            color: $secondary-color;
        }
    }

    &__wrapper {
        position: $position-relative;
        display: $display-flex;
        height: $height-full;
        align-items: $align-center;
        justify-content: $justify-space-between;
        padding: 0 3rem;
    }
}


















