
//== footer section common style ==//

.giz-footer {
    height: 7rem;
    grid-area: footer;

    [light-theme] & {
        border-color: $light-color !important;
    }

    &__item {

        [light-theme] & {
            color: $secondary-color;
        }
    }

    &__pending-acceptance {
        background: #1e2535;
        border-radius: 30px;

        [light-theme] & {
            background: $secondary-dark;
            color: $secondary-color;
        }
    }
}




