
//== notification section common style ==//

.giz-notification {
    border-radius: 30px;
    width: $spacer-24;
    height: $spacer-24;
    display: $display-flex;
    align-items: $align-center;
    justify-content: $justify-center;
    color: $white-color;
    font-size: $font-12;
    font-weight: $font-weight-600;
    line-height: 14px;
    letter-spacing: $letter-spacing-8;

    &--danger {
        background-color: $danger-color;
    }

    &--blue {
        background-color: $info-color;
    }

    &--gray-light {
        background-color: $gray-light-color;
    }

    &--success {
        background-color: $success-color;
    }
}

