//=============== Theme Client Global ================//

body {
    background-color: #0C0F11;
    color: #FAFAFA;
    font-family: $font-family-text-theme-client;
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
}

a {
    text-decoration: none;

    &:hover {
    }

    &:active {
    }

    &:visited {
    }
}
