@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase

<ClientTabItem>
    <div class="giz-app-media-item" @onclick="ShowMediaDialogAsync">
        <img src="@Link.ThumbnailUrl" alt="loading" />
    </div>
</ClientTabItem>