@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase

<div class="giz-app-links">
    @foreach (var link in _appLinksViewState.Where(a => a.MediaUrlType == AdvertisementMediaUrlType.None))
    {
        <AppDetailsLink Link="@link" @key="link.AppLinkId" />
    }
</div>
