@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase

<ClientTabItem>
    <div class="giz-app-media-item">
        <img src="_content/Gizmo.Client.UI/img/app_media.png" alt="loading" />
    </div>
</ClientTabItem>