@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-app-details">
    <div class="giz-app-details__app">
        <div class="giz-app-details__app__navigation">
            Back
        </div>
        <div class="giz-app-details__app__info">                
            <div class="giz-details-card__brand">
                <img src="_content/Gizmo.Client.UI/img/@Application?.Image" alt="loading" />
            </div>

            <div class="giz-app-details__app__info__details">
                
                <div class="giz-app-details__app__info__details__category">
                    Category
                </div>
                <div class="giz-app-details__app__info__details__title">
                    @Application.Name
                </div>
                <div class="giz-app-details__app__info__details__description">
                    @Application.Description
                </div>
                <div class="giz-app-details__app__info__details__tags">
                    <ComboButton Color="ButtonColors.Accent" Size="ButtonSizes.Large" IsFullWidth="true">LAUNCH</ComboButton>
                    Tags
                </div>

            </div>

            <div class="giz-app-details-card-brand-info">
                <div class="giz-app-details-card-brand-title">
                    Publisher
                </div>
                <div class="giz-app-details-card-brand-text">
                    @Application?.Publisher
                </div>
                <div class="giz-app-details-card-brand-title">
                    Release Date
                </div>
                <div class="giz-app-details-card-brand-text">
                    @Application?.ReleaseDate.ToShortDateString()
                </div>
                <div class="giz-app-details-card-brand-title">
                    Date Added
                </div>
                <div class="giz-app-details-card-brand-text">
                    @Application?.DateAdded.ToShortDateString()
                </div>
                <div class="giz-app-details-card-brand-title">
                    Player Mode
                </div>
                <div class="giz-app-details-card-brand-text">
                    <div class="d-flex align-center" style="justify-content: flex-end;">
                        Single Player
                        <Tooltip>
                            <TooltipContent>
                                <div>
                                    <div class="d-flex justify-space-between">
                                        <div>
                                            Free to Play
                                        </div>
                                        <div>
                                            <Icon SVGIcon="Icons.User_Client" Size="IconSizes.ExtraSmall" />
                                            8+
                                        </div>
                                    </div>
                                    <div class="d-flex justify-space-between">
                                        <div>
                                            Co-Op Online
                                        </div>
                                        <div>
                                            <Icon SVGIcon="Icons.User_Client" Size="IconSizes.ExtraSmall" />
                                            2
                                        </div>
                                    </div>
                                </div>
                            </TooltipContent>
                            <ChildContent>
                                <Icon SVGIcon="Icons.More_Client" Size="IconSizes.Small" Style="cursor: pointer" />
                            </ChildContent>
                        </Tooltip>
                    </div>
                </div>
            </div>

            <div>                
                <div class="giz-app-details__app__info__details__executables">
                    Executables
                </div>
                <div class="giz-app-details__app__info__details__media">
                    Media
                </div>
            </div>

        </div>
    </div>
    <div class="giz-app-details__leaderboard">
        Leaderboard
    </div>
</div>

@*<ApplicationDetailsDialog @bind-IsOpen="AppDetailsIsOpen" Application="@_selectedApplication" />
<ExecutableSelectorDialog @bind-IsOpen="ExecutableSelectorIsOpen" />*@