@namespace Gizmo.Client.UI.Pages
@inherits CustomDOMComponentBase

<ClientTabItem OnClick="ShowMediaDialogAsync">
    <div class="giz-app-media-item">
        <img src="@Link.ThumbnailUrl" alt="loading" />
    </div>
</ClientTabItem>