@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="@Class @ClassName">
    <div class="giz-ads-carousel-item__image">
        <img src="_content/Gizmo.Client.UI/img/@Advertisement.Image" alt='loading' />
    </div>
    <div class="giz-ads-carousel-item__content-wrapper">
        <div class="giz-ads-carousel-item__content">
            <div class="giz-ads-carousel-item__content__title">
                @Advertisement.Title
            </div>
            <div class="giz-ads-carousel-item__content__text">
                @Advertisement.Description
            </div>
            <div class="giz-ads-carousel-item__content__actions">
                <Button Variant="ButtonVariants.Outline" Size="ButtonSizes.Large">@localizationService.GetString("GIZ_GEN_VIEW_DETAILS")</Button>
            </div>
        </div>
    </div>
</div>