@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-carousel-indicator">
    @for (int i = 0; i < Size; i++)
    {
        var local_i = i;
        <div class="giz-carousel-indicator-button @(local_i == SelectedIndex ? "active": "")" @onclick="@(() => OnClickButton(local_i))"></div>
    }
</div>