@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-client-tab">
    <Button LeftSVGIcon="Icons.ArrowLeft" Size="ButtonSizes.ExtraSmall" />
    <div class="giz-client-tab__wrapper">
        <div class="giz-client-tab__content">
            @ChildContent
        </div>
    </div>
    <Button LeftSVGIcon="Icons.ArrowRight" Size="ButtonSizes.ExtraSmall" />
</div>
