@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="@Class @ClassName"
     id="@Id"
     @ref="@Ref">
    <Button Class="giz-client-tab__previous" LeftSVGIcon="Icons.ArrowLeft" Size="ButtonSizes.ExtraSmall" @onclick="OnClickPreviousButton" />
    <div class="giz-client-tab__wrapper">
        <div class="giz-client-tab__content">
            @ChildContent
        </div>
    </div>
    <Button Class="giz-client-tab__next" LeftSVGIcon="Icons.ArrowRight" Size="ButtonSizes.ExtraSmall" @onclick="OnClickNextButton" />
</div>
