@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="@Class @ClassName"
	 @onmouseover="OnMouseOverHandler"
	 @onmouseout="OnMouseOutHandler">
	<div class="giz-dock-item-content">
		@ChildContent
	</div>

	<div class="giz-dock-item-tooltip-wrapper @(_isOpen ? "giz-dock-item-tooltip-wrapper--visible" : "")"
		 @onmouseover="OnMouseOverTooltipHandler"
		 @onmouseout="OnMouseOutTooltipHandler">
		<div class="giz-dock-item-tooltip">
			<div class="giz-dock-item-tooltip__header">
				Teamspeak 3 Client
			</div>
			<div class="giz-dock-item-tooltip__body">
				Teamspeak
			</div>
			<div class="giz-dock-item-tooltip__actions">
				<Button Variant="ButtonVariants.Outline" Text="Details" />
			</div>
		</div>
	</div>
</div>