@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-dock">
	<div class="giz-dock__body">
		<CascadingValue Value="@this" IsFixed="true">
			@ChildContent
		</CascadingValue>
	</div>
</div>