@namespace Gizmo.Client.UI.Components
@inherits ComponentBase

@if(Placeholder is not null)
{
    <span>
        @Placeholder
    </span>
}
else
{
    <span class="giz-animate-spinner">
        <SpinnerIcon />
    </span>
}
<img @ref="ElementReference" hidden/>
