@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-news-rotator">
    <CascadingValue Value="@this" IsFixed="true">
        <NewsRotatorItem Text="@c.ToString()" />
    </CascadingValue>
</div>