@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName">
    <div class="giz-news-rotator-item__image">
        <img src="_content/Gizmo.Client.UI/img/news.jpg" />
    </div>
    <div class="giz-news-rotator-item__message">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </div>
</div>