@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-news-rotator">
    <CascadingValue Value="@this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>