@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View;

<div class="giz-universal-executable-progress-bar">
	@switch (_appExeExecutionViewState.State)
	{
		case ExecutableState.Loading:
			<ProgressBar IsIndeterminate="true" />
			break;

		case ExecutableState.Deployment:
			<ProgressBar Value="@_appExeExecutionViewState.Progress" />
			break;

		case ExecutableState.Running:
			<div class="running"></div>
			break;
	}
</div>