@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400%3b500%3b600%3b700%3b800&display=swap");
.is-nav-opened .giz-aside-nav__menu > a, .content-search__input, .giz-order-popup-aside__nav-link {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: -0.08rem; }

.main {
  /*padding: $spacer-40;*/
  height: calc(100vh - 10rem);
  overflow-y: auto; }
  .main__bg {
    background: #141923; }
    [light-theme] .main__bg {
      background: #eee; }

.giz__language-selector {
  box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.1); }
.giz__language-flag {
  vertical-align: middle; }
  .giz__language-flag img {
    width: 3.5rem;
    height: 3.5rem; }
.giz__language-arrow {
  right: 2.5rem;
  top: 1.2rem; }

.giz-global__search {
  margin-right: 8rem; }
.giz-global__search-icon {
  top: 50%;
  left: 0.7rem;
  width: 1.7rem;
  transform: translateY(-50%); }
.giz-global__search-input {
  border: 0rem;
  height: 4rem; }
  [light-theme] .giz-global__search-input {
    border-color: #c3c7ce !important;
    color: #6E7689 !important; }
.giz-global__search-input::placeholder {
  color: #6E7689; }

.giz-spinner {
  width: 40px;
  height: 40px;
  position: relative; }
  .giz-spinner__box {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF; }
  .giz-spinner__cube1, .giz-spinner__cube2 {
    background-color: #5a7ff2;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out; }
  .giz-spinner__cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
.giz-hamburger {
  display: flex;
  align-items: center;
  position: relative;
  height: 4rem;
  border-radius: 5px;
  justify-content: flex-end;
  padding-right: 1rem;
  border: 1px solid transparent; }
  .giz-hamburger:hover {
    border: 1px solid #3b4150;
    width: 12rem; }
  [light-theme] .giz-hamburger:hover {
    border-color: #c3c7ce;
    background: #FFFFFF; }
  .giz-hamburger__menu {
    display: none;
    align-items: center;
    list-style-type: none;
    margin: 0rem;
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%); }
    .giz-hamburger__menu > li {
      margin: 0 0 0 2rem;
      padding: 0rem;
      cursor: pointer; }
  .giz-hamburger__ico {
    cursor: pointer; }
  .giz-hamburger:hover > .giz-hamburger__ico path {
    fill: #5a7ff2; }
  .giz-hamburger:hover > .giz-hamburger__menu {
    display: flex; }
  .content-list__item.is-active .giz-hamburger__menu {
    display: flex; }

.ss-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left; }

.ss-content {
  height: 100%;
  width: calc(100% + 18px);
  padding: 0 0 0 0;
  position: relative;
  overflow-x: auto;
  overflow-y: scroll; }

.ss-content.rtl {
  width: calc(100% + 18px);
  right: auto; }

.ss-scroll {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  width: 9px;
  border-radius: 0.4rem;
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear; }

.ss-hidden {
  display: none; }

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
  opacity: 1; }

.ss-wrapper {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.giz-login__error-box {
  min-height: 8rem;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: -1;
  transform: translateY(-5rem); }
  .giz-login__error-box.is-active {
    opacity: 1;
    z-index: 100;
    transform: translateY(0); }
.giz-login__logo {
  height: 5.1rem; }
.giz-login__container {
  max-width: 62.4rem !important; }
  .giz-login__container .giz-input-control {
    margin-bottom: 4rem; }
.giz-login .giz-input-root {
  filter: drop-shadow(0px 8px 56px rgba(0, 0, 0, 0.1)); }
.giz-login__title {
  margin-bottom: 7.2rem; }
.giz-login__forgot-password {
  margin-top: 7.2rem; }
.giz-login__footer {
  margin-top: 22.3rem; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Metrophobic", sans-serif !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important; }

#giz-navbar {
  background: #040506; }
  #giz-navbar .giz-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #giz-navbar .giz-nav--logo {
      flex: 1;
      align-self: center; }
      #giz-navbar .giz-nav--logo .giz-navbar-brand {
        margin: 0rem 1.5rem; }
        #giz-navbar .giz-nav--logo .giz-navbar-brand img {
          vertical-align: text-bottom; }
      #giz-navbar .giz-nav--logo form {
        display: inline-block; }
        #giz-navbar .giz-nav--logo form input {
          color: rgba(255, 255, 255, 0.3);
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          background-color: #040506;
          box-sizing: initial;
          border: none;
          outline: none;
          padding: 0.625rem 2.25rem;
          font-size: 0.813rem;
          line-height: 0.813rem;
          width: 100%;
          border-radius: 0.4rem;
          background-image: url("https://i.postimg.cc/X7yrggbx/Vector-2.png");
          background-repeat: no-repeat;
          background-position: 0.625rem;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
    #giz-navbar .giz-nav--item:last-child {
      padding: 0.875rem 1.375rem; }
      #giz-navbar .giz-nav--item:last-child img {
        margin-right: 0.625rem; }
      #giz-navbar .giz-nav--item:last-child:active {
        background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%); }
    #giz-navbar .giz-nav--item {
      border-left: 1px solid #2a2f34;
      display: flex;
      align-items: center; }
      #giz-navbar .giz-nav--item:hover {
        background: rgba(176, 187, 203, 0.04); }
    #giz-navbar .giz-nav--link {
      font-size: 0.688rem;
      line-height: 0.688rem;
      color: #FFFFFF;
      display: inline-block;
      padding: 1.25rem 1.375rem; }
      #giz-navbar .giz-nav--link img {
        margin-right: 0.625rem; }
      #giz-navbar .giz-nav--link .giz-notifications {
        margin: 0rem;
        vertical-align: super; }
    #giz-navbar .giz-nav--avtar {
      display: flex; }
      #giz-navbar .giz-nav--avtar .giz-about-user {
        color: rgba(255, 255, 255, 0.45);
        font-size: 0.688rem;
        line-height: 0.688rem; }
        #giz-navbar .giz-nav--avtar .giz-about-user--user {
          font-size: 1rem;
          font-weight: 600;
          font-family: "Open Sans", sans-serif;
          color: #FFFFFF;
          line-height: 1rem;
          margin-top: 0.375rem; }
      #giz-navbar .giz-nav--avtar .giz-btn {
        border-radius: 0.188rem;
        color: #FFFFFF;
        font-size: 0.938rem;
        line-height: 0.938rem;
        font-weight: 700;
        letter-spacing: -0.015rem;
        padding: 0.688rem 0.688rem;
        background: #258cf6;
        border: none;
        outline: none;
        margin-left: 0.75rem;
        text-align: center;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        box-shadow: 0px 1px 12px rgba(37, 140, 246, 0.5); }
        #giz-navbar .giz-nav--avtar .giz-btn + img {
          margin-left: 1.375rem;
          margin-right: 0rem;
          align-self: center;
          cursor: pointer; }

.giz-aside-nav {
  grid-area: nav; }
  [light-theme] .giz-aside-nav {
    border-color: #eff0f2 !important; }
  .giz-aside-nav__logo-box {
    height: 9.6rem; }
  .giz-aside-nav__logo img {
    width: 100%; }
  [light-theme] .giz-aside-nav__logo--dark {
    display: none; }
  .giz-aside-nav__logo--white {
    display: none; }
    [light-theme] .giz-aside-nav__logo--white {
      display: block; }
  .giz-aside-nav__box {
    height: calc(100vh - 20rem);
    overflow-y: auto; }
  .giz-aside-nav__menu {
    direction: initial; }
  .giz-aside-nav a {
    list-style-type: none;
    padding: 2rem;
    font-size: 0; }
    [light-theme] .giz-aside-nav a {
      color: #6E7689 !important; }
    .giz-aside-nav a:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 0.4rem;
      height: 100%; }
  .giz-aside-nav__menu > a:hover, .giz-aside-nav__menu > a.active {
    color: #FFFFFF !important; }
    [light-theme] .giz-aside-nav__menu > a:hover, [light-theme] .giz-aside-nav__menu > a.active {
      color: #5A67F2 !important; }
    [light-theme] .giz-aside-nav__menu > a:hover a, [light-theme] .giz-aside-nav__menu > a.active a {
      color: #5A67F2 !important; }
    [light-theme] .giz-aside-nav__menu > a:hover path, [light-theme] .giz-aside-nav__menu > a.active path {
      fill: #5A67F2 !important; }
  .giz-aside-nav__menu > a:hover:after, .giz-aside-nav__menu > a.active:after {
    background: #5A67F2 !important; }
  .giz-aside-nav__icon {
    margin: 0 auto; }
  .giz-aside-nav__menu > a:hover path {
    fill: #FFFFFF !important; }
    [light-theme] .giz-aside-nav__menu > a:hover path {
      fill: #5A67F2 !important; }

.is-nav-opened .giz-aside-nav__logo img {
  width: 65%; }

.is-nav-opened .giz-aside-nav__menu > a {
  padding: 2rem 6rem; }

.is-nav-opened .giz-aside-nav__icon {
  padding-right: 1.6rem;
  margin: 0rem; }

.giz-footer {
  height: 7rem;
  grid-area: footer; }
  [light-theme] .giz-footer {
    border-color: #eff0f2 !important; }
  [light-theme] .giz-footer__item {
    color: #6E7689; }
  .giz-footer__pending-acceptance {
    background: #1e2535;
    border-radius: 30px; }
    [light-theme] .giz-footer__pending-acceptance {
      background: #eee;
      color: #6E7689; }

.giz-notification {
  border-radius: 30px;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: -0.08rem; }
  .giz-notification--danger {
    background-color: #F25A68; }
  .giz-notification--blue {
    background-color: #68C9FF; }
  .giz-notification--gray-light {
    background-color: #CFD2D8; }
  .giz-notification--success {
    background-color: #32CF92; }

.content-table {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background: #171c28; }
  [light-theme] .content-table {
    background: #FFFFFF; }

.content-search {
  margin-right: 1.6rem; }
  .content-search__box {
    position: relative; }
  .content-search__ico {
    position: absolute;
    top: 50%;
    left: 0.7rem;
    width: 1.7rem;
    transform: translateY(-50%); }
    .content-search__ico > img {
      width: 100%; }
  .content-search__input {
    border: 0rem;
    border-bottom: 1px solid #3b4150;
    color: #FFFFFF;
    outline: 0rem;
    height: 4rem;
    padding-left: 4.4rem;
    width: 100%;
    background: transparent; }
    [light-theme] .content-search__input {
      color: #6E7689;
      border-bottom-color: #c3c7ce; }
  .content-search__input::placeholder {
    color: #6E7689; }

.content-list {
  padding: 0 2.5rem;
  color: #FFFFFF;
  font-size: 1.6rem; }
  [light-theme] .content-list {
    color: #6E7689; }
  .content-list__head {
    display: grid;
    grid-template-columns: 5% 22% 10% 10% 10% 10% 15% 18%;
    height: 5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #6E7689; }
  .content-list__item {
    display: grid;
    grid-template-columns: 5% 22% 10% 10% 10% 10% 15% 18%;
    height: 6rem;
    background: #1b212f;
    border: 1px solid #292e39;
    border-radius: 0.8rem;
    margin-bottom: 1.6rem; }
    [light-theme] .content-list__item {
      border-color: #F6FAFF;
      background: #F6FAFF; }
  .content-list__item:hover {
    border-color: #453855;
    background: #1b212f; }
    [light-theme] .content-list__item:hover {
      border-color: #dddfe4;
      background: #F6FAFF; }
  .content-list__item.is-active {
    border-color: #453855;
    background: #1b212f;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0rem; }
    [light-theme] .content-list__item.is-active {
      border-color: #dddfe4;
      background: #F6FAFF; }
  .content-list__cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1.7rem;
    white-space: nowrap; }
  .content-list__cell--fe {
    justify-content: flex-end; }

.content-head {
  height: auto;
  background-color: #171c28;
  color: #FFFFFF; }
  [light-theme] .content-head {
    background-color: #FAFAFA;
    color: #6E7689; }
  .content-head__wrapper {
    display: flex;
    justify-content: space-between;
    height: 13rem;
    padding: 0 3rem 0 4rem;
    border-bottom: 1px solid #1f2637; }
    [light-theme] .content-head__wrapper {
      border-bottom-color: #eff0f2; }
  .content-head__ico-box {
    width: 7.1rem; }
  .content-head__title {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    font-size: 3.6rem;
    font-weight: 500; }
    [light-theme] .content-head__title {
      color: #000; }

.content-filters {
  height: 6rem; }
  .content-filters__ico-box {
    width: 2.7rem; }
  .content-filters__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    height: 100%; }
  .content-filters__views {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    color: #6E7689; }
  .content-filters__select {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0.4rem;
    border: 1px solid #3b4150;
    height: 5rem;
    padding: 0 2rem; }
    [light-theme] .content-filters__select {
      border-color: #d4d6db; }
  .content-filters__select--gray {
    color: #6E7689;
    margin-left: 1.2rem; }
  .content-filters__right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .content-filters__amount {
    color: #FFFFFF; }

.content-expand {
  position: relative;
  width: 100%;
  border: 1px solid #292e39;
  border-radius: 0 0 8px 8px;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: flex-start;
  border-top: 0;
  padding: 1.5rem 0; }
  [light-theme] .content-expand {
    border-color: #dddfe4; }
  .content-expand__column {
    padding-left: 7rem;
    flex-shrink: 0; }
    .content-expand__column--1 {
      width: 40%; }
    .content-expand__column--2 {
      width: 20%; }
    .content-expand__column--3 {
      width: 30%; }
  .content-expand__str {
    display: flex; }
  .content-expand__label {
    font-weight: 700;
    width: 17.5rem;
    flex-shrink: 0;
    line-height: 1.8; }
  .content-expand__column--2 .content-expand__label {
    width: 12.5rem; }
  .content-expand__text {
    padding-left: 2.8rem;
    line-height: 1.8; }

.content-bottom {
  height: 10rem;
  border-top: 1px solid #1f2637;
  margin-top: 10rem; }
  [light-theme] .content-bottom {
    border-color: #eff0f2; }
  .content-bottom__pagination {
    position: relative;
    display: flex;
    list-style-type: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0rem;
    padding: 0rem; }
    .content-bottom__pagination li {
      padding: 0 1.4rem;
      margin: 0 0.6rem;
      color: #6E7689;
      cursor: pointer;
      border-radius: 0.4rem;
      border: 1px solid #3b4150;
      font-weight: 600;
      height: 3.2rem;
      display: flex;
      align-items: center; }
      .content-bottom__pagination li:hover, .content-bottom__pagination li.is-active {
        background: #5a7ff2;
        border-color: #5a7ff2;
        color: #FFFFFF; }
      [light-theme] .content-bottom__pagination li {
        color: #6E7689;
        border-color: #d4d6db; }
        [light-theme] .content-bottom__pagination li:hover, [light-theme] .content-bottom__pagination li.is-active {
          background: #5a7ff2;
          border-color: #5a7ff2;
          color: #FFFFFF; }
  .content-bottom__pagination-info {
    font-size: 1.3rem;
    color: #6E7689; }
    [light-theme] .content-bottom__pagination-info {
      color: #6E7689; }
  .content-bottom__wrapper {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
[light-theme] body {
  background: #FFFFFF; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  /*margin: 1em 0;*/
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]::after {
    content: " (" attr(href) ")"; }

  abbr[title]::after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.ico {
  display: flex;
  position: relative;
  margin: 0 auto;
  flex-shrink: 0; }

.ico > svg {
  width: 100%; }

.ico path {
  fill: #697183;
  fill-rule: evenodd; }
  [light-theme] .ico path {
    fill: #6E7689; }

.ico--computers {
  width: 2.2rem; }

.ico--sales {
  width: 2.3rem; }

.ico--users {
  width: 2.3rem; }

.ico--reservations {
  width: 2.4rem; }

.ico--waiting-lines {
  width: 1.8rem; }

.ico--manager {
  width: 2.3rem; }

.ico--deployment {
  width: 2.3rem; }

.ico--monitoring {
  width: 2.4rem; }

.ico--reports {
  width: 2.3rem; }

.ico--logs {
  width: 2.3rem; }

.ico--settings {
  width: 2.3rem; }

.ico--shift {
  font-size: 2.5rem; }

.ico--shift path {
  fill: #FFFFFF; }
  [light-theme] .ico--shift path {
    fill: #6E7689; }

.ico--logs-title {
  width: 4.2rem; }

.ico--logs-title path {
  fill: #5865ed; }
  [light-theme] .ico--logs-title path {
    fill: #5865ed; }

.ico--views {
  width: 2rem; }

.ico.ico--views path {
  fill: #ffffff; }

.ico--content-filter {
  width: 1.8rem; }

.ico--content-sort {
  width: 2rem; }

.ico--i {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #6E7689;
  color: #6E7689;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500; }
  [light-theme] .ico--i {
    border: 1px solid #6E7689;
    color: #6E7689; }

.ico--info {
  font-size: 2.7rem; }

.content-list__item:hover .ico--i, .content-list__item.is-active .ico--i {
  background: #c687d4; }
  [light-theme] .content-list__item:hover .ico--i, [light-theme] .content-list__item.is-active .ico--i {
    background: #5a7ff2; }

.ico--points {
  width: 0.4rem; }

.arrowed-str {
  padding-right: 2.4rem;
  position: relative; }

.arrowed-str:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 6px;
  background: url("/img/icons/select-arrow.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.content-head__right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.app {
  display: grid;
  grid-template-areas: "nav header" "nav article" "nav footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 5% 95%;
  height: 100vh;
  margin: 0;
  background: #171c28;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  overflow: hidden; }
  .app[light-theme] {
    background: #FFFFFF; }

.app.is-nav-opened {
  grid-template-columns: 22% 78%; }

.nav-link.is-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 7.9rem;
  box-sizing: border-box; }
  .app.is-nav-opened .nav-link.is-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 35.1rem;
    padding-left: 5rem; }

.header {
  grid-area: header; }

.footer {
  grid-area: footer; }

#mainArticle {
  grid-area: article; }

.img-w {
  position: relative; }

.img-w > img {
  width: 100%; }

.jcfe {
  justify-content: flex-end; }

@media all and (max-width: 575px) {
  body {
    grid-template-areas: "header" "article" "nav" "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr; } }
.content-bottom__input-box {
  margin-left: 2.5rem; }

.action-button {
  /*display: $display-none;*/
  visibility: hidden;
  /*transition: visibility 0s linear;*/ }

.action-switch {
  position: relative; }

.action-button .giz-button {
  transition: all 0s linear; }

.action-label {
  /*display: $display-block;*/
  visibility: visible; }

.action-row:hover .action-button {
  /*display: $display-block;*/
  visibility: visible; }

.action-row:hover .action-label {
  /*display: $display-none;*/
  visibility: collapse; }

.action-secondary {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.g-collapse {
  display: none; }
  .g-collapse.g-collapse-expanded {
    display: block; }

.g-divider {
  border: none;
  height: 1px;
  margin: 0rem;
  flex-shrink: 0;
  background-color: Gray; }

.g-divider-flex {
  height: auto;
  align-self: stretch; }

.g-divider-vertical {
  width: 1px;
  height: 100%; }

.giz-orders-popup-height {
  height: 50rem !important; }

.giz-orders-popup-caret {
  transform: scale(1.2) rotate(-180deg); }

.giz-order-open-body-bg {
  background: #000000;
  opacity: 0.2; }

.giz-orders-popup {
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.15);
  transition: height 1s ease; }
  .giz-orders-popup__btn {
    top: -64px;
    list-style-type: none;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 0px 0px;
    width: 5%;
    bottom: 0; }
    [light-theme] .giz-orders-popup__btn {
      color: #6E7689 !important; }
  .giz-orders-popup__text {
    display: none;
    margin-right: 2rem; }
  .giz-orders-popup__icon {
    padding-left: 0.1rem; }
  .giz-orders-popup__caret-icon {
    right: 2.2rem;
    display: none; }
  .giz-orders-popup__icon-1 {
    margin: 0 0.2rem; }

.giz-order-popup-aside {
  padding-top: 2.8rem;
  width: 33.7rem;
  border-right: 1px solid #ccc;
  height: 50rem;
  background: #1b212f; }
  [light-theme] .giz-order-popup-aside {
    background: #FAFAFA; }
  .giz-order-popup-aside__ul {
    padding: 0rem;
    list-style: none;
    margin: 0rem;
    position: relative; }
    .giz-order-popup-aside__ul a.active {
      color: #5A67F2; }
      .giz-order-popup-aside__ul a.active::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 0.4rem;
        height: 100%;
        background: #5A67F2; }
  .giz-order-popup-aside__nav-link {
    color: #6E7689;
    position: relative;
    list-style-type: none;
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer; }
  .giz-order-popup-aside .giz-notification {
    margin-left: 0rem;
    margin-right: 1.6rem; }

.giz-aside-bottom-link {
  padding: 2rem 6rem;
  margin-top: 4.8rem; }
  .giz-aside-bottom-link__text {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: -0.08rem;
    color: #939DB5;
    margin-bottom: 1.2rem; }
    .giz-aside-bottom-link__text svg {
      margin-right: 0.8rem; }

.giz-order-popup-main {
  padding: 2.8rem;
  width: 78%;
  display: flex;
  flex-direction: column; }
  .giz-order-popup-main__search-box {
    width: 100%;
    display: flex; }
  .giz-order-popup-main__search-input {
    width: 75%; }
    .giz-order-popup-main__search-input i {
      font-size: 1.5rem;
      color: #5A67F2;
      position: absolute;
      margin-left: 2rem;
      margin-top: 1.6rem; }
    .giz-order-popup-main__search-input ::placeholder {
      color: #CFD2D8; }
    .giz-order-popup-main__search-input input {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #E7E9EE;
      height: 4.8rem;
      outline: none;
      padding-left: 4.8rem;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.6rem;
      letter-spacing: -0.08rem;
      color: #6E7689; }
      .giz-order-popup-main__search-input input:focus {
        border-color: #5A67F2; }
  .giz-order-popup-main__search-box-btn {
    width: 25%; }
    .giz-order-popup-main__search-box-btn button {
      border: 1px solid #E7E9EE;
      box-sizing: border-box;
      border-radius: 4px;
      height: 48px;
      background: #FFFFFF;
      align-items: center;
      padding: 1.2rem;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.6rem;
      letter-spacing: -0.08rem;
      color: #6E7689;
      margin-left: 2.4rem;
      cursor: pointer; }
      .giz-order-popup-main__search-box-btn button svg {
        margin-right: 0.8rem; }
  .giz-order-popup-main__transaction-detail {
    width: 100%;
    margin-top: 2.8rem;
    display: flex;
    height: 350px;
    overflow-y: scroll; }
  .giz-order-popup-main__transaction-action {
    width: 50%;
    color: #6E7689; }
    .giz-order-popup-main__transaction-action table {
      width: 100%;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 14px;
      letter-spacing: -0.08rem; }
      .giz-order-popup-main__transaction-action table .giz-table-user-name {
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 2.2rem;
        letter-spacing: -0.08rem;
        color: #FFFFFF; }
        [light-theme] .giz-order-popup-main__transaction-action table .giz-table-user-name {
          color: #000000; }
    .giz-order-popup-main__transaction-action .giz-list-item-selected {
      color: #FFFFFF; }
      .giz-order-popup-main__transaction-action .giz-list-item-selected table .giz-table-user-name {
        color: #FFFFFF; }
  .giz-order-popup-main__product-list {
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
    width: 46%;
    border: 1px solid #E7E9EE;
    border-radius: 4px;
    background: #FFFFFF;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    padding: 2.4rem 3.2rem; }
    .giz-order-popup-main__product-list .giz-data-grid td:nth-child(1) {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.6rem;
      letter-spacing: -0.08rem;
      color: #FFFFFF; }
      [light-theme] .giz-order-popup-main__product-list .giz-data-grid td:nth-child(1) {
        color: #000000; }
    .giz-order-popup-main__product-list ::-webkit-scrollbar {
      width: 3px; }
    .giz-order-popup-main__product-list ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #E7E9EE;
      border-radius: 8px; }
    .giz-order-popup-main__product-list ::-webkit-scrollbar-thumb {
      background: #939DB5;
      border-radius: 8px; }
    .giz-order-popup-main__product-list ::-webkit-scrollbar-thumb:hover {
      background: #939DB5; }
    .giz-order-popup-main__product-list .giz-product-list-scroll {
      height: 260px;
      overflow-y: scroll; }
  .giz-order-popup-main__total-value .giz-total-value-text {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: -0.08rem;
    color: #6E7689;
    text-transform: uppercase; }
  .giz-order-popup-main__total-value .giz-total-value-number {
    font-weight: 600;
    font-size: 2rem;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
    color: #5A67F2; }
  .giz-order-popup-main__note {
    background: #FFFFFF;
    border: 1px solid #E7E9EE;
    border-radius: 4px;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: -0.08rem;
    color: #6E7689; }
  .giz-order-popup-main__product-list-detail {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: -0.08rem;
    color: #6E7689; }
    .giz-order-popup-main__product-list-detail th {
      text-align: left;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 14px;
      letter-spacing: -0.08rem;
      color: #6E7689; }
    .giz-order-popup-main__product-list-detail .giz-product-name {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.6rem;
      letter-spacing: -0.08rem;
      color: #000000; }
    .giz-order-popup-main__product-list-detail .giz-product-count {
      margin: 0px 8px; }

.is-nav-opened .giz-orders-popup__btn {
  width: 22%;
  padding-left: 6rem;
  padding-right: 6rem; }
.is-nav-opened .giz-orders-popup__text {
  display: block; }
.is-nav-opened .giz-orders-popup__caret-icon {
  display: block; }
.is-nav-opened .giz-orders-popup__icon {
  margin-right: 1.6rem; }
.is-nav-opened .giz-orders-popup__icon-1 {
  padding: 1.2rem; }
.is-nav-opened .giz-orders-popup__icon-2 {
  margin-left: 1.2rem;
  padding: 1.2rem; }

/*# sourceMappingURL=main.css.map */
