@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400%3b500%3b600%3b700%3b800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Metrophobic", sans-serif !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: white !important;
  background-color: #040506 !important;
  background-image: url(https://i.postimg.cc/W1NXyBF8/Background-img.jpg);
  height: 100vh;
  background-repeat: round;
}

img,
svg {
  vertical-align: middle;
}

#giz-navbar {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#giz-navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #282b32;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #282B32;
  background-color: rgba(9, 11, 16, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

#giz-navbar nav .giz-navbar-brand {
  margin: 0 1.375rem;
}

#giz-navbar nav .giz-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

#giz-navbar nav .giz-nav-container .giz-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

#giz-navbar nav .giz-nav-container .giz-nav-menu--item input {
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(9, 11, 16, 0.1);
  -webkit-box-sizing: initial;
  box-sizing: initial;
  border: none;
  outline: none;
  padding: 0.625rem 2.25rem;
  font-size: 0.813rem;
  line-height: 0.813rem;
  width: 100%;
  border-radius: 0.4rem;
  background-image: url("https://i.postimg.cc/X7yrggbx/Vector-2.png");
  background-repeat: no-repeat;
  background-position: 0.625rem;
}

#giz-navbar nav .giz-nav-container .giz-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#giz-navbar nav .giz-nav-container .giz-menu--item:last-child {
  padding: 0.875rem 1.375rem;
}

#giz-navbar nav .giz-nav-container .giz-menu--item:last-child svg {
  margin-right: 0.625rem;
}

#giz-navbar nav .giz-nav-container .giz-menu .active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 124, 244, 0.25)), to(rgba(13, 16, 23, 0)));
  background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
}

#giz-navbar nav .giz-nav-container .giz-menu--item {
  border-left: 1px solid #2a2f34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#giz-navbar nav .giz-nav-container .giz-menu--item:hover:not(.active) {
  background: rgba(176, 187, 203, 0.04);
}

#giz-navbar nav .giz-nav-container .giz-menu--item:active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 124, 244, 0.25)), to(rgba(13, 16, 23, 0)));
  background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
}

#giz-navbar nav .giz-nav-container .giz-menu--link {
  font-size: 0.688rem;
  line-height: 0.688rem;
  color: #FFFFFF;
  display: inline-block;
  padding: 1.25rem 1.375rem;
}

#giz-navbar nav .giz-nav-container .giz-menu--link svg {
  margin-right: 0.625rem;
}

#giz-navbar nav .giz-nav-container .giz-menu--link .giz-notifications {
  margin: 0rem;
  vertical-align: super;
}

#giz-navbar nav .giz-nav-container .giz-menu--link .active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 124, 244, 0.25)), to(rgba(13, 16, 23, 0)));
  background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
}

#giz-navbar nav .giz-nav-container .giz-menu--avtar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#giz-navbar nav .giz-nav-container .giz-menu--avtar .giz-about-user {
  color: rgba(255, 255, 255, 0.45);
  font-size: 0.688rem;
  line-height: 0.688rem;
}

#giz-navbar nav .giz-nav-container .giz-menu--avtar .giz-about-user--user {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  line-height: 1rem;
  margin-top: 0.375rem;
  letter-spacing: -0.015rem;
}

#giz-navbar nav .giz-nav-container .giz-menu--avtar .giz-btn {
  border-radius: 0.188rem;
  color: #FFFFFF;
  font-size: 0.938rem;
  line-height: 0.938rem;
  font-weight: 700;
  letter-spacing: -0.015rem;
  padding: 0.688rem 0.688rem;
  background: #258cf6;
  border: none;
  outline: none;
  margin-left: 0.75rem;
  text-align: center;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  -webkit-box-shadow: 0px 1px 12px rgba(37, 140, 246, 0.5);
  box-shadow: 0px 1px 12px rgba(37, 140, 246, 0.5);
}

#giz-navbar nav .giz-nav-container .giz-menu--avtar .giz-btn + svg {
  margin-left: 1.375rem;
  margin-right: 0rem;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
}

#giz-sidenavbar {
  padding-top: 66px;
  z-index: 999;
  grid-area: nav;
}

#giz-sidenavbar .giz-sidenav {
  height: 100vh;
  width: 4.5rem;
  border-right: 1px solid #282B32;
  background: rgba(9, 11, 16, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: fixed;
}

#giz-sidenavbar .giz-sidenav--link {
  color: rgba(196, 204, 217, 0.5);
  display: block;
  padding: 1.25rem 0.98rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 0.625rem;
}

#giz-sidenavbar .giz-sidenav--link svg {
  fill: rgba(255, 255, 255, 0.45);
  fill-opacity: 0.3;
  margin-bottom: 0.375rem;
}

#giz-sidenavbar .giz-sidenav--link:hover {
  color: #FFFFFF;
  background: rgba(176, 187, 203, 0.08);
}

#giz-sidenavbar .giz-sidenav--item .giz-sidenav--link:hover:not(.active) svg {
  fill: #FFFFFF !important;
  fill-opacity: 1 !important;
}

#giz-sidenavbar .giz-sidenav--logout {
  position: fixed;
  left: 0;
  bottom: 4.688rem;
}

#giz-sidenavbar .giz-sidenav ul {
  list-style: none;
}

#giz-sidenavbar .giz-sidenav ul .active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 124, 244, 0.25)), to(rgba(13, 16, 23, 0)));
  background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
  color: #FFFFFF;
  border-left: 5px solid #258cf6;
  padding: 1.25rem 0.875rem;
}

#giz-sidenavbar .giz-sidenav ul .active svg {
  fill: #258cf6 !important;
  fill-opacity: 1 !important;
}