@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-ads-carousel">
    <div class="giz-ads-carousel__header">
        Ads
    </div>
    <div class="giz-ads-carousel__body">
        @for (int i = 0; i < Size; i++)
        {
            var local_i = i;
            <AdsCarouselItem />
        }
    </div>
    <div class="giz-ads-carousel__navigation">
        <div class="giz-ads-carousel__navigation__indicators">
            <AdsCarouselIndicator Size="@Size" />
        </div>
        <div class="giz-ads-carousel__navigation__text">
            Showing 2/8
        </div>
    </div>
</div>