@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<Dialog @bind-IsOpen="IsOpen" IsModal="true" MaximumWidth="37.313rem">
    <DialogHeader>

        @switch (AlertType)
        {
            case AlertTypes.Warning:
                <Icon SVGIcon="Icons.Warning_Client" Size="IconSizes.ExtraLarge" Color="#FFFFFF" />
                <div class="giz-alert-dialog-heading mt-7 mb-2">
                    warning
                </div>

                break;
        }

    </DialogHeader>
    <DialogBody>
        <div class="giz-alert-dialog-text mb-7">
            @Message
        </div>
    </DialogBody>
    <DialogFooter>
        <div class="flex-grow-1 d-flex justify-center">
            <Button Size="ButtonSizes.Large" Class="giz-elevation-0" @onclick="() => CloseDialog()">dismiss</Button>
        </div>
    </DialogFooter>
</Dialog>
