@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<Dialog @bind-IsOpen="IsOpen" IsModal="true" MaximumWidth="37.313rem">
    <DialogHeader>

        @switch(AlertType)
        {
            case AlertTypes.Warning:
                <!--svg-->
                <svg width="38" height="34" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.289 3.57434L2.43828 26.697C2.15271 27.1915 2.00161 27.7522 2.00001 28.3233C1.99841 28.8944 2.14637 29.4559 2.42917 29.952C2.71196 30.4482 3.11974 30.8616 3.61192 31.1512C4.10411 31.4408 4.66355 31.5965 5.23459 31.6028H32.936C33.507 31.5965 34.0664 31.4408 34.5586 31.1512C35.0508 30.8616 35.4586 30.4482 35.7414 29.952C36.0242 29.4559 36.1721 28.8944 36.1705 28.3233C36.1689 27.7522 36.0178 27.1915 35.7323 26.697L21.8816 3.57434C21.5901 3.09375 21.1796 2.6964 20.6898 2.42064C20.2 2.14487 19.6474 2 19.0853 2C18.5232 2 17.9706 2.14487 17.4808 2.42064C16.991 2.6964 16.5805 3.09375 16.289 3.57434V3.57434Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.0859 11.9797V18.5208" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M19.0859 25.0618H19.1023" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <!--/svg-->
                <div class="giz-warning-modal--heading mt-7 mb-2">
                    warning
                </div>

            break;
        }

    </DialogHeader>
    <DialogBody>
        <div class="giz-warning-modal--text mb-7">
            @Message
        </div>
    </DialogBody>
    <DialogFooter>
        <div class="flex-grow-1 d-flex justify-center">
            <Button Size="ButtonSizes.Large" Class="giz-elevation-0" @onclick="() => CloseDialog()">dismiss</Button>
        </div>
    </DialogFooter>
</Dialog>
