@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-app-card">
    <div class="giz-hoverable-card">
        <div class="hoverable-content">
            <div class="giz-app-card__content">
                <div class="giz-app-card__content__image">
                    <img src="_content/Gizmo.Client.UI/img/@Application.Image" alt='loading' />
                </div>
                <div class="giz-app-card__content__details">
                    <div class="giz-app-card__title">
                        @Application?.Name
                    </div>
                </div>
                <div class="giz-app-card__content__footer">
                    <div class="giz-app-card-text">
                        @if (ShowDateAdded)
                        {
                            <div>
                                Add date <span>@Application?.DateAdded.ToShortDateString()</span>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-center">
                                @if (Application != null)
                                {
                                    <Rating @bind-Value="Application.Rate" />
                                }
                                else
                                {
                                    <Rating Value="0" IsReadOnly="true" />
                                }
                                <span class="giz-app-card__rating">@(Application?.Ratings ?? 0) Ratings</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="hovered-content-wrapper">
            <div class="hovered-content" @onclick="() => OpenDetails()">
                <div class="d-flex">
                    <Tooltip Text="Including Store Account">
                        <IconButton SVGIcon="Icons.StoreApp_Client" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="store-btn" />
                    </Tooltip>
                    <IconButton SVGIcon="Icons.Heart_Client" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="ml-auto" />
                </div>
                <div>
                    <Button Size="ButtonSizes.Large" IsFullWidth="true" @onclick="@(() => Execute())">LAUNCH</Button>
                </div>
                <div>
                    <div class="d-flex">
                        <div class="giz-app-card-text">
                            <span class="giz-playing-indicator"></span>
                            Now Playing
                        </div>
                        <div class="giz-app-card__count ml-auto">@Application?.NowPlaying</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <AlertDialog Message="winexe002piw974muaf65_ss8d6.bat was terminated unexpectedly." AlertType="AlertDialog.AlertTypes.Warning" @bind-IsOpen="_warningDialogIsOpen" />
</div>
