@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-app-card">
    <div class="giz-hoverable-card">
        <div class="hoverable-content">
            <div class="giz-app-card__content">
                <div class="giz-app-card__content__image">
                    <img src="_content/Gizmo.Client.UI/img/@Application.Image" alt='loading' />
                </div>
                <div class="giz-app-card__content__details">
                    <div class="giz-app-card__title">
                        @Application?.Title
                    </div>
                </div>
                <div class="giz-app-card__content__footer">
                    <div class="giz-app-card-text">
                        @if (ShowDateAdded)
                        {
                            <div>
                                @*Add date <span>@Application?.DateAdded.ToShortDateString()</span>*@
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-center">
                                @if (Application != null)
                                {
                                    <Rating Value="@Application.Rate" />
                                }
                                else
                                {
                                    <Rating Value="0" IsReadOnly="true" />
                                }
                                <span class="giz-app-card__rating">@(Application?.Ratings ?? 0) Ratings</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="hovered-content-wrapper">
            <div class="hovered-content" @onclick="() => OpenDetails()">
                <div class="giz-app-card__content--hovered">
                    <div class="giz-app-card__content--hovered__header">
                        <div class="giz-app-card-b1">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="white"/>
                            </svg>
                            <div>24</div>
                        </div>
                        <div class="giz-app-card-b2">
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.57739 0.936007C4.74226 0.7712 5.00955 0.77135 5.17423 0.936341C6.22052 1.98458 7.38002 2.5 8.67188 2.5C8.90487 2.5 9.09375 2.68888 9.09375 2.92188V3.84976C8.46088 3.52624 7.74394 3.34375 6.98438 3.34375C4.42143 3.34375 2.34375 5.42143 2.34375 7.98438C2.34375 8.67837 2.49609 9.33678 2.76915 9.92799C1.36905 8.90306 0.65625 7.40239 0.65625 5.45419V2.92188C0.65625 2.68888 0.84513 2.5 1.07812 2.5C2.36841 2.5 3.52851 1.98449 4.57739 0.936007ZM10.7812 7.98438C10.7812 5.88742 9.08133 4.1875 6.98438 4.1875C4.88742 4.1875 3.1875 5.88742 3.1875 7.98438C3.1875 10.0813 4.88742 11.7813 6.98438 11.7813C9.08133 11.7813 10.7812 10.0813 10.7812 7.98438ZM8.97019 6.42044C9.13494 6.58519 9.13494 6.85231 8.97019 7.01706L6.43894 9.54831C6.27418 9.71306 6.00707 9.71306 5.84231 9.54831L4.99856 8.70456C4.83381 8.53981 4.83381 8.27269 4.99856 8.10794C5.16332 7.94319 5.43043 7.94319 5.59519 8.10794L6.14062 8.65338L8.37356 6.42044C8.53832 6.25569 8.80543 6.25569 8.97019 6.42044Z" fill="white"/>
                            </svg>
                            <div>24</div>
                        </div>
                    </div>
                    <div class="giz-app-card__content--hovered__body">
                        <Button Color="ButtonColors.Accent" Size="ButtonSizes.Large" IsFullWidth="true" @onclick="Execute">LAUNCH</Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <AlertDialog Message="winexe002piw974muaf65_ss8d6.bat was terminated unexpectedly." AlertType="AlertDialog.AlertTypes.Warning" @bind-IsOpen="_warningDialogIsOpen" />
</div>
