@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-app-card" @onclick="() => OpenDetails()">
    <div class="giz-app-card__content">
        <div class="giz-app-card__content__image">
            <div class="giz-app-card__content__image__hovered">
                <div class="giz-app-card__content__image__hovered__header">
                    @*<div class="giz-app-card-b1">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4" cy="4" r="4" fill="white"/>
                        </svg>
                        <div>24</div>
                    </div>
                    <div class="giz-app-card-b2">
                        <Icon SVGIcon="Icons.Shield_Client" />
                        <div>24</div>
                    </div>*@
                </div>
            </div>
            @if (Application.ImageId.HasValue)
            {
                <GizImage @key="@Application.ApplicationId" ImageType="Gizmo.UI.ImageType.Application" ImageId="@Application.ImageId.Value" />
            }
            else
            {
                <img src="_content/Gizmo.Client.UI/img/no-app-image.png" alt='loading' />
            }
        </div>
        <div class="giz-app-card__content__details">
            <div class="giz-app-card__title">
                @Application?.Title
            </div>
        </div>
        <div class="giz-app-card__content__footer">
            <div class="giz-app-card-text">
                @if (Application != null)
                {
                    <ApplicationCardCategory @key="Application.ApplicationCategoryId" ApplicationCategoryId="@Application.ApplicationCategoryId" />
                }
            </div>
        </div>
    </div>
    <div class="giz-app-card__action">
        <Button Color="ButtonColors.Accent" Size="ButtonSizes.Large" IsFullWidth="true" @onclick="Execute">@LocalizationService.GetStringUpper("GIZ_APPS_LAUNCH")</Button>
    </div>
</div>
