@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-carousel">
	<CascadingValue Value="@this" IsFixed="true">
		@ChildContent
	</CascadingValue>
</div>
