@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<Dialog @bind-IsOpen="IsOpen" IsModal="true">
    <DialogHeader>
        <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseDialog()" />
    </DialogHeader>
    <DialogBody>
        <div class="giz-client-dialog giz-exe-selector-card">

            <div class="giz-client-dialog-header">
                <div class="giz-client-dialog-header-title">windows apps</div>
                <div class="giz-client-dialog-header-text">Select application version</div>
            </div>

            <div class="giz-client-dialog-body">
                <div class="giz-executable-list">
                
                    @if (Application != null && Application.Executables != null)
                    {
                        @foreach (var executable in Application.Executables)
                        {
                            <ExecutableCard Executable="@executable" />
                        }
                    }

                </div>
            </div>

        </div>
    </DialogBody>
</Dialog>
