@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Client.UI.View.States
@using Microsoft.AspNetCore.Components.Forms

<Select HandleSVGIcon="Icons.Select_Client"
        ValidationErrorStyle="ValidationErrorStyles.BorderOnly"
        TValue="LanguageViewState"
        Value="ViewState.SelectedLanguage"
        ValueChanged="@ValueChangedHandler"
        Size="InputSizes.Small"
        OpenDirection="PopupOpenDirections.Top"
        Class="giz-input-language-menu"
        PopupClass="giz-scrollbar--v">
    @if (ViewState.Languages != null)
    {
        @foreach (var region in ViewState.Languages)
        {
            <SelectItem Value="@region">
                <div class="giz-icon-select-item">
                    <div class="giz-icon-select-item__flag">
                        <Icon Size="IconSizes.Small" SVGIcon="Icons.Keyboard_Client" />
                    </div>
                    <div>@region.Culture.TwoLetterISOLanguageName</div>
                </div>
            </SelectItem>
        }
    }
</Select>
