@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-notifications-container" client-theme="true">
    @foreach (var notification in Notifications)
    {
        <NotificationDialog Notification="@notification" OnCloseDialog="@CloseDialog" />
    }
</div>