@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-product-card">
    <div class="giz-hoverable-card">
        <div class="hoverable-content">
            <div class="giz-product-card__content">
                <div class="giz-product-card__content__image">
                    @if (@Product != null)
                    {
                        @switch (Product.ProductType)
                        {
                            case ProductType.Product:
                                <img src="_content/Gizmo.Client.UI/img/@Product?.Image" alt='loading' />
                                break;

                            case ProductType.ProductTime:
                                <PolygonIcon />
                                break;
                        }
                    }
                </div>
                <div class="giz-product-card__content__details">
                    <div class="giz-product-card__price">
                        @GetPrice()
                        <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                    </div>
                    <div class="giz-product-card__title">
                        @Product?.Name
                    </div>
                </div>
                <div class="giz-product-card__content__footer">
                    <Button Size="ButtonSizes.Medium" IsFullWidth="true" @onclick="@(() => AddProduct())">Add to cart</Button>
                </div>
            </div>
        </div>
        @if (IsHoverable)
        {
            <div class="hovered-content-wrapper">
                <div class="hovered-content" @onclick="@(() => OpenDetails())">
                    <div class="giz-product-card__content--hovered">
                        <div class="giz-product-card__content--hovered__header">
                            <div class="giz-product-card-b1">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.27831 1.66057C6.43451 1.06657 7.67501 0.769573 8.99981 0.769573C10.6498 0.769573 12.1123 1.17907 13.3873 1.99807C14.6623 2.81647 15.6499 3.91327 16.3501 5.28847C16.4623 5.50087 16.4965 5.71957 16.4527 5.94457C16.4089 6.16957 16.2808 6.33217 16.0684 6.43237C15.856 6.53197 15.6436 6.52867 15.4312 6.42247C15.2188 6.31627 15.0562 6.15697 14.9434 5.94457C14.3686 4.84477 13.5562 3.96997 12.5062 3.32017C11.4562 2.66977 10.2874 2.34457 8.99981 2.34457C7.77461 2.34457 6.64331 2.65717 5.60591 3.28237C4.56851 3.90757 3.74981 4.75747 3.14981 5.83207H4.87511C5.08751 5.83207 5.27171 5.91037 5.42771 6.06697C5.58431 6.22297 5.66261 6.40717 5.66261 6.61957C5.66261 6.83197 5.58431 7.01647 5.42771 7.17307C5.27171 7.32907 5.08751 7.40707 4.87511 7.40707H1.53701C1.32461 7.40707 1.14041 7.32907 0.984412 7.17307C0.827812 7.01647 0.749512 6.83197 0.749512 6.61957V3.28237C0.749512 3.06997 0.827812 2.88547 0.984412 2.72887C1.14041 2.57287 1.32461 2.49487 1.53701 2.49487C1.74941 2.49487 1.93391 2.57287 2.09051 2.72887C2.24651 2.88547 2.32451 3.06997 2.32451 3.28237V4.18237C3.13751 3.09457 4.12211 2.25397 5.27831 1.66057ZM1.05911 10.2664C1.19051 10.0726 1.36871 9.95707 1.59371 9.91987C1.80611 9.88207 2.00291 9.92887 2.18411 10.0603C2.36531 10.1917 2.48711 10.3699 2.54951 10.5949C2.63711 10.9447 2.74661 11.2759 2.87801 11.5885C3.00941 11.9011 3.16241 12.2011 3.33701 12.4885C3.44981 12.6763 3.49691 12.8794 3.47831 13.0978C3.45911 13.3168 3.36221 13.495 3.18761 13.6324C3.01241 13.7698 2.81531 13.8166 2.59631 13.7728C2.37791 13.729 2.20601 13.6135 2.08061 13.4263C1.80581 13.0135 1.57481 12.601 1.38761 12.1888C1.19981 11.776 1.05581 11.3446 0.955612 10.8946C0.893212 10.6696 0.927712 10.4602 1.05911 10.2664ZM4.27481 15.4981C4.22501 15.2791 4.26881 15.076 4.40621 14.8888C4.53101 14.7136 4.69961 14.6074 4.91201 14.5702C5.12441 14.5324 5.32451 14.5696 5.51231 14.6818C5.82491 14.8696 6.14051 15.0292 6.45911 15.1606C6.77771 15.2914 7.09961 15.4006 7.42481 15.4882C7.63721 15.5506 7.81541 15.6664 7.95941 15.8356C8.10281 16.0042 8.15591 16.1947 8.11871 16.4071C8.08091 16.6321 7.97141 16.807 7.79021 16.9318C7.60901 17.0572 7.40591 17.095 7.18091 17.0452C6.70631 16.945 6.26261 16.8106 5.84981 16.642C5.43701 16.4728 5.03711 16.2634 4.65011 16.0138C4.44971 15.8884 4.32461 15.7165 4.27481 15.4981ZM13.0966 14.5693C13.3156 14.5945 13.4938 14.6947 13.6312 14.8699C13.7686 15.0445 13.8154 15.2446 13.7716 15.4702C13.7278 15.6946 13.6123 15.8695 13.4251 15.9949C13.0249 16.2451 12.6154 16.4575 12.1966 16.6321C11.7778 16.8073 11.3248 16.945 10.8376 17.0452C10.6126 17.095 10.4062 17.0572 10.2184 16.9318C10.0312 16.807 9.91871 16.6321 9.88091 16.4071C9.84371 16.1947 9.89681 16.0042 10.0402 15.8356C10.1842 15.6664 10.3624 15.5506 10.5748 15.4882C10.912 15.4006 11.2402 15.2944 11.5594 15.1696C11.878 15.0448 12.181 14.8948 12.4684 14.7196C12.6688 14.5948 12.8782 14.5447 13.0966 14.5693ZM15.8434 10.0513C16.0186 9.91387 16.2124 9.86377 16.4248 9.90097C16.6498 9.93817 16.8247 10.0477 16.9495 10.2295C17.0749 10.4107 17.1124 10.6138 17.062 10.8388C16.9624 11.3134 16.822 11.7571 16.6408 12.1699C16.4596 12.5821 16.2376 12.9883 15.9748 13.3885C15.85 13.5763 15.6781 13.6951 15.4591 13.7449C15.2401 13.7947 15.0433 13.7509 14.8687 13.6135C14.6935 13.4887 14.5936 13.3168 14.569 13.0978C14.5438 12.8794 14.5873 12.6763 14.6995 12.4885C14.8747 12.1885 15.028 11.8792 15.1594 11.5606C15.2902 11.2414 15.3994 10.9132 15.487 10.576C15.5494 10.3636 15.6682 10.1887 15.8434 10.0513Z" fill="#1C1B1F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.27831 1.66057C6.43451 1.06657 7.67501 0.769573 8.99981 0.769573C10.6498 0.769573 12.1123 1.17907 13.3873 1.99807C14.6623 2.81647 15.6499 3.91327 16.3501 5.28847C16.4623 5.50087 16.4965 5.71957 16.4527 5.94457C16.4089 6.16957 16.2808 6.33217 16.0684 6.43237C15.856 6.53197 15.6436 6.52867 15.4312 6.42247C15.2188 6.31627 15.0562 6.15697 14.9434 5.94457C14.3686 4.84477 13.5562 3.96997 12.5062 3.32017C11.4562 2.66977 10.2874 2.34457 8.99981 2.34457C7.77461 2.34457 6.64331 2.65717 5.60591 3.28237C4.56851 3.90757 3.74981 4.75747 3.14981 5.83207H4.87511C5.08751 5.83207 5.27171 5.91037 5.42771 6.06697C5.58431 6.22297 5.66261 6.40717 5.66261 6.61957C5.66261 6.83197 5.58431 7.01647 5.42771 7.17307C5.27171 7.32907 5.08751 7.40707 4.87511 7.40707H1.53701C1.32461 7.40707 1.14041 7.32907 0.984412 7.17307C0.827812 7.01647 0.749512 6.83197 0.749512 6.61957V3.28237C0.749512 3.06997 0.827812 2.88547 0.984412 2.72887C1.14041 2.57287 1.32461 2.49487 1.53701 2.49487C1.74941 2.49487 1.93391 2.57287 2.09051 2.72887C2.24651 2.88547 2.32451 3.06997 2.32451 3.28237V4.18237C3.13751 3.09457 4.12211 2.25397 5.27831 1.66057ZM1.05911 10.2664C1.19051 10.0726 1.36871 9.95707 1.59371 9.91987C1.80611 9.88207 2.00291 9.92887 2.18411 10.0603C2.36531 10.1917 2.48711 10.3699 2.54951 10.5949C2.63711 10.9447 2.74661 11.2759 2.87801 11.5885C3.00941 11.9011 3.16241 12.2011 3.33701 12.4885C3.44981 12.6763 3.49691 12.8794 3.47831 13.0978C3.45911 13.3168 3.36221 13.495 3.18761 13.6324C3.01241 13.7698 2.81531 13.8166 2.59631 13.7728C2.37791 13.729 2.20601 13.6135 2.08061 13.4263C1.80581 13.0135 1.57481 12.601 1.38761 12.1888C1.19981 11.776 1.05581 11.3446 0.955612 10.8946C0.893212 10.6696 0.927712 10.4602 1.05911 10.2664ZM4.27481 15.4981C4.22501 15.2791 4.26881 15.076 4.40621 14.8888C4.53101 14.7136 4.69961 14.6074 4.91201 14.5702C5.12441 14.5324 5.32451 14.5696 5.51231 14.6818C5.82491 14.8696 6.14051 15.0292 6.45911 15.1606C6.77771 15.2914 7.09961 15.4006 7.42481 15.4882C7.63721 15.5506 7.81541 15.6664 7.95941 15.8356C8.10281 16.0042 8.15591 16.1947 8.11871 16.4071C8.08091 16.6321 7.97141 16.807 7.79021 16.9318C7.60901 17.0572 7.40591 17.095 7.18091 17.0452C6.70631 16.945 6.26261 16.8106 5.84981 16.642C5.43701 16.4728 5.03711 16.2634 4.65011 16.0138C4.44971 15.8884 4.32461 15.7165 4.27481 15.4981ZM13.0966 14.5693C13.3156 14.5945 13.4938 14.6947 13.6312 14.8699C13.7686 15.0445 13.8154 15.2446 13.7716 15.4702C13.7278 15.6946 13.6123 15.8695 13.4251 15.9949C13.0249 16.2451 12.6154 16.4575 12.1966 16.6321C11.7778 16.8073 11.3248 16.945 10.8376 17.0452C10.6126 17.095 10.4062 17.0572 10.2184 16.9318C10.0312 16.807 9.91871 16.6321 9.88091 16.4071C9.84371 16.1947 9.89681 16.0042 10.0402 15.8356C10.1842 15.6664 10.3624 15.5506 10.5748 15.4882C10.912 15.4006 11.2402 15.2944 11.5594 15.1696C11.878 15.0448 12.181 14.8948 12.4684 14.7196C12.6688 14.5948 12.8782 14.5447 13.0966 14.5693ZM15.8434 10.0513C16.0186 9.91387 16.2124 9.86377 16.4248 9.90097C16.6498 9.93817 16.8247 10.0477 16.9495 10.2295C17.0749 10.4107 17.1124 10.6138 17.062 10.8388C16.9624 11.3134 16.822 11.7571 16.6408 12.1699C16.4596 12.5821 16.2376 12.9883 15.9748 13.3885C15.85 13.5763 15.6781 13.6951 15.4591 13.7449C15.2401 13.7947 15.0433 13.7509 14.8687 13.6135C14.6935 13.4887 14.5936 13.3168 14.569 13.0978C14.5438 12.8794 14.5873 12.6763 14.6995 12.4885C14.8747 12.1885 15.028 11.8792 15.1594 11.5606C15.2902 11.2414 15.3994 10.9132 15.487 10.576C15.5494 10.3636 15.6682 10.1887 15.8434 10.0513Z" fill="url(#paint0_linear_1129_37410)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_1129_37410" x1="0.749512" y1="8.91799" x2="17.0837" y2="8.91799" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F09819"/>
                                    <stop offset="1" stop-color="#EDDE5D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="giz-product-card__content--hovered__body">
                        </div>
                        <div class="giz-product-card__content--hovered__footer">
                            <Button Color="ButtonColors.Accent" Size="ButtonSizes.Medium" IsFullWidth="true" @onclick="@(() => AddProduct())">Add to cart</Button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>