@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-shop-quantity-picker">
    <button class="giz-decrease-btn" @onclick="RemoveQuantity">-</button>
    <span>@Quantity</span>
    <button class="giz-increase-btn" @onclick="AddQuantity">+</button>
</div>
