@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="quick-launcher">
    <QuickLauncherSwitch SelectedTabIndex="@ViewState.SelectedTabIndex" SelectedTabIndexChanged="@SelectedTabIndexChanged" />
    @if (ViewState.SelectedTabIndex == 0)
    {
        <QuickLauncherQuickLaunch />
    }
    else
    {
        <QuickLauncherFavorites />
    }
</div>