@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components

<div class="quick-launcher">
    <QuickLauncherSwitch />
    <GizDock>
        @foreach (var item in QuickLaunchService.ViewState.Executables.Take(10))
        {
            <GizDockItem Executable="@item" />
        }
    </GizDock>
</div>