@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<ButtonGroup Class="quick-launcher-switch" SelectedItemsChanged="@SelectTab">
    <Button Name="QuickLaunch" IsSelected="@(_selectedTabIndex == 0)">
        <Icon Size="IconSizes.Small" SVGIcon="Icons.Rocket_Client" />
    </Button>
    <Button Name="Recent" IsSelected="@(_selectedTabIndex == 1)">
        <Icon Size="IconSizes.Small" SVGIcon="Icons.History_Client" />
    </Button>
</ButtonGroup>