@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="@Class @ClassName">
    <div class="giz-toast__icon">
        @switch (AlertType)
        {
            case AlertTypes.Success:

                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.6 11.8L6.425 9.625C6.24167 9.44167 6.01667 9.35 5.75 9.35C5.48333 9.35 5.25 9.45 5.05 9.65C4.86667 9.83333 4.775 10.0667 4.775 10.35C4.775 10.6333 4.86667 10.8667 5.05 11.05L7.9 13.9C8.08333 14.0833 8.31667 14.175 8.6 14.175C8.88333 14.175 9.11667 14.0833 9.3 13.9L14.975 8.225C15.1583 8.04167 15.25 7.81667 15.25 7.55C15.25 7.28333 15.15 7.05 14.95 6.85C14.7667 6.66667 14.5333 6.575 14.25 6.575C13.9667 6.575 13.7333 6.66667 13.55 6.85L8.6 11.8ZM10 20C8.61667 20 7.31667 19.7373 6.1 19.212C4.88333 18.6873 3.825 17.975 2.925 17.075C2.025 16.175 1.31267 15.1167 0.788 13.9C0.262667 12.6833 0 11.3833 0 10C0 8.61667 0.262667 7.31667 0.788 6.1C1.31267 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.31233 6.1 0.787C7.31667 0.262333 8.61667 0 10 0C11.3833 0 12.6833 0.262333 13.9 0.787C15.1167 1.31233 16.175 2.025 17.075 2.925C17.975 3.825 18.6873 4.88333 19.212 6.1C19.7373 7.31667 20 8.61667 20 10C20 11.3833 19.7373 12.6833 19.212 13.9C18.6873 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6873 13.9 19.212C12.6833 19.7373 11.3833 20 10 20Z" fill="currentColor"/>
                </svg>

                break;

            case AlertTypes.Warning:

                <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.725 18C1.34167 18 1.05834 17.8333 0.875003 17.5C0.69167 17.1667 0.69167 16.8333 0.875003 16.5L10.125 0.5C10.3083 0.166667 10.6 0 11 0C11.4 0 11.6917 0.166667 11.875 0.5L21.125 16.5C21.3083 16.8333 21.3083 17.1667 21.125 17.5C20.9417 17.8333 20.6583 18 20.275 18H1.725ZM11 7C10.7167 7 10.4793 7.09567 10.288 7.287C10.096 7.479 10 7.71667 10 8V11C10 11.2833 10.096 11.5207 10.288 11.712C10.4793 11.904 10.7167 12 11 12C11.2833 12 11.521 11.904 11.713 11.712C11.9043 11.5207 12 11.2833 12 11V8C12 7.71667 11.9043 7.479 11.713 7.287C11.521 7.09567 11.2833 7 11 7ZM11 15C11.2833 15 11.521 14.904 11.713 14.712C11.9043 14.5207 12 14.2833 12 14C12 13.7167 11.9043 13.4793 11.713 13.288C11.521 13.096 11.2833 13 11 13C10.7167 13 10.4793 13.096 10.288 13.288C10.096 13.4793 10 13.7167 10 14C10 14.2833 10.096 14.5207 10.288 14.712C10.4793 14.904 10.7167 15 11 15Z" fill="currentColor"/>
                </svg>

                break;

            default:

                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 15C10.7833 15 11.021 14.904 11.213 14.712C11.4043 14.5207 11.5 14.2833 11.5 14V9.975C11.5 9.69167 11.4043 9.45833 11.213 9.275C11.021 9.09167 10.7833 9 10.5 9C10.2167 9 9.97933 9.09567 9.788 9.287C9.596 9.479 9.5 9.71667 9.5 10V14.025C9.5 14.3083 9.596 14.5417 9.788 14.725C9.97933 14.9083 10.2167 15 10.5 15ZM10.5 7C10.7833 7 11.021 6.904 11.213 6.712C11.4043 6.52067 11.5 6.28333 11.5 6C11.5 5.71667 11.4043 5.479 11.213 5.287C11.021 5.09567 10.7833 5 10.5 5C10.2167 5 9.97933 5.09567 9.788 5.287C9.596 5.479 9.5 5.71667 9.5 6C9.5 6.28333 9.596 6.52067 9.788 6.712C9.97933 6.904 10.2167 7 10.5 7ZM10.5 20C9.11667 20 7.81667 19.7373 6.6 19.212C5.38333 18.6873 4.325 17.975 3.425 17.075C2.525 16.175 1.81267 15.1167 1.288 13.9C0.762667 12.6833 0.5 11.3833 0.5 10C0.5 8.61667 0.762667 7.31667 1.288 6.1C1.81267 4.88333 2.525 3.825 3.425 2.925C4.325 2.025 5.38333 1.31233 6.6 0.787C7.81667 0.262333 9.11667 0 10.5 0C11.8833 0 13.1833 0.262333 14.4 0.787C15.6167 1.31233 16.675 2.025 17.575 2.925C18.475 3.825 19.1873 4.88333 19.712 6.1C20.2373 7.31667 20.5 8.61667 20.5 10C20.5 11.3833 20.2373 12.6833 19.712 13.9C19.1873 15.1167 18.475 16.175 17.575 17.075C16.675 17.975 15.6167 18.6873 14.4 19.212C13.1833 19.7373 11.8833 20 10.5 20Z" fill="currentColor"/>
                </svg>

                break;
        }
    </div>
    <div class="giz-toast__body">
        <div class="giz-toast__body__title">
            @Title
        </div>
        <div class="giz-toast__body__text">
            @Text
        </div>
    </div>
    @if (CanClose)
    {
        <IconButton SVGIcon="Icons.Close_Client" Size="ButtonSizes.ExtraSmall" Class="close-btn" @onclick="OnCloseButtonClickHandler" />
    }
</div>