//============= Login Agreement ===============//
.giz-user-agreement {
    font-family:$font-family-open-sans;
    font-weight: $font-weight-400;
    font-size: 14px;
    line-height: $line-height-21;
    letter-spacing: $letter-spacing-1;
    color: #FEFEFF;
    height: 427px;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
        width:0.25rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #303D4E;
        border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #CAD4E2;
        border-radius: 10px;
    }


    &--heading {
        font-weight: $font-weight-700;
        color: $white-color;
    }
}
