//============= Login Agreement ===============//
.giz-user-agreement {
    font-family: $font-family-open-sans;
    font-weight: $font-weight-400;
    font-size: $font-14;
    line-height: $line-height-21;
    letter-spacing: $letter-spacing-1;
    color: $milky-white;
    height: 24.555rem;
    overflow-y: auto;
    //== custom scroll bar
    /* width */
    &::-webkit-scrollbar {
        width: 0.25rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $border-dark-color;
        border-radius: $rounded-xl;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $gray-nickel;
        border-radius: $rounded-xl;
    }

    &--heading {
        font-weight: $font-weight-700;
        color: $white-color;
    }
}
