//============= app carousel style ===============//
.giz-carousel {
    display: $display-grid;
    grid-template-columns: max-content max-content;
    justify-content: $justify-space-between;

    .heading-title {
        @include font-18;
    }

    svg {
        fill: $white-color;
        fill-opacity: 0.35;
        cursor: $cursor-pointer;

        &.active {
            fill-opacity: 1 !important;
        }
    }
}
