//============= Apps Card style ===============//
.giz-apps-card {
    font-size: $font-16;
    line-height: $line-height-20;
    word-break: break-word;

    &--overlay {
        position: $position-relative;

        .giz-btn-primary {
            display: $display-none;
            padding: 0.813rem;
        }

        img {
            border-radius: $rounded;
            width: -moz-available;
            width: -webkit-fill-available;
        }

        .giz-heart {
            position: $position-absolute;
            top: 16px;
            right: 27px;
            display: $display-none;
            cursor: $cursor-pointer;
        }

        .giz-like {
            position: $position-absolute;
            top: 11px;
            left: 27px;
            display: $display-none;
            cursor: $cursor-pointer;

            button {
                background: $black-pearl;
                opacity: 0.8;
                @include font-12;
                @include open-sans-600;
                padding: 0.325rem;
                border-radius: $rounded;
            }
        }

        .giz-store {
            position: $position-absolute;
            top: 11px;
            left: 27px;
            cursor: $cursor-pointer;
            display: $display-none;

            svg {
                fill: $white-color !important;
            }

            &:hover .giz-tooltip-text {
                visibility: $visibility-visible !important;
            }

            a {
                color: $white-color;

                .giz-tooltip-text {
                    visibility: $visibility-invisible;
                    width: 9.25rem;
                    background-color: $dark-black-pearl;
                    text-align: $text-align-center;
                    border-radius: $rounded;
                    padding: 0.438rem 0.563rem;
                    position: $position-absolute;
                    z-index: 1;
                    bottom: 120%;
                    left: 50%;
                    margin-left: -74px;
                    white-space: $nowrap-white-space;
                    @include font-12;
                    @include open-sans-600;
                    letter-spacing: -0.025em;

                    &::after {
                        content: "";
                        position: $position-absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: $dark-black-pearl transparent transparent transparent;
                    }
                }
            }
        }

        .giz-summary {
            position: $position-absolute;
            bottom: 13px;
            @extend .giz-card-text;
            width: $width-full;
            display: $display-none;

            &--time {
                display: $display-flex;
                justify-content: $justify-space-around;
            }

            .giz-bottom-line {
                position: $position-relative;
                margin-bottom: 0.75rem;

                &::after {
                    content: "";
                    border-bottom: 1px solid $border-dim;
                    width: 76%;
                    bottom: -6px;
                    position: $position-absolute;
                }
            }
        }

        .giz-playing {
            position: $position-absolute;
            bottom: 13px;
            width: $width-full;
            display: $display-flex;
            justify-content: $justify-space-around;

            &--text {
                @include font-12;
                @include open-sans-600;
                letter-spacing: $letter-spacing-2;

                .giz-playing-indicator {
                    height: 0.5rem;
                    width: 0.5rem;
                    background: $danger-light;
                    border-radius: $rounded-circle;
                    margin-right: 0.188rem;
                    display: $display-inline-block;
                }
            }

            &--count {
                @include font-12;
                text-shadow: $text-shadow-sm;
                font-weight: $font-weight-400;
            }
        }

        .giz-offer {
            @extend .giz-playing;

            &--text {
                @extend .giz-playing--text;
            }

            &--score {
                @extend .giz-playing--count;
                font-weight: $font-weight-700;
                color: $primary-color;

                svg {
                    vertical-align: baseline;
                }
            }
        }
    }

    .active {

        .giz-apps-card--overlay {

            .giz-btn-primary {
                @include align-center;
                width: 76%;
                display: $display-block !important;

                + svg {
                    fill: $white-color;
                }
            }

            .giz-img-top::after {
                content: "";
                position: $position-absolute;
                top: 0;
                left: 0;
                width: $width-full;
                height: $height-full;
                background: linear-gradient(180deg, rgba(4, 5, 6, 0.45) 0%, rgba(4, 5, 6, 0.9) 91.51%);
                border-radius: $rounded-sm;
            }

            .giz-heart {
                display: $display-block !important;
            }

            .giz-like {
                /* display: $display-block !important;*/

                svg {
                    fill: none;
                    margin-right: 0.25rem;
                }
            }

            .giz-store {
                display: $display-block !important;
            }
        }

        .giz-card-text--rating {
            visibility: $visibility-visible !important;
        }

        svg:not(.inactive) {
            fill: $primary-color;
        }

        .giz-summary {
            /*display: $display-block !important;*/
        }
    }

    .giz-card-title {
        @include open-sans-600;
    }

    .giz-card-text {
        font-size: $font-12;
        line-height: $line-height-12;
        letter-spacing: $letter-spacing-2;
        @include open-sans-600;

        span {
            color: $light-blue;
            letter-spacing: normal;
            font-weight: $font-weight-400;
            font-family: $font-family;
        }

        svg {
            fill: $white-color;
        }

        &--rating {
            margin-left: 0.625rem;
            color: $white-color;
            visibility: $visibility-invisible;
        }

        .inactive {
            fill: $melrose-color;
        }
    }
}
