//============= Apps and Games Style ===============//
.giz-categories {

    .giz-user-site-menu {

        &--items {

            .active {
                border: 1px solid $black-color;
            }
        }
    }

    .giz-filter {

        &--heading {
            display: $display-flex;
            justify-content: $justify-space-between;
            @include open-sans-600;
            font-size: $font-15;
            line-height: $line-height-19;
            letter-spacing: $letter-spacing-5;
            padding: 3.125rem 0 2.5rem;
        }

        .giz-card-wrapper {

            &:hover {

                .giz-sub-dropdown {
                    display: $display-block;

                    &--btn {
                        display: $display-block;
                    }
                }
            }

            .active {
                border-radius: $rounded-lg !important;

                &::before {
                    border-radius: $rounded-lg;
                }

                &::after {
                    border: none;
                }

                .giz-card--body {
                    border-radius: $rounded-sm 0px 0px $rounded-sm !important;
                    border-left: 3px solid $primary-dark;
                }

                & + .giz-sub-dropdown {
                    top: 18%;
                }
            }

            .giz-card {
                padding: 0.125rem 0;
                cursor: $cursor-pointer;

                &--body {
                    border-left: 3px solid $transparent-color;

                    .giz-card-text {
                        font-size: $font-17;
                        line-height: $line-height-21;
                    }
                }
            }
        }
    }
}

.giz-bar-wrapper {
    display: $display-flex;
    align-items: $align-center;
    justify-content: $justify-space-between;
    padding: 1rem 1.5rem;

    .giz-active-bar {
        list-style: $list-unstyled;
        display: $display-flex;
        align-items: $align-center;

        &--items {
            position: $position-relative;
            cursor: $cursor-pointer;
            margin-right: 1.625rem;

            &::before {
                content: "";
                position: $position-absolute;
                height: $height-full;
                width: $width-full;
                top: 0;
            }

            &:hover .giz-tooltip-text {
                visibility: $visibility-visible !important;
            }

            .giz-fill-text {
                width: 5.875rem !important;
                top: 57px !important;
                margin-left: -45px !important;
            }

            .giz-sub-dropdown--btn {
                display: $display-block;
            }

            .giz-tooltip-text {
                visibility: $visibility-invisible;
                width: 3.938rem;
                background-color: $dark-black-pearl;
                text-align: $text-align-center;
                border-radius: $rounded;
                padding: 0.313rem 0;
                position: $position-absolute;
                z-index: 1;
                top: 49px;
                left: 50%;
                margin-left: -34px;
                white-space: $nowrap-white-space;
                @include font-12;
                @include open-sans-600;
                letter-spacing: -0.025rem;
            }
        }
    }

    .giz-apps-bar {
        @extend .giz-active-bar;

        &--title {
            @include font-11;
            text-transform: $text-uppercase;
        }
    }
}