//============= App Modal ===============//
.giz-app-modal {
    @include align-center;
    border-radius: $rounded-xl;
    z-index: 1002;
    border: thin solid $border-silver-gray;
    background: $dark-color;
    overflow: $overflow-hidden;
    padding: 2.188rem;
    max-width: 40.75rem;

    &::before {
        position: $position-absolute;
        left: 0;
        bottom: 0;
        content: "";
        background: linear-gradient(to bottom, rgba(90, 94, 107, 0) 34%, rgba(37, 140, 246, 0.45) 333.62%);
        height: $height-full;
        width: $width-full;
    }

    &--container {
        display: $display-grid;
        grid-template-columns: min-content 3fr;
        grid-column-gap: 2.188rem;
        position: $position-relative;
    }

    .giz-app-brand {
        margin-bottom: 2.188rem;

        img {
            margin-bottom: 0.5rem;
        }

        &--info {
            display: $display-grid;
            grid-template-columns: 1fr 1fr;
            @include font-12;
            font-family: $font-family-open-sans;
            border-bottom: 1px solid $border-dark-color;
            padding: 0.563rem 0;

            &:last-child {
                border-bottom: none !important;
            }

            .giz-tooltip {
                position: $position-relative;
                display: $display-inline-block;
                cursor: pointer;

                &:hover .giz-tooltip-top {
                    visibility: $visibility-visible !important;
                }
            }

            .giz-tooltip-top {
                background-color: $dark-black-pearl;
                border-radius: $rounded;
                min-width: 200px;
                top: -7px;
                left: 50%;
                transform: translate(-50%, -100%);
                padding: 0.625rem 1.25rem;
                z-index: 99999999;
                visibility: $visibility-invisible;
                display: $display-block;
                position: $position-absolute;
                white-space: $nowrap-white-space;
                @include font-12;
                @include open-sans-600;
                letter-spacing: $letter-spacing-25;
                line-height: $line-height-21;
                text-align: $text-align-left;
                text-transform: $text-capitalize;

                &::after {
                    content: "";
                    position: $position-absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $dark-black-pearl transparent transparent transparent;
                }

                svg {
                    vertical-align: baseline;
                }
            }
        }

        &--title {
            letter-spacing: $letter-spacing-2;
            font-weight: $font-weight-600;
        }

        &--text {
            text-shadow: $text-shadow-sm;
            text-align: $text-align-right;
        }
    }

    &--heading {
        display: $display-flex;
        justify-content: $justify-space-between;
        align-content: $align-center;
        margin-bottom: 0.625rem;

        .giz-header-text {
            @include font-10;
        }

        .giz-terminate {
            background: inherit;
        }
    }

    &--title {
        font-size: $font-20;
        letter-spacing: $letter-spacing-10;
        line-height: $line-height-25;
        margin-bottom: 1.25rem;
    }

    .giz-app-rating {
        display: $display-inline-block;
        margin-bottom: 2.188rem;

        span {
            @include font-12;
            font-family: $font-family-open-sans;
        }
    }

    .giz-apps-tags {
        display: $display-flex;
        align-items: $align-center;
        margin-bottom: 0.938rem;

        .giz-selected-tag {
            color: $pastel-blue;
            margin-right: 0.188rem;
            padding: 0 0.25rem;
            text-align: $text-align-center;
            background: $dark-pastel-blue;
            border-radius: $rounded;
            font-family: $font-family-open-sans;
            font-size: $font-11;
            line-height: $line-height-20;
            letter-spacing: $letter-spacing-2;
        }

        @at-root .giz-add-tags {
            background: $light-navy-blue;
            border-radius: $rounded;
            font-size: $font-11;
            line-height: $line-height-20;
            letter-spacing: $letter-spacing-2;
            padding: 0 0.25rem;
            font-weight: $font-weight-400;

            &:hover .giz-tooltip-top {
                visibility: $visibility-visible !important;
            }

            .giz-tooltip-top {
                background-color: $dark-black-pearl;
                border-radius: $rounded;
                min-width: 150px;
                top: -7px;
                left: 50%;
                transform: translate(-50%, -100%);
                padding: 0.625rem 1.25rem;
                z-index: 99999999;
                visibility: $visibility-invisible;
                display: $display-block;
                position: $position-absolute;
                white-space: $nowrap-white-space;
                @include font-12;
                @include open-sans-600;
                letter-spacing: $letter-spacing-25;
                line-height: $line-height-21;
                text-align: $text-align-left;
                text-transform: $text-capitalize;

                &::after {
                    content: "";
                    position: $position-absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $dark-black-pearl transparent transparent transparent;
                }
            }
        }
    }

    .giz-modal--text {
        font-size: $font-13;
        line-height: $line-height-20;
        letter-spacing: $letter-spacing-1;
        font-family: $font-family-open-sans;
        margin-bottom: 2.5rem;
    }

    .giz-about-app {
        position: $position-relative;
        border-top: 1px solid $border-dark-color;
        padding-top: 2.188rem;

        .giz-modal-nav {
            display: $display-flex;
            align-items: $align-center;
            justify-content: $justify-space-between;
            margin-bottom: 1.125rem;

            &--navbar {
                list-style: none;
                display: $display-flex;
                align-items: $align-center;
            }

            &--items {
                @include font-11;
                text-transform: $text-uppercase;
                margin-right: 1rem;

                .active {
                    border-radius: 200px;
                    background: $info-color;
                    color: $white-color;
                }
            }

            &--links {
                color: $dim-white;
                padding: 0.5rem;
            }
        }

        .giz-cards {
            display: $display-grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 14px;
            height: 260px;
            overflow-y: scroll;
            overflow-x:hidden;

            //== custom scroll bar
            /* width */
            &::-webkit-scrollbar {
                width: 0.25rem;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                background: $border-dark-color;
                border-radius: $rounded-xl;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $gray-nickel;
                border-radius: $rounded-xl;
            }

            &--heading {
                font-weight: $font-weight-700;
                color: $white-color;
            }

            .giz-card-wrapper {

                .giz-user-action-btn {

                    .giz-progress-button {
                        padding: 13.5px 47px !important;
                    }
                }

                .giz-card {
                    min-height: 100%;
                    padding: 0.125rem 0;
                    cursor: $cursor-pointer;
                    margin: 0 !important;

                    &--body {
                        border-radius: $rounded-sm 0px 0px $rounded-sm !important;
                        display: grid;
                        border-left: 3px solid $transparent-color;
                        grid-gap: 17px;
                        grid-template-columns: auto 1fr;
                        width: 282px;
                        align-items: center;

                        .giz-app {
                              
                            &--name {
                                @include font-16;
                            }

                           &--title {
                                @include font-10;
                                margin-bottom: 0.625rem;

                                svg {
                                    margin-left: 0.625rem;
                                }
                            }
                        }

                        .giz-user-action-btn {
                            display: $display-none !important;
                        }
                    }
                }

                .active {
                    border-radius: $rounded-lg !important;

                    &::before {
                        border-radius: $rounded-lg;
                    }

                    &::after {
                        border: none;
                    }

                    .giz-card--body {
                        border-left: 3px solid $primary-dark !important;

                        .giz-user-action-btn {
                            display: $display-block !important;
                        }

                        .giz-app{
                            display:$display-none;
                        }
                    }
                }
            }
        }

        .giz-video-wrapper {
            display: $display-grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 2.188rem;

            .giz-card-wrapper {

                .active {
                    border-radius: $rounded-lg !important;

                    &::before {
                        border-radius: $rounded-lg;
                    }

                    &::after {
                        border: none;
                    }

                    .giz-card--body {
                        border-radius: $rounded-sm 0px 0px $rounded-sm !important;
                        border-left: 3px solid $primary-dark;
                    }
                }

                .giz-card {
                    padding: 0.125rem 0;
                    cursor: $cursor-pointer;
                    margin: 0 !important;

                    &--body {
                        border-left: 3px solid $transparent-color;

                        .giz-card-text {
                            font-size: $font-17;
                            line-height: $line-height-21;
                        }
                    }
                }
            }
        }

        .giz-modal-video {
            margin-bottom: 1rem;

            img {
                min-width: $width-full;
                margin-bottom: 1rem;
                border-radius: $rounded;
            }

            &--title {
                @include font-11;
                letter-spacing: $letter-spacing-24;
                text-transform: $text-uppercase;
                color: $blue-gray;
                text-shadow: $text-shadow-sm;
                margin-bottom: 0.5rem;
            }

            &--text {
                @include open-sans-600;
                font-size: $font-15;
                line-height: $line-height-19;
                letter-spacing: $letter-spacing-5;
            }
        }

        .giz-progress-wrapper {
            position: $position-relative;
            width: $width-full;

            .giz-progress {
                background: $border-dark-color;
                boarder-radius: $rounded-lg;

                &--bar {
                    background: $light-smokey-grey;
                }
            }
        }
    }
}
