//=============== Apps Card style ================//

.giz-apps-card {

    .active {

        .giz-apps-card--overlay {

            .card-primary-button {
                @include align-center;
                width: 76%;
                display: $display-block !important;

                + svg {
                    fill: $white-color;
                }
            }

            .giz-img-top::after {
                content: "";
                position: $position-absolute;
                top: 0;
                left: 0;
                width: $width-full;
                height: $height-full;
                background: linear-gradient(180deg, rgba(4, 5, 6, 0.45) 0%, rgba(4, 5, 6, 0.9) 91.51%);
                border-radius: $rounded-sm;
            }

            .giz-heart {
                display: $display-block !important;
            }

            .giz-like {
                /* display: $display-block !important;*/

                svg {
                    fill: none;
                    margin-right: 0.25rem;
                }
            }

            .giz-store {
                display: $display-block !important;
            }
        }

        .giz-card-text--rating {
            visibility: $visibility-visible !important;
            /*svg:not(.inactive) {
                fill: $primary-color;
            }*/
        }

        .giz-summary {
            /*display: $display-block !important;*/
        }
    }

}
