//=============== Application Card ================//

.giz-app-card {
    max-width: 190px;

    .giz-img-top {
        max-height: 271px;
    }

    &-title {
        @include open-sans-600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-text {
        font-size: $font-12;
        line-height: $line-height-12;
        letter-spacing: $letter-spacing-2;
        @include open-sans-600;

        .inactive {
            fill: $melrose-color;
        }

        .giz-playing-indicator {
            height: 0.5rem;
            width: 0.5rem;
            background: $danger-light;
            border-radius: $rounded-circle;
            margin-right: 0.188rem;
            display: $display-inline-block;
        }
    }

    &-count {
        @include font-12;
        text-shadow: $text-shadow-sm;
        font-weight: $font-weight-400;
    }

    &-rating {
        color: $light-blue;
        letter-spacing: normal;
        font-weight: $font-weight-400;
        font-family: $font-family;
        margin-left: 0.625rem;
    }
}
