//============= app navigation style ===============//
.giz-navigation {
    display: $display-grid;
    grid-template-columns: max-content max-content;
    justify-content: $justify-space-between;

    .giz-navigation-title {
        @include font-18;
    }
}
