//============= Apps and Games Style ===============//
.giz-categories {
    padding-right: 1.813rem;

    .giz-user-menu {
        border-radius: $rounded-lg;
        background: $dark-jungle;
        list-style: $list-unstyled;

        &--heading {
            border-bottom: 1px solid $border-color;
            margin-bottom: 0.688rem;
            padding: 1.25rem 0.625rem !important;
        }

        &--items {
            padding: 0 0.625rem 0.688rem 0.625rem;

            .active {
                background: $metalic-black;
                border: 1px solid $black-color;

                button {
                    background: $secondary-dark !important;
                    padding: 4px 6px;
                }
            }
        }

        &--links {
            display: grid;
            grid-template-columns: 1fr auto;
            @include open-sans-600;
            font-size: $font-17;
            line-height: $line-height-21;
            letter-spacing: $letter-spacing-5;
            background: $black-forest;
            border-radius: $rounded-lg;
            padding: 1rem;
            cursor: $cursor-pointer;
            color: $white-color;

            button {
                @include font-13;
                background: $black-russian;
                letter-spacing: $letter-spacing-2;
            }

            &:hover {
                background: $metalic-black;

                button {
                    background: $secondary-dark !important;
                    padding: 0.25rem 0.375rem;
                }
            }
        }
    }
}

