//============= Client UI Cards style ===============//
.giz-card-wrapper {
    position: $position-relative;

    .active {
        border-radius: 0px $rounded-lg $rounded-lg 0px !important;

        &::before {
            position: $position-absolute;
            content: "";
            top: 0;
            left: 0;
            background: linear-gradient(to right, rgba(44, 124, 244, 0.2) 0%, rgba(13, 16, 23, 0) 30%) !important;
            height: $height-full;
            width: $width-full;
        }

        &::after {
            position: $position-absolute;
            content: "";
            top: 0;
            left: 0;
            height: $height-full;
            width: $width-full;
            border-left: 3px solid $primary-dark;
        }
    }

    .giz-card {
        border-radius: $rounded-lg;
        margin-bottom: 0.625rem;
        background: $dark-jungle;
        box-shadow: $elevation-0;
        word-break: break-all;

        &--heading {

            img {
                width: $width-full;
                height: auto;
            }
        }

        &--body {
            padding: 1.25rem 1.188rem;

            .giz-card-title {
                text-transform: $text-uppercase;
                letter-spacing: $letter-spacing-24;
                color: $blue-gray;
                text-shadow: $text-shadow-sm;
                margin-bottom: $spacer-8;
                @include font-11;
            }

            .giz-card-text {
                color: $white-color;
                line-height: $line-height-19;
                @include open-sans-600;
                @include font-15;
            }

            .giz-card-footer-text {
                font-family: $font-family-open-sans;
                font-size: $font-13;
                line-height: $line-height-17;
                color: $dim-blue-gray;
                margin-top: $spacer-8;
            }
        }
    }
}

//== news card
.giz-news-card {
    background: $jet-black !important;
    box-shadow: $elevation-3;

    .giz-card--heading {

        a {
            &:hover + .giz-news-card-modal {
                visibility: visible;
                display: block;
            }
        }

        .giz-news-card-modal {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(22, 30, 37, 0.8) 0%, rgba(11, 17, 23, 0.9) 100%);
            backdrop-filter: blur(15px);
            z-index: 1001;


            .giz-card-wrapper {
                @include align-center;
                z-index: 1002;

                .giz-card {
                    border: 1px solid #343C47;
                    background: rgba(9, 11, 16, 0.55);
                    box-shadow: 0px 5px 10px rgba(8, 8, 13, 0.3);
                    backdrop-filter: blur(20px);
                    cursor: pointer;
                  width:629px;
                  margin-bottom:0;

                    &--heading {
                        text-align: center;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            border-bottom: 1px solid #343c47;
                            width: 100%;
                            bottom: 0;
                            left: 0;
                        }

                        .giz-modal-title {
                            @include font-10;
                            letter-spacing: 0.15em;
                            color: #8DA4CF;
                        }

                        .giz-modal-text {
                            @include font-20;
                            letter-spacing: $letter-spacing-2;
                            color: $white-color;
                        }
                    }

                    &--body {

                        img {
                            border-radius: 8px;
                            width: 100%
                        }
                    }
                }
            }
        }
    }
}

//== filter card
.giz-filter-card {
    border-radius: $rounded-lg;
    margin-bottom: 0.625rem;
    background: $dark-jungle;
    box-shadow: $elevation-0;
    word-break: break-all;
}

