//============= Client UI Cards style ===============//
.giz-card-wrapper {
    position: $position-relative;

    .active {
        border-radius: 0px $rounded-lg $rounded-lg 0px !important;
        position: $position-relative;
        z-index: 12;

        &::before {
            position: $position-absolute;
            content: "";
            top: 0;
            left: 0;
            background: linear-gradient(to right, rgba(44, 124, 244, 0.2) 0%, rgba(13, 16, 23, 0) 30%) !important;
            height: $height-full;
            width: $width-full;
        }

        &::after {
            position: $position-absolute;
            content: "";
            top: 0;
            left: 0;
            height: $height-full;
            width: $width-full;
            border-left: 3px solid $primary-dark;
        }
    }
}

//== filter card
.giz-filter-card {
    border-radius: $rounded-lg;
    margin-bottom: 0.625rem;
    background: $dark-jungle;
    box-shadow: $elevation-0;
    word-break: break-all;
}
