//============= Client UI Cards style ===============//
.giz-card-wrapper {
    position: $position-relative;

    .active {
        border-radius: 0px $rounded-lg $rounded-lg 0px !important;

        &::before {
            position: $position-absolute;
            content: "";
            top: 0;
            left: 0;
            background: linear-gradient(to right, rgba(44, 124, 244, 0.2) 0%, rgba(13, 16, 23, 0) 30%) !important;
            height: $height-full;
            width: $width-full;
        }

        &::after {
            position: $position-absolute;
            content: "";
            top: 0;
            left: 0;
            height: $height-full;
            width: $width-full;
            border-left: 3px solid $primary-dark;
        }
    }

    .giz-card {
        border-radius: $rounded-lg;
        margin-bottom: 0.625rem;
        background: $dark-jungle;
        box-shadow: $elevation-0;
        word-break: break-all;

        &--heading {

            img {
                width: $width-full;
                height: auto;
            }
        }

        &--body {
            padding: 1.25rem 1.188rem;

            .giz-card-title {
                text-transform: $text-uppercase;
                letter-spacing: $letter-spacing-24;
                color: $blue-gray;
                text-shadow: $text-shadow-sm;
                margin-bottom: $spacer-8;
                @include font-11;
            }

            .giz-card-text {
                color: $white-color;
                line-height: $line-height-19;
                @include open-sans-600;
                @include font-15;
            }

            .giz-card-footer-text {
                font-family: $font-family-open-sans;
                font-size: $font-13;
                line-height: $line-height-17;
                color: $dim-blue-gray;
                margin-top: $spacer-8;
            }
        }
    }
}

//== news card
.giz-news-card {
    background: $jet-black !important;
    box-shadow: $elevation-3;

    .giz-card--heading {

        a {
            &:hover + .giz-modal-wrapper {
                display: $display-block;
            }
        }
    }
}

//== filter card
.giz-filter-card {
    border-radius: $rounded-lg;
    margin-bottom: 0.625rem;
    background: $dark-jungle;
    box-shadow: $elevation-0;
    word-break: break-all;
}
