//============= Carousel Indicator ===============//

.giz-carousel-indicator {
    text-align: $text-align-center;
    margin: 0.625rem 0 1.25rem 0;

    &-btn {
        width: 2.25rem;
        height: 0.25rem;
        margin-right: 0.313rem;
        cursor: $cursor-pointer;
        border: $border-0;
        transition: opacity .6s ease;
        background: $gray-black;
        border-radius: $rounded;

        &.active {
            background: $primary-color;
        }


        &:hover:not(.active) {
            background-color: $gray-dim;
        }
    }

    .active {
        background: $primary-color;
    }
}
