//== daily news section common style ==//
main {
    padding: 72px 0px 0px 72px;

    #giz-news {

        .giz-daily-news {

            &--heading {

                span {
                    color: #4a5560;
                }

                svg {
                    fill: $white-color;
                    fill-opacity: 0.35;
                    cursor: $cursor-pointer;

                    &.active {
                        fill-opacity: 1 !important;
                    }
                }
            }

            .giz-card-carousel {
                background: #1B1D25 !important;
                box-shadow: $elevation-3;
            }

            .giz-card {
                border-radius: $rounded-lg;
                margin-bottom: 0.625rem;
                background:#0E1015;

                &--heading {

                    img {
                        width: $width-full;
                        height: auto;
                    }
                }

                &--body {
                    padding: 1.25rem 1.188rem;

                    .giz-card-title {
                        text-transform: $text-uppercase;
                        letter-spacing: $letter-spacing-24;
                        font-size: $font-11;
                        color: rgba(198, 216, 242, 0.55);
                        text-shadow: $text-shadow-sm;
                        margin-bottom: $spacer-8;
                        line-height: 100%;
                    }

                    .giz-card-text {
                        font-size: $font-15;
                        font-family: $font-family-open-sans;
                        color: $white-color;
                        font-weight: $font-weight-600;
                        letter-spacing: $letter-spacing-5;
                        line-height: 125%;
                    }
                }
            }

            .giz-carousel {
                display: $display-flex;
                justify-content: $justify-center;
                margin: 0.625rem 0 1.25rem 0;

                &--indicator {
                    width: 2.25rem;
                    height: 0.25rem;
                    margin-right: 0.313rem;
                    margin-left: 0.313rem;
                    cursor: $cursor-pointer;
                    border: $border-0;
                    transition: opacity .6s ease;
                    background: rgba(47, 50, 62, 0.9);
                    border-radius: $rounded;

                    &:hover:not(.active) {
                        background-color: #666A79;
                    }
                }

                .active {
                    background: $primary-color;
                }
            }
        }
    }
}
