//== daily news section common style ==//
main {
    padding: 72px 0px 0px 72px;

    #giz-news {

        .giz-daily-news {

            &--heading {

                span {
                    color: $slate-gray;
                }

                svg {
                    fill: $white-color;
                    fill-opacity: 0.35;
                    cursor: $cursor-pointer;

                    &.active {
                        fill-opacity: 1 !important;
                    }
                }
            }

            .giz-card-carousel {
                background: $jet-black !important;
                box-shadow: $elevation-3;
            }

            .giz-card {
                border-radius: $rounded-lg;
                margin-bottom: 0.625rem;
                background: $dark-jungle;
                position: $position-relative;

                &--heading {

                    img {
                        width: $width-full;
                        height: auto;
                    }
                }

                &--body {
                    padding: 1.25rem 1.188rem;

                    .giz-card-title {
                        text-transform: $text-uppercase;
                        letter-spacing: $letter-spacing-24;
                        font-size: $font-11;
                        color: $blue-gray;
                        text-shadow: $text-shadow-sm;
                        margin-bottom: $spacer-8;
                        line-height: $line-height-11;
                    }

                    .giz-card-text {
                        font-size: $font-15;
                        font-family: $font-family-open-sans;
                        color: $white-color;
                        font-weight: $font-weight-600;
                        letter-spacing: $letter-spacing-5;
                        line-height: $line-height-19;
                    }

                    .giz-card-footer-text {
                        font-family: $font-family-open-sans;
                        font-size: $font-13;
                        line-height: $line-height-17;
                        color: $dim-blue-gray;
                        margin-top: $spacer-8;
                    }

                    &.active {
                        border-left: 3px solid $primary-color;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        border-top-right-radius: 8px;
                        background: linear-gradient(to right, rgba(44, 124, 244, 0.2) 0%, rgba(13, 16, 23, 0) 50%);
                    }
                }
            }

            .giz-carousel {
                display: $display-flex;
                justify-content: $justify-center;
                margin: 0.625rem 0 1.25rem 0;

                &--indicator {
                    width: 2.25rem;
                    height: 0.25rem;
                    margin-right: 0.313rem;
                    margin-left: 0.313rem;
                    cursor: $cursor-pointer;
                    border: $border-0;
                    transition: opacity .6s ease;
                    background: $gray-black;
                    border-radius: $rounded;

                    &:hover:not(.active) {
                        background-color: $gray-dim;
                    }
                }

                .active {
                    background: $primary-color;
                }
            }
        }
    }
}
