//=============== Client Dialog ================//

.giz-client-dialog {

    &__header {
        text-align: $text-align-center;
        margin-bottom: 2.813rem;

        &__title {
            @include font-10($letter-spacing-15);
            color: $primary-light-color;
            letter-spacing: 0.15em;
        }

        &__text {
            @include font-20;
            color: $white-color;
            margin-top: 0.625rem;
            letter-spacing: -0.02em;
        }
    }

    &__body {
    }
}

.close-btn {
    position: absolute !important;
    top: 32px;
    right: 32px;
}