//=============== Client Dialog ================//

.giz-client-dialog {

    &-header {
        text-align: $text-align-center;
        margin-bottom: 2.813rem;

        &-title {
            @include font-10($letter-spacing-15);
            color: $primary-light-color;
            letter-spacing: 0.15em;
        }

        &-text {
            @include font-20;
            color: $white-color;
            margin-top: 0.625rem;
            letter-spacing: -0.02em;
        }
    }

    &-body {
    }
}