//=============== Dock ================//

.giz-dock {
    display: flex;

    &__body {
        display: grid;
        grid-auto-flow: column;
    }

    &-item {
        transition: transform 0.2s;
        padding: 15px;

        &.half-scaled {
            transform: scale(1.2);
        }

        &.scaled {
            transform: scale(1.6);
        }
    }
}