//=============== Executable Selector Dialog ================//

.giz-exe-selector-card {
    min-width: 556px;

    &-header {
        text-align: $text-align-center;
        margin-bottom: 2.813rem;

        &-title {
            @include font-10($letter-spacing-15);
            color: $primary-light-color;
        }

        &-text {
            @include font-20;
            color: $white-color;
            margin-top: 0.625rem;
        }
    }

    &-body {
    }
}