//============= Client UI favorite menu style ===============//
.giz-favorite-dropdown {
    position: $position-relative;

    &:hover .giz-dropdown-menu {
        display: $display-block !important;
    }

    .giz-dropdown-menu {
        top: 100%;
        min-width: 24.938rem;
        left: -73px;
        border-radius: $rounded-xl;
        display: $display-none;


        .giz-favorite-apps-wrapper {
            padding: 2rem 1.625rem;

            .giz-favorite-apps {
                list-style: $list-unstyled;
                display: $display-flex;
                align-items: $align-center;
                justify-content: $justify-space-between;

                &--items {
                    position: $position-relative;
                    cursor: $cursor-pointer;

                    &::before {
                        content: "";
                        position: $position-absolute;
                        height: $height-full;
                        width: $width-full;
                        top: 0;
                        background: #110c0c8a;
                    }

                    &:hover .giz-sub-dropdown {
                        display: $display-block !important;
                    }

                    &:hover .giz-text {
                        visibility: $visibility-visible !important;
                    }

                    .giz-fill-text {
                        width: 5.875rem !important;
                        top: 57px !important;
                        margin-left: -45px !important;
                    }

                    .giz-sub-dropdown--btn {
                        display: $display-block;
                    }

                    .giz-text {
                        visibility: $visibility-invisible;
                        width: 3.938rem;
                        background-color: $black-pearl;
                        opacity: 1;
                        text-align: $text-align-center;
                        border-radius: $rounded;
                        padding: 0.313rem 0;
                        position: $position-absolute;
                        z-index: 1;
                        top: 49px;
                        left: 50%;
                        margin-left: -34px;
                        white-space: $nowrap-white-space;
                        @include font-12;
                        @include open-sans-600;
                        letter-spacing: -0.025em;
                    }
                }
            }
        }
    }
}