//== Client UI global style ==//

body {
    background: url(https://i.postimg.cc/W1NXyBF8/Background-img.jpg) no-repeat fixed;
    background-size: cover;
}

main {

    .giz-container {
        display: $display-grid;
        grid-template-areas: 'section_5 section_5''section_1 section_2';
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr auto;
        padding: 74px 0px 0px 72px;

        .wrapper_1 {
            grid-area: section_1;
        }

        .wrapper_2 {
            grid-area: section_2;
        }

        .wrapper_5{
            grid-area:section_5;
        }

        .giz-main {
            display: $display-grid;
            grid-template-areas: 'section_3 section_4';
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr auto;

            .wrapper_3 {
                grid-area: section_3;
            }

            .wrapper_4 {
                grid-area: section_4;
            }
        }
    }
}

//== button

.client-button {
    border-radius: $rounded-sm;
    color: $white-color;
    font-weight: $font-weight-700;
    letter-spacing: $letter-spacing-24;
    border: $border-0;
    outline: $outline-0;
    text-align: $text-align-center;
    cursor: $cursor-pointer;
    font-family: $font-family-open-sans;
    text-transform: $text-uppercase;
    position: $position-relative;
    font-size: $font-13;
    line-height: $line-height-13;
}

.giz-btn-primary {
    @include btn-primary;
}

.giz-btn-info {
    @include btn-info;
}

.giz-btn-secondary {
    @include btn-secondary;
}

.giz-btn-secondary-light {
    @include btn-secondary-light;
}

.giz-btn-secondary-dark {
    @include btn-secondary-dark;
}

.giz-btn-dark-graylish {
    @include btn-dark-graylish;
}

.giz-btn-warning {
    @include btn-warning;
}

.giz-btn-danger {
    @include btn-danger;
}

.giz-btn-blue-violet {
    @include btn-blue-violet;
}

//=== responsive cards

.giz-wrapper {
    display: $display-grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: minmax(200px,1fr);
    grid-column-gap: 1.688rem;
    grid-row-gap: 1.875rem;
}

//== lists
.giz-menu-list {
    padding: 0.625rem;

    .giz-list-item {
        margin: 0.625rem 0;
        padding: 0.75rem;
        @include open-sans-600;

        &:first-child {
            margin: 0 0 0.625rem 0;
        }

        &:last-child {
            margin: 0.625rem 0 0 0;
        }

        .giz-search-number {
            @include font-13;
            letter-spacing: $letter-spacing-2;
            padding: 0.25rem 0.375rem;
            border-radius: $rounded-sm;
        }
    }

    &.giz-list--selectable {
        .giz-list-item {
            &:hover {
                .giz-search-number {
                    background: $secondary-dark;
                }
            }

            &.giz-list-item-selected {
                background: $metalic-black;
                color: $white-color;

                .giz-search-number {
                    background: $secondary-dark;
                }
            }
        }
    }
}

//============== media query==========//


//============ Media query for max width 1110px


@media only screen and (max-width: 1110px) {
    #giz-navbar {
        white-space: $nowrap-white-space;

        nav {

            .giz-nav-menu {
                flex-basis: 34%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }

    main {
        .giz-container {
            grid-template-areas: 'section_1 section_1' 'section_2 section_2';
        }
    }
}
