//== Client UI global style ==//

body {
    background: url(https://i.postimg.cc/W1NXyBF8/Background-img.jpg) no-repeat fixed;
    background-size: cover;

}

main {
    padding: 74px 0px 0px 72px;

    .giz-container {
        display: $display-grid;
        grid-template-areas: 'section_1 section_2';
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr auto;


        .wrapper_1 {
            grid-area: section_1;
        }

        .wrapper_2 {
            grid-area: section_2;
        }

        .giz-main {
            display: $display-grid;
            grid-template-areas: 'section_3 section_4';
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr auto;

            .wrapper_3 {
                grid-area: section_3;
            }

            .wrapper_4 {
                grid-area: section_4;
            }
        }
    }
}

//== button

button {
    border-radius: $rounded-sm;
    color: $white-color;
    font-weight: $font-weight-700;
    letter-spacing: $letter-spacing-24;
    border: $border-0;
    outline: $outline-0;
    text-align: $text-align-center;
    cursor: $cursor-pointer;
    font-family: $font-family-open-sans;
    text-transform: $text-uppercase;
    position: $position-relative;
    font-size: $font-13;
    line-height: $line-height-13;
}

.giz-btn-primary {
    @include btn-primary;
}

.giz-btn-info {
    @include btn-info;
}

.giz-btn-secondary {
    @include btn-secondary;
}

.giz-btn-secondary-light {
    @include btn-secondary-light;
}

.giz-btn-secondary-dark {
    @include btn-secondary-dark;
}

.giz-btn-dark-graylish {
    @include btn-dark-graylish;
}

//=== responsive cards

.giz-wrapper {
    display: $display-grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: minmax(200px,1fr);
    grid-column-gap: 1.688rem;
    grid-row-gap: 1.875rem;
}

//============== media query==========//


//============ Media query for max width 1110px


@media only screen and (max-width: 1110px) {
    #giz-navbar {
        white-space: $nowrap-white-space;
        nav {

            .giz-nav-menu {
                flex-basis: 34%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }

    main {
        .giz-container {
            grid-template-areas: 'section_1 section_1' 
                'section_2 section_2';
        }
    }
}