//== Client UI global style ==//

//== button

button {
    border-radius: $rounded-sm;
    color: $white-color;
    font-weight: $font-weight-700;
    letter-spacing: $letter-spacing-24;
    border: $border-0;
    outline: $outline-0;
    text-align: $text-align-center;
    cursor: $cursor-pointer;
    font-family: $font-family-open-sans;
    text-transform: $text-uppercase;
}

.giz-btn-primary {
@include btn-primary;
}

.giz-btn-info {
    @include btn-info;
}

.giz-btn-secondary {
    @include btn-secondary;
}