//== header section common style == //

//== nav bar

#giz-navbar {
    position: $position-fixed;
    width: $width-full;
    z-index: 1000;
    border-bottom: 1px solid $border-color;

    nav {
        display: $display-flex;
        align-items: $align-center;
        background-color: $dark-light-color;
        backdrop-filter: blur(20px);

        .giz-navbar-brand {
            margin: $spacer-0 1.375rem;
        }

        .giz-nav-container {
            display: $display-flex;
            justify-content: $justify-space-between;
            flex-basis: 100%;

            .giz-nav-menu {
                display: $display-flex;
                align-items: $align-center;
                list-style: $list-unstyled;

                &--item {

                    form {
                        position: $position-relative;

                        input {
                            color: $dim-white;
                            text-shadow: $text-shadow-sm;
                            background-color: $dark-light-color;
                            box-sizing: initial;
                            border: $border-0;
                            outline: $outline-0;
                            padding: 0.625rem 2.25rem;
                            font-size: $font-13;
                            line-height: $line-height-13;
                            width: $width-full;
                            border-radius: $rounded;
                        }

                        svg {
                            position: $position-absolute;
                            top: 8px;
                            left: 8px;
                        }
                    }
                }
            }

            .giz-menu {
                list-style: $list-unstyled;
                display: $display-flex;
                justify-content: $justify-center;

                &--item:last-child {
                    padding: 0.875rem 1.375rem;


                    svg {
                        margin-right: 0.625rem;
                    }
                }

                .active {
                    background: linear-gradient(to right, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
                }

                .giz-active-apps {

                    .giz-dropdown-overlay {
                        position: $position-fixed;
                        width: $width-full;
                        height: $viewport-height;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $black-pearl;
                        z-index: 2;

                        .giz-dropdown-menu {
                            width: 24rem;
                            display: block;
                            top: 0;
                            right: 0;
                            z-index: 22;
                            height: $viewport-height;
                            background: linear-gradient( 180deg, rgba(9, 11, 16, 0.6)0%, rgba(44, 48, 63, 0.4)75%, rgba(37, 140, 246, 0.45)148%);

                            &--header {
                                text-align: $text-align-center;
                                padding: 47px 0;
                                border-bottom: 1px solid $border-cinder-color;

                                .giz-title {
                                    color: $primary-light-color;
                                    letter-spacing: $letter-spacing-15;
                                    margin-bottom: 15px;
                                    box-shadow: $elevation-0;
                                }

                                .giz-heading {
                                    font-size: $font-20;
                                    line-height: $line-height-20;
                                    letter-spacing: $letter-spacing-2;
                                }
                            }
                        }
                    }

                    .active {
                        position: $position-relative;

                        &::before {
                            background: linear-gradient(to right, rgba(44, 124, 244, 0.2) 0%, rgba(13, 16, 23, 0) 30%);
                            border-left: 2px solid $primary-color;
                            position: $position-absolute;
                            left: 0;
                            height: $height-full;
                            content: "";
                        }

                        .giz-dropdown-menu--content {
                            word-break: break-all;
                        }

                        .giz-user-action-btn {
                            display: $display-block !important;
                        }
                    }

                    .giz-dropdown-menu--apps {
                        display: $display-grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: $align-center;
                        border-bottom: 1px solid $border-cinder-color;
                        padding: 1.625rem 1.5rem;

                        .giz-user-action-btn {
                            justify-self: right;
                            display: $display-none;

                            button {
                                @include btn-style;

                                svg {
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .giz-dropdown-menu--content {

                        img {
                            margin-right: 1rem;
                        }
                    }
                }

                .giz-user-profile {
                    position: $position-relative;

                    .giz-dropdown-menu {
                        top: 100%;
                        left: -22px;

                        &--header {
                            display: $display-grid;
                            grid-template-columns: 1fr 1fr;
                            padding: 1.438rem;
                        }

                        .giz-dropdwon-menu--body {
                            border-top: 1px solid $border-color;
                        }
                    }
                }

                &--item {
                    border-left: 1px solid $border-light-color;
                    display: $display-flex;
                    align-items: $align-center;

                    &:hover:not(.active) {
                        background: $dim-light;
                    }
                }

                &--link {
                    @include font-11;
                    color: $white-color;
                    display: $display-inline-block;
                    padding: 1.25rem 1.375rem;

                    svg {
                        margin-right: 0.625rem;
                    }

                    .giz-notifications {
                        margin: $spacer-0;
                        vertical-align: super;
                    }

                    .active {
                        background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
                    }
                }

                &--avtar {
                    display: $display-flex;

                    .giz-about-user {
                        color: $dim-white;
                        font-size: $font-11;
                        line-height: $line-height-11;

                        &--user {
                            @include font-16;
                            margin-top: 0.375rem;
                        }
                    }

                    .giz-btn-primary {
                        margin-left: 0.75rem;
                        padding: 0.688rem;
                        font-size: $font-15;
                        line-height: $line-height-15;

                        + svg {
                            margin-left: 1.375rem;
                            margin-right: $spacer-0;
                            align-self: $align-self-center;
                            cursor: $cursor-pointer;

                            &:hover + .giz-dropdown-menu {
                                display: $display-block !important;
                            }
                        }
                    }
                }
                //== dropdown menu

                .giz-dropdown-menu {
                    background: $dark-jungle;
                    box-shadow: $elevation-4;
                    backdrop-filter: blur(20px);
                    width: 17.25rem;
                    position: $position-absolute;
                    border: 1px solid $border-color;
                    min-width: 10rem;
                    display: $display-none;

                    .giz-title {
                        text-transform: $text-uppercase;
                        color: $dim-white;
                        text-shadow: $text-shadow-sm;
                        margin-bottom: 0.375rem;
                        font-weight: normal;
                        font-family: $font-family;
                        @include font-10;
                    }

                    &--content {
                        display: $display-flex;
                        align-items: $align-center;

                        .giz-svg {
                            position: $position-relative;

                            &::after {
                                content: "";
                                position: $position-absolute;
                                border-left: 1px solid $border-black-color;
                                top: 50%;
                                left: 0;
                                height: $height-full;
                                transform: translate(-50%,-50%);
                                -ms-transform: translate(-50%, -50%);
                                width: $width-full;
                            }
                        }
                    }


                    &--text {
                        @include font-16;
                        @include open-sans-600;
                    }

                    &--carousel {
                        text-transform: $text-uppercase;
                        color: $dim-white;
                        text-shadow: $text-shadow-sm;
                        display: $display-flex;
                        align-items: $align-center;
                        justify-content: $justify-space-between;
                        margin-bottom: 0.813rem;
                        padding: 1.438rem 1.438rem 0 1.438rem;
                        @include font-10;

                        svg {
                            fill: $white-color;
                            fill-opacity: 0.35;
                            cursor: $cursor-pointer;
                            background: inherit;

                            &.active {
                                fill-opacity: 1 !important;
                            }
                        }
                    }

                    &--timing {
                        font-family: $font-family-open-sans;
                        padding: 0 1.438rem 1.438rem 1.438rem;
                        border-bottom: 1px solid $border-dark-blue;

                        .giz-pack {
                            @include font-16;
                            @include open-sans-600;
                            margin-bottom: 1.25rem;
                        }

                        .giz-countdown {
                            font-weight: $font-weight-700;
                            line-height: $line-height-26;
                            letter-spacing: $letter-spacing-24;
                            font-size: $font-26;
                        }
                    }

                    &--wrapper {
                        background: linear-gradient(180deg, rgba(90, 94, 107, 0) 0%, rgba(37, 140, 246, 0.166) 84.37%);

                        button {
                            width: $width-full;
                            margin-left: $spacer-0;
                            @include btn-style;
                        }
                    }

                    &--user-links {
                        padding: 1.625rem 1.438rem;
                        border-bottom: 1px solid $border-nile-blue;

                        button {
                            margin-bottom: 0.625rem;

                            &:last-of-type {
                                margin-bottom: 0px !important;
                            }
                        }
                    }

                    &--logout {
                        padding: 1.625rem 1.438rem;
                    }
                }
            }
        }
    }
}
