//== header section common style == //

//== nav bar

#giz-navbar {
    position: $position-fixed;
    width: $width-full;
    z-index: 1000;
    border-bottom: 1px solid $border-color;
    height: 66px;

    nav {
        display: $display-flex;
        align-items: $align-center;
        background-color: $dark-light-color;
        backdrop-filter: blur(20px);

        .giz-navbar-brand {
            margin: $spacer-0 1.375rem;
        }

        .giz-nav-container {
            display: $display-flex;
            justify-content: $justify-space-between;
            flex-basis: 100%;

            .giz-nav-menu {
                display: $display-flex;
                align-items: $align-center;
                list-style: $list-unstyled;
            }

            .giz-menu {
                list-style: $list-unstyled;
                display: $display-flex;
                justify-content: $justify-center;

                &--item:last-child {
                    padding: 0.875rem 1.375rem;
                }

                .active {
                    background: linear-gradient(to right, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
                }

                .giz-user-profile {
                    position: $position-relative;

                    &:hover .giz-dropdown-menu {
                        display: $display-block !important;
                    }

                    .giz-dropdown-menu {
                        top: 100%;
                        left: -22px;

                        .giz-dropdown-menu--body {
                            border-top: 1px solid $border-color;
                        }
                    }
                }

                &--item {
                    border-left: 1px solid $border-light-color;
                    display: $display-flex;
                    align-items: $align-center;

                    &:hover:not(.active) {
                        //background: $dim-light;
                        background: linear-gradient(rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
                    }
                }

                &--link {
                    @include font-11;
                    color: $white-color;
                    display: inline-flex;
                    align-items: center;
                    padding: 1.25rem 1.375rem;
                    cursor: default;

                    .giz-notifications {
                        margin: $spacer-0;
                        vertical-align: super;
                    }

                    .active {
                        background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
                    }
                }

                &--avtar {
                    display: $display-flex;
                    align-items: center;
                    
                    .giz-about-user {
                        color: $dim-white;
                        font-size: $font-11;
                        line-height: $line-height-11;

                        &--user {
                            @include font-16;
                            margin-top: 0.375rem;
                        }
                    }

                    .giz-timer-btn {

                        .timer-button {
                            margin-left: 0.75rem;
                            padding: 0.688rem !important;
                            font-size: $font-15;
                            line-height: $line-height-15;
                            height: 37px !important;
                        }


                        + svg {
                            margin-left: 1.375rem;
                            margin-right: $spacer-0;
                            align-self: $align-self-center;
                            cursor: $cursor-pointer;
                        }
                    }
                }
            }
        }
    }
}
