//== input dropdown menu == //

.giz-input-dropdown{

.giz-dropdown-menu {
    width: 21rem;
    min-height: 26.625rem;
    border-radius: 0 0 $rounded-lg $rounded-lg;
    background: $jet-black;
    box-shadow: $elevation-5;
    border: $border-0;

    .giz-heading {
        @include font-10;
        letter-spacing: $letter-spacing-15;
        text-transform: $text-uppercase;
        color: $blue-gray;
        text-shadow: $text-shadow-sm;
        margin-bottom: 0.438rem;
    }

    .giz-search-menu {
        border-top: 1px solid $border-ship-gray;
        border-bottom: 1px solid $border-ship-gray;
        padding: 0.938rem 0.813rem;

        .giz-type {
            @include font-13;
            @include open-sans-600;
            letter-spacing: $letter-spacing-2;

            button {
                margin-left: 0.25rem;
            }

            .giz-text {
                margin-left: 0.5rem;
                color: $smokey-gray;
                pointer-events: none;

                + .giz-btn-secondary-light {
                    color: $smokey-gray;
                    pointer-events: none;
                }
            }
        }
    }

    .giz-animate {
        @include align-center;
        display: $display-none;

        svg {
            height: 3.125rem;
            width: 3.125rem;
        }
    }

    .giz-search-menu-container {
        padding: 0.875rem;

        .giz-search-wrapper {
            display: $display-grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.875rem;
        }

        .giz-apps-card {

            &--overlay {

                .giz-card-title {
                    @include align-center;
                    text-align: $text-align-center;

                    a {
                        font-size: $font-13;
                        color: $smokey-gray;
                        text-transform: none;
                    }
                }
            }
        }
    }
}

}
