//============= Client UI leaderboards style ===============//

.giz-leaderboard {
    padding-right: 1.625rem;



    .giz-user-site-menu {

        &--items {

            .active {
                .giz-user-site-menu--items {
                    border: none;
                }
            }

            .giz-csgo {
                background: url("https://i.postimg.cc/g07c8dSx/Csgo.png")no-repeat;
                background-size: cover;
            }

            .giz-fortnite {
                background: url("https://i.postimg.cc/YSvWZQ90/fortnitee.png")no-repeat;
                background-size: cover;
            }

            .giz-cod {
                background: url("https://i.postimg.cc/wBrhj0PD/Cod.png")no-repeat;
                background-size: cover;
            }

            .giz-log {
                background: url("https://i.postimg.cc/gkqR9YK9/log.png")no-repeat;
                background-size: cover;
            }

            .giz-pubg {
                background: url("https://i.postimg.cc/RVQCCh8R/pubg.png")no-repeat;
                background-size: cover;
            }
        }
    }
}

#giz-leaderboard-ranking {
    padding: 2.5rem 0 2.5rem 1.813rem;

    .giz-ranking-heading {
        @include open-sans-600;
        font-size: $font-20;
        line-height: $line-height-25;
        letter-spacing: $letter-spacing-5;
        margin-bottom: 1rem;
    }

    .giz-ranking-info {
        display: $display-flex;
        justify-content: $justify-space-between;
        align-items: $align-center;
        margin-bottom: 1.625rem;

        .giz-ranking-modes {
            list-style: $list-unstyled;

            &--items {
                display: $display-inline-block;
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0px;
                }

                .active {
                    background: $primary-color;
                    box-shadow: $elevation-1;
                    border-radius: $rounded-pill;
                }
            }


            &--link {
                @include font-11;
                color: $white-color;
                display: $display-block;
                text-transform: $text-uppercase;
                padding: 0.5rem;
            }
        }
    }

    .giz-rankig-wrapper {
        display: $display-flex;
        align-items: $align-center;

        .giz-regional-ranking {
            margin-left: 0.938rem;

            select {
                border: 1px solid $border-dark-color;
                border-radius: $rounded-5;
                @include open-sans-600;
                @include font-11;
                text-transform: $text-uppercase;
                color: $white-color;
                background: $transparent-color;
                padding: 0.5rem;

                &:focus-visible {
                    outline: none;
                }

                option {
                    background: $jet-black;
                }
            }
        }

        .giz__pagination {
            display: $display-flex;
            padding-left: 0;
            list-style: $list-unstyled;
            border: 1px solid $border-dark-color;
            border-radius: $rounded-5;
            margin-left: 0.938rem;

            &--items {
                border-right: 1px solid $border-dark-color;

                &:last-child {
                    border-right: none;
                }

                .active {
                    background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%);
                }
            }

            &--link {
                @include font-11;
                @include open-sans-600;
                text-transform: $text-uppercase;
                color: $white-color;
                padding: 0.688rem;
                display: $display-block;
            }
        }

        .giz-filter-btn {
            margin-left: 0.938rem;

            .giz-btn-info {
                padding: 0.625rem;
            }
        }
    }

    .table-wrapper {

        .giz-table-history {

            &--data {

                tr {

                    &:last-child {
                        border-bottom: 1px solid $border-dark-color;
                    }

                }

                td {

                    .giz-icon-arrow {
                        margin-left: 0.313rem;
                    }

                    .giz-flag-icon {
                        margin-right: 0.875rem;
                    }

                    .giz-stacked-progress {
                        margin-right: 0.313rem;
                    }
                }
            }
        }
    }

    .giz-loading-btn {
        margin-top: 1.25rem;
        text-align: $text-align-center;
    }
}
