//============= Client UI leaderboards style ===============//

#giz-leaderboard-ranking {
    padding: 2.813rem 2.688rem;

    .giz-ranking-heading {
        @include open-sans-600;
        font-size: $font-20;
        line-height: $line-height-25;
        letter-spacing: $letter-spacing-5;
        margin-bottom: 1rem;
    }

    .giz-ranking-info {
        display: $display-flex;
        justify-content: $justify-space-between;
        align-items: $align-center;
        margin-bottom: 1.625rem;
    }

    .giz-rankig-wrapper {
        display: $display-flex;
        align-items: $align-center;

        .giz-input-select {
            text-transform: $text-uppercase;

            input {
                text-transform: $text-uppercase;
            }

            .giz-input-root--outline {
                border: 1px solid $border-dark-color !important;

                &:focus-within {
                    border: 1px solid $border-dark-color !important;
                }
            }
        }

        .giz-button-group {
            margin-left: 0.938rem;
        }

        .giz-filter-btn {
            margin-left: 0.938rem;

            .giz-btn-info {
                padding: 0.625rem;
            }
        }
    }

    .giz-table-history {

        .giz-icon-arrow {
            margin-left: 0.313rem;
        }

        .giz-flag-icon {
            margin-right: 0.875rem;
        }

        .giz-stacked-progress {
            margin-right: 0.313rem;
        }
    }

    .giz-loading-btn {
        margin-top: 1.25rem;
        text-align: $text-align-center;
    }
}
