//============== Clien UI login ============//
.giz-login {
    background: url("https://i.postimg.cc/Znmrwx0d/login-img.png")no-repeat fixed;
    background-size: cover;
    padding: 30px 40px;
    height: 100vh;
    overflow-y: auto;

    &--heading {
        display: $display-flex;
        align-items: center;

        .giz-heading-text {
            font-size: 100px;
            line-height: 100px;
            flex-basis: 50%;
            text-align: end;
        }
    }

    &--wrapper {
        display: $display-flex;
        align-items: $align-center;
        justify-content: $justify-center;
        margin: 8.75rem 0;
    }

    .giz-login-content {
        min-width: 27.625rem;
        min-height: 38.688rem;
        background: $black-slate;
        backdrop-filter: blur(20px);
        border-radius: $rounded-xxl;

        &--heading {
            display: $display-flex;
            justify-content: $justify-space-between;
            align-items: $align-baseline;
            padding: 1.875rem 1.875rem 0px 1.875rem;

            .giz-language-menu {
                @include font-9;
                color: $light-blue-gray;
            }

            .giz-terminate {
                background-color: inherit;
            }
        }

        &--body {
            padding: 0 2.75rem 3.125rem 2.75rem;
            text-align: $text-align-center;

            .giz-login-btn {
                margin-bottom: 1.563rem;

                .giz-btn-primary {
                    border-radius: $rounded;
                    padding: 19.5px;
                    @include font-14;
                    font-weight: $font-weight-400;
                    font-family: $font-family;
                }
            }

            .giz-third-parties-login {
                @include font-9;
                color: $light-blue-gray;
            }

            .giz-social-icon {
                list-style: $list-unstyled;

                &--list {
                    height: 50px;
                    width: 50px;
                    line-height: 48px;
                    text-align: $text-align-center;
                    border-radius: $rounded-circle;
                    display: $display-inline-block;
                    background: $light-midnight-black;
                    border: 1px solid $border-steel-gray;
                    margin-top: 1rem;
                    margin-right: 0.813rem;
                }
            }

            input {
                background: $black-mirage-color;
                border: 1px solid $border-charcoal-gray;
                border-radius: $rounded;
                width: $width-full;
                padding: 1.063rem 1.125rem;
                color: $white-color;
                outline: none;

                &:focus {
                    background: $onyx-black;
                    border: 1px solid $border-heather-gray;
                }
            }

            input[type=text] {
                font-size: $font-16;
                line-height: $line-height-16;
                text-shadow: $text-shadow-sm;
            }

            input[type=password] {
                @include font-15;
            }
        }

        &--title {
            @include font-10;
            letter-spacing: $letter-spacing-15;
            color: $primary-light-color;
            margin-bottom: 1rem;
        }

        &--text {
            @include font-20;
            margin-bottom: 2.625rem;
        }


        &--footer {
            padding-top: 7.5rem;

            .giz-no-account {
                @include font-9;
                margin-bottom: 0.625rem;

                a {
                    color: $dark-blue-gray;
                }
            }

            .giz-footer-links {
                @include font-11;
                letter-spacing: $letter-spacing-10;
                text-transform: $text-uppercase;

                a {
                    color: $white-color;
                }
            }
        }
    }
}
