//============= Login Phone Number ===============//

.giz-mobile-number-input {
    display: $display-flex;
    justify-content: $justify-space-between;

    button {
        font-family: $font-family;
        letter-spacing: $letter-spacing-2;
        font-weight:$font-weight-400;
        border: 1px solid $border-charcoal-gray;

        span{
            vertical-align:middle;
            margin:0 0.375rem;
        }
    }
}

