//=============== Clien UI Login ================//

.giz-main-container {
    background: url('../img/bg-img-2.png')no-repeat fixed;
    background-size: cover;
    height: $viewport-height;
    overflow-y: auto;
    display: $display-flex;
    flex-direction: $flex-column;
    //== giz login nav

    .giz-nav {

        &--navbar {
            display: $display-flex;
            align-items: $align-center;
            list-style: $list-unstyled;
            padding: 1.875rem 2.5rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);

            .giz-nav-title {
                @include font-100;
                text-align: $text-align-right;
                flex-basis: 50%;
                font-family: $font-family-mark-pro;
            }
        }
    }
    //== giz login

    .giz-login {

        &--wrapper {
            display: $display-flex;
            justify-content: $justify-center;
        }

        .giz-login-content {

            &--body {

                .giz-btn {

                    button {
                        border-radius: $rounded;
                        padding: 1.219rem !important;
                        @include font-14;
                        font-weight: $font-weight-400;
                        font-family: $font-family;
                        letter-spacing: $letter-spacing-10;

                        svg {
                            stroke: $white-color;
                            vertical-align: text-top;
                        }
                    }
                }

                input[type=password] {
                    @include font-15;
                }
            }
        }
    }
    //== giz footer

    .giz-login-footer {
        padding: 1.875rem 2.5rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
        display: $display-flex;
        align-items: $align-center;
        margin-top: auto;
        justify-content: space-between;
        position: $position-relative;

        .giz-language-menu {
            position: $position-relative;

            button {
                border: 1px solid $border-oslo-gray;
                border-radius: $rounded-pill-37;
                font-family: $font-family;
                letter-spacing: $letter-spacing-2;
                font-weight: $font-weight-400;
                margin-right: 2.125rem;

                &:hover + .giz-sub-dropdown {
                    display: $display-block;
                }
            }

            .giz-sub-dropdown {
                background: $dark-jungle;
                bottom: 130%;
                top: auto;
                right: auto;
                left: 0;
                border-radius: $rounded-lg;
                margin-top: 0;
                overflow: $overflow-hidden;
                min-width: 8.813rem !important;

                &--item {
                    padding-left: 1rem;
                    padding-right: 1rem;
                    letter-spacing: $letter-spacing-1;

                    &:hover {
                        background: $black-mirage-light-color !important;
                    }

                    .giz-flag-icon {
                        margin-right: 0.875rem;
                        vertical-align: text-top;
                    }
                }

                &--link {
                    color: $white-color;
                    @include font-14;
                    font-weight: $font-weight-400;
                    font-family: $font-family;
                }
            }
        }

        .giz-server {
            display: $display-flex;
            align-items: $align-center;
            margin-right: 1.875rem;

            &--icon {
                position: $position-relative;
                margin-right: 0.75rem;
            }

            &--status {
                height: 5px;
                width: 5px;
                position: $position-absolute;
                top: 2px;
                background: $success-light-color;
                border-radius: $rounded-circle;
                right: 0px;
            }
        }

        .giz-version {

            &--title {
                @include font-9;
                color: $dim-white;
                margin-bottom: 0.313rem;
            }

            &--info {
                @include font-12;
                letter-spacing: $letter-spacing-2;
            }
        }

        .giz-keyboard-menu {

            button {
                font-family: $font-family;
                letter-spacing: $letter-spacing-2;
                font-weight: $font-weight-400;
                vertical-align: text-bottom;
            }
        }

        .giz-alert-message {
            @include alert-danger;
            @include align-center;
            width: 11.5rem;
            text-align: $text-align-center;
        }

        .giz-warning-message {
            @include alert-warning;
            @include align-center;
            width: 11.5rem;
            text-align: $text-align-center;
        }

        .giz-disable-message {
            @include alert-disable;
            @include align-center;
            width: 11.5rem;
            text-align: $text-align-center;
        }
    }
}

//== spinner

.giz-align-center {
    @include align-center;
    text-align: $text-align-center;
}

.giz-login-card {
    display: flex;
    flex-direction: column;
    min-height: 619px;
    width: 27.625rem;
    min-width: 27.625rem;
    background: opacify($dark-color, 0.31);
    backdrop-filter: blur(20px);
    border-radius: $rounded-xxl;
    position: $position-relative;
    overflow: $overflow-hidden;
    border: 1px solid $border-color;
    text-align: $text-align-center;

    &::after {
        content: "";
        position: $position-absolute;
        top: 0;
        height: 20%;
        width: $width-full;
        background: linear-gradient( 360deg, rgba(20, 22, 28, 0) 0%, rgba(66, 128, 250, 0.3) 100%);
        background-blend-mode: lighten;
        z-index: -1;
    }

    &::before {
        content: "";
        position: $position-absolute;
        top: 0;
        left: 44px;
        width: 79%;
        border-top: 3px solid $border-blue;
        border-left: 5px solid $transparent-color;
        border-right: 5px solid $transparent-color;
    }

    &-header {
        padding: 2rem 1.875rem 0 1.875rem;

        &-actions {
            display: flex;
            justify-content: space-between;

            .giz-terminate {
                background-color: inherit;
            }
        }

        &-title {
            @include font-10($letter-spacing-15);
            color: $primary-light-color;
            margin-bottom: 0.625rem;
        }

        &-text {
            @include font-20;
            margin-bottom: 2.875rem;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 2.5rem;
    }

    &-footer {
        margin-top: auto;
        padding-bottom: 3rem;

        .giz-no-account {
            @include font-9;
            margin-bottom: 0.625rem;
            color: $dark-blue-gray;
        }

        .giz-footer-links {
            @include font-11;
            letter-spacing: $letter-spacing-10;
            text-transform: $text-uppercase;
        }
    }
}

.giz-language-menu {

    button {
        font-family: $font-family;
        font-weight: $font-weight-400;
        @include font-9($line-height-9,$letter-spacing-2);
        color: $light-blue-gray;
        vertical-align: text-top;

        span {
            margin-left: 0.625rem;
            margin-right: 0.313rem;
            vertical-align: middle;
        }
    }
}

.giz-third-parties-login {

    &--text {
        @include font-9;
        color: $light-blue-gray;
        padding: 0 4.388rem;
    }
}

.giz-personalinfo-input {
    display: $display-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.75rem;
}

.giz-no-account {
    @include font-9;
    margin-bottom: 0.625rem;
    color: $dark-blue-gray;
}

.giz-footer-links {
    @include font-11;
    letter-spacing: $letter-spacing-10;
    text-transform: $text-uppercase;
}

.giz-login-status {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.giz-footer-text {
    @include font-9($line-height-14);
    color: $dark-blue-gray;
}

.giz-mobile-number-input {
    display: $display-flex;
    justify-content: $justify-space-between;

    button {
        font-family: $font-family;
        letter-spacing: $letter-spacing-2;
        font-weight: $font-weight-400;
        border: 1px solid $border-charcoal-gray;

        span {
            vertical-align: middle;
            margin: 0 0.375rem;
        }
    }
}

.giz-reserve-pin-input {
    display: $display-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.813rem;

    input {
        text-align: $text-align-center;
        /*background: $dim-midnight-black;*/
    }
}

.giz-user-agreement {
    font-family: $font-family-open-sans;
    font-weight: $font-weight-400;
    font-size: $font-14;
    line-height: $line-height-21;
    letter-spacing: $letter-spacing-1;
    color: $milky-white;
    height: 24.555rem;
    overflow-y: auto;

    &--heading {
        font-weight: $font-weight-700;
        color: $white-color;
    }
}

.giz-animate-spinner {

    &-title {
        @include font-10($letter-spacing-15);
        color: $primary-light-color;
    }

    &-text {
        @include font-20;
        letter-spacing: $letter-spacing-2;
    }
}
