//============= Login Reserve Pin ===============//

.giz-login-content--body {

    .giz-reserve-pin-input {
        display: $display-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.813rem;

        input {
            text-align: $text-align-center;
        }
    }
}
