//=============== Menu Active Apps ================//

.menu-active-apps {
    .giz-active-apps-drawer {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;
        overflow: hidden;

        &-header {
            text-align: $text-align-center;
            padding: 2.938rem 0;
            border-bottom: 1px solid $border-cinder-color;

            .giz-title {
                color: $primary-light-color;
                letter-spacing: $letter-spacing-15;
                margin-bottom: 0.938rem;
                box-shadow: $elevation-0;
            }

            .giz-heading {
                font-size: $font-20;
                line-height: $line-height-20;
                letter-spacing: $letter-spacing-2;
            }
        }

        &-body {
            overflow-y: auto;
        }
    }
}

.giz-active-app-card {

    &-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: $align-center;
        border-bottom: 1px solid $border-cinder-color;
        padding: 1.625rem 1.5rem;

        &-header {
            display: flex;
            align-items: $align-center;
            @include font-16;
            @include open-sans-600;

            &-title {
                color: $dim-white;
                text-shadow: $text-shadow-sm;
                margin-bottom: 0.375rem;
                font-weight: normal;
                font-family: $font-family;
                @include font-10;
            }

            .giz-icon {
                margin-right: 0.625rem;
            }

            img {
                margin-right: 1rem;
            }
        }

        &-actions {
            display: flex;
            justify-self: right;
        }
    }

    .giz-user-action-btn {
        justify-self: right;
        display: none;
    }

    &.active {
        .giz-active-app-card-body {
            position: relative;
            background: linear-gradient(to right, rgba(44, 124, 244, 0.2) 0%, rgba(13, 16, 23, 0) 30%) !important;

            &::before {
                border-left: 2px solid $primary-color;
                position: absolute;
                left: 0;
                height: $height-full;
                content: "";
            }
        }
    }
}