//=============== Menu Notifications ================//

.giz-notification-dropdown {
    position: $position-relative;

    &:hover .giz-dropdown-menu {
        display: $display-block;
    }

    .giz-dropdown-menu {
        top: 100%;
        left: -22px;
        background: $dark-jungle;
        box-shadow: $elevation-4;
        backdrop-filter: blur(20px);
        width: 17.25rem;
        position: $position-absolute;
        border: 1px solid $border-color;
        min-width: 10rem;
        display: $display-none;

        .giz-menu-notifications-container {

            &-wrapper {
                min-height: 24.188rem;
                position: $position-relative;

                .giz-menu-notification-default-item {
                    @include align-center;
                    padding: 1.375rem;
                    letter-spacing: $letter-spacing-24;
                    @include open-sans-600;
                    width: fit-content;
                    text-align: $text-align-center;

                    &-title {
                        font-size: $font-15;
                        line-height: $line-height-20;
                        margin-bottom: 1.25rem;
                    }

                    &-text {
                        font-size: $font-13;
                        line-height: $line-height-16;
                        color: $dull-blue;
                    }
                }
            }

            &-actions {
                padding: 1.375rem;
                border-top: 1px solid $border-nile-blue;
                text-align: $text-align-center;
                background: linear-gradient( 180deg, rgba(90, 94, 107, 0) 0%, rgba(37, 140, 246, 0.166) 84.37%);

                .giz-btn-info {
                    width: $width-full;
                }

                &-more {
                    cursor: pointer;
                    margin-top: 0.75rem;
                    font-size: $font-14;
                    letter-spacing: $letter-spacing-24;
                    color: $dull-blue;
                    font-family: $font-family-open-sans;
                    line-height: $line-height-17;
                }
            }
        }
    }
}

.giz-menu-notification-item {
    padding: 1.375rem;
    border-bottom: 1px solid $border-nile-blue;
    position: $position-relative;

    &:last-child {
        border-bottom: none;
    }

    &-title {
        @include font-14;
        @include open-sans-600;
        letter-spacing: $letter-spacing-24;
        line-height: $line-height-17;
    }

    &-icon {
        position: $position-absolute;
        right: 26px;
        top: 42px;

        svg {
            fill: $primary-color;
        }
    }

    &-info {
        @include font-10;
        text-shadow: $text-shadow-sm;
        margin-top: 1.25rem;

        span {
            cursor: pointer;
            color: $dim-white;
            margin-left: 0.75rem;
        }
    }
}
