//=============== Menu Favorites ================//

.giz-favorite-dropdown {
    position: $position-relative;

    &:hover .giz-dropdown-menu {
        display: $display-block !important;
    }

    .giz-dropdown-menu {
        top: 100%;
        left: -73px;
        border-radius: $rounded-xl;
        display: $display-none;
        background: $dark-jungle;
        box-shadow: $elevation-4;
        backdrop-filter: blur(20px);
        position: $position-absolute;
        border: 1px solid $border-color;

        .giz-favorite-apps-wrapper {
            padding: 1rem;

            .giz-favorite-apps {
                list-style: $list-unstyled;
                display: $display-flex;
                align-items: $align-center;
                justify-content: $justify-space-between;

                .giz-tooltip {
                    position: $position-relative;
                    transition: all .25s ease-out;
                    width: fit-content;

                    &::after {
                        content: attr(data-tooltip-text);
                        background-color: $dark-black-pearl;
                        text-align: $text-align-center;
                        border-radius: $rounded;
                        @include font-12;
                        @include open-sans-600;
                        letter-spacing: $letter-spacing-25;
                        white-space: $nowrap-white-space;
                        position: $position-absolute;
                        z-index: 555;
                        opacity: 0;
                        transition: all cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
                        pointer-events: none;
                        display: $display-flex;
                        align-items: $align-center;
                        padding: 0.281rem 0.375rem;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 0);
                        text-transform: $text-capitalize;
                    }

                    &:hover::after {
                        opacity: 1 !important;
                        transform: translate(-50%, calc(100% + 10px));
                    }
                }

                &--items {
                    cursor: $cursor-pointer;
                }
            }
        }
    }
}