//== Client UI mixin ==//

//== primary btn
@mixin btn-primary {
    background: $primary-color;
    box-shadow: $elevation-1;
    font-size: $font-13;
    line-height: $line-height-13;
    padding: 0.813rem;
}

//== info btn
@mixin btn-info {
    background: $info-color;
    font-size: $font-13;
    line-height: $line-height-13;
    padding: 0.813rem;
}

//== secondary btn
@mixin btn-secondary {
    background: $secondary-color;
    font-size: $font-13;
    line-height: $line-height-13;
    padding: 0.813rem;
}

