//== Client UI mixin ==//

//== primary btn
@mixin btn-primary {
    padding: 0.688rem;
    background: $primary-color;
    box-shadow: $elevation-1;
}

//== info btn
@mixin btn-info {
    padding: 0.813rem;
    background: $info-color;
}

//== secondary btn
@mixin btn-secondary {
    padding: 0.813rem;
    background: $secondary-color;
}

