//== new apps section common style ==//

#giz-apps {

    .giz-app-carousel {

        .giz-app-heading {
            @include font-18;
            margin-bottom: 1.188rem;
        }

        .giz-wrapper {
            display: $display-grid;
            grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
            grid-template-rows: minmax(200px,1fr);
            grid-column-gap: 1.688rem;
            grid-row-gap: 1.875rem;
        }
    }
}
