//============= News Feed Media Item Card ===============//

.giz-news-feed-media-item-card {
    /*background: $jet-black !important;
    box-shadow: $elevation-3;
    cursor: $cursor-pointer;*/

    &-header {

        img {
            width: $width-full;
            height: auto;
        }
    }

    &-body {
        padding: 1.25rem 1.188rem;

        &-title {
            text-transform: $text-uppercase;
            letter-spacing: $letter-spacing-24;
            color: $blue-gray;
            text-shadow: $text-shadow-sm;
            margin-bottom: $spacer-8;
            @include font-11;
        }

        &-text {
            color: $white-color;
            line-height: $line-height-19;
            @include open-sans-600;
            @include font-15;
        }
    }
}
