//== new apps section common style ==//

#giz-apps {
    .giz-app-carousel {

        &--heading {

            .heading-title {
                font-size: $font-18;
                letter-spacing: $letter-spacing-2;
            }

            svg {
                fill: $white-color;
                fill-opacity: 0.35;
                cursor: $cursor-pointer;

                &.active {
                    fill-opacity: 1 !important;
                }
            }
        }

        &--card {
            font-family: $font-family-open-sans;
            font-weight: $font-weight-600;
            line-height: $line-height-20;
            letter-spacing: $letter-spacing-5;

            .card-text {
                font-size: $font-12;
                line-height: $line-height-12;
                letter-spacing: $letter-spacing-2;

                span {
                    color: #C6C9D8;
                    letter-spacing:normal;
                }
            }
        }
    }
}