//== new apps section common style ==//

#giz-apps {

    .giz-app-carousel {

        &--heading {
            display: grid;
            grid-template-columns: max-content max-content;
            justify-content: space-between;

            .heading-title {
                font-size: $font-18;
                letter-spacing: $letter-spacing-2;
            }

            svg {
                fill: $white-color;
                fill-opacity: 0.35;
                cursor: $cursor-pointer;

                &.active {
                    fill-opacity: 1 !important;
                }
            }
        }

        .giz-card-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
            grid-template-rows: minmax(200px,1fr);
            grid-column-gap: 1.688rem;
            grid-row-gap: 0.875rem;
        }

        &--card {
            font-family: $font-family-open-sans;
            font-weight: $font-weight-600;
            line-height: $line-height-20;
            letter-spacing: $letter-spacing-5;

            .active {

                .giz-app-carousel--content {

                    .giz-btn {
                        position: $position-absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        padding: 13px 49px;
                        display: $display-block !important;
                    }

                    .giz-img-top::after {
                        content: "";
                        position: $position-absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: $height-full;
                        background: linear-gradient(180deg, rgba(4, 5, 6, 0.45) 0%, rgba(4, 5, 6, 0.9) 91.51%);
                    }

                    svg {
                        display: $display-block !important;
                    }
                }

                .giz-card-text--rating {
                    visibility: $visibility-visible !important;
                }

                svg:not(.inactive) {
                    fill: $primary-color !important;
                }

                .giz-summary {
                    display: $display-block !important;
                }
            }

            .giz-card-text {
                font-size: $font-12;
                line-height: $line-height-12;
                letter-spacing: $letter-spacing-2;

                span {
                    color: $light-blue;
                    letter-spacing: normal;
                }

                svg {
                    fill: $white-color;
                }

                &--rating {
                    margin-left: 0.625rem;
                    color: $white-color;
                    visibility: $visibility-invisible;
                }

                .inactive {
                    fill: $melrose-color;
                }
            }
        }

        &--content {
            position: $position-relative;
            cursor: $cursor-pointer;

            .giz-btn {
                display: $display-none;
            }

            img {
                border-radius: $rounded;
                width: -moz-available;
                width: -webkit-fill-available;
            }

            svg {
                position: $position-absolute;
                top: 16px;
                right: 16px;
                display: $display-none;
            }

            .giz-summary {
                position: $position-absolute;
                bottom: 13px;
                @extend .giz-card-text;
                width: 100%;
                display: $display-none;

                &--time {
                    display: $display-flex;
                    justify-content: $justify-space-around;
                }

                .giz-bottom-line {
                    position: relative;
                    margin-bottom: 12px;

                    &::after {
                        content: "";
                        border-bottom: 1px solid $border-dim;
                        content: "";
                        width: 76%;
                        bottom: -6px;
                        position: absolute;
                    }
                }
            }
        }
    }
}
