//============= news modal style ===============//

.giz-modal-wrapper {
    display: $display-none;
    position: $position-fixed;
    width: $width-full;
    height: $height-full;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(22, 30, 37, 0.8) 0%, rgba(11, 17, 23, 0.9) 100%);
    backdrop-filter: blur(15px);
    z-index: 1001;

    .giz-news-modal {
        @include align-center;
        border-radius: $rounded-xl;
        z-index: 1002;
        border: thin solid $border-silver-gray;
        background: $dark-color;
        box-shadow: $elevation-4;
        backdrop-filter: blur(20px);
        max-width: 39.313rem;
        min-width: 15.875rem;

        .giz-modal-header {
            text-align: $text-align-center;
            position: $position-relative;

            .giz-terminate {
                background: inherit;
                float: $float-right;
            }

            &::before {
                content: "";
                position: $position-absolute;
                border-bottom: 1px solid $border-silver-gray;
                width: $width-full;
                bottom: 0;
                left: 0;
            }

            &--title {
                @include font-10;
                letter-spacing: $letter-spacing-15;
                color: $primary-light-color;
            }

            &--text {
                @include font-20;
                letter-spacing: $letter-spacing-2;
                color: $white-color;
                margin-top: 0.625rem;
            }
        }

        .giz-modal-body {

            img {
                border-radius: $rounded-lg;
                width: $width-full;
            }

            &--title {
                text-transform: $text-uppercase;
                letter-spacing: $letter-spacing-24;
                color: $blue-gray;
                text-shadow: $text-shadow-sm;
                margin-bottom: $spacer-8;
                @include font-11;
            }

            &--text {
                color: $white-color;
                line-height: $line-height-25;
                @include open-sans-600;
                font-size: $font-20;
                letter-spacing: $letter-spacing-5;
            }

            &--footer-text {
                font-family: $font-family-open-sans;
                font-size: $font-14;
                line-height: $line-height-21;
                letter-spacing: $letter-spacing-1;
                color: $milky-white;
                margin-top: 1rem;
            }
        }
    }
}


