//============= Order modal ===============//

.giz-order-modal {
    position: $position-fixed;
    right: 28px;
    bottom: 40px;
    z-index: 1050;


    &--content {
        width: 385px;
        padding: 33px 29px;
        backdrop-filter: blur(20px);
        border-radius: $rounded-xl;
        background: linear-gradient( 180deg, rgba(90, 94, 107, 0) -12%, rgba(37, 140, 246, 0.45) 169%);
        position: $position-relative;
        border: 1px solid $border-color;
        overflow: hidden;

        &::before {
            content: "";
            background: $dark-color;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            top: 0;
            left: 0;
        }
    }

    &--header {
        display: $display-flex;
        justify-content: $justify-space-between;
        margin-bottom: 0.5rem;

        .giz-heading-text {
            @include font-10($letter-spacing-15);
            color: $primary-light-color;
        }

        .giz-terminate {
            background: inherit;
        }
    }

    &--title {
        @include font-18;
        letter-spacing: $letter-spacing-2;
        margin-bottom: 1.25rem;
    }

    &--text {
        font-size: $font-15;
        letter-spacing: $letter-spacing-24;
        line-height: $line-height-20;
        font-family: $font-family-open-sans;
    }
}
