//=============== Payment Method Selector Dialog ================//

.giz-payment-method-list {
    display: $display-grid;
    grid-auto-flow: column;
    grid-gap: 1.063rem;

    &-item {
        background: rgba(43, 59, 79, 0.19);
        border-radius: 3px;
        color: white;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background: rgba(43, 59, 79, 0.7);
        }

        &__title {
            font-family: $font-family-open-sans;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: -0.02em;
            margin-bottom: 0.25rem;
        }

        &__icon {
            .giz-icon {
                margin: 10px;
            }
        }
    }
}