//============= Progress button =========//
.giz-progress-button {
    border-radius: $rounded-sm;
    color: $white-color;
    font-weight: $font-weight-700;
    letter-spacing: $letter-spacing-24;
    border: $border-0;
    outline: $outline-0;
    text-align: $text-align-center;
    cursor: $cursor-pointer;
    font-family: $font-family-open-sans;
    text-transform: $text-uppercase;
    position: $position-relative;
    font-size: $font-13;
    line-height: $line-height-13;
    background: $primary-dim-color !important;
    padding: 0.813rem 2.188rem !important;

    &--inner {
        position: $position-absolute;
        height: $height-full;
        top: 0;
        left: 0;
        transition: width 0.3s;
        background: $primary-color;
        box-shadow: $elevation-1;
        border-radius: $rounded-sm;
    }

    &--text {
        position: $position-relative;
    }
}
