//== User profile page style ==//
#giz-user-info {
    padding-right: 1.625rem;

    .giz-user {

        &--avtar {
            margin-bottom: 1.1rem;
        }

        .giz-about-user {
            flex-direction: $flex-column;
            justify-content: $justify-start;
            margin-bottom: 0.938rem;
        }

        .giz-btn-wrapper {
            display: $display-grid;
            grid-template-columns: auto auto;
            grid-gap: 0.625rem;
            margin-bottom: 1.875rem;
        }
    }
}

