//== progress bar style ==//
.giz-progress-wrapper {
    @include font-13;
    @include open-sans-600;
    text-align: $text-align-center;
    text-transform: $text-uppercase;
    @include align-center;
    width: 80%;

    .giz-progress-text {
        margin-bottom: 0.25rem;
    }

    .giz-progress {
        height: 0.25rem;
        overflow: $visibility-invisible;
        background: $light-slate-gray;
        border-radius: $rounded;
        width: $width-full;

        &--bar {
            width: 0%;
            height: $height-full;
            background-color: $primary-color;
            border-color: $primary-color;
            -webkit-transition: width .6s ease;
            -o-transition: width .6s ease;
            transition: width .6s ease;
        }
    }
}
