//== User profile page style ==//
#giz-user-info {
    .giz-user {

        &--avtar {
            display: $display-flex;

            svg {
                margin-right: 32px;
            }
        }

        .giz-about-user {

            &--title {
                @include font-10;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.4);
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-bottom: 6px;
            }

            &--name {
            @include open-sans-600;
                font-size: $font-20;
                line-height: $line-height-25;
                /* or 25px */
                margin-bottom: 13px;
                letter-spacing: -0.005em;
            }

            &--detail {
                font-family: Open Sans;
                @include font-12;
            }
        }
    }
}
