//============= Product Card ===============//

.product-card {
    max-width: 190px;

    .giz-img-top {
        max-height: 271px;
    }

    .product-card-title {
        @include open-sans-600;
    }

    .product-card-text {
        font-size: $font-12;
        line-height: $line-height-12;
        letter-spacing: $letter-spacing-2;
        @include open-sans-600;

        svg {
            fill: $white-color;
        }

        .inactive {
            fill: $melrose-color;
        }
    }

    .product-card-points {
        @include font-12;
        text-shadow: $text-shadow-sm;
        font-weight: $font-weight-700;
        color: $primary-color;

        svg {
            vertical-align: baseline;
        }
    }
}
