//============= Progress button =========//
.giz-progress-button {
    @include btn-style;
    background: $primary-dim-color !important;
    padding-left: 2.188rem !important;
    padding-right: 2.188rem !important;

    &--inner {
        position: $position-absolute;
        height: $height-full;
        width: 30%;
        top: 0;
        left: 0;
        transition: width 0.3s;
        background: $primary-color;
        box-shadow: $elevation-1;
        border-radius: $rounded-sm;
    }

    &--text {
        position: $position-relative;
    }
}
