//============= Scrollbars ===============//

.giz-scrollbar-v {
    /* Track */
    &::-webkit-scrollbar-track {
        background: $border-dark-color;
        border-radius: $rounded-xl;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $gray-nickel;
        border-radius: $rounded-xl;
    }
    /* width */
    &::-webkit-scrollbar {
        width: 0.25rem;
    }
}

.giz-scrollbar-h {
    /* Track */
    &::-webkit-scrollbar-track {
        background: $border-dark-color;
        border-radius: $rounded-xl;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $gray-nickel;
        border-radius: $rounded-xl;
    }
    /* height */
    &::-webkit-scrollbar {
        height: 0.25rem;
    }
}
