//== shop section style == //
.giz-shop-categories {
    padding-right: 1.813rem;

    .giz-header-title {
        @include font-18;
        margin-bottom: 0.625rem;
    }

    .giz-category-menu {
        background: inherit;

        &--items {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.giz-shop-items {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;

    &--heading {
        @include font-18;
        margin-bottom: 20px;
    }

    &--sort {
        @include open-sans-600;
        font-size: $font-14;
        line-height: $line-height-17;
        letter-spacing: $letter-spacing-5;

        span {
            color: $dim-white;
            font-family: $font-family;
            font-weight:$font-weight-400;
        }
    }
}