//============= Client UI table style ===============//
.table-wrapper {
    overflow-x: auto;

    .giz-table-history {
        min-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        width: $width-full;

        td {
            padding: 1rem 1.875rem;
        }

        &--heading {
            @include font-10;
            text-transform: $text-uppercase;
            color: $dim-white;
            text-shadow: $text-shadow-sm;
        }

        &--data {

            td {
                @include open-sans-600;
                @include font-14;
                letter-spacing: $letter-spacing-24;
            }

            tr {
                border-top: 1px solid $border-dark-color;

                &:hover {
                    background: $crystal-light;
                }
            }
        }
    }
}