.action-button {
    /*display: $display-none;*/
    visibility: hidden;
    /*transition: visibility 0s linear;*/
}

.action-switch {
    position: relative;
}

.action-button .giz-button {
    transition: all 0s linear;
}

.action-label {
    /*display: $display-block;*/
    visibility: visible;
}

.action-row:hover .action-button {
    /*display: $display-block;*/
    visibility: visible;
}

.action-row:hover .action-label {
    /*display: $display-none;*/
    visibility: collapse;
}

.action-secondary {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.g-collapse {
    display: $display-none;

    &.g-collapse-expanded {
        display: $display-block;
    }
}

.g-divider {
    border: $display-none;
    height: 1px;
    margin: $spacer-0;
    flex-shrink: $flex-shrink-0;
    background-color: Gray;
}

.g-divider-flex {
    height: $overflow-auto;
    align-self: $align-self-stretch;
}

.g-divider-vertical {
    width: 1px;
    height: $height-full;
}
