//============= User dropdown menu style ===============//
.giz-dropdown-menu {
    background: $dark-jungle;
    box-shadow: $elevation-4;
    backdrop-filter: blur(20px);
    width: 17.25rem;
    position: $position-absolute;
    border: 1px solid $border-color;
    min-width: 10rem;
    display: $display-none;

    .giz-title {
        text-transform: $text-uppercase;
        color: $dim-white;
        text-shadow: $text-shadow-sm;
        margin-bottom: 0.375rem;
        font-weight: normal;
        font-family: $font-family;
        @include font-10;
    }

    &--content {
        display: $display-flex;
        align-items: $align-center;

        .giz-svg {
            position: $position-relative;

            &::after {
                content: "";
                position: $position-absolute;
                border-left: 1px solid $border-black-color;
                top: 50%;
                left: 0;
                height: $height-full;
                transform: translate(-50%,-50%);
                -ms-transform: translate(-50%, -50%);
                width: $width-full;
            }
        }
    }


    &--text {
        @include font-16;
        @include open-sans-600;
    }

    &--carousel {
        text-transform: $text-uppercase;
        color: $dim-white;
        text-shadow: $text-shadow-sm;
        display: $display-flex;
        align-items: $align-center;
        justify-content: $justify-space-between;
        margin-bottom: 0.813rem;
        padding: 1.438rem 1.438rem 0 1.438rem;
        @include font-10;

        svg {
            fill: $white-color;
            fill-opacity: 0.35;
            cursor: $cursor-pointer;
            background: inherit !important;

            &.active {
                fill-opacity: 1 !important;
            }
        }
    }

    &--timing {
        font-family: $font-family-open-sans;
        padding: 0 1.438rem 1.438rem 1.438rem;
        border-bottom: 1px solid $border-dark-blue;

        .giz-pack {
            @include font-16;
            @include open-sans-600;
            margin-bottom: 1.25rem;
        }

        .giz-countdown {
            font-weight: $font-weight-700;
            line-height: $line-height-26;
            letter-spacing: $letter-spacing-24;
            font-size: $font-26;
        }
    }

    &--wrapper {
        background: linear-gradient(180deg, rgba(90, 94, 107, 0) 0%, rgba(37, 140, 246, 0.166) 84.37%);

        button {
            width: $width-full;
            margin-left: $spacer-0 !important;
            @include btn-style;
        }
    }

    &--user-links {
        padding: 1.625rem 1.438rem;
        border-bottom: 1px solid $border-nile-blue;

        button {
            margin-bottom: 0.625rem;

            &:last-of-type {
                margin-bottom: 0px !important;
            }
        }
    }

    &--logout {
        padding: 1.625rem 1.438rem;
    }
}
