//=============== Client UI @import font family based on new theme pattern ================//

@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400%3b500%3b600%3b700%3b800&display=swap');

//=============== Client UI variable declare based on New theme pattern ================//

//===============  (variable declare based on root font-size 16px) ================//

//== font family

$font-family: 'Metrophobic', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;

//== common color

$primary-color: #258cf6;
$primary-dim-color: #264F79;
$primary-light-color: #8DA4CF;
$secondary-color: rgba(55, 74, 97, 0.4);
$secondary-light: rgba(46, 49, 58, 0.5);
$secondary-dark: rgba(46, 49, 58, 1);
$info-color: #153C7A;
$success-color: #25AE7D;
$dark-color: rgba(9, 11, 16, 0.5);
$dark-light-color: rgba(9, 11, 16, 0.1);
$dark-jungle: #0E1015;
$jet-black: #1B1D25;
$black-color: #000000;
$black-forest: #1A1D25;
$black-russian: #1B1E26;
$metalic-black: #23262F;
$dark-black-pearl: rgba(4, 5, 6, 1);
$black-pearl: rgba(4, 5, 6, 0.65);
$danger-color: #d1202b;
$white-color: #FFFFFF;
$dim-white: rgba(255, 255, 255, 0.6);
$light-color: rgba(176, 187, 203, 0.08);
$gray-color: rgba(44, 48, 63, 0.6);
$gray-light-color: rgba(196, 204, 217, 0.5);
$gray-dark: #c2c8d3;
$gray-dim: #666A79;
$slate-gray: #4a5560;
$smokey-gray: #697079;
$light-slate-gray: rgba(73, 76, 86, 1);
$blue-gray: rgba(198, 216, 242, 0.55);
$dull-blue: #6785AC;
$light-blue: #C6C9D8;
$light-gray: #D0D9E3;
$light-dim-gray-color: rgba(208, 217, 227, 0.4);
$melrose-color: rgba(191, 200, 236, 0.4);
$dim-blue-gray: #dee4fc99;
$dim-light: rgba(176, 187, 203, 0.04);
$gray-black: rgba(47, 50, 62, 0.9);
$midnight-color: rgba(39, 49, 57, 0.5);
$transparent-color: transparent;
$crystal-light: rgba(98, 123, 156, 0.05);
$border-color: #282B32;
$border-dark-color: #303D4E;
$border-light-color: #2a2f34;
$border-dim: rgba(192, 204, 234, 0.25);
$border-black-color: #242931;
$border-dark-blue: #2C3847;
$border-nile-blue: #263649;
$border-cinder-color: #262C34;
$border-bright-gray: #3C414A;
$border-black-gray: #2C303A;
$border-ship-gray: rgba(54, 63, 73, 0.75);

//== typography

//font size  (based on root font-size 16px)

$font-10:0.625rem;
$font-11:0.688rem;
$font-12: 0.75rem;
$font-13: 0.8125rem;
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-16: 1rem;
$font-17: 1.0625rem;
$font-18: 1.125rem;
$font-19: 1.1875rem;
$font-20: 1.25rem;
$font-21: 1.313rem;
$font-22: 1.375rem;
$font-23: 1.438rem;
$font-24: 1.5rem;
$font-25: 1.563rem;
$font-26: 1.625rem;

//letter-spacing
$letter-spacing-24: -0.015rem;
$letter-spacing-8: -0.08px;
$letter-spacing-2: -0.02rem;
$letter-spacing-5: -0.005rem;
$letter-spacing-15:0.015rem;

//line height  (based on root font-size 16px)
$line-height-10: 0.625rem;
$line-height-11: 0.688rem;
$line-height-12: 0.75rem;
$line-height-13: 0.8125rem;
$line-height-14: 0.875rem;
$line-height-15: 0.9375rem;
$line-height-16: 1rem;
$line-height-17: 1.0625rem;
$line-height-18: 1.125rem;
$line-height-19: 1.1875rem;
$line-height-20: 1.25rem;
$line-height-21: 1.313rem;
$line-height-22: 1.375rem;
$line-height-23: 1.438rem;
$line-height-24: 1.5rem;
$line-height-25: 1.563rem;
$line-height-26: 1.625rem;

//cursor
$cursor-pointer: pointer;

//list
$list-unstyled: none;

//text decoration
$text-decoration: none;

//vertical align
$vertical-align-middle: middle;

//base font (body)
$base-font-size: 1rem;
$base-font-weight: normal;
$base-line-height: normal;
$base-letter-spacing: normal;
$base-color: #FFFFFF;
$base-background: #040506;

/*//heading typography
$h-color: #000000;
//heading h1
$h1-font-size: 4.8rem;
$h1-font-weight: 600;
$h1-line-height: 5.9rem;
$h1-letter-spacing: -0.04rem;
//heading h2
$h2-font-size: 3.7rem;
$h2-font-weight: 600;
$h2-line-height: 4.5rem;
$h2-letter-spacing: -0.04rem;
//heading h3
$h3-font-size: 3.2rem;
$h3-font-weight: 600;
$h3-line-height: 3.9rem;
$h3-letter-spacing: -0.04rem;
//heading h4
$h4-font-size: 2.4rem;
$h4-font-weight: 600;
$h4-line-height: 2.9rem;
$h4-letter-spacing: -0.04rem;
//heading h5
$h5-font-size: 1.9rem;
$h5-font-weight: bold;
$h5-line-height: 2.4rem;
$h5-letter-spacing: -0.08rem;
//heading h6
$h6-font-size: 1.7rem;
$h6-font-weight: bold;
$h6-line-height: 2.2rem;
$h6-letter-spacing: -0.08rem;

//body1
$body1-font-size: 1.9rem;
$body1-font-weight: 500;
$body1-line-height: 2.4rem;
$body1-letter-spacing: -0.08rem;
$body1-color: #000000;
//body2
$body2-font-size: 1.7rem;
$body2-font-weight: 500;
$body2-line-height: 2.2rem;
$body2-letter-spacing: -0.08rem;
$body2-color: #000000;
//subtitle1
$subtitle1-font-size: 1.5rem;
$subtitle1-font-weight: 600;
$subtitle1-line-height: 1.6rem;
$subtitle1-letter-spacing: -0.08rem;
//subtitle2
$subtitle2-font-size: 1.2rem;
$subtitle2-font-weight: 600;
$subtitle2-line-height: 1.4rem;
$subtitle2-letter-spacing: -0.08rem;*/

//nowrap
$nowrap-overflow: hidden;
$nowrap-white-space: nowrap;
$nowrap-text-overflow: ellipsis;

//== box shadow (elevation)

$elevation-0: none;
$elevation-1: 0px 1px 12px rgba(37, 140, 246, 0.5);
$elevation-2: 0px 5px 10px rgba(8, 8, 13, 0.3);
$elevation-3: 0px 4px 8px rgba(4, 5, 6, 0.4);
$elevation-4: 0px 5px 10px rgba(8, 8, 13, 0.3);
$elevation-5: 0px 20px 15px 5px rgba(4, 5, 6, 0.4);

//== text shadow
$text-shadow-sm: 0px 4px 4px rgba(0, 0, 0, 0.25);

//== height/width

$width-full: 100%;
$height-full: 100%;
$min-height: 100vh;
$viewport-height:100vh;

//== border size

$border-0: 0rem;
$border: 1px solid #282B32;
$border-top: 1px solid #282B32;
$border-bottom: 1px solid #282B32;
$border-start: 1px solid #282B32;
$border-end: 1px solid #282B32;

//== border radius

$rounded-circle: 50%;
$rounded-pill: 9999px;
$rounded-0: 0rem;
$rounded: 0.25rem;
$rounded-sm: 0.188rem;
$rounded-lg:0.5rem;
$rounded-xl:0.625rem;

//==outline

$outline-0: 0rem;

//== font weight

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-bold: bold;
$font-weight-normal: normal;

//== alignment

$float-left: left;
$float-right: right;
$text-align-center: center;
$text-align-left: left;
$text-align-right: right;
$text-align-justify: justify;

//== text transform

$text-lowercase: lowercase;
$text-uppercase: uppercase;
$text-capitalize: capitalize;

//== overflow

$overflow-hidden: hidden;
$overflow-auto: auto;
$overflow-scroll: scroll;
$overflow-visible: visible;

//== position

$position-absolute: absolute;
$position-fixed: fixed;
$position-relative: relative;
$position-static: static;
$position-sticky: sticky;
$visibility-visible: visible;
$visibility-invisible: hidden;

//== display

$display-none: none;
$display-inline: inline;
$display-inline-block: inline-block;
$display-block: block;
$display-table: table;
$display-table-row: table-row;
$display-table-cell: table-cell;
$display-grid:grid;

//== flex

$display-flex: flex;
$display-inline-flex: inline-flex;
$flex-row: row;
$flex-row-reverse: row-reverse;
$flex-column: column;
$flex-column-reverse: column-reverse;
$flex-wrap: wrap;
$flex-nowrap: nowrap;
$flex-wrap-reverse: wrap-reverse;
$flex-fill: 1 1 auto;
$flex-grow-0: 0;
$flex-grow-1: 1;
$flex-shrink-0: 0;
$flex-shrink-1: 1;
$justify-start: flex-start;
$justify-end: flex-end;
$justify-center: center;
$justify-space-between: space-between;
$justify-space-around: space-around;
$align-start: flex-start;
$align-end: flex-end;
$align-center: center;
$align-baseline: baseline;
$align-stretch: stretch;
$align-content-start: flex-start;
$align-content-end: flex-end;
$align-content-center: center;
$align-content-space-between: space-between;
$align-content-space-around: space-around;
$align-content-stretch: stretch;
$align-self-auto: auto;
$align-self-start: flex-start;
$align-self-end: flex-end;
$align-self-center: center;
$align-self-baseline: baseline;
$align-self-stretch: stretch;
$order-first: -1;
$order-0: 0;
$order-1: 1;
$order-2: 2;
$order-3: 3;
$order-4: 4;
$order-5: 5;
$order-6: 6;
$order-7: 7;
$order-8: 8;
$order-9: 9;
$order-10: 10;
$order-11: 11;
$order-12: 12;
$order-last: 13;

//== spacing margin/padding (based on root font-size 16px)

$spacer-0: 0rem;
$spacer-4: 0.25rem;
$spacer-8: 0.5rem;
$spacer-12: 0.75rem;
$spacer-16: 1rem;
$spacer-20: 1.25rem;
$spacer-24: 1.5rem;
$spacer-28: 1.75rem;
$spacer-32: 2rem;
$spacer-36: 2.25rem;
$spacer-40: 2.5rem;
$spacer-44: 2.75rem;
$spacer-48: 3rem;
$spacer-52: 3.25rem;
$spacer-56: 3.5rem;
$spacer-60: 3.75rem;
$spacer-64: 4rem;
$spacer-auto: auto;

//== spacing -negtive margin (based on root font-size 16px)

$spacer-n4: -0.25rem;
$spacer-n8: -0.5rem;
$spacer-n12: -0.75rem;
$spacer-n16: -1rem;
$spacer-n20: -1.25rem;
$spacer-n24: -1.5rem;
$spacer-n28: -1.75rem;
$spacer-n32: -2rem;
$spacer-n36: -2.25rem;
$spacer-n40: -2.5rem;
$spacer-n44: -2.75rem;
$spacer-n48: -3rem;
$spacer-n52: -3.25rem;
$spacer-n56: -3.50rem;
$spacer-n60: -3.75rem;
$spacer-n64: -4rem;

// @extend/inheritance (common style properties)
/*%gizmo-font-19-normal {
    font-size: $font-19;
    font-weight: $font-weight-500;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-8;
}

%gizmo-font-19-bold {
    font-size: $font-19;
    font-weight: $font-weight-bold;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-8;
}*/
