//=============== gizmo @import font family ================//

@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400%3b500%3b600%3b700%3b800&display=swap');

//=============== gizmo common variable declare ================//

//== font family

$font-family: 'Metrophobic', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;

//== common color

$primary-color: #258cf6;
$primary-light-color: #F6FAFF;
$secondary-color: #6E7689;
$secondary-light: #FAFAFA;
$secondary-dark: #eee;
$info-color: #68C9FF;
$success-color: #32CF92;
$dark-color: #171c28;
$dark-light-color: #1b212f;
$black-color: #000000;
$danger-color: #F25A68;
$white-color: #FFFFFF;
$light-color: #eff0f2;
$gray-color: #E6E8ED;
$gray-light-color: #CFD2D8;
$gray-dark: #E7E9EE;
$dim-light: #939DB5;
$transparent-color: transparent;
$border-color: #1f2637;
$border-dark-color: #3b4150;
$border-light-color: #c3c7ce;

//== typography

//font size
$font-12: 1.2rem;
$font-13: 1.3rem;
$font-14: 1.4rem;
$font-15: 1.5rem;
$font-16: 1.6rem;
$font-17: 1.7rem;
$font-18: 1.8rem;
$font-19: 1.9rem;
$font-20: 2rem;

//letter-spacing
$letter-spacing-4: -0.04rem;
$letter-spacing-8: -0.08rem;

//line height
$line-height-16: 1.6rem;
$line-height-24: 2.4rem;
$line-height-22: 2.2rem;

//cursor
$cursor-pointer: pointer;

//list
$list-unstyled: none;

//text decoration
$text-decoration: none;

//base font (body)
$base-font-size: 1rem;
$base-font-weight: normal;
$base-line-height: normal;
$base-letter-spacing: normal;
$base-color: rgba(255, 255, 255, 1);
$base-background: #040506; 

//heading typography
$h-color: #000000;
//heading h1
$h1-font-size: 4.8rem;
$h1-font-weight: 600;
$h1-line-height: 5.9rem;
$h1-letter-spacing: -0.04rem;
//heading h2
$h2-font-size: 3.7rem;
$h2-font-weight: 600;
$h2-line-height: 4.5rem;
$h2-letter-spacing: -0.04rem;
//heading h3
$h3-font-size: 3.2rem;
$h3-font-weight: 600;
$h3-line-height: 3.9rem;
$h3-letter-spacing: -0.04rem;
//heading h4
$h4-font-size: 2.4rem;
$h4-font-weight: 600;
$h4-line-height: 2.9rem;
$h4-letter-spacing: -0.04rem;
//heading h5
$h5-font-size: 1.9rem;
$h5-font-weight: bold;
$h5-line-height: 2.4rem;
$h5-letter-spacing: -0.08rem;
//heading h6
$h6-font-size: 1.7rem;
$h6-font-weight: bold;
$h6-line-height: 2.2rem;
$h6-letter-spacing: -0.08rem;

//body1
$body1-font-size: 1.9rem;
$body1-font-weight: 500;
$body1-line-height: 2.4rem;
$body1-letter-spacing: -0.08rem;
$body1-color: #000000;
//body2
$body2-font-size: 1.7rem;
$body2-font-weight: 500;
$body2-line-height: 2.2rem;
$body2-letter-spacing: -0.08rem;
$body2-color: #000000;
//subtitle1
$subtitle1-font-size: 1.5rem;
$subtitle1-font-weight: 600;
$subtitle1-line-height: 1.6rem;
$subtitle1-letter-spacing: -0.08rem;
//subtitle2
$subtitle2-font-size: 1.2rem;
$subtitle2-font-weight: 600;
$subtitle2-line-height: 1.4rem;
$subtitle2-letter-spacing: -0.08rem;

//nowrap
$nowrap-overflow: hidden;
$nowrap-white-space: nowrap;
$nowrap-text-overflow: ellipsis;

//== box shadow (elevation)

$elevation-0: none;
$elevation-1: 0px 0px 9px rgba(72, 145, 255, 0.5);
$elevation-2: 0px 8px 56px rgba(0, 0, 0, 0.1);
$elevation-3: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
$elevation-4: 0px 4px 16px rgba(0, 0, 0, 0.08);

//== height/width

$width-full: 100%;
$height-full: 100%;
$min-height: 100vh;

//== border size

$border-0: 0rem;
$border: 1px solid #282B32;
$border-top: 1px solid #282B32;
$border-bottom: 1px solid #282B32;
$border-start: 1px solid #282B32;
$border-end: 1px solid #282B32;

//== border radius

$rounded-circle: 50%;
$rounded-pill: 9999px;
$rounded-0: 0rem;
$rounded: 0.4rem;
$rounded-lg: 0.8rem;

//==outline

$outline-0: 0rem;

//== font weight

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-bold: bold;
$font-weight-normal: normal;

//== alignment

$float-left: left;
$float-right: right;
$text-align-center: center;
$text-align-left: left;
$text-align-right: right;
$text-align-justify: justify;

//== text transform

$text-lowercase: lowercase;
$text-uppercase: uppercase;
$text-capitalize: capitalize;

//== overflow

$overflow-hidden: hidden;
$overflow-auto: auto;
$overflow-scroll: scroll;
$overflow-visible: visible;

//== position

$position-absolute: absolute;
$position-fixed: fixed;
$position-relative: relative;
$position-static: static;
$position-sticky: sticky;
$visibility-visible: visible;
$visibility-invisible: hidden;

//== display

$display-none: none;
$display-inline: inline;
$display-inline-block: inline-block;
$display-block: block;
$display-table: table;
$display-table-row: table-row;
$display-table-cell: table-cell;

//== flex

$display-flex: flex;
$display-inline-flex: inline-flex;
$flex-row: row;
$flex-row-reverse: row-reverse;
$flex-column: column;
$flex-column-reverse: column-reverse;
$flex-wrap: wrap;
$flex-nowrap: nowrap;
$flex-wrap-reverse: wrap-reverse;
$flex-fill: 1 1 auto;
$flex-grow-0: 0;
$flex-grow-1: 1;
$flex-shrink-0: 0;
$flex-shrink-1: 1;
$justify-start: flex-start;
$justify-end: flex-end;
$justify-center: center;
$justify-space-between: space-between;
$justify-space-around: space-around;
$align-start: flex-start;
$align-end: flex-end;
$align-center: center;
$align-baseline: baseline;
$align-stretch: stretch;
$align-content-start: flex-start;
$align-content-end: flex-end;
$align-content-center: center;
$align-content-space-between: space-between;
$align-content-space-around: space-around;
$align-content-stretch: stretch;
$align-self-auto: auto;
$align-self-start: flex-start;
$align-self-end: flex-end;
$align-self-center: center;
$align-self-baseline: baseline;
$align-self-stretch: stretch;
$order-first: -1;
$order-0: 0;
$order-1: 1;
$order-2: 2;
$order-3: 3;
$order-4: 4;
$order-5: 5;
$order-6: 6;
$order-7: 7;
$order-8: 8;
$order-9: 9;
$order-10: 10;
$order-11: 11;
$order-12: 12;
$order-last: 13;

//== spacing margin/padding

$spacer-0: 0rem;
$spacer-4: 0.4rem;
$spacer-8: 0.8rem;
$spacer-12: 1.2rem;
$spacer-16: 1.6rem;
$spacer-20: 2rem;
$spacer-24: 2.4rem;
$spacer-28: 2.8rem;
$spacer-32: 3.2rem;
$spacer-36: 3.6rem;
$spacer-40: 4rem;
$spacer-44: 4.4rem;
$spacer-48: 4.8rem;
$spacer-52: 5.2rem;
$spacer-56: 5.6rem;
$spacer-60: 6rem;
$spacer-64: 6.4rem;
$spacer-auto: auto;

//== spacing -negtive margin

$spacer-n4: -0.4rem;
$spacer-n8: -0.8rem;
$spacer-n12: -1.2rem;
$spacer-n16: -1.6rem;
$spacer-n20: -2rem;
$spacer-n24: -2.4rem;
$spacer-n28: -2.8rem;
$spacer-n32: -3.2rem;
$spacer-n36: -3.6rem;
$spacer-n40: -4rem;
$spacer-n44: -4.4rem;
$spacer-n48: -4.8rem;
$spacer-n52: -5.2rem;
$spacer-n56: -5.6rem;
$spacer-n60: -6rem;
$spacer-n64: -6.4rem;

// @extend/inheritance (common style properties)
%gizmo-font-19-normal {
    font-size: $font-19;
    font-weight: $font-weight-500;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-8;
}

%gizmo-font-19-bold {
    font-size: $font-19;
    font-weight: $font-weight-bold;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-8;
}
