@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-leaderboard">
    
    <div class="giz-leaderboard__main">
        <div class="giz-leaderboard__main__header">Leaderboard</div>
        <div>

        </div>

        <div></div>
        <div class="giz-leaderboard__main__users">

        </div>
    </div>

    <div class="giz-leaderboard__tournament">
        <div class="giz-leaderboard__tournament__header">Tournament</div>
        <div></div>
        <div>
            <Button IsFullWidth="true">-</Button>
        </div>
    </div>
    
</div>