.giz-apps-filters {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
    margin-left: auto;
}

/*
.giz-select.app-filter--default {
    .giz-input-root {
        opacity: 0.6;
    }
}

.giz-multi-select.app-filter--default {
    .giz-input-root {
        opacity: 0.6;
    }
}

*/
