@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-app-filter-card active">
    <Menu CloseOnItemClick="false" OpenDirection="PopupOpenDirections.Cursor" Style="width: 100%;">
        <Activator>
            <Card>
                <CardBody>
                    <div class="giz-app-filter-card-body">
                        <div class="giz-app-filter-card-body-title">
                            All
                        </div>
                        <div class="giz-app-filter-card-body-text">
                            @ApplicationFilter?.Name
                        </div>
                    </div>
                </CardBody>
            </Card>
        </Activator>
        <ChildContent>
            @if (ApplicationFilter != null)
            {
                @foreach (var option in ApplicationFilter.Options)
                {
                    <ListItem>
                        <div class="d-flex align-center">
                            <CheckBox @bind-IsChecked="option.IsSelected"></CheckBox>
                            @option.Name
                        </div>
                    </ListItem>
                }
                <Divider />
                <div class="d-flex pa-3">
                    <Button Size="ButtonSizes.Large" Color="ButtonColors.Info" IsFullWidth="true">Clear</Button>
                </div>
            }
        </ChildContent>
    </Menu>
</div>