@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using System.Globalization

@if (CreditOptionsViewState.SalesCreditType != CreditType.NoCredit || (CreditOptionsViewState.TimeCreditType != CreditType.NoCredit && CreditOptionsViewState.IsUserTimeCreditEnabled))
{
    <div class="giz-profile-header__info__stats-credit-item">

        <div class="giz-profile-header__info__stats-credit-item__header">
            <div>@LocalizationService.GetString("GIZ_USER_PROFILE_HEADER_CREDIT")</div>
            <div class="giz-profile-header__info__stats-credit-item__header__icon" @onclick="OnClickCreditInfoHandler" @onclick:stopPropagation="true">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_7397_5959" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
                        <rect width="16" height="16" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_7397_5959)">
                        <path d="M7.9999 11.334C8.1887 11.334 8.3527 11.2644 8.4919 11.1252C8.63056 10.9865 8.6999 10.8228 8.6999 10.634V8.01718C8.6999 7.82838 8.63056 7.66732 8.4919 7.53398C8.3527 7.40065 8.1887 7.33398 7.9999 7.33398C7.8111 7.33398 7.6471 7.40332 7.5079 7.54198C7.36923 7.68118 7.2999 7.84518 7.2999 8.03398V10.65C7.2999 10.8393 7.36923 11.0007 7.5079 11.134C7.6471 11.2673 7.8111 11.334 7.9999 11.334ZM7.9999 5.98358C8.1887 5.98358 8.3527 5.91425 8.4919 5.77558C8.63056 5.63638 8.6999 5.47238 8.6999 5.28358C8.6999 5.09478 8.63056 4.93105 8.4919 4.79238C8.3527 4.65318 8.1887 4.58358 7.9999 4.58358C7.8111 4.58358 7.6471 4.65318 7.5079 4.79238C7.36923 4.93105 7.2999 5.09478 7.2999 5.28358C7.2999 5.47238 7.36923 5.63638 7.5079 5.77558C7.6471 5.91425 7.8111 5.98358 7.9999 5.98358ZM7.9999 14.6668C7.07776 14.6668 6.2111 14.4919 5.3999 14.142C4.5887 13.7921 3.8831 13.3172 3.2831 12.7172C2.6831 12.1172 2.20816 11.4116 1.8583 10.6004C1.50843 9.78918 1.3335 8.92252 1.3335 8.00038C1.3335 7.07825 1.50843 6.21158 1.8583 5.40038C2.20816 4.58918 2.6831 3.88358 3.2831 3.28358C3.8831 2.68358 4.5887 2.20865 5.3999 1.85878C6.2111 1.50892 7.07776 1.33398 7.9999 1.33398C8.92203 1.33398 9.7887 1.50892 10.5999 1.85878C11.4111 2.20865 12.1167 2.68358 12.7167 3.28358C13.3167 3.88358 13.7916 4.58918 14.1415 5.40038C14.4914 6.21158 14.6663 7.07825 14.6663 8.00038C14.6663 8.92252 14.4914 9.78918 14.1415 10.6004C13.7916 11.4116 13.3167 12.1172 12.7167 12.7172C12.1167 13.3172 11.4111 13.7921 10.5999 14.142C9.7887 14.4919 8.92203 14.6668 7.9999 14.6668Z" fill="white" fill-opacity="0.75" />
                    </g>
                </svg>
                <ProfileHeaderStatsCreditTooltip @bind-IsOpen="_isOpen" />
            </div>
        </div>

        <div class="giz-profile-header__info__stats-credit-item__body">

            @if (CreditOptionsViewState.TimeCreditType != CreditType.NoCredit && CreditOptionsViewState.IsUserTimeCreditEnabled)
            {
                <div class="giz-profile-header__info__stats-credit-item__body__icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.25 3C8.0375 3 7.85938 2.92855 7.71563 2.78565C7.57188 2.64273 7.5 2.46565 7.5 2.2544C7.5 2.04313 7.57188 1.86458 7.71563 1.71875C7.85938 1.57292 8.0375 1.5 8.25 1.5H11.75C11.9625 1.5 12.1406 1.57145 12.2844 1.71435C12.4281 1.85727 12.5 2.03435 12.5 2.2456C12.5 2.45687 12.4281 2.63542 12.2844 2.78125C12.1406 2.92708 11.9625 3 11.75 3H8.25ZM9.9956 12.0208C10.2069 12.0208 10.3854 11.949 10.5312 11.8052C10.6771 11.6615 10.75 11.4833 10.75 11.2708V7.77083C10.75 7.55833 10.6785 7.38021 10.5356 7.23646C10.3927 7.09271 10.2156 7.02083 10.0044 7.02083C9.79313 7.02083 9.61458 7.09271 9.46875 7.23646C9.32292 7.38021 9.25 7.55833 9.25 7.77083V11.2708C9.25 11.4833 9.32145 11.6615 9.46435 11.8052C9.60727 11.949 9.78435 12.0208 9.9956 12.0208ZM10 18C9.02778 18 8.11861 17.8159 7.2725 17.4478C6.4264 17.0796 5.68687 16.5791 5.0539 15.9461C4.42094 15.3131 3.92038 14.5736 3.55223 13.7275C3.18408 12.8814 3 11.9722 3 11C3 10.0278 3.18408 9.11861 3.55223 8.2725C3.92038 7.4264 4.42094 6.68687 5.0539 6.0539C5.68687 5.42094 6.4264 4.92038 7.2725 4.55223C8.11861 4.18408 9.02472 4 9.99083 4C10.8003 4 11.5771 4.13542 12.3212 4.40625C13.0654 4.67708 13.7569 5.05556 14.3958 5.54167L14.9642 4.97329C15.1131 4.82443 15.2847 4.75347 15.4792 4.76042C15.6736 4.76736 15.8472 4.84722 16 5C16.1528 5.15278 16.2292 5.32639 16.2292 5.52083C16.2292 5.71528 16.1528 5.88889 16 6.04167L15.4583 6.60417C15.9444 7.22917 16.3229 7.91533 16.5938 8.66267C16.8646 9.41 17 10.1901 17 11.003C17 11.9732 16.8159 12.8814 16.4478 13.7275C16.0796 14.5736 15.5791 15.3131 14.9461 15.9461C14.3131 16.5791 13.5736 17.0796 12.7275 17.4478C11.8814 17.8159 10.9722 18 10 18Z" fill="#252A31" />
                    </svg>
                </div>

                @if (CreditOptionsViewState.TimeCreditType == CreditType.Unlimited)
                {
                    <div class="giz-profile-header__info__stats-credit-item__body__infinite">
                        <Icon SVGIcon="Icons.Infinite" Color="#FFC700" />
                    </div>
                }
                else
                {
                    <div>@(CreditOptionsViewState.CreditLimit.ToString("C", CultureInfo.CurrentCulture))</div>
                }
            }

            @if (CreditOptionsViewState.SalesCreditType != CreditType.NoCredit)
            {
                <div class="giz-profile-header__info__stats-credit-item__body__icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.49558 18C5.08186 18 4.72917 17.8527 4.4375 17.5581C4.14583 17.2635 4 16.9093 4 16.4956C4 16.0819 4.14731 15.7292 4.44192 15.4375C4.73654 15.1458 5.09071 15 5.50442 15C5.91814 15 6.27083 15.1473 6.5625 15.4419C6.85417 15.7365 7 16.0907 7 16.5044C7 16.9181 6.85269 17.2708 6.55808 17.5625C6.26346 17.8542 5.90929 18 5.49558 18ZM14.4956 18C14.0819 18 13.7292 17.8527 13.4375 17.5581C13.1458 17.2635 13 16.9093 13 16.4956C13 16.0819 13.1473 15.7292 13.4419 15.4375C13.7365 15.1458 14.0907 15 14.5044 15C14.9181 15 15.2708 15.1473 15.5625 15.4419C15.8542 15.7365 16 16.0907 16 16.5044C16 16.9181 15.8527 17.2708 15.5581 17.5625C15.2635 17.8542 14.9093 18 14.4956 18ZM4.625 4H16.5C16.6944 4 16.8368 4.07639 16.9271 4.22917C17.0174 4.38194 17.0278 4.54167 16.9583 4.70833L14.6381 10.0803C14.5182 10.3601 14.3368 10.5833 14.0938 10.75C13.8507 10.9167 13.5764 11 13.2708 11H6.60417L5.72917 12.5H15.25C15.4625 12.5 15.6406 12.5715 15.7844 12.7144C15.9281 12.8573 16 13.0344 16 13.2456C16 13.4569 15.9281 13.6354 15.7844 13.7812C15.6406 13.9271 15.4625 14 15.25 14H5.75C5.15278 14 4.71181 13.7489 4.42708 13.2468C4.14236 12.7447 4.14583 12.2458 4.4375 11.75L5.52083 9.875L2.79167 3.5H1.75C1.5375 3.5 1.35938 3.42855 1.21562 3.28565C1.07187 3.14273 1 2.96565 1 2.7544C1 2.54313 1.07187 2.36458 1.21562 2.21875C1.35938 2.07292 1.5375 2 1.75 2H3.27083C3.42361 2 3.55903 2.04167 3.67708 2.125C3.79514 2.20833 3.88889 2.31944 3.95833 2.45833L4.625 4Z" fill="#252A31" />
                    </svg>
                </div>

                @if (CreditOptionsViewState.SalesCreditType == CreditType.Unlimited)
                {
                    <div class="giz-profile-header__info__stats-credit-item__body__infinite">
                        <Icon SVGIcon="Icons.Infinite" Color="#FFC700" />
                    </div>
                }
                else
                {
                    <div>@(CreditOptionsViewState.CreditLimit.ToString("C", CultureInfo.CurrentCulture))</div>
                }
            }
        </div>
    </div>
}