@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-profile-header">
    <div class="giz-profile-header__avatar">
        <ProfileHeaderUserAvatar />

        <div class="giz-profile-header__avatar__about">
            <ProfileHeaderUserName />
            <div class="giz-profile-header__avatar__about__host"><Layout_LoginHostNumber /></div>
        </div>
    </div>
    <ProfileHeaderStats />
</div>