@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-profile-header">
    <ProfileHeaderUserAvatar />

    <div class="giz-profile-header__info">
        <ProfileHeaderUserName />
        <ProfileHeaderStats />
    </div>
</div>