@namespace Gizmo.Client.UI.Components
@using Gizmo.Web.Components

<div class="giz-profile-navigation">
    
    <div class="giz-profile-navigation-item">
        <NavLink href="profile" Match="NavLinkMatch.All">
            <Icon SVGIcon="Icons.User_Client" />
            User details
        </NavLink>
    </div>

    <div class="giz-profile-navigation-item">
        <NavLink href="profile/products" Match="NavLinkMatch.All">
            <Icon SVGIcon="Icons.WorkHistory_Client" />
            Available items
        </NavLink>
    </div>

    <div class="giz-profile-navigation-item">
        <NavLink href="profile/purchases" Match="NavLinkMatch.All">
            <Icon SVGIcon="Icons.ShoppingCart_Client" />
            Purchases
        </NavLink>
    </div>

    <div class="giz-profile-navigation-item">
        <NavLink href="profile/deposits" Match="NavLinkMatch.All">
            <Icon SVGIcon="Icons.WiFi_Client" />
            Transactions
        </NavLink>
    </div>
    
</div>
