//=============== Bundled Product ================//

.giz-bundled-product {
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.8rem;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    .giz-default-image {
        /*img {
            width: unset;
            height: unset;
        }*/
    }

    &:hover {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.84);
        }
    }
}

.giz-bundled-product-tooltip-text {
    color: #FFFFFF;
    //Font
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}