.giz-change-email-dialog {
    color: #FAFAFA;
    width: 60.0rem;

    &-email {
        margin-bottom: 2.4rem;
    }

    &-message {
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 2.4rem;
        @include font-l-theme-client($font-weight-regular-theme-client);
    }

    & > .giz-client-dialog__footer {
        display: grid;
        grid-template-rows: min-content min-content;
        gap: 1.6rem;
    }

    .giz-button-timer {
        position: absolute;
        right: 3.0rem;
        @include font-s-theme-client($font-weight-light-theme-client);
    }
}
