.giz-change-picture-dialog {
    color: $text-primary-v2;
    width: 60.0rem;

    &-image {
        position: relative;
        width: 26.0rem;
        height: 26.0rem;

        &-delete-button.giz-button--fill.primary:not(.disabled) {
            position: absolute;
            top: 1.6rem;
            left: 1.6rem;
            width: 2.4rem;
            background-color: $status-danger-bg-v2;
            color: $status-danger-v2;
            border: 1px solid rgba(239, 68, 68, 0.32);

            .giz-icon--extra-small {
                width: 1.4rem;
                height: 1.4rem;
            }
        }
    }

    .giz-input-label {
        color: $text-secondary-v2;
        margin-bottom: 0.4rem;
        @include font-s-theme-client($font-weight-regular-theme-client);
    }

    .giz-input-control {
        .giz-input-label {
            color: $text-secondary-v2;
            margin-bottom: 0.4rem;
            @include font-s-theme-client($font-weight-regular-theme-client);
        }
    }

    &-message {
        color: $text-secondary-v2;
        margin-bottom: 2.4rem;
        @include font-s-theme-client($font-weight-regular-theme-client);
    }

    & > .giz-client-dialog__body {
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    & > .giz-client-dialog__footer {
        display: flex;
        justify-content: flex-end;
        gap: 1.6rem;
    }
}
