//=============== Client Dialog ================//

.giz-client-dialog {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    background-color: #22272B;
    padding: 3.2rem;
    border-radius: 1.6rem;
    box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.08);

    &__header {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: min-content min-content;
        margin-bottom: 2.4rem;

        &__title {
            grid-row-start: 1;
            grid-row-end: 2;
            @include font-h5-theme-client($font-weight-bold-theme-client);
        }

        &__subtitle {
            grid-row-start: 2;
            grid-row-end: 3;
            @include font-l-theme-client($font-weight-light-theme-client);
        }
    }

    &__body {
        height: 100%;
        overflow: auto;
    }

    &__footer {
        margin-top: 2.4rem;
    }

    .close-btn {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}
