.giz-app-autostart {
    & input {
        & + label {
            span {
                margin-left: 1.7rem !important;
            }

            &:before {
                width: 2.0rem !important;
                height: 2.0rem !important;
            }
        }
    }
}

.giz-list-item__icon {
    margin-right: 1.3rem;
}
