//=============== Executable Selector Dialog ================//

.giz-executable-selector-dialog {
    width: 60.0rem;

    .giz-client-dialog {
        &__header {
            &__title {
                color: #FAFAFA;
                @include font-h5-theme-client($font-weight-bold-theme-client);
            }

            &__subtitle {
                color: rgba(255, 255, 255, 0.6);
                @include font-l-theme-client($font-weight-light-theme-client);
            }
        }
    }
}

.giz-executable-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.6rem;
    grid-row-gap: 4.3rem;
}
