.giz-points-icon {
    width: 2.0rem;
    height: 2.0rem;
}

.giz-points-award-icon {
    width: 2.0rem;
    height: 2.0rem;
}

.giz-product-icon {
    width: 1.9rem;
    height: 1.9rem;
}

.giz-coin-icon {
    width: 1.8rem;
    height: 1.8rem;
}

.giz-hexagon-icon {
    width: 0.6rem;
    height: 0.6rem;
}

.giz-check-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.giz-filters-icon {
    width: 0.6rem;
    height: 2.2rem;
}
