.giz-image__spinner {
    padding: 10%;
    display: inline-block;
}

.giz-default-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.giz-image {
    &--fill {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    &--contain {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &--cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--none {
        width: 100%;
        height: 100%;
        object-fit: none;
    }

    &--scale-down {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}