.giz-leaderboard {
    width: 54.6rem;
    max-height: 100vh;
    padding-top: 1.6rem;
    padding-right: 1.6rem;

    &__main {
        background-color: #22272B;
        border-radius: 1.6rem;
        height: 56.6rem;
        padding: 2.2rem 3.2rem;

        &__header {
            border-bottom: 0.1rem solid rgba(246, 251, 253, 0.06);
            @include font-xxl-theme-client($font-weight-regular-theme-client);
        }
    }

    &__tournament {
        background-color: #22272B;
        border-radius: 1.6rem;
        margin-top: 4.0rem;
        padding: 2.2rem 3.2rem;

        &__header {
            @include font-xxl-theme-client($font-weight-regular-theme-client);
        }
    }
}
