//=============== Menu Assistance ================//

.giz-menu-assistance {
    @extend %giz-menu-panel-base;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 46rem;
    padding: 2.4rem;
    max-height: 100%;

    & > .giz-animate-spinner {
        height: 6.4rem;
    }

    .giz-alert {
        &__body {
            &__text {
                white-space: normal;
            }

            .giz-button {
                padding: 0.5rem 1.7rem;

                & .giz-animate-spinner {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);

                    svg {
                        color: #0091E6;
                    }
                }
            }
        }
    }

    [#{$client-theme-comp-attr}] & {
        .giz-input-validation-label {
            min-height: unset;
        }
    }

    .giz-text-input {
        .giz-input-root--medium {
            height: 8rem;
        }
    }

    &-note-counter {
        color: $text-tertiary-v2;
        @include font-m-theme-client($font-weight-regular-theme-client);
    }
}
