.giz-order {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    gap: 1.2rem;
    height: 100%;
    overflow: hidden;
    min-width: 44.0rem;
    padding: 1.6rem 1.6rem 1.6rem 0;

    &__items {
        display: grid;
        grid-template-rows: min-content 1fr;
        background-color: $bg-1-v2;
        border: 1px solid $border-subtle-v2;
        border-radius: $radius-lg-v2;
        height: 100%;
        overflow: hidden;

        &__header {
            border-bottom: 1px solid $border-subtle-v2;
            padding: 2.0rem 2.4rem 1.2rem 2.4rem;
            color: $text-primary-v2;
            @include font-xl-theme-client($font-weight-bold-theme-client);
        }

        &__body {
            position: relative;
            padding: 0 2.4rem 0.4rem 2.4rem;
            height: 100%;
            overflow-y: auto;

            .giz-order__items-wrapper {
                display: block;

                .giz-order-item {
                    display: grid;
                    grid-template-columns: 1fr 12.0rem;
                    gap: 1.2rem;
                    padding: 1.5rem 0;
                    border-bottom: 1px solid $border-subtle-v2;

                    &__description {
                        @include font-m-theme-client($font-weight-regular-theme-client);
                    }

                    &__details {
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        grid-template-columns: min-content 1fr;
                        gap: 0.4rem;
                        align-items: center;
                        text-align: right;
                        height: 6.8rem;
                        @include font-xl-theme-client($font-weight-regular-theme-client);

                        &__price-radio {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 1;
                            grid-row-end: 2;
                        }

                        &__points-radio {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 2;
                            grid-row-end: 3;
                        }

                        &__price {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            grid-row-start: 1;
                            grid-row-end: 2;
                        }

                        &__points {
                            grid-column-start: 2;
                            grid-column-end: 3;
                            grid-row-start: 2;
                            grid-row-end: 3;
                        }

                        &__and {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 1;
                            grid-row-end: 3;
                        }

                        .giz-shop-quantity-picker {
                            grid-column-start: 1;
                            grid-column-end: 3;
                            grid-row-start: 3;
                            grid-row-end: 4;
                            margin-top: 0.8rem;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            .giz-no-order {
                &-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    height: 100%;
                }
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            padding: 1.6rem 2.4rem;
            border-top: 1px solid $border-subtle-v2;

            .giz-button {
                color: $text-secondary-v2;

                .giz-icon--small {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    &__notes {
        background-color: $bg-1-v2;
        border: 1px solid $border-subtle-v2;
        border-radius: $radius-lg-v2;
        padding: 1.6rem 2.0rem;

        &__header {
            margin-bottom: 0.8rem;
            color: $text-secondary-v2;
            @include font-m-theme-client($font-weight-regular-theme-client);
        }

        .giz-order-notes {
            .giz-input-root {
                min-height: 6.8rem;
            }
        }
    }

    &__totals {
        background-color: $bg-1-v2;
        border: 1px solid $border-subtle-v2;
        border-radius: $radius-lg-v2;
        padding: 2.0rem 2.4rem;

        .giz-order-promocode {
            display: grid;
            grid-template-rows: min-content;
            grid-template-columns: 1fr min-content;
            grid-column-gap: 1.6rem;
            grid-auto-flow: row;
            grid-auto-rows: min-content;
            grid-row-gap: 0.4rem;
            margin-bottom: 1.2rem;
        }

        .giz-order-summary {
            display: grid;
            grid-template-columns: 1fr min-content;
            grid-row-gap: 1.2rem;
            grid-column-gap: 0.4rem;
            margin-bottom: 2.4rem;
            align-items: center;
            white-space: nowrap;

            .giz-order-summary-text-bold {
                @include font-xl-theme-client($font-weight-regular-theme-client);
            }

            .giz-order-summary-total {
                justify-self: end;

                &-content {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    @include font-h5-theme-client($font-weight-bold-theme-client);

                    svg {
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                }
            }

            .giz-order-summary-points-total-icon {
                display: flex;
                align-items: center;
            }

            &-number-bold {
                display: flex;
                align-items: center;
                text-align: right;
                @include font-h5-theme-client($font-weight-bold-theme-client);
            }

            &-number-separator {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.8rem;
                letter-spacing: initial;
                margin: 0 1.5rem;
            }

            &-text {
                @include font-m-theme-client($font-weight-light-theme-client);
            }

            .giz-order-summary-points-award {
                justify-self: end;

                &-content {
                    @include font-m-theme-client($font-weight-light-theme-client);
                }
            }

            .giz-order-summary-points {
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }
        }
    }
}

.giz-empty-state {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    &__title {
        color: #FAFAFA;
        @include font-xxl-theme-client($font-weight-bold-theme-client);
    }

    &__text {
        margin-top: 2.0rem;
        color: rgba(255, 255, 255, 0.6);
        @include font-m-theme-client($font-weight-light-theme-client);
    }
}

.giz-order-promocode-status {
    @include font-m-theme-client($font-weight-light-theme-client);

    &--applied {
        color: #24C38E;
    }

    &--not-applied {
        color: $typo-warning-theme-client;
    }

    &--unusable {
        color: $typo-alert-theme-client;
    }
}
