//=============== Page Product Details ================//

.giz-product-details {
    display: grid;
    grid-template-columns: 1fr min-content;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    max-width: 2560px;

    &-wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    &__product {
        display: grid;
        grid-template-rows: min-content min-content 1fr min-content;
        padding: 0 1.6rem 1.6rem 1.6rem;
        height: 100%;
        overflow: auto;

        &__bundled-products {
            margin-top: 2.4rem;
            display: flex;
            gap: 1.6rem;

            &-product {
                position: relative;
                width: 9.6rem;
                height: 9.6rem;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 0.8rem;
                overflow: hidden;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.84);
                    }
                }
            }
        }

        &__navigation {
            display: flex;
            align-items: center;
            margin: 2.8rem 0;
            cursor: pointer;
            color: #FAFAFA;
            @include font-l-theme-client($font-weight-light-theme-client);

            &__icon {
                display: flex;
                align-items: center;
                margin-right: 1.0rem;
            }
        }

        &__info {
            display: grid;
            grid-template-columns: min-content 1fr;
            gap: 4.0rem;

            &__image {
                width: 29.9rem;
                height: 33.2rem;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 1.6rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__basic {
                display: grid;
                grid-template-rows: min-content min-content 1fr min-content;
                width: 70.0rem;

                &__category {
                    margin-bottom: 1.6rem;
                    @include font-xl-theme-client($font-weight-regular-theme-client);
                }

                &__title {
                    margin-bottom: 2.4rem;
                    //Font ?
                    font-size: 3.6rem;
                    line-height: 4.4rem;
                    font-weight: 500;
                }

                &__description {
                    @include font-l-theme-client($font-weight-light-theme-client);
                }

                &__action {
                    display: flex;

                    &__price {
                        margin-left: 3.2rem;
                        margin-right: 12.0rem;
                        white-space: nowrap;
                        @include font-h1-theme-client($font-weight-bold-theme-client);
                    }

                    .giz-button--fill {
                        padding: 1.1rem 2.4rem;
                    }

                    .giz-shop-quantity-picker {
                        width: 16.5rem;
                    }
                }
            }
        }

        &__related {
            margin-top: 4.0rem;

            &__header {
                margin-bottom: 2.4rem;
                @include font-h5-theme-client($font-weight-bold-theme-client);
            }

            &__body {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-auto-rows: minmax(42.0rem, 1fr);
                grid-column-gap: 1.6rem;
                grid-row-gap: 1.6rem;
                justify-content: left;
            }
        }
    }

    &__order {
        height: 100%;
        overflow: hidden;
    }
}
