//=============== Page User Products ================//

.giz-user-time-products {
    .giz-data-grid > tbody > tr:not(.giz-data-grid-row-detail) > td {
        padding: 0.4rem 0.8rem;
    }

    table {
        td:first-child {
            width: 1%;
        }

        td:nth-child(2) {
            width: 20.1rem;
            min-width: 20.1rem;
        }

        td:nth-child(8) {
            max-width: 20rem;
            overflow: hidden;
        }

        td:last-child {
            width: 1%;
        }
    }
}

.giz-icon--small {
    &.giz-user-time-products-order-icon {
        width: 2rem;
        height: 2rem;
        min-width: 2rem;
        min-height: 2rem;
        fill-opacity: 0.6;
    }
}

.giz-user-time-products-order {
    width: 1.6rem;
    height: 1.6rem;
    background: rgba(250, 250, 250, 0.16);
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    margin-left: 0.2rem;
    //Font ?
    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem; //Fix for alignment

    &--current {
        background: #0078D2;
    }
}

.giz-user-time-products-type {
    background-color: #FFF;
    color: #252A31;
    border-radius: 0.4rem;
    padding: 0.5rem 0.8rem;
    @include font-m-theme-client($font-weight-regular-theme-client);

    &--credit {
        background-color: #FFD79D;
    }

    &--disabled {
        background-color: rgba(250, 250, 250, 0.16);
        color: rgba(255, 255, 255, 0.75);
    }

    &__content {
        display: flex;
        gap: 0.4rem;
        justify-content: center;
        align-items: center;
        max-width: 100%;

        .giz-icon--medium {
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
            min-height: 2rem;
        }
    }

    &__description {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.giz-user-time-products-time-header {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.giz-user-time-products-properties-header {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.giz-user-time-products-host-groups {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    //TODO: AAA
    max-width: 100%;

    &-tooltip {
        display: flex;
        gap: 0.8rem;
        white-space: nowrap;
        padding: 0.8rem 1.2rem;
    }

    .giz-user-time-products-host-group {
        padding: 0.5rem 0.8rem;
        border-radius: 0.4rem;
        background: rgba(250, 250, 250, 0.16);
        color: rgba(255, 255, 255, 0.75);
        @include font-m-theme-client($font-weight-regular-theme-client);

        &--additional { //TODO: AAA
            padding: 0.6rem 0.8rem;
            background-color: rgba(250, 250, 250, 0.16);
            border-radius: 0.4rem;
            color: rgba(255, 255, 255, 0.75);
            //Font ?
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 2rem;
        }

        &.active {
            background: rgba(0, 120, 210, 0.32);
        }
    }
}

.giz-icon--medium {
    &.giz-user-time-infinite {
        width: 2rem;
        height: 2rem;
        min-width: 2rem;
        min-height: 2rem;
        vertical-align: middle;
    }
}

.giz-user-time-products-properties {
    display: flex;
    gap: 0.4rem;

    .giz-user-time-products-property {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(250, 250, 250, 0.16);
        border-radius: 0.4rem;
        padding: 0.6rem;

        .giz-icon--medium {
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
            min-height: 2rem;
        }

        svg {
            fill-opacity: 0.75;
        }

        &.active {
            background-color: #0078D2;

            svg {
                fill-opacity: 1;
            }
        }
    }
}

.giz-user-time-products-properties-icon {
    position: relative;
    cursor: pointer;
}

.giz-user-time-products-properties-header-tooltip {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
    padding: 1.2rem;
    padding-right: 2.8rem;
    color: #FFF;
    width: 25rem;
    cursor: default;
    @include font-s-theme-client($font-weight-light-theme-client);
    white-space: normal;
    text-align: left;

    .close-btn {
        width: 1.2rem;
        height: 1.2rem;
        min-width: 1.2rem;
        min-height: 1.2rem;

        .giz-icon--small {
            width: 1.2rem;
            height: 1.2rem;
            min-width: 1.2rem;
            min-height: 1.2rem;
        }
    }

    &-wrapper {
        background-color: #22272B;
        border-radius: 0.8rem;
        box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.37), 0px 2px 21px rgba(0, 0, 0, 0.37);
    }

    &-item {
        display: flex;
        gap: 0.8rem;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(250, 250, 250, 0.16);
            border-radius: 0.4rem;
            padding: 0.6rem;
            width: 3.2rem;
            height: 3.2rem;

            .giz-icon--medium {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;
            }
        }
    }

    &-indicator {
        display: flex;
        gap: 0.8rem;
        border-top: 1px solid rgba(246, 251, 253, 0.06);
        padding-top: 1.6rem;

        &__active {
            width: 1.6rem;
            height: 1.6rem;
            background-color: #0078D2;
            border-radius: 50%;
        }
    }

    &-close-btn {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
    }
}


.giz-user-time-products-properties-tooltip {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.2rem 1.6rem;

    &__header {
        color: rgba(255, 255, 255, 0.60);
        @include font-s-theme-client($font-weight-regular-theme-client);
    }

    &__body {
        display: flex;
        gap: 0.8rem;
    }

    &__footer {
        padding-top: 0.8rem;
        border-top: 1px solid rgba(246, 251, 253, 0.06);
        @include font-s-theme-client($font-weight-light-theme-client);
    }

    &-item {
        display: flex;
        gap: 0.4rem;
        border-radius: 0.4rem;
        padding: 0.5rem 0.8rem;
        background-color: rgba(250, 250, 250, 0.16);
        color: rgba(255, 255, 255, 0.75);
        @include font-m-theme-client($font-weight-light-theme-client);

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;

            .giz-icon--medium {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;
            }
        }

        &.active {
            background-color: #0078D2;
            color: #FFF;
        }
    }
}