//=============== Page User Purchases ================//

.order-details {
    display: grid;
    grid-template-columns: min-content 1fr;
    //grid-template-rows: 2.2rem;
    grid-gap: 1.6rem;
    color: #FAFAFA;
    @include font-s-theme-client($font-weight-light-theme-client);

    &-points {
        height: 2.2rem;
        white-space: normal;

        &-title {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &-notes {
        white-space: normal;

        &-title {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

.purchase-details-deposit {
    color: #24C38E;
}

.purchase-details-withdraw {
    color: #FF4443;
}

.giz-user-purchases {
    table {
        td:first-child {
            width: 100%;
        }

        td:last-child {
            min-width: 15rem;
        }
    }

    svg {
        width: 1.4rem;
        height: 1.4rem;
    }
}