//=============== Page Critical Error ================//

.giz-critical-error {
    color: #FAFAFA;
    text-align: center;
    z-index: 1;

    &-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }

    &__header {
    }

    &__title {
        margin-top: 2.4rem;
        //Font
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3rem;
    }

    &__message {
        margin-top: 1.2rem;
        color: rgba(255, 255, 255, 0.6);
        @include font-l-theme-client($font-weight-light-theme-client);
    }
}