//=============== Page User Profile Header ================//

.giz-profile-header__info__stats-credit-item {
    &__header {
        display: flex;
        gap: 0.4rem;
        color: rgba(255, 255, 255, 0.60);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.20), 0px 2px 2px rgba(0, 0, 0, 0.20);
        @include font-s-theme-client($font-weight-light-theme-client);

        &__icon {
            position: relative;
            cursor: pointer;

            &>.giz-icon {
                width: 1.6rem;
                height: 1.6rem;
                min-width: 1.6rem;
                min-height: 1.6rem;
                opacity: 0.7;
            }
        }
    }

    &__body {
        margin-top: 0.3rem;
        display: flex;
        gap: 0.8rem;
        color: #FAFAFA;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.20), 0px 2px 2px rgba(0, 0, 0, 0.20);
        @include font-xxl-theme-client($font-weight-regular-theme-client);

        &__icon {
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 0.4rem;
            background-color: #FFD79D;
            display: flex;
            justify-content: center;
            align-items: center;

            .giz-icon {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;
                color: #252A31;
            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

.giz-user-credit-tooltip {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
    padding: 1.2rem;
    padding-right: 2.8rem;
    color: #FFF;
    width: 25rem;
    cursor: default;
    @include font-s-theme-client($font-weight-light-theme-client);

    .close-btn {
        width: 1.2rem;
        height: 1.2rem;
        min-width: 1.2rem;
        min-height: 1.2rem;

        .giz-icon--small {
            width: 1.2rem;
            height: 1.2rem;
            min-width: 1.2rem;
            min-height: 1.2rem;
        }
    }

    &-wrapper {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        z-index: $info-tooltip-index;
        background-color: #22272B;
        border-radius: 8px;
        box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.37), 0px 2px 21px rgba(0, 0, 0, 0.37);

        &.open {
            display: block;
        }
    }

    &-item {
        display: flex;
        gap: 0.8rem;

        &__icon {
            width: 3.2rem;
            height: 3.2rem;
            min-width: 3.2rem;
            min-height: 3.2rem;
            border-radius: 0.4rem;
            background-color: #FFD79D;
            display: flex;
            justify-content: center;
            align-items: center;

            .giz-icon {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;
                color: #252A31;
            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }

        &__description {
            overflow-wrap: anywhere;
            hyphens: auto;
        }
    }

    &-unlimited {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding-top: 1.2rem;
        border-top: 1px solid rgba(246, 251, 253, 0.06);
    }

    &-close-btn {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
    }
}
