//=============== Page User Purchases ================//

.order-details {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1.6rem;
    color: $text-primary-v2;
    @include font-s-theme-client($font-weight-regular-theme-client);

    &-points {
        height: 2.2rem;
        white-space: normal;

        &-title {
            color: $text-tertiary-v2;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            @include font-s-theme-client($font-weight-bold-theme-client);
        }
    }

    &-notes {
        white-space: normal;

        &-title {
            color: $text-tertiary-v2;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            @include font-s-theme-client($font-weight-bold-theme-client);
        }
    }
}

.purchase-details-deposit {
    color: $status-success-v2;
    font-variant-numeric: tabular-nums;
    font-weight: 700;
}

.purchase-details-withdraw {
    color: $status-danger-v2;
    font-variant-numeric: tabular-nums;
    font-weight: 700;
}

.giz-user-purchases {
    table {
        td:first-child {
            width: 100%;
        }

        td:last-child {
            min-width: 15rem;
        }
    }

    svg {
        width: 1.4rem;
        height: 1.4rem;
    }
}