//=============== Product Time Host Groups ================//

.giz-time-product-host-groups {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;

    .giz-time-product-host-group {
    }
}