//=============== Registration confirmation code ================//

// Confirmation code entry
.giz-confirmation-code {
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 0.4rem;
    }

    &__form {
        margin-bottom: 1.6rem;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.giz-resend-button {
    &__label {
        padding: 0 5.6rem;
        font-family: $font-family-header-theme-client;
        font-weight: 600;
    }

    &__time {
        right: 2rem;
        color: var(--giz-text-3);
        font-family: $font-family-numeric-theme-client;
        font-size: 1.35rem;
        font-weight: 700;
        font-variant-numeric: tabular-nums;
    }
}
