.giz-section {
  &__header {
    margin-bottom: 1.6rem;
    color: #fafafa;
    @include font-h5-theme-client($font-weight-bold-theme-client);
    display: flex;
    align-items: center;

    &__filters {
      display: flex;
      gap: 0.8rem;

      &__title {
        margin-bottom: 0.4rem;
        @include font-m-theme-client($font-weight-light-theme-client);
      }
    }
  }
  &__body {
  }
}
