@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

 <div class="giz-login-card">
    <div class="giz-login-card__header">
        @CardHeader
    </div>
    <div class="giz-login-card__body">
        @CardBody
    </div>
    <div class="giz-login-card__footer">
        @CardFooter
    </div>
</div>