@layout _EmptyLayout
@inherits LayoutComponentBase
@using Microsoft.Extensions.Options

@inject IOptions<ClientUIOptions> ClientUIOptions

@if (!string.IsNullOrEmpty(ClientUIOptions.Value.Skin))
{
    <HeadContent>
        <link href="css/@ClientUIOptions.Value.Skin" rel="stylesheet" />
    </HeadContent>
}

<main>
    <div class="giz-main-container" client-theme="true">
        <div class="giz-login__adv">
            <div class="giz-login__adv__header">
                <div class="giz-nav-logo"><a href="#"><img src="https://i.postimg.cc/ZqR6bSr5/Logo.png" alt="loading"></a></div>
                <div class="giz-nav-title">05</div>
            </div>

            <div class="giz-login__adv__body">
                <!--carousel-->
            </div>

            <div class="giz-login__adv__footer">
                <div class="giz-language-menu">
                    <button class="giz-transparent pa-4"><!--TODO-->
                        <svg class="mr-2" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 15.9999C12.6421 15.9999 16 12.642 16 8.49988C16 4.35774 12.6421 0.999878 8.5 0.999878C4.35786 0.999878 1 4.35774 1 8.49988C1 12.642 4.35786 15.9999 8.5 15.9999Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M1 8.49988H16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.5 0.999878C10.376 3.05364 11.4421 5.7189 11.5 8.49988C11.4421 11.2809 10.376 13.9461 8.5 15.9999C6.62404 13.9461 5.55794 11.2809 5.5 8.49988C5.55794 5.7189 6.62404 3.05364 8.5 0.999878V0.999878Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                            Eng
                        <svg class="ml-1" width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.999878L4.5 3.99988L8 0.999878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <GizLanguageMenu></GizLanguageMenu>
                </div>

                <div class="giz-server">
                    <Gizmo.Web.Components.Icon SVGIcon="Web.Components.Icons.DNS" Class="giz-server__icon" />
                    <div class="giz-version">
                        <div class="giz-version__title">Version</div>
                        <div class="giz-version__version">2.457.002A</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="giz-login__login">
            @Body
            @*<div class="giz-login-overlay"></div>*@
        </div>
    </div>
</main>
