@inherits LayoutComponentBase

<Header></Header>
<LeftNavBar></LeftNavBar>
<!--body section-->
<main>
    <!--main container-->
    <div class="giz-container" client-theme="true">
        @Body
    </div>
</main>
<!--/body section-->
