@inherits LayoutComponentBase
@using Microsoft.Extensions.Options

@if (!string.IsNullOrEmpty(ClientInterfaceOptions.CurrentValue.StyleSheet))
{
    <HeadContent>
        <link href="https://static/@ClientInterfaceOptions.CurrentValue.StyleSheet" rel="stylesheet" />
    </HeadContent>
}

<main @onclick="OnMainClick" client-theme="true">
    <div class="giz-background">
        <img src="@WallpaperViewState.Wallpaper" alt='loading' />
    </div>
    <div class="giz-container">
        <div class="giz-app__header">
            <Header />
        </div>
        <div class="giz-app__body">
            @Body
        </div>
    </div>

    <UserLock />
    <DialogHost />

    @if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.Create("browser")))
    {
        <div class="giz-web-notifications-host">
            <NotificationsHost />
        </div>
    }

    @if (HostOutOfOrderViewState.IsOutOfOrder)
    {
        <Layout_LoginOutOfOrder />
    }
    else
    {
        <Layout_LoginLock />
    }

    <GracePeriod />
    <UserBan />

</main>
