@inherits LayoutComponentBase
@using Microsoft.Extensions.Options

@if (!string.IsNullOrEmpty(ClientUIOptions.Value.StyleSheet))
{
    <HeadContent>
        <link href="https://static/@ClientUIOptions.Value.StyleSheet" rel="stylesheet" />
    </HeadContent>
}

<main @onclick="OnMainClick" client-theme="true">
    <div class="giz-background">
        @if (!string.IsNullOrWhiteSpace(ClientUIOptions.Value.Background))
        {
            <img src="https://static/@(Environment.ExpandEnvironmentVariables(ClientUIOptions.Value.Background))" />
        }
        else
        {
            <img src="_content/Gizmo.Client.UI/img/background.jpg" />
        }
    </div>
    <div class="giz-container">
        <div class="giz-app__header">
            <Header />
        </div>
        <div class="giz-app__body">
            @Body
        </div>
    </div>

    <UserLock />
    <DialogHost />

    @if (HostOutOfOrderViewState.IsOutOfOrder)
    {
        <Layout_LoginOutOfOrder />
    }
    else
    {
        <Layout_LoginLock />
    }

    <GracePeriod />

</main>
