@layout _EmptyLayout
@inherits LayoutComponentBase
@inject NavigationManager UriHelper

<!--body section-->
<main>
    <!--container-->
    <div class="giz-main-container" client-theme="true">
        <!--login nav-->
        <nav class="giz-nav">
            <ul class="giz-nav--navbar">
                <li class="giz-nav-logo"><a href="#"><img src="https://i.postimg.cc/ZqR6bSr5/Logo.png" alt="loading"></a></li>
                <li class="giz-nav-title">05</li>
            </ul>
        </nav>
        <!--/login nav-->
        <!--Login-->
        <section class="giz-login">
            <!--login wrapper-->
            <div class="giz-login--wrapper">
                <!--login content-->
                <div class="giz-login-content">
                    @Body
                </div>
                <!--/login content-->
            </div>
            <!--/login wrappper-->
        </section>
        <!--/login-->
        <!--login footer-->
        <footer class="giz-login-footer">
            <div class="d-flex justify-space-between align-center">
                <div class="giz-language-menu">
                    <button class="giz-transparent pa-4">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 15.9999C12.6421 15.9999 16 12.642 16 8.49988C16 4.35774 12.6421 0.999878 8.5 0.999878C4.35786 0.999878 1 4.35774 1 8.49988C1 12.642 4.35786 15.9999 8.5 15.9999Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M1 8.49988H16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.5 0.999878C10.376 3.05364 11.4421 5.7189 11.5 8.49988C11.4421 11.2809 10.376 13.9461 8.5 15.9999C6.62404 13.9461 5.55794 11.2809 5.5 8.49988C5.55794 5.7189 6.62404 3.05364 8.5 0.999878V0.999878Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span>
                            Eng
                        </span>
                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.999878L4.5 3.99988L8 0.999878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <!--lagnuage menu dropdown-->
                    <GizLanguageMenu></GizLanguageMenu>
                    <!--/language menu dropdown content-->
                </div>
                <!--version-->
                <div class="giz-server">
                    <div class="giz-server--icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.9462 1.61523H2.43846C1.64402 1.61523 1 2.25926 1 3.0537V5.93062C1 6.72506 1.64402 7.36908 2.43846 7.36908H13.9462C14.7406 7.36908 15.3846 6.72506 15.3846 5.93062V3.0537C15.3846 2.25926 14.7406 1.61523 13.9462 1.61523Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.9462 10.246H2.43846C1.64402 10.246 1 10.89 1 11.6844V14.5614C1 15.3558 1.64402 15.9998 2.43846 15.9998H13.9462C14.7406 15.9998 15.3846 15.3558 15.3846 14.5614V11.6844C15.3846 10.89 14.7406 10.246 13.9462 10.246Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.87695 4.49213H3.88382" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.87695 13.1229H3.88382" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="giz-server--status"></span>
                    </div>
                    <div class="giz-version">
                        <div class="giz-version--title">
                            version
                        </div>
                        <div class="giz-version--info">2.457.002A</div>
                    </div>
                </div>
                <!--version-->
            </div>
            <!--message-->
            <div class="giz-alert-message mr-7 d-none">
                Computer is reserved
                from 14:00 to 20:00
            </div>
            <div class="giz-warning-message d-none mr-7">
                Login is unavailable
                Computer is reserved
            </div>
            <div class="giz-disable-message d-none mr-7">
                Mouse and keyboard
                is currently locked
            </div>
            <!--/message-->
            <!--language keyboard-->
            <div class="giz-keyboard-menu">
                <button class="giz-transparent" type="button">
                    <svg width="27" height="17" viewBox="0 0 27 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.75 17H2.25C1.00734 17 0 16.0486 0 14.875V2.125C0 0.95138 1.00734 0 2.25 0H24.75C25.9927 0 27 0.95138 27 2.125V14.875C27 16.0486 25.9927 17 24.75 17ZM6 5.13542V3.36458C6 3.0712 5.74814 2.83333 5.4375 2.83333H3.5625C3.25186 2.83333 3 3.0712 3 3.36458V5.13542C3 5.4288 3.25186 5.66667 3.5625 5.66667H5.4375C5.74814 5.66667 6 5.4288 6 5.13542ZM10.5 5.13542V3.36458C10.5 3.0712 10.2481 2.83333 9.9375 2.83333H8.0625C7.75186 2.83333 7.5 3.0712 7.5 3.36458V5.13542C7.5 5.4288 7.75186 5.66667 8.0625 5.66667H9.9375C10.2481 5.66667 10.5 5.4288 10.5 5.13542ZM15 5.13542V3.36458C15 3.0712 14.7481 2.83333 14.4375 2.83333H12.5625C12.2519 2.83333 12 3.0712 12 3.36458V5.13542C12 5.4288 12.2519 5.66667 12.5625 5.66667H14.4375C14.7481 5.66667 15 5.4288 15 5.13542ZM19.5 5.13542V3.36458C19.5 3.0712 19.2481 2.83333 18.9375 2.83333H17.0625C16.7519 2.83333 16.5 3.0712 16.5 3.36458V5.13542C16.5 5.4288 16.7519 5.66667 17.0625 5.66667H18.9375C19.2481 5.66667 19.5 5.4288 19.5 5.13542ZM24 5.13542V3.36458C24 3.0712 23.7481 2.83333 23.4375 2.83333H21.5625C21.2519 2.83333 21 3.0712 21 3.36458V5.13542C21 5.4288 21.2519 5.66667 21.5625 5.66667H23.4375C23.7481 5.66667 24 5.4288 24 5.13542ZM8.25 9.38542V7.61458C8.25 7.3212 7.99814 7.08333 7.6875 7.08333H5.8125C5.50186 7.08333 5.25 7.3212 5.25 7.61458V9.38542C5.25 9.6788 5.50186 9.91667 5.8125 9.91667H7.6875C7.99814 9.91667 8.25 9.6788 8.25 9.38542ZM12.75 9.38542V7.61458C12.75 7.3212 12.4981 7.08333 12.1875 7.08333H10.3125C10.0019 7.08333 9.75 7.3212 9.75 7.61458V9.38542C9.75 9.6788 10.0019 9.91667 10.3125 9.91667H12.1875C12.4981 9.91667 12.75 9.6788 12.75 9.38542ZM17.25 9.38542V7.61458C17.25 7.3212 16.9981 7.08333 16.6875 7.08333H14.8125C14.5019 7.08333 14.25 7.3212 14.25 7.61458V9.38542C14.25 9.6788 14.5019 9.91667 14.8125 9.91667H16.6875C16.9981 9.91667 17.25 9.6788 17.25 9.38542ZM21.75 9.38542V7.61458C21.75 7.3212 21.4981 7.08333 21.1875 7.08333H19.3125C19.0019 7.08333 18.75 7.3212 18.75 7.61458V9.38542C18.75 9.6788 19.0019 9.91667 19.3125 9.91667H21.1875C21.4981 9.91667 21.75 9.6788 21.75 9.38542ZM6 13.6354V11.8646C6 11.5712 5.74814 11.3333 5.4375 11.3333H3.5625C3.25186 11.3333 3 11.5712 3 11.8646V13.6354C3 13.9288 3.25186 14.1667 3.5625 14.1667H5.4375C5.74814 14.1667 6 13.9288 6 13.6354ZM19.5 13.6354V11.8646C19.5 11.5712 19.2481 11.3333 18.9375 11.3333H8.0625C7.75186 11.3333 7.5 11.5712 7.5 11.8646V13.6354C7.5 13.9288 7.75186 14.1667 8.0625 14.1667H18.9375C19.2481 14.1667 19.5 13.9288 19.5 13.6354ZM24 13.6354V11.8646C24 11.5712 23.7481 11.3333 23.4375 11.3333H21.5625C21.2519 11.3333 21 11.5712 21 11.8646V13.6354C21 13.9288 21.2519 14.1667 21.5625 14.1667H23.4375C23.7481 14.1667 24 13.9288 24 13.6354Z" fill="white" />
                    </svg>
                    <span>EN</span>
                    <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L4.5 4L8 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <!--/language keyboard-->
        </footer>
        <!--/login--foter-->
    </div>
    <!--/container-->
</main>
<!--/body section-->
