@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.UI.View.Services;
@using Gizmo.UI.View.States;

<div style="giz-dialog @(ViewState.HasDialog ? "giz-dialog--open" : "")">
    @if (ViewState.HasDialog)
    {
        <DynamicComponent Type="ViewState.Current.ComponentType" Parameters="ViewState.Current.Parameters" />
    }
</div>
