@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase

<div class="giz-dialog @(ViewState.HasDialog ? "giz-dialog--open" : "")">
    @if (ViewState.HasDialog)
    {
        <DynamicComponent Type="ViewState.Current.ComponentType" Parameters="ViewState.Current.Parameters" />
    }
</div>
