@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="@Class @ClassName">
    <div class="giz-drawer__body giz-scrollbar--v">
        @ChildContent
    </div>
    <Overlay Visible="@IsOpen" @onclick="OnClickOverlayHandler" />
</div>