@inherits CustomDOMComponentBase

<div class="@Class @ClassName">
    <div class="giz-drawer-content giz-scrollbar--v">
        @ChildContent
    </div>
    <Overlay Visible="@IsOpen" @onclick="OnClickOverlayHandler" />
</div>