@namespace Gizmo.Client.UI.Shared

<!--app modal-->
<div class="giz-modal-wrapper">
    <div class="giz-app-modal">
        <div class="giz-app-modal--container">
            <!--app info-->
            <div class="giz-app-brand">
                <img src="https://i.postimg.cc/TwKtfx1Y/Falls-guy.png" alt="loading" />
                <div class="giz-app-brand--info">
                    <div class="giz-app-brand--title">
                        Publisher
                    </div>
                    <div class="giz-app-brand--text">
                        Very Positive Inc
                    </div>
                </div>
                <div class="giz-app-brand--info">
                    <div class="giz-app-brand--title">
                        Release Date
                    </div>
                    <div class="giz-app-brand--text">
                        10/22/2019
                    </div>
                </div>
                <div class="giz-app-brand--info">
                    <div class="giz-app-brand--title">
                        Date Added
                    </div>
                    <div class="giz-app-brand--text">
                        5/13/2020
                    </div>
                </div>
                <div class="giz-app-brand--info">
                    <div class="giz-app-brand--title">
                        Player Mode
                    </div>
                    <div class="giz-app-brand--text">
                        Single Player
                        <div class="giz-tooltip">
                            <!--svg-->
                            <svg width="4" height="10" viewBox="0 0 4 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.00016 2.66659C2.64183 2.66659 3.16683 2.14159 3.16683 1.49992C3.16683 0.858252 2.64183 0.333252 2.00016 0.333252C1.3585 0.333252 0.833496 0.858252 0.833496 1.49992C0.833496 2.14159 1.3585 2.66659 2.00016 2.66659ZM2.00016 3.83325C1.3585 3.83325 0.833496 4.35825 0.833496 4.99992C0.833496 5.64159 1.3585 6.16659 2.00016 6.16659C2.64183 6.16659 3.16683 5.64159 3.16683 4.99992C3.16683 4.35825 2.64183 3.83325 2.00016 3.83325ZM2.00016 7.33325C1.3585 7.33325 0.833496 7.85825 0.833496 8.49992C0.833496 9.14159 1.3585 9.66659 2.00016 9.66659C2.64183 9.66659 3.16683 9.14159 3.16683 8.49992C3.16683 7.85825 2.64183 7.33325 2.00016 7.33325Z" fill="white" />
                            </svg>
                            <!--/svg-->

                            <div class="giz-tooltip-top">
                                <div class="d-flex justify-space-between">
                                    <div>
                                        Free to Play
                                    </div>
                                    <div>
                                        <!--svg-->
                                        <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.16667 6.02273C5.46061 6.02273 6.51042 4.87749 6.51042 3.46591C6.51042 2.05433 5.46061 0.909092 4.16667 0.909092C2.87272 0.909092 1.82292 2.05433 1.82292 3.46591C1.82292 4.87749 2.87272 6.02273 4.16667 6.02273ZM6.25 6.59091H5.35319C4.99186 6.77202 4.58984 6.875 4.16667 6.875C3.74349 6.875 3.3431 6.77202 2.98014 6.59091H2.08333C0.932617 6.59091 0 7.60831 0 8.86364V9.14773C0 9.61825 0.349935 10 0.78125 10H7.55208C7.9834 10 8.33333 9.61825 8.33333 9.14773V8.86364C8.33333 7.60831 7.40071 6.59091 6.25 6.59091Z" fill="white" />
                                        </svg>
                                        8+
                                        <!--/svg-->
                                    </div>
                                </div>
                                <div class="d-flex justify-space-between">
                                    <div>
                                        Co-Op Online
                                    </div>
                                    <div>
                                        <!--svg-->
                                        <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.16667 6.02273C5.46061 6.02273 6.51042 4.87749 6.51042 3.46591C6.51042 2.05433 5.46061 0.909092 4.16667 0.909092C2.87272 0.909092 1.82292 2.05433 1.82292 3.46591C1.82292 4.87749 2.87272 6.02273 4.16667 6.02273ZM6.25 6.59091H5.35319C4.99186 6.77202 4.58984 6.875 4.16667 6.875C3.74349 6.875 3.3431 6.77202 2.98014 6.59091H2.08333C0.932617 6.59091 0 7.60831 0 8.86364V9.14773C0 9.61825 0.349935 10 0.78125 10H7.55208C7.9834 10 8.33333 9.61825 8.33333 9.14773V8.86364C8.33333 7.60831 7.40071 6.59091 6.25 6.59091Z" fill="white" />
                                        </svg>
                                        2
                                        <!--/svg-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/app info-->
            <div class="giz-app-modal--content">
                <!--heading-->
                <div class="giz-app-modal--heading">
                    <div class="giz-header-text">
                        02. action / adventure
                    </div>
                    <button class="client-button giz-terminate">
                        <!--!--><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 1L1 13" stroke="#69748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 1L13 13" stroke="#69748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
                <!--/heading-->
                <!--title-->
                <div class="giz-app-modal--title">
                    Fall Guys: Ultimate Knockout
                </div>
                <!--/title-->
                <div class=" giz-app-rating">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 12.0667L12.9467 15.6667L11.0533 9.85337L16 6.33337H9.93333L8 0.333374L6.06667 6.33337H0L4.94667 9.85337L3.05333 15.6667L8 12.0667Z" fill="white" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 12.0667L12.9467 15.6667L11.0533 9.85337L16 6.33337H9.93333L8 0.333374L6.06667 6.33337H0L4.94667 9.85337L3.05333 15.6667L8 12.0667Z" fill="white" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 12.0667L12.9467 15.6667L11.0533 9.85337L16 6.33337H9.93333L8 0.333374L6.06667 6.33337H0L4.94667 9.85337L3.05333 15.6667L8 12.0667Z" fill="white" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 12.0667L12.9467 15.6667L11.0533 9.85337L16 6.33337H9.93333L8 0.333374L6.06667 6.33337H0L4.94667 9.85337L3.05333 15.6667L8 12.0667Z" fill="white" />
                    </svg>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 12.0667L12.9467 15.6667L11.0533 9.85337L16 6.33337H9.93333L8 0.333374L6.06667 6.33337H0L4.94667 9.85337L3.05333 15.6667L8 12.0667Z" fill="#BFC8EC" fill-opacity="0.4" />
                    </svg>
                    <span>168 Ratings</span>
                </div>
                <div class="giz-apps-tags">
                    <span class="giz-selected-tag">Multiplayer</span>
                    <span class="giz-selected-tag">Free to Play</span>
                    <span class="giz-selected-tag">MMO</span>
                    <span class="giz-selected-tag">Custom Tag</span>
                    <button class="giz-add-tags client-button giz-tooltip">
                        +2
                        <div class="giz-tooltip-top">
                            <div>
                                Action
                            </div>
                            <div>
                                Adventure
                            </div>
                        </div>
                    </button>
                </div>
                <div class="giz-modal--text">
                    Fall Guys is a massively multiplayer party game with up to 60 players online in a free-for-all struggle through round after round of escalating chaos until
                    one victor remains!
                </div>
                <!--launch btn-->
                <div class="giz-launch-button">
                    <button class="client-button giz-btn-primary px-13">launch</button>
                    <GizSubDropdownMenu></GizSubDropdownMenu>
                </div>
                <!--/launch btn-->
            </div>
        </div>
        <div class="giz-about-app">
            <!--modal nav-->
            <div class="giz-modal-nav">
                <ul class="giz-modal-nav--navbar">
                    <li class="giz-modal-nav--items"><a href="#" class="giz-modal-nav--links">announcements</a></li>
                    <li class="giz-modal-nav--items"><a href="#" class="giz-modal-nav--links active">media</a></li>
                    <li class="giz-modal-nav--items"><a href="#" class="giz-modal-nav--links giz-disable-link ">Links</a></li>
                    <li class="giz-modal-nav--items"><a href="#" class="giz-modal-nav--links giz-disable-link ">Tutorials</a></li>
                </ul>
                <div class="giz-arrows">
                    <!--svg-->
                    <svg width="9" class="mr-2" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.08607 1.73503L6.61423 0.263184L0.351074 6.52634L6.61423 12.7895L8.08607 11.3177L3.3052 6.52634L8.08607 1.73503Z" fill="white" fill-opacity="0.35" />
                    </svg>
                    <!--/svg-->
                    <!--svg-->
                    <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.913926 1.73503L2.38577 0.263184L8.64893 6.52634L2.38577 12.7895L0.913926 11.3177L5.6948 6.52634L0.913926 1.73503Z" fill="white" />
                    </svg>
                    <!--/svg-->
                </div>
            </div>
            <!--/modal nav-->
            <!--modal video-->
            <div class="giz-video-wrapper">
                <div class="giz-modal-video">
                    <img src="https://i.postimg.cc/kXYNPNgF/Video.png" alt="loading" />
                    <div class="giz-modal-video--title">unboxholics</div>
                    <div class="giz-modal-video--text">Κλαίμε με το νέο Season 4 Fall Guys Ultimate Knockout!!!</div>
                </div>
                <div class="giz-modal-video">
                    <img src="https://i.postimg.cc/d3rRY34R/trailer.png" alt="loading" />
                    <div class="giz-modal-video--title">ign</div>
                    <div class="giz-modal-video--text">Fall Guys Season 4 - Official Trailer</div>
                </div>
            </div>
            <!--/modal video-->
            <!--progress bar-->
            <div class="giz-progress-wrapper">
                <div class="giz-progress">
                    <div class="giz-progress--bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    </div>
                </div>
            </div>
            <!--/progress bar-->
        </div>
    </div>
</div>
<!--/app modal-->