@namespace Gizmo.Client.UI.Shared
@using Gizmo.Client.UI.Components
 
<!--carousel card-->
<div class="giz-apps-card">
    <div class="giz-apps-card--overlay mb-4">
        <div class="giz-img-top">
            <a href="#"><img src="https://i.postimg.cc/MGN8G2pM/Battle-net.png" alt='loading' /></a>
        </div>
    </div>
    <div class="giz-card-title mb-2" @onclick="ShowPrimaryModal">
        BattleNet
    </div>
    <div class="giz-card-text" @onclick="ShowWarning">
        Add date <span>3/12/2021</span>
    </div>
    <!--primary modal-->
    <div class="giz-modal-wrapper" style="display: @(IsOpen ? "none" : "block");">
        <div class="giz-primary-modal pa-11">
            <div class="giz-primary-modal--heading mb-2">
                Heads up
            </div>
            <div class="giz-primary-modal--title mb-8">
                Primary modal example
            </div>
            <div class="giz-primary-modal-body">
                <div class="giz-primary-modal-body--text mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="giz-primary-modal-body--btn">
                    <button class="client-button giz-btn-primary giz-elevation-0 mr-2">confirm</button>
                    <button class="client-button giz-btn-info" @onclick="ShowPrimaryModal">cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--/primary modal-->
    <!--warning modal-->
    <AlertDialog Message="winexe002piw974muaf65_ss8d6.bat was terminated unexpectedly." AlertType="AlertDialog.AlertTypes.Warning" @bind-IsOpen="WarningDialogIsOpen" />
    <!--/warning modal-->


</div>
<!--/carousel card-->
@code {

    private bool IsOpen { get; set; } = true;

    private void ShowPrimaryModal()
    {
        IsOpen = !IsOpen;
    }

    private bool WarningDialogIsOpen { get; set; }

    private void ShowWarning()
    {
        WarningDialogIsOpen = true;
    }

}