@namespace Gizmo.Client.UI.Shared
<!--carousel card-->
<div class="giz-apps-card">
    <div class="giz-apps-card--overlay mb-4">
        <div class="giz-img-top">
            <img src="https://i.postimg.cc/MGN8G2pM/Battle-net.png" alt='loading' />
        </div>
    </div>
    <div class="giz-card-title mb-2">
        BattleNet
    </div>
    <div class="giz-card-text">
        Add date <span>3/12/2021</span>
    </div>
</div>
<!--/carousel card-->