@namespace Gizmo.Client.UI.Shared
<!--giz card-->
<div class="giz-card">
    <div class="giz-card--body active">
        <div class="giz-card-title">game news  |  2 days ago</div>
        <div class="giz-card-text">
            Πρώην πραγωγός του Bloodborne και της Sony Japan ιδρύει νέα εταιρεία
        </div>
    </div>
</div>
<!--/giz card-->