@namespace Gizmo.Client.UI.Shared
<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown body-->
    <div class="giz-dropdwon-menu--body">
        <div class="giz-favorite-apps-wrapper">
            <ul class="giz-favorite-apps">
                <li class="giz-favorite-apps--items">
                    <img src="https://i.postimg.cc/J4RGXr13/Places-folder-red-icon-1.png" alt="loading"/>
                    <span class="giz-text">Files</span>
                </li>
                <li class="giz-favorite-apps--items">
                    <img src="https://i.postimg.cc/XYG3Gmyc/Word-2-icon-1.png" alt="loading"/>
                    <span class="giz-text">Word Pad</span>
                </li>
                <li class="giz-favorite-apps--items">
                    <img src="https://i.postimg.cc/bYm9dBPv/dota-2-icon-1.png" alt="loading"/>
                    <span class="giz-text">Dota</span>
                </li>
                <li class="giz-favorite-apps--items">
                    <img src="https://i.postimg.cc/DZCYcf9W/Chrome-icon-1.png" alt="loading"/>
                    <span class="giz-text giz-fill-text">Google Chrome</span>
                    <GizProgressBar></GizProgressBar>
                    <GizSubDropdownContent></GizSubDropdownContent>
                </li>
                <li class="giz-favorite-apps--items">
                    <img src="https://i.postimg.cc/VNmGQb1r/spotify-512.png" alt="loading"/>
                    <span class="giz-text">Spotify</span>
                </li>
                <li class="giz-favorite-apps--items">
                    <img src="https://i.postimg.cc/rpfvf9WF/bNet.png" alt="loading"/>
                    <span class="giz-text">Battlenet</span>
                </li>
            </ul>
        </div>
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->