@namespace Gizmo.Client.UI.Shared
<!--giz card-->
<div class="giz-card-wrapper">
<div class="giz-card active">
    <div class="giz-card--body">
        <div class="giz-card-title">All</div>
        <div class="giz-card-text">
            Access
        </div>
    </div>
</div>
<GizSubDropdownContent></GizSubDropdownContent>
</div>
<!--/giz card-->