@namespace Gizmo.Client.UI.Shared
     <!--carousel button-->
                    <div class="giz-carousel-indicator">
                        <button type="button" class="giz-indicator active"></button>
                        <button type="button" class="giz-indicator"></button>
                        <button type="button" class="giz-indicator"></button>
                        <button type="button" class="giz-indicator"></button>
                        <button type="button" class="giz-indicator"></button>
                        <button type="button" class="giz-indicator"></button>
                    </div>
                    <!--/carousel button-->