@namespace Gizmo.Client.UI.Shared
<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown body-->
    <div class="giz-dropdwon-menu--body">
        <div class="giz-search-menu">
            <div class="giz-heading">categories</div>
            <div class="giz-type">
                Games & Applications <button class="client-button giz-btn-secondary-dark">0</button>
                <span class="giz-text">Shop</span><button class="client-button giz-btn-secondary-light">0</button>
            </div>
        </div>
        <!--spinner-->
        <div class="giz-align-center">
           <GizSpinner></GizSpinner>
        </div>
        <!--/spinner-->
        <div class="giz-search-menu-container">
            <div class="giz-heading">result</div>
            <div class="giz-search-wrapper">
                <div class="giz-apps-card">
                    <div class="giz-apps-card--overlay mb-2">
                        <img src="https://i.postimg.cc/N0SGdXBy/Last-of-us.png" alt="loading" />
                    </div>
                    <div class="giz-card-title">
                        The Last of Us:
                        Part II
                    </div>
                </div>
                <div class="giz-apps-card">
                    <div class="giz-apps-card--overlay mb-2">
                        <img src="https://i.postimg.cc/7PXkYRWH/doom.png" alt="loading" />
                    </div>
                    <div class="giz-card-title">Doom (2019)</div>
                </div>
                <div class="giz-apps-card">
                    <div class="giz-apps-card--overlay mb-2">
                        <img src="https://i.postimg.cc/C1FQ3hYj/minecraft-1.png" alt="loading" />
                    </div>
                    <div class="giz-card-title">Minecraft</div>
                </div>
                <div class="giz-apps-card">
                    <div class="giz-apps-card--overlay">
                        <img src="https://i.postimg.cc/BvJp6my3/box.png" alt="loading" />
                        <div class="giz-card-title">
                            +3 More
                            <a href="#">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->