@namespace Gizmo.Client.UI.Shared
<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown body-->
    <div class="giz-dropdwon-menu--body">
        <div class="giz-search-menu">
            <div class="giz-heading">categories</div>
            <div class="giz-type">
                Games & Applications <button class="giz-btn-secondary-dark">0</button>
                <span class="giz-text">Shop</span><button class="giz-btn-secondary-light">0</button>
            </div>
        </div>
        <div class="giz-animate">
            <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <path fill="#fff" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
                            </path>
                            </svg>
        </div>
        <div class="giz-search-menu-container">
            <div class="giz-heading">result</div>
            <div class="giz-search-wrapper">
                <div class="giz-apps-card">
                    <div class="giz-apps-card--overlay mb-2">
                        <img src="https://i.postimg.cc/N0SGdXBy/Last-of-us.png" alt="loading" />
                    </div>
                    <div class="giz-card-title">
                        The Last of Us:
                        Part II
                    </div>
                </div>
                <div class="giz-apps-card">
                    <div class="giz-apps-card--overlay mb-2">
                        <img src="https://i.postimg.cc/7PXkYRWH/doom.png" alt="loading" />
                    </div>
                    <div class="giz-card-title">Doom (2019)</div>
                </div>
                <div class="giz-apps-card">
                    <div class="giz-apps-card--overlay mb-2">
                        <img src="https://i.postimg.cc/C1FQ3hYj/minecraft-1.png" alt="loading" />
                    </div>
                    <div class="giz-card-title">Minecraft</div>
                </div>
                <div class="giz-apps-card">
                    <div class="giz-apps-card--overlay">
                        <img src="https://i.postimg.cc/BvJp6my3/box.png" alt="loading" />
                        <div class="giz-card-title">
                            +3 More
                            <a href="#">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->