@namespace Gizmo.Client.UI.Shared
<!--news cards-->
<div class="giz-card-wrapper">
    <div class="giz-card giz-news-card">
        <div class="giz-card--heading">
            <a href="#"><img src="https://i.postimg.cc/bJgnQb1h/Image-1.png" alt="Image" /></a>
            <!--news modal-->
            <div class="giz-news-card-modal">
                <div class="giz-card-wrapper">
                    <div class="giz-card">
                        <div class="giz-card--heading py-6 px-8">
                            <div class="giz-modal-title mb-2">news</div>
                            <div class="giz-modal-text">via RedBull Gaming News</div>
                        </div>
                        <div class="giz-card--body px-8">
                            <img src="https://i.postimg.cc/50RYR6CT/news-img.png" alt="Image" class="pb-6" />
                            <div class="giz-card-title">turnaments 2021  |  18 hours ago</div>
                            <div class="giz-card-text">
                                Το Red Bull Mobile Esports Open Season 3 επιστρέφει αυτο το καλοκαίρι
                            </div>
                            <div class="giz-card-footer-text">
                                Για τους συλλέκτες που αγαπούν να προσθέτουν τις τελευταίες κυκλοφορίες 
                                στο ράφι τους, αυτή η αλλαγή μπορεί να είναι τρομακτική. Αλλά η κυριαρχία
                                της ψηφιακής αγορά θα σημαίνει απαραιτήτως το τέλος των φυσικών παιχνιδιών
                                ή οι συλλέκτες θα δείξουν αρκετό ενδιαφέρον και θα ξοδέψουν αρκετά χρήματα
                                για να κρατήσουν τα φυσικά μέσα ζωντανά, αν και σε μια νέα, πιο εξειδικευμένη μορφή;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/news modal-->
        </div>
        <div class="giz-card--body">
            <div class="giz-card-title">turnaments 2021  |  18 hours ago</div>
            <div class="giz-card-text">
                Το Red Bull Mobile Esports Open Season 3 επιστρέφει αυτο το καλοκαίρι
            </div>
        </div>
    </div>
</div>
<!--/news cards-->