@namespace Gizmo.Client.UI.Shared
<!--news cards-->
<div class="giz-card-wrapper">
<div class="giz-card giz-news-card">
    <div class="giz-card--heading">
        <a href="#"><img src="https://i.postimg.cc/bJgnQb1h/Image-1.png" alt="Image" /></a>
    </div>
    <div class="giz-card--body">
        <div class="giz-card-title">turnaments 2021  |  18 hours ago</div>
        <div class="giz-card-text">
            Το Red Bull Mobile Esports Open Season 3 επιστρέφει αυτο το καλοκαίρι
        </div>
    </div>
</div>
</div>
<!--/news cards-->