@namespace Gizmo.Client.UI.Shared
<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown body-->
    <div class="giz-dropdwon-menu--body">
        <div class="giz-no-notification-wrapper">
            <div class="giz-no-notification">
                <div class="giz-no-notification--title">No new notifications.</div>
                <div class="giz-no-notification--text">When something new happens you’ll find it here.</div>
            </div>
        </div>
        <div class="giz-notification-wrapper">
            <div class="giz-notification-items">
                <div class="giz-notification-items--title">New order #0075364 created.</div>
                <a href="#" class="giz-notification-items--icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                        <circle cx="4" cy="4" r="4" />
                    </svg>
                </a>
                <div class="giz-notification-items--info">1 hour ago <a href="#">mark as read</a></div>
            </div>
            <div class="giz-notification-items">
                <div class="giz-notification-items--title">Order #0075364 was successfuly paid from your account.</div>
                <a href="#" class="giz-notification-items--icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                        <circle cx="4" cy="4" r="4" />
                    </svg>
                </a>
                <div class="giz-notification-items--info">1 hour ago <a href="#">mark as read</a></div>
            </div>
            <div class="giz-notification-items">
                <div class="giz-notification-items--title">05h00m was added to your account.</div>
                <a href="#" class="giz-notification-items--icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                        <circle cx="4" cy="4" r="4" />
                    </svg>
                </a>
                <div class="giz-notification-items--info">2 days ago <a href="#">mark as read</a></div>
            </div>
            <div class="giz-notification-items">
                <div class="giz-notification-items--title">Order #0075364 was successfuly paid from your account.</div>
                <div class="giz-notification-items--info">3 days ago</div>
            </div>
            <div class="giz-dropdown-menu--wrapper">
                <button class="giz-btn-info">
                    Mark as all read
                </button>
                <a href="#">See older notifications.</a>
            </div>
        </div>
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->