@namespace Gizmo.Client.UI
@inherits CustomDOMComponentBase

<div class="giz-notification">
    <div class="giz-notification__icon">
        @switch (Icon)
        {
            case AlertDialogIcons.Error:

                <div class="giz-notification__icon--error">
                    <Icon Size="IconSizes.Large" SVGIcon="Icons.Close_Client" />
                </div>

                break;
        }
    </div>
    <div class="giz-notification__body">
        <div class="giz-notification__body__title">Order canceled</div>
        <div class="giz-notification__body__message">Your order has been canceled</div>
        <div class="giz-notification__body__actions">
            <Button Text="OK" />
        </div>
    </div>
    <div class="giz-notification__close-button">
        <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseNotification()" />
    </div>
</div>