@namespace Gizmo.Client.UI.Shared
<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown body-->
    <div class="giz-dropdwon-menu--body">
        <!--notification-->
        <div class="giz-notification">
            <div class="giz-notification--wrapper">
                <!--no notification-->
                <div class="giz-no-notification">
                    <div class="giz-no-notification--title">No new notifications.</div>
                    <div class="giz-no-notification--text">When something new happens you’ll find it here.</div>
                </div>
                <!--/no notification-->
                <div class="giz-notification--items">
                    <div class="giz-notification--title">New order #0075364 created.</div>
                    <a href="#" class="giz-notification--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="4" />
                        </svg>
                    </a>
                    <div class="giz-notification--info">1 hour ago <a href="#">mark as read</a></div>
                </div>
                <div class="giz-notification--items">
                    <div class="giz-notification--title">Order #0075364 was successfuly paid from your account.</div>
                    <a href="#" class="giz-notification--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="4" />
                        </svg>
                    </a>
                    <div class="giz-notification--info">1 hour ago <a href="#">mark as read</a></div>
                </div>
                <div class="giz-notification--items">
                    <div class="giz-notification--title">05h00m was added to your account.</div>
                    <a href="#" class="giz-notification--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="4" />
                        </svg>
                    </a>
                    <div class="giz-notification--info">2 days ago <a href="#">mark as read</a></div>
                </div>
                <div class="giz-notification--items">
                    <div class="giz-notification--title">Order #0075364 was successfuly paid from your account.</div>
                    <div class="giz-notification--info">3 days ago</div>
                </div>
            </div>
            <!--notification btn-->
            <div class="giz-notification--btn">
                <button class="client-button giz-btn-info mb-2">
                    Mark as all read
                </button>
                <a href="#">See older notifications.</a>
            </div>
            <!--/notification-btn-->
        </div>
        <!--/notification-->
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->