@namespace Gizmo.Client.UI.Shared
<!--news cards-->
<div class="giz-card-wrapper" @onclick="ShowModal">
    <div class="giz-card giz-news-card">
        <div class="giz-card--heading">
            <a href="#"><img src="https://i.postimg.cc/bJgnQb1h/Image-1.png" alt="Image" /></a>
            <!--news modal-->
            <div class="giz-modal-wrapper" style="visibility: @(IsOpen ? "hidden" : "visible");">
                <div class="giz-news-modal">
                    <!--modal header-->
                    <div class="giz-modal-header py-6 px-8">
                        <div class="giz-modal-header--title">news</div>
                        <button class="client-button giz-terminate">
                            <!--svg-->
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L1 13" stroke="#69748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M1 1L13 13" stroke="#69748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <!--/svg-->
                        </button>
                        <div class="giz-modal-header--text">via RedBull Gaming News</div>
                    </div>
                    <!--/modal header-->
                    <!--modal body-->
                    <div class="giz-modal-body px-8 py-9">
                        <img src="https://i.postimg.cc/50RYR6CT/news-img.png" alt="Image" class="pb-6" />
                        <div class="giz-modal-body--title">turnaments 2021  |  18 hours ago</div>
                        <div class="giz-modal-body--text">
                            Το Red Bull Mobile Esports Open Season 3 επιστρέφει αυτο το καλοκαίρι
                        </div>
                        <div class="giz-modal-body--footer-text">
                            Για τους συλλέκτες που αγαπούν να προσθέτουν τις τελευταίες κυκλοφορίες
                            στο ράφι τους, αυτή η αλλαγή μπορεί να είναι τρομακτική. Αλλά η κυριαρχία
                            της ψηφιακής αγορά θα σημαίνει απαραιτήτως το τέλος των φυσικών παιχνιδιών
                            ή οι συλλέκτες θα δείξουν αρκετό ενδιαφέρον και θα ξοδέψουν αρκετά χρήματα
                            για να κρατήσουν τα φυσικά μέσα ζωντανά, αν και σε μια νέα, πιο εξειδικευμένη μορφή;
                        </div>
                    </div>
                    <!--/modal body-->
                </div>
            </div>
            <!--/news modal-->
        </div>
        <div class="giz-card--body">
            <div class="giz-card-title">turnaments 2021  |  18 hours ago</div>
            <div class="giz-card-text">
                Το Red Bull Mobile Esports Open Season 3 επιστρέφει αυτο το καλοκαίρι
            </div>
        </div>
    </div>
</div>
<!--/news cards-->
@code {

    private bool IsOpen { get; set; } = true;

    private void ShowModal()
    {
        IsOpen = !IsOpen;
    }
    }