@namespace Gizmo.Client.UI.Shared
@inherits Gizmo.Web.Components.CustomDOMComponentBase

<div class="giz-progress-button">
    @if (Loading)
    {
        <GizSpinner />
    }
    else
    {
        <div class="giz-progress-button--inner" style="width: @Value%"></div>
        <span class="giz-progress-button--text">@Value.ToString("N0")%</span>
    }
</div>
