@namespace Gizmo.Client.UI.Shared
<!--progress Button-->
<button class="client-button giz-progress-button">
    <div class="giz-progress-button--inner"></div>
    <span class="giz-progress-button--text">30%</span>
</button>
<!--/progress button-->

