@namespace Gizmo.Client.UI.Shared
<!--primary modal-->
<div class="giz-modal-wrapper">
    <div class="giz-primary-modal pa-11">
        <div class="giz-primary-modal--heading mb-2">
            Heads up
        </div>
        <div class="giz-primary-modal--title mb-8">
            Primary modal example
        </div>
        <div class="giz-primary-modal-body">
            <div class="giz-primary-modal-body--text mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="giz-primary-modal-body--btn">
                <button class="client-button giz-btn-primary giz-elevation-0 mr-2">confirm</button>
                <button class="client-button giz-btn-info">cancel</button>
            </div>
        </div>
    </div>
</div>
<!--/primary modal-->