@namespace Gizmo.Client.UI.Shared
@using Gizmo.Web.Components

<!--Rating cards-->
<div class="application-card">
    <div class="giz-hoverable-card">
        <div class="hoverable-content">
            <!--img-->
            <div class="giz-img-top">
                <img src="https://i.postimg.cc/T2zmSh4K/Gta-5.png" alt='loading' />
            </div>
            <!--/img-->
        </div>
        <div class="hovered-content-wrapper">
            <div class="hovered-content">
                <div class="d-flex">
                    <!--store-->
                    <Tooltip Text="Including Store Account">
                        <IconButton SVGIcon="Icons.StoreApp_Client" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="store-btn" />
                    </Tooltip>
                    <!--/store-->
                    <!--heart-->
                    <IconButton SVGIcon="Icons.Heart_Client" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="ml-auto" />
                    <!--/heart-->
                </div>
                <div>
                    <!--button-->
                    <Button Size="ButtonSizes.Large" HasShadow="true" IsFullWidth="true" Class="card-primary-button">LAUNCH</Button>
                    <!--/button-->
                </div>
                <div>
                    <!--offer-->
                    <div class="d-flex">
                        <div class="application-card-text">
                            <span class="giz-playing-indicator"></span>
                            Now Playing
                        </div>
                        <div class="application-card-count ml-auto">24</div>
                    </div>
                    <!--offer score-->
                </div>
            </div>
        </div>
    </div>
    <div class="application-card-footer">
        <!--card title-->
        <div class="application-card-title mt-4 mb-2">
            Grand Theft Auto IV
        </div>
        <!--/card title-->
        <div class="application-card-text">
            <div>
                <!--rating svg-->
                <Rating Value="4" />
                <!--/rating svg-->
                <span class="application-card-rating">168 Rating</span>
            </div>
        </div>
    </div>
</div>
<!--Rating Cards-->
