@namespace Gizmo.Client.UI.Shared
<!--stacked progress bar-->
<div class="giz-stacked-progress">
    <div class="giz-stacked-progress--bar " role="progressbar" style="width: 55%;" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="giz-stacked-progress--text">
        <div class="giz-stacked-progress--left-text">2222</div>
        <div class="giz-stacked-progress--right-text">1445</div>
    </div>
</div>
<!--/stacked progress bar-->