@inherits CustomDOMComponentBase
@namespace Gizmo.Client.UI.Shared
@using Gizmo.Web.Components

<!--shop cards-->
<div class="product-card">
    <div class="giz-hoverable-card">
        <div class="hoverable-content">
            <!--img-->
            <div class="giz-img-top">
                <img src="https://i.postimg.cc/sgmjBb4R/cola.png" alt='loading' />
            </div>
            <!--/img-->
        </div>
        <div class="hovered-content-wrapper">
            <div class="hovered-content" @onclick="@(() => OpenDetails())">
                <div class="d-flex">
                    <!--heart-->
                    <IconButton SVGIcon="Icons.Heart_Client" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="ml-auto" />
                    <!--/heart-->
                </div>
                <div>
                    <!--button-->
                    <Button Size="ButtonSizes.Large" HasShadow="true" IsFullWidth="true" Class="card-primary-button" @onclick="@(() => AddProduct())">Add to cart</Button>
                    <!--/button-->
                </div>
                <div>
                    <!--offer-->
                    <div class="d-flex">
                        <div class="product-card-text">
                            Buy One Get
                        </div>
                        <div class="product-card-points ml-auto">
                            @Product?.Points
                            <!--trophy-->
                            <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.625 1.22727H7V0.460227C7 0.205185 6.83281 0 6.625 0H2.375C2.16719 0 2 0.205185 2 0.460227V1.22727H0.375C0.167187 1.22727 0 1.43246 0 1.6875V2.76136C0 3.44595 0.351562 4.14972 0.967188 4.6924C1.45938 5.1277 2.05781 5.40384 2.68594 5.49205C3.17656 6.49112 3.75 6.90341 3.75 6.90341V8.28409H3C2.44844 8.28409 2 8.68104 2 9.35795V9.58807C2 9.71463 2.08437 9.81818 2.1875 9.81818H6.8125C6.91563 9.81818 7 9.71463 7 9.58807V9.35795C7 8.68104 6.55156 8.28409 6 8.28409H5.25V6.90341C5.25 6.90341 5.82344 6.49112 6.31406 5.49205C6.94375 5.40384 7.54219 5.1277 8.03281 4.6924C8.64687 4.14972 9 3.44595 9 2.76136V1.6875C9 1.43246 8.83281 1.22727 8.625 1.22727ZM1.55156 3.69716C1.17031 3.35966 1 2.98381 1 2.76136V2.45455H2.00312C2.01875 3.07969 2.09375 3.62812 2.20312 4.10753C1.96719 4.00781 1.74688 3.86974 1.55156 3.69716ZM8 2.76136C8 3.0701 7.72344 3.45362 7.44844 3.69716C7.25313 3.86974 7.03125 4.00781 6.79531 4.10753C6.90469 3.62812 6.97969 3.07969 6.99531 2.45455H8V2.76136Z" fill="#258CF6" />
                            </svg>
                            <!--/trophy-->
                        </div>
                    </div>
                    <!--offer score-->
                </div>
            </div>
        </div>
    </div>
    <div class="product-card-footer">
        <!--card title-->
        <div class="product-card-title mt-4 mb-2">
            @Product?.Name
        </div>
        <!--/card title-->
        <div class="product-card-text">
            @Product?.Price.ToString("C") or @Product?.PointsPrice
            <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.625 1.22727H7V0.460227C7 0.205185 6.83281 0 6.625 0H2.375C2.16719 0 2 0.205185 2 0.460227V1.22727H0.375C0.167187 1.22727 0 1.43246 0 1.6875V2.76136C0 3.44595 0.351562 4.14972 0.967188 4.6924C1.45938 5.1277 2.05781 5.40384 2.68594 5.49205C3.17656 6.49112 3.75 6.90341 3.75 6.90341V8.28409H3C2.44844 8.28409 2 8.68104 2 9.35795V9.58807C2 9.71463 2.08437 9.81818 2.1875 9.81818H6.8125C6.91563 9.81818 7 9.71463 7 9.58807V9.35795C7 8.68104 6.55156 8.28409 6 8.28409H5.25V6.90341C5.25 6.90341 5.82344 6.49112 6.31406 5.49205C6.94375 5.40384 7.54219 5.1277 8.03281 4.6924C8.64687 4.14972 9 3.44595 9 2.76136V1.6875C9 1.43246 8.83281 1.22727 8.625 1.22727ZM1.55156 3.69716C1.17031 3.35966 1 2.98381 1 2.76136V2.45455H2.00312C2.01875 3.07969 2.09375 3.62812 2.20312 4.10753C1.96719 4.00781 1.74688 3.86974 1.55156 3.69716ZM8 2.76136C8 3.0701 7.72344 3.45362 7.44844 3.69716C7.25313 3.86974 7.03125 4.00781 6.79531 4.10753C6.90469 3.62812 6.97969 3.07969 6.99531 2.45455H8V2.76136Z" fill="white" />
            </svg>
        </div>
    </div>
</div>
<!--shop Cards-->