@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown header-->
    <div class="giz-dropdown-menu--header">
        <div class="giz-dropdown-menu--content">
            <Icon SVGIcon="Icons.Coins_Client" Size="IconSizes.Medium" />
            <div class="giz-dropdown-menu--text"><div class="giz-title">BALANCE</div><div>$10.76</div></div>
        </div>
        <div class="giz-dropdown-menu--content">
            <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.Medium" />
            <div class="giz-dropdown-menu--text"><div class="giz-title">POINTS</div><div>416</div></div>
        </div>
    </div>
    <!--/dropdown header-->
    <!--dropdown body-->
    <div class="giz-dropdown-menu--body">
        <div class="giz-dropdown-menu--carousel">
            <div>time source</div>
            <div>
                <IconButton Variant="ButtonVariants.Text" Size="ButtonSizes.Small" SVGIcon="Icons.ArrowLeft_Client" @onclick="@OnClickPreviousButtonHandler" />
                <IconButton Variant="ButtonVariants.Text" Size="ButtonSizes.Small" SVGIcon="Icons.ArrowRight_Client" @onclick="@OnClickNextButtonHandler" />
            </div>
        </div>
        <div class="giz-dropdown-menu--timing">
            <div class="giz-pack">Six Hours (6) for 10$ Pack</div>
            <div class="giz-title">time remaining</div>
            <div class="giz-countdown">06:27:59</div>
        </div>
        <div class="giz-dropdown-menu--wrapper">
            <div class="giz-dropdown-menu--user-links">
                <Button Size="ButtonSizes.Large" HasShadow="true">Refill time</Button>
                <Button Size="ButtonSizes.Large" Color="ButtonColors.Info">my profile</Button>
                <Button Size="ButtonSizes.Large" Color="ButtonColors.Info">settings</Button>
            </div>
            <div class="giz-dropdown-menu--logout">
                <Button Size="ButtonSizes.Large" LeftSVGIcon="Icons.Logout_Client" Color="ButtonColors.Secondary">
                    log out
                </Button>
            </div>
        </div>
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->