@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown header-->
    <div class="giz-dropdown-menu--header">
        <div class="giz-dropdown-menu--content">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
                <path d="M0 15.832V17.5C0 18.8789 3.07943 20 6.875 20C10.6706 20 13.75 18.8789 13.75 17.5V15.832C12.2712 16.9688 9.56771 17.5 6.875 17.5C4.18229 17.5 1.47884 16.9688 0 15.832ZM11.4583 5C15.2539 5 18.3333 3.87891 18.3333 2.5C18.3333 1.12109 15.2539 0 11.4583 0C7.66276 0 4.58333 1.12109 4.58333 2.5C4.58333 3.87891 7.66276 5 11.4583 5ZM0 11.7344V13.75C0 15.1289 3.07943 16.25 6.875 16.25C10.6706 16.25 13.75 15.1289 13.75 13.75V11.7344C12.2712 13.0625 9.56413 13.75 6.875 13.75C4.18587 13.75 1.47884 13.0625 0 11.7344ZM14.8958 12.1641C16.9476 11.7305 18.3333 10.9258 18.3333 10V8.33203C17.5026 8.97266 16.2816 9.41016 14.8958 9.67969V12.1641ZM6.875 6.25C3.07943 6.25 0 7.64844 0 9.375C0 11.1016 3.07943 12.5 6.875 12.5C10.6706 12.5 13.75 11.1016 13.75 9.375C13.75 7.64844 10.6706 6.25 6.875 6.25ZM14.7275 8.44922C16.876 8.02734 18.3333 7.19922 18.3333 6.25V4.58203C17.0622 5.5625 14.8779 6.08984 12.5791 6.21484C13.6354 6.77344 14.4124 7.52344 14.7275 8.44922Z" fill="white" />
            </svg>
            <div class="giz-dropdown-menu--text"><div class="giz-title">BALANCE</div><div>$10.76</div></div>
        </div>
        <div class="giz-dropdown-menu--content">
            <div class="giz-svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
                    <path d="M17.5694 2.5H14.2593V0.9375C14.2593 0.417969 13.9187 0 13.4954 0H4.83796C4.41464 0 4.07407 0.417969 4.07407 0.9375V2.5H0.763889C0.340567 2.5 0 2.91797 0 3.4375V5.625C0 7.01953 0.716146 8.45312 1.9702 9.55859C2.9728 10.4453 4.19184 11.0078 5.47135 11.1875C6.47078 13.2227 7.63889 14.0625 7.63889 14.0625V16.875H6.11111C4.98756 16.875 4.07407 17.6836 4.07407 19.0625V19.5312C4.07407 19.7891 4.24595 20 4.45602 20H13.8773C14.0874 20 14.2593 19.7891 14.2593 19.5312V19.0625C14.2593 17.6836 13.3458 16.875 12.2222 16.875H10.6944V14.0625C10.6944 14.0625 11.8626 13.2227 12.862 11.1875C14.1447 11.0078 15.3637 10.4453 16.3631 9.55859C17.614 8.45312 18.3333 7.01953 18.3333 5.625V3.4375C18.3333 2.91797 17.9928 2.5 17.5694 2.5ZM3.16059 7.53125C2.38397 6.84375 2.03704 6.07812 2.03704 5.625V5H4.08044C4.11227 6.27344 4.26505 7.39062 4.48785 8.36719C4.00723 8.16406 3.55845 7.88281 3.16059 7.53125ZM16.2963 5.625C16.2963 6.25391 15.7329 7.03516 15.1727 7.53125C14.7749 7.88281 14.3229 8.16406 13.8423 8.36719C14.0651 7.39062 14.2179 6.27344 14.2497 5H16.2963V5.625Z" fill="white" />
                </svg>
            </div>
            <div class="giz-dropdown-menu--text"><div class="giz-title">POINTS</div><div>416</div></div>
        </div>
    </div>
    <!--/dropdown header-->
    <!--dropdown body-->
    <div class="giz-dropdwon-menu--body">
        <div class="giz-dropdown-menu--carousel">
            <div>time source</div>
            <div>
                <IconButton Variant="ButtonVariants.Text" Size="ButtonSizes.Small" SVGIcon="Icons.ArrowLeft_Client" @onclick="@OnClickPreviousButtonHandler" />
                <IconButton Variant="ButtonVariants.Text" Size="ButtonSizes.Small" SVGIcon="Icons.ArrowRight_Client" @onclick="@OnClickNextButtonHandler" />
            </div>
        </div>
        <div class="giz-dropdown-menu--timing">
            <div class="giz-pack">Six Hours (6) for 10$ Pack</div>
            <div class="giz-title">time remaining</div>
            <div class="giz-countdown">06:27:59</div>
        </div>
        <div class="giz-dropdown-menu--wrapper">
            <div class="giz-dropdown-menu--user-links">
                <Button Size="ButtonSizes.Large" HasShadow="true">Refill time</Button>
                <Button Size="ButtonSizes.Large" Color="ButtonColors.Info">my profile</Button>
                <Button Size="ButtonSizes.Large" Color="ButtonColors.Info">settings</Button>
            </div>
            <div class="giz-dropdown-menu--logout">
                <Button Size="ButtonSizes.Large" LeftSVGIcon="Icons.Logout_Client" Color="ButtonColors.Secondary">
                    log out
                </Button>
            </div>
        </div>
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->