@namespace Gizmo.Client.UI.Shared
<!--window app modal-->
<div class="giz-modal-wrapper">
    <div class="giz-window-modal">
        <!--modal header-->
        <div class="giz-modal-header">
            <div class="giz-modal-header--title">windows apps</div>
            <button class="client-button giz-terminate">
                <!--svg-->
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L1 13" stroke="#69748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 1L13 13" stroke="#69748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <!--/svg-->
            </button>
            <div class="giz-modal-header--text">Select application version</div>
        </div>
        <!--/modal header-->
        <!--playing card-->
        <div class="giz-window-modal--body">
            <div class="giz-app-cards">
                <div class="giz-card-wrapper">
                    <div class="giz-card active">
                        <div class="giz-card--body">
                            <div class="giz-img"><img src="https://i.postimg.cc/Jhr89jNZ/chrome.png" alt="loading" /></div>
                            <!--user action btn-->
                            <div class="giz-button-wrapper">
                                <GizProgressButton></GizProgressButton>
                                <GizSubDropdownMenu></GizSubDropdownMenu>
                            </div>
                            <!--user action btn-->
                            <div class="giz-app">
                                <div class="giz-app--title">
                                    programs
                                </div>
                                <div class="giz-app--name">
                                    Google Chrome
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="giz-card-wrapper">
                    <div class="giz-card">
                        <div class="giz-card--body">
                            <div class="giz-img"><img src="https://i.postimg.cc/fTvD5HXD/exp.png" alt="loading" /></div>
                            <!--user action btn-->
                            <div class="giz-button-wrapper">
                                <GizProgressButton></GizProgressButton>
                                <GizSubDropdownMenu></GizSubDropdownMenu>
                            </div>
                            <!--user action btn-->
                            <div class="giz-app">
                                <div class="giz-app--title">
                                    programs
                                </div>
                                <div class="giz-app--name">
                                    Explorer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="giz-card-wrapper">
                    <div class="giz-card">
                        <div class="giz-card--body">
                            <div class="giz-img"><img src="https://i.postimg.cc/q74KSDDw/pc.png" /></div>
                            <!--user action btn-->
                            <div class="giz-button-wrapper">
                                <GizProgressButton></GizProgressButton>
                                <GizSubDropdownMenu></GizSubDropdownMenu>
                            </div>
                            <!--user action btn-->
                            <div class="giz-app">
                                <div class="giz-app--title">
                                    programs
                                </div>
                                <div class="giz-app--name">
                                    My computer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="giz-card-wrapper">
                    <div class="giz-card">
                        <div class="giz-card--body">
                            <div class="giz-img">  <img src="https://i.postimg.cc/W120tb0j/dota2.png" alt="loading" /></div>
                            <!--user action btn-->
                            <div class="giz-button-wrapper d-none">
                                <GizProgressButton></GizProgressButton>
                                <GizSubDropdownMenu></GizSubDropdownMenu>
                            </div>
                            <!--user action btn-->
                            <div class="giz-app">
                                <div class="giz-app--title">
                                    programs
                                </div>
                                <div class="giz-app--name">
                                    Dota 2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="giz-card-wrapper">
                    <div class="giz-card">
                        <div class="giz-card--body">
                            <div class="giz-img"> <img src="https://i.postimg.cc/RFjZ5NVm/spoty.png" alt="loading" /></div>
                            <!--user action btn-->
                            <div class="giz-button-wrapper">
                                <GizProgressButton></GizProgressButton>
                                <GizSubDropdownMenu></GizSubDropdownMenu>
                            </div>
                            <!--user action btn-->
                            <div class="giz-app">
                                <div class="giz-app--title">
                                    programs
                                </div>
                                <div class="giz-app--name">
                                    Spotify
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/playing card-->
    </div>
</div>
<!--/window app modal-->