@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-apps-card">
    <div class="giz-apps-card--overlay mb-2">
        <img src="@Result.Image" alt="loading" />
    </div>
    <div class="giz-card-title">@Result.Name</div>
</div>
