@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-global-search">
    <Icon SVGIcon="Icons.Search_Client" Size="IconSizes.Small" Color="#a4a5a8" Class="ml-3" />
    <input type="text" placeholder="Search games and applications">
    <Icon SVGIcon="Icons.Close_Client" Class="giz-terminate mr-3" />
    @*<a href="#" class="giz-terminate">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
            <path d="M10 1L1 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M1 1L10 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </a>*@
    <!--dropdown-->
    <div class="giz-dropdown-menu">
        <!--dropdown body-->
        <div class="giz-dropdown-menu--body">
            <div class="giz-search-menu">
                <div class="giz-heading">categories</div>
                <div class="giz-type">
                    Games & Applications <button class="client-button giz-btn-secondary-dark">0</button>
                    <span class="giz-text">Shop</span><button class="client-button giz-btn-secondary-light">0</button>
                </div>
            </div>
            <!--spinner-->
            <div class="giz-align-center">
               <GizSpinner></GizSpinner>
            </div>
            <!--/spinner-->
            <div class="giz-search-menu-container">
                <div class="giz-heading">result</div>
                <div class="giz-search-wrapper">
                    <div class="giz-apps-card">
                        <div class="giz-apps-card--overlay mb-2">
                            <img src="https://i.postimg.cc/N0SGdXBy/Last-of-us.png" alt="loading" />
                        </div>
                        <div class="giz-card-title">
                            The Last of Us:
                            Part II
                        </div>
                    </div>
                    <div class="giz-apps-card">
                        <div class="giz-apps-card--overlay mb-2">
                            <img src="https://i.postimg.cc/7PXkYRWH/doom.png" alt="loading" />
                        </div>
                        <div class="giz-card-title">Doom (2019)</div>
                    </div>
                    <div class="giz-apps-card">
                        <div class="giz-apps-card--overlay mb-2">
                            <img src="https://i.postimg.cc/C1FQ3hYj/minecraft-1.png" alt="loading" />
                        </div>
                        <div class="giz-card-title">Minecraft</div>
                    </div>
                    <div class="giz-apps-card">
                        <div class="giz-apps-card--overlay">
                            <img src="https://i.postimg.cc/BvJp6my3/box.png" alt="loading" />
                            <div class="giz-card-title">
                                +3 More
                                <a href="#">Show all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/dropdown body-->
    </div>
    <!--/dropdown-->
</div>