@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-global-search">
    <Icon SVGIcon="Icons.Search_Client" Size="IconSizes.Small" Color="#a4a5a8" Class="ml-3" />
    <input type="text" placeholder="Search games and applications">
    <Icon SVGIcon="Icons.Close_Client" Class="giz-terminate mr-3" />
    <!--dropdown-->
    <div class="giz-global-search-dropdown">
        <!--dropdown body-->
        <div class="giz-global-search-dropdown--body">
            <div class="giz-search-menu">
                <div class="giz-heading">categories</div>
                <div class="giz-type">
                    Games & Applications <button class="client-button giz-btn-secondary-dark">0</button>
                    <span class="giz-text">Shop</span><button class="client-button giz-btn-secondary-light">0</button>
                </div>
            </div>

            @if (Results != null && Results.Count > 0)
            {
                <div class="giz-search-menu-container">
                    <div class="giz-heading">result</div>
                    <div class="giz-search-wrapper">

                        @foreach (var result in Results.Take(3))
                        {
                            <GlobalSearchResultCard Result="@result" />
                        }

                        @if (Results.Count > 3)
                        {
                            <div class="giz-apps-card">
                                <div class="giz-apps-card--overlay">
                                    <img src="https://i.postimg.cc/BvJp6my3/box.png" alt="loading" />
                                    <div class="giz-card-title">
                                        +3 More
                                        <a href="#">Show all</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            }
            else
            {
                <div class="giz-align-center">
                    <GizSpinner></GizSpinner>
                </div>
            }

        </div>
        <!--/dropdown body-->
    </div>
    <!--/dropdown-->
</div>