@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-apps-card">
    <div class="giz-apps-card--overlay">
        <img src="_content/Gizmo.Client.UI/img/@Result.Image" alt="loading" />
    </div>
    <div class="giz-apps-card-title">@Result.Name</div>
</div>
