@namespace Gizmo.Client.UI
@inherits CustomDOMComponentBase

<div class="giz-header__user-menu">
    <HeaderUserBalance />

    @if (UserOnlineDepositViewState.IsEnabled)
    {
        <HeaderUserMenuUserOnlineDeposit @onclick="UserMenuViewService.ToggleUserOnlineDeposit" />
    }

    <HeaderUserMenuActiveApps @onclick="UserMenuViewService.ToggleActiveApps" />
    @*<div class="giz-header__user-menu-item">
        <button class="user-menu-item-button--box">
            <Icon SVGIcon="Icons.ContactSupport_Client" />
        </button>
    </div>*@
    <HeaderUserMenuNotifications @onclick="UserMenuViewService.ToggleNotifications" />
    <HeaderUserMenuAssistance @onclick="UserMenuViewService.ToggleAssistanceRequests" />
    <HeaderUserMenuUserLinks @onclick="UserMenuViewService.ToggleUserLinks" />
</div>
