   <!--header-->
<header id="giz-navbar">
    <nav>
        <ul class="giz-nav">
            <li class="giz-nav--logo">
                <a href="#" class="giz-navbar-brand"><img src="https://i.postimg.cc/ZqR6bSr5/Logo.png" alt="loading"></a>
                <form>
                    <input type="text" placeholder="Search games and applications">
                </form>
            </li>
            <!--navbar item-->
            <li class="giz-nav--item">
                <a href="#" class="giz-nav--link">
                    <img src="https://i.postimg.cc/8Cx8wT4F/Rocket.png" 
                         alt="loading">QUICK LAUNCH
                </a>
            </li>
            <li class="giz-nav--item">
                <a href="#" class="giz-nav--link">
                    <img src="https://i.postimg.cc/Jnw6GxMg/Vector.png" 
                         alt="loading">ACTIVE APPS
                </a>
            </li>
            <li class="giz-nav--item">
                <a href="#" class="giz-nav--link">
                    <img src="https://i.postimg.cc/WzBhvRst/Heart.png.svg" 
                         alt="loading">FAVORITES
                </a>
            </li>
            <li class="giz-nav--item">
                <a href="#" class="giz-nav--link">
                    <img src="https://i.postimg.cc/W4Nwdykh/Notifications-1.png"
                         class="giz-notifications" alt="loading">
                </a>
            </li>
            <li class="giz-nav--item">
                <div class="giz-nav--avtar">
                    <img src="https://i.postimg.cc/nLbNNpgN/Avatar.png" height="27px" width="27px"alt="loading">
                    <div class="giz-about-user">
                        <div>PC 05</div>
                        <div class="giz-about-user--user">Infidle 06</div>
                    </div>
                    <button class="giz-btn">06:27</button><img src="https://i.postimg.cc/gjFD22qP/Down-Chevron.png" alt="loading">
                </div>
            </li>
            <!--/navbar item-->
        </ul>
    </nav>
</header>
<!--/header-->
@code {

}
