@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-global-search-result-card">
    <div class="giz-global-search-result-card__overlay">
        <img src="_content/Gizmo.Client.UI/img/@Result.Image" alt="loading" />
    </div>
    <div class="giz-global-search-result-card__title">@Result.Name</div>
</div>
