@namespace Gizmo.Client.UI
@inherits ComponentBase

<div class="giz-header__modules-menu">
    @foreach (var pageModule in ViewState.PageModules)
    {
        <div class="giz-header__modules-menu-item">
            <HeaderModulesMenuItem MetaData="@pageModule.MetaData" />
        </div>
    }
</div>
