@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-header">
    <HeaderLogo />
    <HeaderModulesMenu />
    <GlobalSearch />
    <HeaderUserMenu />
</div>
