@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase

<div class="giz-dialog__content-wrapper">
    <div class="giz-dialog__content"
         @onclick="OnClickDialogHandler"
         @onclick:stopPropagation="true">
        @ChildContent
    </div>
</div>
