@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase

@if (ViewState.IsOutOfOrder)
{
    <div class="giz-login-overlay">
        <div class="giz-host-out-of-order">
            <div class="giz-host-out-of-order__message">
                <div>@LocalizationService.GetString("GIZ_SYSTEM_OUT_OF_ORDER")</div>
            </div>
        </div>
    </div>
}