@namespace Gizmo.Client.UI
@inherits ComponentBase
<!--aside nav-->
<aside id="giz-sidenavbar">
    <div class="giz-sidenav">
        <!--ul-->
        <ul class="giz-nav">
            @foreach (var pageModule in ComponentDiscoveryService.PageModules)
            {
                <li class="giz-sidenav--item">
                    <PageModuleNavLinkTemplate MetaData="@pageModule"></PageModuleNavLinkTemplate>
                </li>
            }
        </ul>
        <!--/ul-->
        <!--ul-->
        <ul class="giz-sidenav--logout">
            <li class="giz-sidenav--item">
                <a href="#" class="giz-sidenav--link">
                    <!--svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M7.93083 13.8892L9.45833 15.4167L14.875 10L9.45833 4.58333L7.93083 6.11083L10.7258 8.91667H0.25V11.0833H10.7258L7.93083 13.8892ZM17.5833 0.25H2.41667C1.21417 0.25 0.25 1.225 0.25 2.41667V6.75H2.41667V2.41667H17.5833V17.5833H2.41667V13.25H0.25V17.5833C0.25 18.775 1.21417 19.75 2.41667 19.75H17.5833C18.775 19.75 19.75 18.775 19.75 17.5833V2.41667C19.75 1.225 18.775 0.25 17.5833 0.25Z" />
                    </svg>
                    <!--/svg-->
                    <span>logout</span>
                </a>
            </li>
        </ul>
        <!--/ul-->
    </div>
</aside>
<!--/aside nav-->
