@namespace Gizmo.Client.UI.Shared

<!--aside nav-->
<aside id="giz-sidenavbar">
    <div class="giz-sidenav">
        <!--ul-->
        <ul>
            <li class="giz-sidenav--item">
                <a href="#" class="giz-sidenav--link">
                    <!--svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 25 22" fill="none">
                        <path d="M10.4066 21.0268V13.9337H15.1353V21.0268H21.0462V11.5694H24.5927L12.771 0.92981L0.949219 11.5694H4.49574V21.0268H10.4066Z" />
                    </svg>
                    <!--/svg-->
                    <span>Home</span>
                </a>
            </li>
            <li class="giz-sidenav--item ">
                <a href="#" class="giz-sidenav--link active">
                    <!--svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="17" viewBox="0 0 31 17" fill="none">
                        <path d="M23.2877 0.846924H8.29605C7.06041 0.846735 5.84389 1.17392 4.75481 1.79934C3.66572 2.42477 2.73786 3.32903 2.05384 4.43162C1.36981 5.53421 0.950842 6.80092 0.834231 8.11897C0.717619 9.43702 0.906983 10.7655 1.38546 11.9862C1.86395 13.2069 2.6167 14.2818 3.5767 15.1154C4.53671 15.9489 5.67418 16.5152 6.88784 16.7638C8.10151 17.0124 9.35371 16.9356 10.533 16.5402C11.7122 16.1448 12.782 15.4432 13.6469 14.4977H17.9336C18.7984 15.4431 19.868 16.1447 21.0471 16.5401C22.2262 16.9355 23.4783 17.0124 24.6918 16.764C25.9054 16.5155 27.0428 15.9495 28.0028 15.1162C28.9629 14.2829 29.7157 13.2082 30.1944 11.9878C30.6731 10.7674 30.8627 9.43909 30.7465 8.12115C30.6302 6.80321 30.2116 5.53652 29.528 4.43381C28.8444 3.3311 27.917 2.42659 26.8282 1.80079C25.7395 1.17499 24.5232 0.847314 23.2877 0.846924ZM12.4179 9.47901C12.4179 9.63873 12.3586 9.79191 12.2532 9.90485C12.1478 10.0178 12.0049 10.0812 11.8558 10.0812H9.42018V12.6909C9.42018 12.8507 9.36096 13.0039 9.25556 13.1168C9.15015 13.2297 9.00718 13.2932 8.85812 13.2932H7.73399C7.58492 13.2932 7.44195 13.2297 7.33655 13.1168C7.23114 13.0039 7.17192 12.8507 7.17192 12.6909V10.0812H4.73631C4.58724 10.0812 4.44428 10.0178 4.33887 9.90485C4.23346 9.79191 4.17424 9.63873 4.17424 9.47901V8.27453C4.17424 8.11481 4.23346 7.96163 4.33887 7.84868C4.44428 7.73574 4.58724 7.67229 4.73631 7.67229H7.17192V5.06259C7.17192 4.90287 7.23114 4.74969 7.33655 4.63675C7.44195 4.5238 7.58492 4.46035 7.73399 4.46035H8.85812C9.00718 4.46035 9.15015 4.5238 9.25556 4.63675C9.36096 4.74969 9.42018 4.90287 9.42018 5.06259V7.67229H11.8558C12.0049 7.67229 12.1478 7.73574 12.2532 7.84868C12.3586 7.96163 12.4179 8.11481 12.4179 8.27453V9.47901ZM22.535 13.2932C22.1645 13.2932 21.8022 13.1754 21.4941 12.9549C21.186 12.7343 20.9459 12.4208 20.8041 12.0539C20.6623 11.6871 20.6252 11.2835 20.6975 10.8941C20.7698 10.5047 20.9482 10.147 21.2102 9.86623C21.4722 9.58548 21.8061 9.39429 22.1695 9.31683C22.5329 9.23938 22.9097 9.27913 23.252 9.43107C23.5943 9.58301 23.887 9.84031 24.0928 10.1704C24.2987 10.5006 24.4086 10.8887 24.4086 11.2857C24.4086 11.8181 24.2112 12.3287 23.8598 12.7052C23.5085 13.0817 23.0319 13.2932 22.535 13.2932ZM25.5327 8.47528C25.1622 8.47528 24.7999 8.35754 24.4918 8.13696C24.1837 7.91638 23.9436 7.60285 23.8018 7.23604C23.66 6.86922 23.6229 6.46559 23.6952 6.07618C23.7674 5.68677 23.9459 5.32907 24.2079 5.04833C24.4699 4.76758 24.8038 4.57639 25.1672 4.49893C25.5306 4.42147 25.9073 4.46122 26.2497 4.61316C26.592 4.7651 26.8846 5.0224 27.0905 5.35253C27.2964 5.68266 27.4063 6.07078 27.4063 6.46782C27.4063 7.00023 27.2089 7.51083 26.8575 7.88731C26.5061 8.26378 26.0296 8.47528 25.5327 8.47528Z" />
                    </svg>
                    <!--/svg-->
                    <span>Games</span>
                </a>
            </li>
            <li class="giz-sidenav--item">
                <a href="#" class="giz-sidenav--link">
                    <!--svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M0.299805 4.87518H5.0285V0.146484H0.299805V4.87518ZM7.39285 19.0613H12.1215V14.3326H7.39285V19.0613ZM0.299805 19.0613H5.0285V14.3326H0.299805V19.0613ZM0.299805 11.9682H5.0285V7.23953H0.299805V11.9682ZM7.39285 11.9682H12.1215V7.23953H7.39285V11.9682ZM14.4859 0.146484V4.87518H19.2146V0.146484H14.4859ZM7.39285 4.87518H12.1215V0.146484H7.39285V4.87518ZM14.4859 11.9682H19.2146V7.23953H14.4859V11.9682ZM14.4859 19.0613H19.2146V14.3326H14.4859V19.0613Z" />
                    </svg>
                    <!--/svg-->
                    <span>Apps</span>
                </a>
            </li>
            <li class="giz-sidenav--item">
                <a href="#" class="giz-sidenav--link">
                    <!--svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                        <path d="M6.66504 17.8591C5.47302 17.8591 4.50856 18.8344 4.50856 20.0264C4.50856 21.2184 5.47302 22.1937 6.66504 22.1937C7.85707 22.1937 8.83236 21.2184 8.83236 20.0264C8.83236 18.8344 7.85707 17.8591 6.66504 17.8591ZM0.163086 0.520508V2.68783H2.3304L6.23158 10.9128L4.76864 13.5678C4.59525 13.8712 4.49772 14.2288 4.49772 14.6081C4.49772 15.8001 5.47302 16.7754 6.66504 16.7754H19.669V14.6081H7.12018C6.96847 14.6081 6.84926 14.4889 6.84926 14.3372L6.88177 14.2071L7.85707 12.4408H15.9303C16.7431 12.4408 17.4583 11.9965 17.8267 11.3246L21.7062 4.29164C21.7929 4.13993 21.8363 3.95571 21.8363 3.77149C21.8363 3.17547 21.3486 2.68783 20.7526 2.68783H4.72529L3.70665 0.520508H0.163086ZM17.5016 17.8591C16.3096 17.8591 15.3452 18.8344 15.3452 20.0264C15.3452 21.2184 16.3096 22.1937 17.5016 22.1937C18.6937 22.1937 19.669 21.2184 19.669 20.0264C19.669 18.8344 18.6937 17.8591 17.5016 17.8591Z" />
                    </svg>
                    <!--/svg-->
                    <span>shop</span>
                </a>
            </li>
        </ul>
        <!--/ul-->
        <!--ul-->
        <ul class="giz-sidenav--logout">
            <li class="giz-sidenav--item">
                <a href="#" class="giz-sidenav--link">
                    <!--svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M7.93083 13.8892L9.45833 15.4167L14.875 10L9.45833 4.58333L7.93083 6.11083L10.7258 8.91667H0.25V11.0833H10.7258L7.93083 13.8892ZM17.5833 0.25H2.41667C1.21417 0.25 0.25 1.225 0.25 2.41667V6.75H2.41667V2.41667H17.5833V17.5833H2.41667V13.25H0.25V17.5833C0.25 18.775 1.21417 19.75 2.41667 19.75H17.5833C18.775 19.75 19.75 18.775 19.75 17.5833V2.41667C19.75 1.225 18.775 0.25 17.5833 0.25Z" />
                    </svg>
                    <!--/svg-->
                    <span>logout</span>
                </a>
            </li>
        </ul>
         <!--/ul-->
    </div>
</aside>
<!--/aside nav-->
