@namespace Gizmo.Client.UI.Shared
<!--body section-->
<main>
    <!--main container-->
    <div class="giz-container">
        <!--news container-->
        <div class="news">
            <!--News section-->
            <section id="giz-news" class="pa-6">
                <div class="giz-daily-news">
                    <!--heading-->
                    <div class="giz-daily-news--heading mb-4">
                        <div class="heading-title">Daily news <span>Rankings</span></div>
                        <div>
                             <!--heading svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="mr-3">
                                <path d="M8.08559 2.20866L6.61374 0.736816L0.350586 6.99997L6.61374 13.2631L8.08559 11.7913L3.30471 6.99997L8.08559 2.20866Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="active">
                                <path d="M0.914414 2.20866L2.38626 0.736816L8.64941 6.99997L2.38626 13.2631L0.914414 11.7913L5.69529 6.99997L0.914414 2.20866Z" />
                            </svg>
                             <!--heading svg-->
                        </div>
                    </div>
                    <!--/heading-->
                    <div class="giz-card giz-card-carousel">
                        <div class="giz-card--heading">
                            <a href="#"><img src="https://i.postimg.cc/bJgnQb1h/Image-1.png" alt="Image" /></a>
                        </div>
                        <div class="giz-card--body">
                            <div class="giz-card-title">turnaments 2021  |  18 hours ago</div>
                            <div class="giz-card-text">
                                Το Red Bull Mobile Esports Open Season 3 επιστρέφει αυτο το καλοκαίρι
                            </div>
                        </div>
                    </div>
                    <!--carousel button-->
                    <div class="giz-carousel">
                        <button type="button" class="giz-carousel--indicator active"></button>
                        <button type="button" class="giz-carousel--indicator"></button>
                        <button type="button" class="giz-carousel--indicator"></button>
                        <button type="button" class="giz-carousel--indicator"></button>
                        <button type="button" class="giz-carousel--indicator"></button>
                        <button type="button" class="giz-carousel--indicator"></button>
                    </div>
                    <!--/carousel button-->
                    <!--giz card-->
                    <div class="giz-card">
                        <div class="giz-card--body active">
                            <div class="giz-card-title">game news  |  2 days ago</div>
                            <div class="giz-card-text">
                                Πρώην πραγωγός του Bloodborne και της Sony Japan ιδρύει νέα εταιρεία
                            </div>
                            <div class="giz-card-footer-text">
                                Σε αντίθεση με άλλες βιομηχανίες ψυχαγωγίας, οι φαν των βιντεοπαιχνιδιών έχουν προσκολληθεί στη νοσταλγική αγορά κουτιών, δίσκων ...
                            </div>
                        </div>
                    </div>
                    <!--/giz card-->
                    <!--giz card-->
                    <div class="giz-card">
                        <div class="giz-card--body">
                            <div class="giz-card-title">playstation 5  |  3 days ago</div>
                            <div class="giz-card-text">
                                Tα ψηφιακά παιχνίδια θα μπορούσαν να κυριαρχήσουν μέσα σε λίγα χρόνια
                            </div>
                        </div>
                    </div>
                    <!--/giz card-->
                    <!--giz card-->
                    <div class="giz-card">
                        <div class="giz-card--body">
                            <div class="giz-card-title">game reviews  |  5 days ago</div>
                            <div class="giz-card-text">
                                It Takes Two Review - The joys and
                                the heartbreak of love
                            </div>
                        </div>
                    </div>
                    <!--/giz card-->
                    <!--giz card-->
                    <div class="giz-card">
                        <div class="giz-card--body">
                            <div class="giz-card-title">game reviews  |  5 days ago</div>
                            <div class="giz-card-text">
                                Monster Hunter: Rise Review - Runt of
                                the Litter
                            </div>
                        </div>
                    </div>
                    <!--/giz card-->
                </div>
            </section>
            <!--/News section-->
        </div>
        <!--/news container-->
        <!--Apps container-->
        <div class="apps border-start">
            <!-- New App Section-->
            <section id="giz-apps" class="px-8 py-6">
                <!--row-->
                <div class=" giz-app-carousel">
                    <!--heading-->
                    <div class="giz-app-carousel--heading mb-4">
                        <div class="heading-title">New Apps</div>
                        <div>
                             <!--heading svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="mr-3">
                                <path d="M8.08559 2.20866L6.61374 0.736816L0.350586 6.99997L6.61374 13.2631L8.08559 11.7913L3.30471 6.99997L8.08559 2.20866Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="active">
                                <path d="M0.914414 2.20866L2.38626 0.736816L8.64941 6.99997L2.38626 13.2631L0.914414 11.7913L5.69529 6.99997L0.914414 2.20866Z" />
                            </svg>
                             <!--/heading svg-->
                        </div>
                    </div>
                    <!--/heading-->
                    <div class="giz-card-wrapper">
                        <!--carousel cards-->
                        <div class="giz-app-carousel--card">
                            <div class="giz-app-carousel--content mb-4">
                                <div class="giz-img-top">
                                    <img src="https://i.postimg.cc/MGN8G2pM/Battle-net.png" alt='loading' />
                                </div>
                            </div>
                            <div class="giz-card-title mb-2">
                                BattleNet
                            </div>
                            <div class="giz-card-text">
                                Add date <span>3/12/2021</span>
                            </div>
                        </div>
                        <div class="giz-app-carousel--card">
                            <div class="giz-app-carousel--content mb-4">
                                <div class="giz-img-top">
                                    <img src="https://i.postimg.cc/Zq9127xT/Epic-games.png" alt='loading' />
                                </div>
                            </div>
                            <div class="giz-card-title mb-2">
                                Epic Games Launcher
                            </div>
                            <div class="giz-card-text">
                                Add date <span>3/12/2021</span>
                            </div>
                        </div>
                        <div class="giz-app-carousel--card">
                            <div class="giz-app-carousel--content mb-4">
                                <div class="giz-img-top">
                                    <img src="https://i.postimg.cc/TPC6vLZ9/Steam.png" alt='loading' />
                                </div>
                            </div>
                            <div class="giz-card-title mb-2">
                                Steam Client
                            </div>
                            <div class="giz-card-text">
                                Add date <span>3/12/2021</span>
                            </div>
                        </div>
                        <div class="giz-app-carousel--card">
                            <div class="giz-app-carousel--content mb-4">
                                <div class="giz-img-top">
                                    <img src="https://i.postimg.cc/TPYPb6xt/Valorant.png" alt='loading' />
                                </div>
                            </div>
                            <div class="giz-card-title mb-2">
                                Valorant
                            </div>
                            <div class="giz-card-text">
                                Add date <span>3/12/2021</span>
                            </div>
                        </div>
                        <!--/carousel cards-->
                    </div>
                </div>
            </section>
            <!--/New App Section-->
            <!--Top rated apps-->
            <section id="giz-apps" class="mt-10 px-8 py-6">
                <div class=" giz-app-carousel">
                    <!--heading-->
                    <div class="giz-app-carousel--heading mb-4">
                        <div class="heading-title">Top Rated Apps</div>
                        <div>
                            <!--heading svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="mr-3">
                                <path d="M8.08559 2.20866L6.61374 0.736816L0.350586 6.99997L6.61374 13.2631L8.08559 11.7913L3.30471 6.99997L8.08559 2.20866Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="active">
                                <path d="M0.914414 2.20866L2.38626 0.736816L8.64941 6.99997L2.38626 13.2631L0.914414 11.7913L5.69529 6.99997L0.914414 2.20866Z" />
                            </svg>
                             <!--/heading svg-->
                        </div>
                    </div>
                    <!--/heading-->
                    <div class="giz-card-wrapper">
                        <!--carousel cards-->
                        <div class="giz-app-carousel--card">
                            <div>
                                <div class="giz-app-carousel--content mb-4">
                                    <div class="giz-img-top">
                                        <img src="https://i.postimg.cc/50yDQsBk/Unlimited.png" alt='loading' />
                                    </div>
                                    <button class="giz-btn">LAUNCH</button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                                        <path d="M16.2529 1.02565C14.3263 -0.537941 11.4611 -0.256696 9.69282 1.481L9.00026 2.16067L8.30769 1.481C6.54288 -0.256696 3.67419 -0.537941 1.74766 1.02565C-0.460107 2.82026 -0.57612 6.04118 1.39962 7.98646L8.20223 14.6761C8.64167 15.108 9.35533 15.108 9.79478 14.6761L16.5974 7.98646C18.5766 6.04118 18.4606 2.82026 16.2529 1.02565Z" />
                                    </svg>
                                    <div class="giz-summary">
                                        <div class="giz-summary--time giz-bottom-line">
                                            <div>Runtime </div><div>2:18:54</div>
                                        </div>
                                        <div class="giz-summary--time"><div>Total Time </div><div>17:42:01</div></div>
                                    </div>
                                </div>
                                <div class="giz-card-title mb-2">
                                    Fall Guys: Ultimate Knockout
                                </div>
                                <div class="giz-card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" class="inactive">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg>
                                    <span class="giz-card-text--rating">168 Rating</span>
                                </div>
                            </div>
                        </div>
                        <div class="giz-app-carousel--card">
                            <div>
                                <div class="giz-app-carousel--content mb-4">
                                    <div class="giz-img-top">
                                        <img src="https://i.postimg.cc/c4F9wRJp/Fortnite.png" alt='loading' />
                                    </div>
                                    <button class="giz-btn">LAUNCH</button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                                        <path d="M16.2529 1.02565C14.3263 -0.537941 11.4611 -0.256696 9.69282 1.481L9.00026 2.16067L8.30769 1.481C6.54288 -0.256696 3.67419 -0.537941 1.74766 1.02565C-0.460107 2.82026 -0.57612 6.04118 1.39962 7.98646L8.20223 14.6761C8.64167 15.108 9.35533 15.108 9.79478 14.6761L16.5974 7.98646C18.5766 6.04118 18.4606 2.82026 16.2529 1.02565Z" fill="white" />
                                    </svg>
                                    <div class="giz-summary">
                                        <div class="giz-summary--time giz-bottom-line">
                                            <div>Runtime </div><div>2:18:54</div>
                                        </div>
                                        <div class="giz-summary--time"><div>Total Time </div><div>17:42:01</div></div>
                                    </div>
                                </div>
                                <div class="giz-card-title mb-2">
                                    Fortnite
                                </div>
                                <div class="giz-card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg>
                                    <span class="giz-card-text--rating">168 Rating</span>
                                </div>
                            </div>
                        </div>
                        <div class="giz-app-carousel--card">
                            <div class="active">
                                <div class="giz-app-carousel--content mb-4">
                                    <div class="giz-img-top">
                                        <img src="https://i.postimg.cc/T2zmSh4K/Gta-5.png" alt='loading' />
                                    </div>
                                    <button class="giz-btn">LAUNCH</button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                                        <path d="M16.2529 1.02565C14.3263 -0.537941 11.4611 -0.256696 9.69282 1.481L9.00026 2.16067L8.30769 1.481C6.54288 -0.256696 3.67419 -0.537941 1.74766 1.02565C-0.460107 2.82026 -0.57612 6.04118 1.39962 7.98646L8.20223 14.6761C8.64167 15.108 9.35533 15.108 9.79478 14.6761L16.5974 7.98646C18.5766 6.04118 18.4606 2.82026 16.2529 1.02565Z" fill="white" />
                                    </svg>
                                    <div class="giz-summary">
                                        <div class="giz-summary--time giz-bottom-line">
                                            <div>Runtime </div><div>2:18:54</div>
                                        </div>
                                        <div class="giz-summary--time"><div>Total Time </div><div>17:42:01</div></div>
                                    </div>
                                </div>
                                <div class="giz-card-title mb-2">
                                    Grand Theft Auto IV
                                </div>
                                <div class="giz-card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg>
                                    <span class="giz-card-text--rating">168 Rating</span>
                                </div>
                            </div>
                        </div>
                        <div class="giz-app-carousel--card">
                            <div>
                                <div class="giz-app-carousel--content mb-4">
                                    <div class="giz-img-top">
                                        <img src="https://i.postimg.cc/k4kVkhw0/League.png" alt='loading' />
                                    </div>
                                    <button class="giz-btn">LAUNCH</button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                                        <path d="M16.2529 1.02565C14.3263 -0.537941 11.4611 -0.256696 9.69282 1.481L9.00026 2.16067L8.30769 1.481C6.54288 -0.256696 3.67419 -0.537941 1.74766 1.02565C-0.460107 2.82026 -0.57612 6.04118 1.39962 7.98646L8.20223 14.6761C8.64167 15.108 9.35533 15.108 9.79478 14.6761L16.5974 7.98646C18.5766 6.04118 18.4606 2.82026 16.2529 1.02565Z" fill="white" />
                                    </svg>
                                    <div class="giz-summary">
                                        <div class="giz-summary--time giz-bottom-line">
                                            <div>Runtime </div><div>2:18:54</div>
                                        </div>
                                        <div class="giz-summary--time"><div>Total Time </div><div>17:42:01</div></div>
                                    </div>
                                </div>
                                <div class="giz-card-title mb-2">
                                    League of Legends
                                </div>
                                <div class="giz-card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" class="inactive">
                                        <path d="M10 15.0666L14.9467 18.6666L13.0533 12.8533L18 9.33331H11.9333L10 3.33331L8.06667 9.33331H2L6.94667 12.8533L5.05333 18.6666L10 15.0666Z" />
                                    </svg>
                                    <span class="giz-card-text--rating">168 Rating</span>
                                </div>
                            </div>
                        </div>
                        <!--/carousel cards-->
                    </div>
                </div>
            </section>
            <!--/Top rated apps-->
        </div>
        <!--/Apps container-->
    </div>
    <!--/main container-->
</main>
<!--/body section-->