@namespace Gizmo.Client.UI.Shared
<!--body section-->
<main>
    <!--main row-->
    <div class="giz-grid">
        <!--main col-->
        <div class="giz-grid-item-lg-12">
            <!--row-->
            <div class="giz-grid">
                <!--col-4-->
                <div class="giz-grid-item-lg-4 pa-6 border-end">
                    <!--News section-->
                    <section id="giz-news">
                        <div class="giz-daily-news">
                            <!--row 2-->
                            <div class="giz-grid">
                                <!--col-2-->
                                <div class="giz-grid-item-lg-12">
                                    <div class="d-flex justify-space-between giz-daily-news--heading mb-4">
                                        <div class="heading-title">Daily news <span>Rankings</span></div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="mr-3">
                                                <path d="M8.08559 2.20866L6.61374 0.736816L0.350586 6.99997L6.61374 13.2631L8.08559 11.7913L3.30471 6.99997L8.08559 2.20866Z" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="active">
                                                <path d="M0.914414 2.20866L2.38626 0.736816L8.64941 6.99997L2.38626 13.2631L0.914414 11.7913L5.69529 6.99997L0.914414 2.20866Z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <!--/col-2-->
                                <!--col-3-->
                                <div class="giz-grid-item-lg-12">
                                    <div class="giz-card giz-card-carousel">
                                        <div class="giz-card--heading">
                                            <a href="#"><img src="https://i.postimg.cc/bJgnQb1h/Image-1.png" alt="Image" /></a>
                                        </div>
                                        <div class="giz-card--body">
                                            <div class="giz-card-title">turnaments 2021  |  18 hours ago</div>
                                            <div class="giz-card-text">
                                                Το Red Bull Mobile Esports Open Season 3 επιστρέφει αυτο το καλοκαίρι
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/col 3-->
                                <!--col-4-->
                                <div class="giz-grid-item-lg-12 giz-carousel">
                                    <button type="button" class="giz-carousel--indicator active"></button>
                                    <button type="button" class="giz-carousel--indicator"></button>
                                    <button type="button" class="giz-carousel--indicator"></button>
                                    <button type="button" class="giz-carousel--indicator"></button>
                                    <button type="button" class="giz-carousel--indicator"></button>
                                    <button type="button" class="giz-carousel--indicator"></button>
                                </div>
                                <!--/col-4-->
                                <!--col-5--->
                                <div class="giz-grid-item-lg-12">
                                    <div class="giz-card">
                                        <div class="giz-card--body active">
                                            <div class="giz-card-title">game news  |  2 days ago</div>
                                            <div class="giz-card-text">
                                                Πρώην πραγωγός του Bloodborne και της Sony Japan ιδρύει νέα εταιρεία
                                            </div>
                                            <div class="giz-card-footer-text">
                                                Σε αντίθεση με άλλες βιομηχανίες ψυχαγωγίας, οι φαν των βιντεοπαιχνιδιών έχουν προσκολληθεί στη νοσταλγική αγορά κουτιών, δίσκων ...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/col-5-->
                                <!--col-6--->
                                <div class="giz-grid-item-lg-12">
                                    <div class="giz-card">
                                        <div class="giz-card--body">
                                            <div class="giz-card-title">playstation 5  |  3 days ago</div>
                                            <div class="giz-card-text">
                                                Tα ψηφιακά παιχνίδια θα μπορούσαν να κυριαρχήσουν μέσα σε λίγα χρόνια
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/col-6-->
                                <!--col-7--->
                                <div class="giz-grid-item-lg-12">
                                    <div class="giz-card">
                                        <div class="giz-card--body">
                                            <div class="giz-card-title">game reviews  |  5 days ago</div>
                                            <div class="giz-card-text">
                                                It Takes Two Review - The joys and
                                                the heartbreak of love
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/col-7-->
                                <!--col-8--->
                                <div class="giz-grid-item-lg-12">
                                    <div class="giz-card">
                                        <div class="giz-card--body">
                                            <div class="giz-card-title">game reviews  |  5 days ago</div>
                                            <div class="giz-card-text">
                                                Monster Hunter: Rise Review - Runt of
                                                the Litter
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/col-8-->
                            </div>
                            <!--/row 2-->
                        </div>
                        <!--col-->
                    </section>
                    <!--News section-->
                </div>
                <!--/col-4-->
                <!--col-8-->
                <div class="giz-grid-item-lg-8 px-8 py-6">
                    <!-- New App Section-->
                    <section id="giz-apps">
                        <!--row-->
                        <div class="giz-grid giz-app-carousel">
                            <!--col-->
                            <div class="giz-grid-item-lg-12">
                                <div class="d-flex justify-space-between giz-app-carousel--heading mb-4">
                                    <div class="heading-title">New Apps</div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="mr-3">
                                            <path d="M8.08559 2.20866L6.61374 0.736816L0.350586 6.99997L6.61374 13.2631L8.08559 11.7913L3.30471 6.99997L8.08559 2.20866Z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="active">
                                            <path d="M0.914414 2.20866L2.38626 0.736816L8.64941 6.99997L2.38626 13.2631L0.914414 11.7913L5.69529 6.99997L0.914414 2.20866Z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <!--/col-->
                            <!--col-->
                            <div class="giz-grid-item-lg-3 giz-app-carousel--card">
                                <div class="img-top mb-4">
                                    <a href="#">
                                        <img src="https://i.postimg.cc/MGN8G2pM/Battle-net.png" alt='loading' />
                                    </a>
                                </div>
                                <div class="card-title mb-2">
                                    BattleNet
                                </div>
                                <div class="card-text">
                                    Add date <span>3/12/2021</span>
                                </div>
                            </div>
                            <!--/col-->
                            <!--col-->
                            <div class="giz-grid-item-lg-3 giz-app-carousel--card">
                                <div class="img-top mb-4">
                                    <a href="#">
                                        <img src="https://i.postimg.cc/Zq9127xT/Epic-games.png" alt='loading' />
                                    </a>
                                </div>
                                <div class="card-title mb-2">
                                    Epic Games Launcher
                                </div>
                                <div class="card-text">
                                    Add date <span>3/12/2021</span>
                                </div>
                            </div>
                            <!--/col-->
                            <!--col-->
                            <div class="giz-grid-item-lg-3 giz-app-carousel--card">
                                <div class="img-top mb-4">
                                    <a href="#">
                                        <img src="https://i.postimg.cc/TPC6vLZ9/Steam.png" alt='loading' />
                                    </a>
                                </div>
                                <div class="card-title mb-2">
                                    Steam Client
                                </div>
                                <div class="card-text">
                                    Add date <span>3/12/2021</span>
                                </div>
                            </div>
                            <!--/col-->
                            <!--col-->
                            <div class="giz-grid-item-lg-3 giz-app-carousel--card">
                                <div class="img-top mb-4">
                                    <a href="#">
                                        <img src="https://i.postimg.cc/TPYPb6xt/Valorant.png" alt='loading' />
                                    </a>
                                </div>
                                <div class="card-title mb-2">
                                    Valorant
                                </div>
                                <div class="card-text">
                                    Add date <span>3/12/2021</span>
                                </div>
                            </div>
                            <!--/col-->
                        </div>
                        <!--/row-->
                    </section>
                    <!--/New App Section-->
                    <!--Top rated apps-->




                    <!--/Top rated apps-->
                </div>
                <!--/col-8-->
            </div>
            <!--/row-->
        </div>
        <!--/main col-->
    </div>
    <!--main row-->
</main>
<!--/body section-->