@namespace Gizmo.Client.UI.Shared
<!--body section-->
<main>
    <!--main row-->
    <div class="giz-grid">
        <!--main col-->
        <div class="giz-grid-item-lg-12">
            <!--row-->
            <section id="giz-news" class="giz-grid">
                <div class="giz-daily-news pa-6">
                    <!--col-->
                    <div class="giz-grid-item-lg-4">
                        <div class="d-flex justify-space-between giz-daily-news--heading mb-4">
                            <div class="font-18 letter-spacing-2">Daily news <span>Rankings</span></div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="mr-3">
                                    <path d="M8.08559 2.20866L6.61374 0.736816L0.350586 6.99997L6.61374 13.2631L8.08559 11.7913L3.30471 6.99997L8.08559 2.20866Z" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none" class="active">
                                    <path d="M0.914414 2.20866L2.38626 0.736816L8.64941 6.99997L2.38626 13.2631L0.914414 11.7913L5.69529 6.99997L0.914414 2.20866Z" />
                                </svg>
                            </div>
                        </div>
                        <div class="giz-card">
                            <div class="giz-card--heading">
                                <a href="#"><img src="https://i.postimg.cc/bJgnQb1h/Image-1.png" alt="Image" /></a>
                            </div>
                            <div class="giz-card--body">
                                <div class="card-title">turnaments 2021  |  18 hours ago</div>
                                <div class="card-text">
                                    Το Red Bull Mobile Esports Open Season 3 επιστρέφει αυτο το καλοκαίρι
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                    <!--col-2-->


                    <!--/col-2-->
                </div>
            </section>
            <!--/row-->
            <!--News apps-->
            <section>
            </section>
            <!--/News apps-->
        </div>
        <!--/main col-->
    </div>
    <!--main row-->
</main>
<!--/body section-->