@namespace Gizmo.Client.UI.Shared
<!--Active apps dropdown-->
<div class="giz-dropdown-wrapper active">
    <div class="giz-dropdown-overlay">
        <div class="giz-dropdown-menu">
            <!--dropdown header-->
            <div class="giz-dropdown-menu--header">
                <div class="giz-title">Manager</div>
                <div class="giz-heading">Active applications</div>
            </div>
            <!--/dropdown header-->
            <!--dropdown body-->
            <div class="giz-dropdwon-menu--body">
                <div class="giz-dropdown-menu--apps">
                    <div class="giz-dropdown-menu--content">
                        <img src="https://i.postimg.cc/B64jDChP/Battlenet.png" alt="loading" />
                        <div class="giz-dropdown-menu--text"><div class="giz-title">Gaming</div><div>battlenet.exe</div></div>
                    </div>
                    <div class="giz-user-action-btn">
                        <button class="client-button giz-btn-primary">play</button>
                        <button class="client-button giz-btn-info">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 10H15.5V8.33333H0.5V10ZM0.5 5.83333H15.5V4.16667H0.5V5.83333ZM0.5 0V1.66667H15.5V0H0.5Z" fill="white" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="giz-dropdown-menu--apps active">
                    <div class="giz-dropdown-menu--content">
                        <img src="https://i.postimg.cc/SsSKjxsW/Discord.png" alt="loading" />
                        <div class="giz-dropdown-menu--text"><div class="giz-title">gaming</div><div>Discord</div></div>
                    </div>
                    <div class="giz-user-action-btn">
                        <GizProgressButton></GizProgressButton>
                        <GizSubDropdownMenu></GizSubDropdownMenu>
                    </div>
                </div>

                <div class="giz-dropdown-menu--apps">
                    <div class="giz-dropdown-menu--content">
                        <img src="https://i.postimg.cc/s2vrLGvH/Spotify.png" alt="loading" />
                        <div class="giz-dropdown-menu--text"><div class="giz-title">music</div><div>Spotify</div></div>

                    </div>
                    <div class="giz-user-action-btn">
                        <button class="client-button giz-btn-primary">play</button>
                        <button class="client-button giz-btn-info">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 10H15.5V8.33333H0.5V10ZM0.5 5.83333H15.5V4.16667H0.5V5.83333ZM0.5 0V1.66667H15.5V0H0.5Z" fill="white" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="giz-dropdown-menu--apps">
                    <div class="giz-dropdown-menu--content">
                        <img src="https://i.postimg.cc/zfZYQ5cZ/App-Icon.png" alt="loading" />
                        <div class="giz-dropdown-menu--text"><div class="giz-title">Gaming</div><div>valve_steamclient.exe</div></div>
                    </div>

                    <div class="giz-user-action-btn">
                        <button class="client-button giz-btn-primary">play</button>
                        <button class="client-button giz-btn-info">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 10H15.5V8.33333H0.5V10ZM0.5 5.83333H15.5V4.16667H0.5V5.83333ZM0.5 0V1.66667H15.5V0H0.5Z" fill="white" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!--/dropdown body-->
        </div>
    </div>
</div>
<!--/Active apps dropdown--> 