@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.UI.Services

@inject ILocalizationService localizationService

<div class="giz-menu-notification-item">
    <div class="giz-menu-notification-item__text">Order #0075364 was successfuly paid from your account.</div>
    <div class="giz-menu-notification-item__icon">
        <Bullet />
    </div>
    <div class="giz-menu-notification-item__details">
        <div class="giz-menu-notification-item__details__time">1 hour ago</div>
        <div class="giz-menu-notification-item__details__action" @onclick="@(() => NotificationsService.MarkAsReadAsync(Notification.Id))">@localizationService.GetString("GIZ_NOTIFICATIONS_MARK_AS_READ")</div>
    </div>
</div>