@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown body-->
    <div class="giz-dropdwon-menu--body">
        <!--notification-->
        <div class="giz-notification">
            <div class="giz-notification--wrapper">

                @if (Notifications!=null && Notifications.Count > 0)
                {
                    foreach (var notification in Notifications)
                    {
                        <MenuNotificationCard Notification="@notification" />
                    }
                }
                else
                {
                    <!--no notification-->
                    <div class="giz-no-notification">
                        <div class="giz-no-notification--title">No new notifications.</div>
                        <div class="giz-no-notification--text">When something new happens you’ll find it here.</div>
                    </div>
                    <!--/no notification-->
                }

            </div>
            <!--notification btn-->
            <div class="giz-notification--btn">
                <button class="client-button giz-btn-info mb-2">
                    Mark as all read
                </button>
                <a href="#">See older notifications.</a>
            </div>
            <!--/notification-btn-->
        </div>
        <!--/notification-->
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->