@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components

<div class="">
    <div class="">

    </div>
    <GizDock>
        @foreach(var item in Favorites)
        {
            <GizDockItem>
                <img src="@item.Icon" alt="loading" />
            </GizDockItem>
        }
    </GizDock>
</div>