@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components

<div class="giz-menu-notification-item">
    <div class="giz-menu-notification-item-title">Order #0075364 was successfuly paid from your account.</div>
    <a href="#" class="giz-menu-notification-item-icon">
        <Bullet />
    </a>
    <div class="giz-menu-notification-item-info">1 hour ago <a href="#">mark as read</a></div>
</div>