@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-notification--items">
    <div class="giz-notification--title">Order #0075364 was successfuly paid from your account.</div>
    <a href="#" class="giz-notification--icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="4" />
        </svg>
    </a>
    <div class="giz-notification--info">1 hour ago <a href="#">mark as read</a></div>
</div>