@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown body-->
    <div class="giz-dropdown-menu--body">
        <!--notification-->
        <div class="giz-menu-notifications-container">
            <div class="giz-menu-notifications-container-wrapper">

                @if (Notifications != null && Notifications.Count > 0)
                {
                    foreach (var notification in Notifications)
                    {
                        <MenuNotificationCard Notification="@notification" />
                    }
                }
                else
                {
                    <!--no notification-->
                    <div class="giz-menu-notification-default-item">
                        <div class="giz-menu-notification-default-item-title">No new notifications.</div>
                        <div class="giz-menu-notification-default-item-text">When something new happens you’ll find it here.</div>
                    </div>
                    <!--/no notification-->
                }

            </div>
            <!--notification btn-->
            <div class="giz-menu-notifications-container-actions">
                <button class="client-button giz-btn-info mb-2">
                    Mark as all read
                </button>
                <a href="#">See older notifications.</a>
            </div>
            <!--/notification-btn-->
        </div>
        <!--/notification-->
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->