@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-dropdown-menu">
    <div class="giz-menu-notifications">
        <div class="giz-menu-notifications__header">
            Notifications
        </div>
        <div class="giz-menu-notifications__body giz-scrollbar--v">

            @if (Notifications != null && Notifications.Count > 0)
            {
                @foreach (var notification in Notifications)
                {
                    <MenuNotificationCard Notification="@notification" OnMarkAsRead="@MarkAsRead" />
                }
            }
            else
            {
                <div class="giz-menu-notification-default-item">
                    <div class="giz-menu-notification-default-item-title">No new notifications.</div>
                    <div class="giz-menu-notification-default-item-text">When something new happens you’ll find it here.</div>
                </div>
            }

        </div>
        <div class="giz-menu-notifications__footer">
            Mark as all read
        </div>
    </div>
</div>