@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components

<!--dropdown-->
<div class="giz-dropdown-menu">
    <!--dropdown body-->
    <div class="giz-dropdown-menu--body">
        <div class="giz-favorite-apps-wrapper">
            <GizDock>
                @foreach(var item in Favorites)
                {
                    <GizDockItem>
                        <img src="@item.Icon" alt="loading" />
                    </GizDockItem>
                }
            </GizDock>
        </div>
    </div>
    <!--/dropdown body-->
</div>
<!--/dropdown-->