@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="giz-notification-dialog">
    <div class="giz-notification-card">
        <div class="giz-notification-card__header">
            <div class="giz-notification-card__header__title">Heads up</div>
            <div class="giz-notification-card__header__subtitle">@Notification?.Title</div>
            <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="@(() => NotificationsService.MarkAsReadAsync(Notification.Id))" />
        </div>
        <div class="giz-notification-card__body">
            @Notification?.Message
        </div>
    </div>
</div>
