@namespace Gizmo.Client.UI.Shared
@inherits CustomDOMComponentBase

<div class="giz-notifications-container">
    @foreach (var notification in ViewState.Notifications)
    {
        <NotificationDialog Notification="@notification" />
    }
</div>