@namespace Gizmo.Client.UI
@inherits ComponentBase
@using Gizmo.Web.Components

<NavLink href="@MetaData.DefaultRoute"
         Match=@((NavLinkMatch)MetaData.DefaultRouteMatch)>

    @switch (MetaData.Guid)
    {
        case KnownModules.MODULE_PROFILE:
            <Icon SVGIcon="Icons.User_Client" Size="IconSizes.ExtraLarge" />
            @*<svg width="19" height="20" viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 15.832V17.5C0 18.8789 3.07943 20 6.875 20C10.6706 20 13.75 18.8789 13.75 17.5V15.832C12.2712 16.9688 9.56771 17.5 6.875 17.5C4.18229 17.5 1.47884 16.9688 0 15.832ZM11.4583 5C15.2539 5 18.3333 3.87891 18.3333 2.5C18.3333 1.12109 15.2539 0 11.4583 0C7.66276 0 4.58333 1.12109 4.58333 2.5C4.58333 3.87891 7.66276 5 11.4583 5ZM0 11.7344V13.75C0 15.1289 3.07943 16.25 6.875 16.25C10.6706 16.25 13.75 15.1289 13.75 13.75V11.7344C12.2712 13.0625 9.56413 13.75 6.875 13.75C4.18587 13.75 1.47884 13.0625 0 11.7344ZM14.8958 12.1641C16.9476 11.7305 18.3333 10.9258 18.3333 10V8.33203C17.5026 8.97266 16.2816 9.41016 14.8958 9.67969V12.1641ZM6.875 6.25C3.07943 6.25 0 7.64844 0 9.375C0 11.1016 3.07943 12.5 6.875 12.5C10.6706 12.5 13.75 11.1016 13.75 9.375C13.75 7.64844 10.6706 6.25 6.875 6.25ZM14.7275 8.44922C16.876 8.02734 18.3333 7.19922 18.3333 6.25V4.58203C17.0622 5.5625 14.8779 6.08984 12.5791 6.21484C13.6354 6.77344 14.4124 7.52344 14.7275 8.44922Z"/>
            </svg>*@
            break;
        case KnownModules.MODULE_APPS:
            @*<Icon SVGIcon="Icons.Apps_Client" Size="IconSizes.ExtraLarge" />*@
            <!-- sports_esports -->
            <svg width="26" height="18" viewBox="0 0 26 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.96877 17.7503C2.07277 17.7503 1.38002 17.4481 0.890524 16.8436C0.401024 16.2396 0.218774 15.4481 0.343774 14.4691L1.78152 4.37485C1.96902 3.22935 2.50527 2.2556 3.39027 1.4536C4.27577 0.651097 5.29152 0.249847 6.43752 0.249847H19.594C20.7395 0.249847 21.755 0.651097 22.6405 1.4536C23.526 2.2556 24.052 3.22935 24.2185 4.37485L25.6563 14.4691C25.7813 15.4481 25.599 16.2396 25.1095 16.8436C24.62 17.4481 23.9273 17.7503 23.0313 17.7503C22.5728 17.7503 22.1718 17.6721 21.8283 17.5156C21.4843 17.3596 21.177 17.1566 20.9065 16.9066L17.8128 13.7813H8.18727L5.09352 16.9066C4.82302 17.1566 4.51577 17.3596 4.17177 17.5156C3.82827 17.6721 3.42727 17.7503 2.96877 17.7503ZM19.6563 10.2503C20.0103 10.2503 20.307 10.1253 20.5465 9.87535C20.7865 9.62535 20.9065 9.3336 20.9065 9.0001C20.9065 8.6666 20.7865 8.37485 20.5465 8.12485C20.307 7.87485 20.0103 7.74985 19.6563 7.74985C19.3228 7.74985 19.031 7.87485 18.781 8.12485C18.531 8.37485 18.406 8.6666 18.406 9.0001C18.406 9.3336 18.531 9.62535 18.781 9.87535C19.031 10.1253 19.3228 10.2503 19.6563 10.2503ZM17.0628 6.28135C17.3958 6.28135 17.6873 6.1616 17.9373 5.9221C18.1873 5.6826 18.3123 5.3856 18.3123 5.0311C18.3123 4.6981 18.1873 4.4066 17.9373 4.1566C17.6873 3.9066 17.3958 3.7816 17.0628 3.7816C16.7293 3.7816 16.4375 3.9066 16.1875 4.1566C15.9375 4.4066 15.8125 4.6981 15.8125 5.0311C15.8125 5.3856 15.9375 5.6826 16.1875 5.9221C16.4375 6.1616 16.7293 6.28135 17.0628 6.28135ZM8.31252 10.1566C8.56252 10.1566 8.76552 10.0783 8.92153 9.92185C9.07802 9.76585 9.15627 9.56285 9.15627 9.31285V7.8436H10.594C10.844 7.8436 11.047 7.7656 11.203 7.6096C11.3595 7.4531 11.4378 7.26035 11.4378 7.03135C11.4378 6.78135 11.3595 6.5781 11.203 6.4216C11.047 6.2656 10.844 6.1876 10.594 6.1876H9.15627V4.7191C9.15627 4.4896 9.07802 4.29685 8.92153 4.14085C8.76552 3.98435 8.56252 3.9061 8.31252 3.9061C8.06252 3.9061 7.85952 3.98435 7.70352 4.14085C7.54702 4.29685 7.46877 4.4896 7.46877 4.7191V6.1876H6.03102C5.78102 6.1876 5.57802 6.2656 5.42202 6.4216C5.26552 6.5781 5.18727 6.78135 5.18727 7.03135C5.18727 7.26035 5.26552 7.4531 5.42202 7.6096C5.57802 7.7656 5.78102 7.8436 6.03102 7.8436H7.46877V9.31285C7.46877 9.56285 7.54702 9.76585 7.70352 9.92185C7.85952 10.0783 8.06252 10.1566 8.31252 10.1566Z"/>
            </svg>
            break;
        case KnownModules.MODULE_HOME:
            @*<Icon SVGIcon="Icons.Home" Size="IconSizes.ExtraLarge" />*@
            <!-- home -->
            <svg width="22" height="25" viewBox="0 0 22 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.40628 24.1252C2.48978 24.1252 1.71378 23.8075 1.07828 23.172C0.44278 22.5365 0.125031 21.7605 0.125031 20.844V9.43725C0.125031 8.91675 0.244781 8.42725 0.484281 7.96875C0.723781 7.51025 1.04153 7.12475 1.43753 6.81225L9.03128 1.125C9.32278 0.916496 9.64053 0.754996 9.98453 0.640496C10.328 0.525996 10.6665 0.468746 11 0.468746C11.354 0.468746 11.6978 0.525996 12.0313 0.640496C12.3648 0.754996 12.6773 0.916496 12.9688 1.125L20.5625 6.81225C20.979 7.12475 21.307 7.51025 21.5465 7.96875C21.7865 8.42725 21.9065 8.91675 21.9065 9.43725V20.844C21.9065 21.7605 21.5835 22.5365 20.9375 23.172C20.2915 23.8075 19.5103 24.1252 18.5938 24.1252H13.7188V14.2815H8.28128V24.1252H3.40628Z"/>
            </svg>
            break;
        case KnownModules.MODULE_SHOP:
            @*<Icon SVGIcon="Icons.Coffee" Size="IconSizes.ExtraLarge" />*@
            <!-- shopping_cart -->
            <svg width="26" height="26" viewBox="0 0 26 26" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.81275 25.7505C7.16675 25.7505 6.61475 25.5212 6.15675 25.0627C5.69825 24.6042 5.469 24.0522 5.469 23.4067C5.469 22.7607 5.69825 22.2085 6.15675 21.75C6.61475 21.292 7.15625 21.063 7.78125 21.063C8.42725 21.063 8.9795 21.292 9.438 21.75C9.896 22.2085 10.125 22.7607 10.125 23.4067C10.125 24.0522 9.896 24.6042 9.438 25.0627C8.9795 25.5212 8.43775 25.7505 7.81275 25.7505ZM20.313 25.7505C19.667 25.7505 19.1147 25.5212 18.6562 25.0627C18.1982 24.6042 17.9692 24.0522 17.9692 23.4067C17.9692 22.7607 18.1982 22.2085 18.6562 21.75C19.1147 21.292 19.6565 21.063 20.2815 21.063C20.9275 21.063 21.4795 21.292 21.9375 21.75C22.396 22.2085 22.6252 22.7607 22.6252 23.4067C22.6252 24.0522 22.396 24.6042 21.9375 25.0627C21.4795 25.5212 20.938 25.7505 20.313 25.7505ZM7.59375 19.3125C6.51075 19.3125 5.7245 18.9115 5.235 18.1095C4.745 17.3075 4.75 16.469 5.25 15.594L5.81247 14.5857C6.59731 13.1787 6.65609 11.4797 5.97037 10.0218L3.09989 3.91902C2.79126 3.26285 2.13138 2.844 1.40625 2.844C1.01075 2.844 0.6775 2.7085 0.4065 2.4375C0.1355 2.167 0 1.82325 0 1.40625C0 1.01075 0.1355 0.6775 0.4065 0.4065C0.6775 0.1355 1.02125 0 1.43775 0H3.375C3.7085 0 4.01075 0.07825 4.28175 0.23475C4.55225 0.39075 4.73975 0.61475 4.84425 0.90675C5.30266 1.86161 6.26801 2.469 7.3272 2.469H23.0002C24.1462 2.469 24.8495 2.7815 25.11 3.4065C25.37 4.0315 25.271 4.771 24.813 5.625L21.1252 12.3442C20.8752 12.7817 20.5367 13.141 20.1097 13.422C19.6828 13.7035 19.1982 13.8442 18.6562 13.8442H10.263C9.77471 13.8442 9.3268 14.1153 9.10028 14.5478C8.6426 15.4217 9.27648 16.4692 10.263 16.4692H21.6255C22.021 16.4692 22.3542 16.6045 22.6252 16.875C22.8962 17.146 23.0317 17.4897 23.0317 17.9062C23.0317 18.3022 22.891 18.6357 22.6095 18.9067C22.3285 19.1772 21.99 19.3125 21.594 19.3125H7.59375Z"/>
            </svg>
            break;
        default:
            break;
    }

    @if (!string.IsNullOrWhiteSpace(MetaData.TitleLocalizationKey))
    {
        <span>@LocalizationService.GetStringUpper(MetaData.TitleLocalizationKey)</span>
    }
    else
    {
        <span>@(MetaData.Title ?? LocalizationService.GetString("UNSET_STRING_VALUE"))</span>
    }

</NavLink>