@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@inject NavigationManager UriHelper
@using Gizmo.Web.Components

<!--Agreement-->
<div class="giz-login-content--body py-12 px-10">
    <div class="giz-login-content--title">welcome to inspot</div>
    <div class="giz-login-content--text">Sign in to your account</div>
    <div class="giz-user-agreement giz-text-align-left ">
        <div class="giz-user-agreement--heading pb-5 pr-2">The end user (A)</div>
        <p class="pb-5 pr-3">
            The bargaining power of the two parties involved in a licensing agreement often depends
            on the nature of the product. For example, a movie studio that licenses the likeness of a popular
            superhero to an action figure manufacturer might have significant bargaining power in this
            negotiation, because the manufacturer is likely to profit immensely from such an arrangement.
            The movie studio thus has the leverage to take its business elsewhere if the manufacturer gets cold feet.
        </p>
        <p class="pb-5 pr-3">
            Those entering into a licensing agreement should consult an attorney because there are complexities
            that may be hard to grasp for those without a deep understanding of intellectual property law.
        </p>
        <p class="pb-5 pr-3">
            Licensing agreements clearly lay out the guidelines, rules, and stipulations that cover the use
            of the licensor's brand, patent, or trademark. Both the licensor and the licensee are fully aware
            of what is expected and required of them. This includes when payment is due and how much, any
            additional royalties that may be due as a result of the relationship, the type of agreement,
            the length to which the licensee can use the property, copyright issues,
            and the contract's expiration date.
        </p>
    </div>
    <!--Agreement accept btn-->
    <Button Size="ButtonSizes.ExtraLarge" IsFullWidth="true" Class="mt-10" @onclick=@Navigate>I Agree</Button>
    <!--/Agreement accept btn-->
</div>
<!--/Agreement-->
@code {
    void Navigate()
    {
        UriHelper.NavigateTo("/home");
    }
}