@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@inject NavigationManager UriHelper

<LoginCard Text="enter your email" Title="Email code confirmation" ShowLanguageMenu="false" ShowCloseButton="true">
    <CardBody>
        <div class="mb-6">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Enter your email" />
        </div>
        <!--button-->
        <div class="giz-btn mb-16">
            <Button Size="ButtonSizes.ExtraLarge" Color="ButtonColors.Info" IsFullWidth="true" @onclick="@NavigateToReservePin">Sent me the code</Button>
        </div>
        <!--/button-->
        <div class="giz-footer-text px-5">
            You will be sent a 10 digit code to your email so
            we can veify it’s your account
        </div>
    </CardBody>
</LoginCard>

@code { 
void NavigateToReservePin()
{ UriHelper.NavigateTo("/confirmationcode"); }

void NavigateToHome()
{ UriHelper.NavigateTo("/"); }

}