@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@inject NavigationManager UriHelper

<LoginCard Text="enter you phone number" Title="Mobile phone confirmation" ShowLanguageMenu="false" ShowCloseButton="true">
    <CardBody>
        <div class="mb-6 giz-mobile-number-input">
            <button class="client-button giz-dim-midnight-black rounded pa-4">
               <img src="https://i.postimg.cc/ cLXq1dgt/Flag-2.png" class="giz-flag-icon" alt="loading">
                <span>
                    Eng
                </span>
                <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L4.5 4L8 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Enter your phone number" />
        </div>
        <!--button-->
        <div class="giz-btn mb-16">
            <Button Size="ButtonSizes.ExtraLarge" Color="ButtonColors.Info" IsFullWidth="true" @onclick="@NavigateToReservePin">send pin</Button>
        </div>
        <!--/button-->
        <div class="giz-footer-text px-5">
            You will be sent a 4 digit pin to your phone number to
            confirm your account
        </div>
    </CardBody>
</LoginCard>

@code { 

void NavigateToReservePin()
{ UriHelper.NavigateTo("/reservepin"); }

void NavigateToHome()
{ UriHelper.NavigateTo("/"); }

}