@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@inject NavigationManager UriHelper

<LoginCard Text="Personal info" Title="Create your account" ShowLanguageMenu="false" ShowCloseButton="true">
    <CardBody>
        <div class="mb-3">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="First name" />
        </div>
        <div class="mb-3">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Last name" />
        </div>
        <div class="mb-3">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Phone number" />
        </div>
        <div class="mb-3">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Email" />
        </div>
        <div class="mb-3">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Address" />
        </div>
        <div class="mb-3">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Post code" />
        </div>
        <div class="mb-3">
            <button class="giz-width-full giz-text-align-left d-flex align-center rounded relative giz-white-text relative giz-black-mirage-color pa-4 border border-charcoal-gray">
                <img src="https://i.postimg.cc/YCxnN8M5/Flag-1.png" class="mr-2" alt="loading">
                Greece
                <svg class="absolute" style="right:1rem;" width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L4.5 4L8 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="mb-11 giz-personalinfo-input">
           <input type="text" class="giz-width-full giz-white-text rounded giz-text-shadow-sm giz-black-mirage-color border border-charcoal-gray " placeholder="Birthday" style="background-image:url(https://i.postimg.cc/BZrJxcNy/Calendar.png);background-repeat:no-repeat;background-position:94%;outline:none;padding: 17.5px 16px;" />
            <input type="text" class="giz-width-full giz-white-text rounded giz-text-shadow-sm giz-black-mirage-color border border-charcoal-gray " placeholder="Sex" style="background-image:url(https://i.postimg.cc/vByWg6k6/Down.png);background-repeat:no-repeat;background-position:94%;outline:none;padding: 17.5px 16px;" />
        </div>
        <!--button-->
        <div class="giz-btn mb-8">
            <Button Size="ButtonSizes.ExtraLarge" Color="ButtonColors.Info" IsFullWidth="true" @onclick="@NavigateToEmail">Register</Button>
        </div>
        <!--/button-->
        <div class="giz-footer-text px-5">
            by clicking continue you agree to
            our <a href="/agreement" class="giz-white-text">end user agreement</a> and <a href="/agreement" class="giz-white-text">terms & conditions</a>
        </div>
    </CardBody>
</LoginCard>

@code { 

void NavigateToEmail()
{ UriHelper.NavigateTo("/confirmemail"); }

void NavigateToHome()
{ UriHelper.NavigateTo("/"); }
}

