@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login

<!--spinner-->
<div class="giz-login-content--body py-12 px-10">
<div class="giz-align-center">
    <GizSpinner></GizSpinner>
    <div class="giz-login-content--title mt-10 mb-2">please wait</div>
    <div class="giz-login-content--text ma-0">Loggin in now</div>
    </div>
</div>
<!--spinner-->
