@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login

<!--spinner-->
<div class="giz-login-content--body py-12 px-10">
    <div class="giz-animate-spinner">
        <svg width="52" class="giz-spinner mb-5" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="26" cy="26" r="24" class="giz-circle" stroke="url(#paint0_angular)" stroke-width="3" />
        </svg>
        <div class="giz-login-content--title">please wait</div>
        <div class="giz-login-content--text">Loggin in now</div>
    </div>
</div>
<!--spinner-->
