@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms

@if (_logginIn)
{
    <LoginCard ShowLanguageMenu="false" ShowCloseButton="false">
        <CardBody>
            <div class="giz-login-status">
                <GizSpinner />
                <div class="giz-animate-spinner-title mt-10 mb-2">please wait</div>
                <div class="giz-animate-spinner-text">Loggin in now</div>
            </div>
        </CardBody>
    </LoginCard>
}
else
{
    <LoginCard Text="welcome to inspot" Title="Sign in to your account" ShowLanguageMenu="false" ShowCloseButton="false">
        <CardBody>
             <EditForm EditContext="@UserLoginService.EditContext">
                <div class="mb-3">
                    <TextInput UpdateOnInput="true" @bind-Value="UserLoginViewState.LoginName" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Username" />
                </div>
                <div class="mb-3">
                    <TextInput UpdateOnInput="true" @bind-Value="UserLoginViewState.Password" Size="InputSizes.Large" IsFullWidth="true" Type="password" Placeholder="Password" />
                </div>
                <!--login btn-->
                <div class="giz-btn mb-6">
                    <Button LeftSVGIcon="Icons.Login_Client" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserLoginService.SubmitAsync">
                        continue
                    </Button>
                </div>
            </EditForm>
            <!--/login btn-->
            <!--third party login-->
            <div class="giz-third-parties-login">
                <div class="giz-third-parties-login--text mb-4">or connect via your social network account</div>
                <!--social icons-->
                <div>
                    <IconButton SVGIcon="Icons.Facebook_Client" Variant="ButtonVariants.Outline" />
                    <IconButton SVGIcon="Icons.Google_Client" Variant="ButtonVariants.Outline" Class="mx-3" />
                    <IconButton SVGIcon="Icons.Twitter_Client" Variant="ButtonVariants.Outline" />
                </div>
                <!--/social icons-->
            </div>
            <!--/third party login-->
        </CardBody>
        <CardFooter>
            <div class="giz-no-account">don’t have an account?</div>
            <div class="giz-footer-links"><a href="/createaccount" class="giz-white-text">create new account</a> | <a href="/resetpassword" class="giz-white-text">forgot password?</a></div>
        </CardFooter>
    </LoginCard>
}