@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms

@if (_logginIn)
{
    <LoginCard>
        <CardBody>
            <div class="giz-login-status">
                <GizSpinner />
                <div class="giz-animate-spinner-title mt-10 mb-2">please wait</div>
                <div class="giz-animate-spinner-text">Loggin in now</div>
            </div>
        </CardBody>
    </LoginCard>
}
else
{
    <LoginCard>
        <CardHeader>
            <div class="giz-login-new-user">Not a member? <a @onclick="UserLoginService.OpenRegistration">Sign up now</a></div>
        </CardHeader>
        <CardBody>
             <EditForm EditContext="@UserLoginService.EditContext">
                <div class="giz-login-title">Sign in</div>
                <div class="giz-login-input">
                    <TextInput UpdateOnInput="true" @bind-Value="UserLoginService.ViewState.LoginName" Size="InputSizes.Large" IsFullWidth="true" Label="Username" />
                </div>
                <div class="giz-login-forgot-password">
                     <a href="/passwordrecovery">Forgot you password?</a>
                </div>
                <div class="giz-login-input">
                    <TextInput UpdateOnInput="true" @bind-Value="UserLoginService.ViewState.Password" Size="InputSizes.Large" IsFullWidth="true" Type="password" Label="Password" />
                </div>
                <div class="giz-login-input">
                    <Button Color="ButtonColors.Accent" LeftSVGIcon="Icons.Login_Client" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserLoginService.LoginAsync">Continue</Button>
                </div>
            </EditForm>
            <div class="giz-alternative-login">
                <div class="giz-alternative-login__separator"><span>Or</span></div>
                <div class="giz-alternative-login__actions">
                    <Icon SVGIcon="Icons.QR" />
                    <div>QR code</div>
                </div>
            </div>
        </CardBody>
        <CardFooter>
            <KeyboardLanguage />
        </CardFooter>
    </LoginCard>
}