@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components

@if (_logginIn)
{
    <LoginCard ShowLanguageMenu="false" ShowCloseButton="false">
        <CardBody>
            <div class="giz-login-status">
                <GizSpinner />
                <div class="giz-animate-spinner--title mt-10 mb-2">please wait</div>
                <div class="giz-animate-spinner--text">Loggin in now</div>
            </div>
        </CardBody>
    </LoginCard>
}
else
{
    <LoginCard Text="welcome to inspot" Title="Sign in to your account" ShowLanguageMenu="true" ShowCloseButton="true">
        <CardBody>
            <form>
                <div class="mb-3">
                    <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Username" />
                </div>
                <div class="mb-3">
                    <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Type="password" Placeholder="Password" />
                </div>
                <!--login btn-->
                <div class="giz-btn mb-6">
                    <Button Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick=@Navigate>
                        <!--svg-->
                        <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.8977 7.28809H3.082C2.30756 7.28809 1.67975 7.91589 1.67975 8.69034V13.5982C1.67975 14.3727 2.30756 15.0005 3.082 15.0005H12.8977C13.6722 15.0005 14.3 14.3727 14.3 13.5982V8.69034C14.3 7.91589 13.6722 7.28809 12.8977 7.28809Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M4.48425 7.28766V4.48316C4.48425 3.55341 4.85359 2.66175 5.51103 2.00431C6.16846 1.34688 7.06013 0.977539 7.98988 0.977539C8.91963 0.977539 9.8113 1.34688 10.4687 2.00431C11.1262 2.66175 11.4955 3.55341 11.4955 4.48316V7.28766" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <!--/svg-->
                        continue
                    </Button>
                </div>
            </form>
            <!--/login btn-->
            <!--third party login-->
            <div class="giz-third-parties-login">
                <div class="giz-third-parties-login--text mb-4">or connect via your social network account</div>
                <!--social icons-->
                <div>
                    <IconButton SVGIcon="Icons.Facebook_Client" Variant="ButtonVariants.Outline" />
                    <IconButton SVGIcon="Icons.Google_Client" Variant="ButtonVariants.Outline" Class="mx-3" />
                    <IconButton SVGIcon="Icons.Twitter_Client" Variant="ButtonVariants.Outline" />
                </div>
                <!--/social icons-->
            </div>
            <!--/third party login-->
        </CardBody>
        <CardFooter>
            <div class="giz-no-account">don’t have an account?</div>
            <div class="giz-footer-links"><a href="/createaccount" class="giz-white-text">create new account</a> | <a href="/resetpassword" class="giz-white-text">forgot password?</a></div>
        </CardFooter>
    </LoginCard>
}