@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Microsoft.AspNetCore.Components.Forms

<LoginCard>
    <CardHeader>
        <div class="giz-login-new-user">Not a member? <a href="/registration">Sign up now</a></div>
    </CardHeader>
    <CardBody>
        <EditForm EditContext="@UserPasswordRecoveryService.EditContext">
            <div class="giz-login-title">Forgot Password</div>
            <div class="giz-login-subtitle">Enter the phone number that is linked to your account</div>
            <div class="giz-login-input">
                <TextInput @bind-Value="UserPasswordRecoveryService.ViewState.Email" IsTransparent="true" Size="InputSizes.Large" IsFullWidth="true" Label="Email address"/>
            </div>
            <div class="giz-login-input">
                <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" IsFullWidth="true" @onclick="@UserPasswordRecoveryService.SubmitAsync">Continue</Button>
            </div>
        </EditForm>
    </CardBody>
    <CardFooter>
        <KeyboardLanguage />
    </CardFooter>
</LoginCard>
