@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@inject NavigationManager UriHelper

<LoginCard Text="to continue" Title="Enter confirmation code" ShowLanguageMenu="false" ShowCloseButton="true">
    <CardBody>
        <div class="mb-6">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Enter your 10 digit code" />
        </div>
        <!--button-->
        <div class="giz-btn mb-16">
            <Button Size="ButtonSizes.ExtraLarge" Color="ButtonColors.Info" IsFullWidth="true" @onclick="@NavigateToPhoneNumber">continue</Button>
        </div>
        <!--/button-->
        <div class="giz-login-content--footer">
            <div class="giz-footer-text px-4 mb-3">
                fill in the 10 digit code that was sent to your email
                make sure to check your spam folder
            </div>
            <div class="giz-footer-links"><a href="#" class="giz-white-text">resent code</a></div>
        </div>
    </CardBody>
</LoginCard>

@code { 
    
void NavigateToPhoneNumber()
{ UriHelper.NavigateTo("/confirmphonenumber"); }

void NavigateToHome()
{ UriHelper.NavigateTo("/"); }

}