@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@inject NavigationManager UriHelper

<LoginCard>
    <CardHeader>
        <div class="giz-login-new-user">Not a member? <a href="/createaccount">Sign up now</a></div>
    </CardHeader>
    <CardBody>
        <div class="giz-login-title">Forgot Password</div>
        <div class="giz-login-subtitle">Enter the phone number that is linked to your account</div>
        <div class="giz-login-input">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Enter your email"/>
        </div>
        <div class="giz-login-input">
            <Button Size="ButtonSizes.ExtraLarge" IsFullWidth="true">Reset password</Button>
        </div>
    </CardBody>
    <CardFooter>
        <KeyboardLanguage />
    </CardFooter>
</LoginCard>

@code {
    void NavigateToHome()
    {
        UriHelper.NavigateTo("/");
    }
}