@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@inject NavigationManager UriHelper

<LoginCard Text="to continue" Title="Enter reservation PIN" ShowLanguageMenu="false" ShowCloseButton="true">
    <CardBody>
        <div class="mb-6 giz-reserve-pin-input">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" />
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" />
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" />
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" />
        </div>
        <!--button-->
        <div class="giz-btn mb-16">
            <Button Size="ButtonSizes.ExtraLarge" Color="ButtonColors.Info" IsFullWidth="true" @onclick="@NavigateToConfirmNumber">continue</Button>
        </div>
        <!--/button-->
        <div class="giz-login-content--footer">
            <div class="giz-footer-text px-4 mb-3">
                fill in the 4 digit pin that was sent to your
                mobile number ending in <span class="giz-white-text">***890</span>
            </div>
            <div class="giz-footer-links"><a href="#" class="giz-white-text">resent my pin</a></div>
        </div>
    </CardBody>
</LoginCard>

@code { 

void NavigateToConfirmNumber()
{ UriHelper.NavigateTo("/agreement"); }

void NavigateToHome()
{ UriHelper.NavigateTo("/"); }

}