@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@layout _Layout_Login
@using System.Threading;
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@inject NavigationManager UriHelper

<LoginCard Text="enter your email" Title="Reset your password" ShowLanguageMenu="false" ShowCloseButton="true">
    <CardBody>
        <div class="mb-6">
            <TextInput TValue="string" Size="InputSizes.Large" IsFullWidth="true" Placeholder="Enter your email"/>
        </div>
        <!--button-->
        <div class="giz-btn mb-16">
            <Button Size="ButtonSizes.ExtraLarge" Color="ButtonColors.Info" IsFullWidth="true">Reset password</Button>
        </div>
        <!--/button-->
        <div class="pt-6 giz-login-content--footer">
            <div class="giz-footer-text px-5">
                You will be sent a safe link to your email to
                change your password
            </div>
        </div>
    </CardBody>
</LoginCard>

@code {void 
NavigateToHome()
{ UriHelper.NavigateTo("/"); }
}