@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<!--shop cards-->
<div class="product-card">
    <div class="giz-hoverable-card">
        <div class="hoverable-content">
            <!--img-->
            <div class="giz-img-top">
                <img src="_content/Gizmo.Client.UI/img/@Product?.Image" alt='loading' />
            </div>
            <!--/img-->
        </div>
        @if (IsHoverable)
        {
            <div class="hovered-content-wrapper">
                <div class="hovered-content" @onclick="@(() => OpenDetails())">
                    <div class="d-flex">
                        <!--heart-->
                    <IconButton SVGIcon="Icons.Heart_Client" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="ml-auto" />
                        <!--/heart-->
                </div>
                    <div>
                        <!--button-->
                    <Button Size="ButtonSizes.Large" HasShadow="true" IsFullWidth="true" @onclick="@(() => AddProduct())">Add to cart</Button>
                        <!--/button-->
                </div>
                    <div>
                        <!--offer-->
                    <div class="d-flex">
                            <div class="product-card-text">
                                Buy One Get
                            </div>
                            <div class="product-card-points ml-auto">
                                @Product?.Points
                                <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
                            </div>
                        </div>
                        <!--offer score-->
                </div>
                </div>
            </div>
        }
    </div>
    <div class="product-card-footer">
        <!--card title-->
        <div class="product-card-title mt-4 mb-2">
            @Product?.Name
        </div>
        <!--/card title-->
        <div class="product-card-text">
            @Product?.Price.ToString("C") or @Product?.PointsPrice
            <Icon SVGIcon="Icons.Trophy_Client" Size="IconSizes.ExtraSmall" />
        </div>
    </div>
</div>
<!--shop Cards-->