@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<SimpleDialog @bind-IsOpen="IsOpen" IsModal="true" MaximumWidth="600px">
    <div class="giz-client-dialog giz-payment-method-selector-dialog">
        <div class="giz-client-dialog__header">
            <div class="giz-client-dialog__header__title">Checkout</div>
        </div>
        <div class="giz-client-dialog__body">
            <div class="giz-checkout">
                <div class="giz-checkout__list">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <div class="giz-checkout__summary">
                    <div class="giz-checkout__summary__total">Total</div>
                    <div class="giz-checkout__summary__amount">$5 and 2 {icon point}</div>
                </div>
                <div class="giz-checkout__payment-method">
                    <div class="giz-checkout__summary__payment-method__label">Payment method</div>
                    <Select TValue="int" OpenDirection="PopupOpenDirections.Bottom">
                        @if (PaymentMethodsService.ViewState.PaymentMethods != null)
                        {
                            @foreach (var paymentMethod in PaymentMethodsService.ViewState.PaymentMethods)
                            {
                                <SelectItem Value="@paymentMethod.Id">@paymentMethod.Name</SelectItem>
                            }
                        }
                    </Select>
                </div>
                <div class="giz-checkout__notes">
                    By selecting Place order, you accept the Gizmo Customer Agreement and privacy statement and represent that you have the authority to do so. {some text}
                </div>
            </div>
        </div>
        <div class="giz-client-dialog__footer">
            <Button Variant="ButtonVariants.Outline" Size="ButtonSizes.ExtraLarge" @onclick="() => CloseDialog()">Cancel</Button>
            <Button Color="ButtonColors.Accent" Size="ButtonSizes.ExtraLarge" @onclick="() => CloseDialog()">Place order</Button>
        </div>
    </div>
</SimpleDialog>
