@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-timeline-item">
    <div class="giz-bundle-product-details">
        @if (Product.ProductType == ProductType.ProductTime)
        {
            <Icon SVGIcon="Icons.Time_Client" Size="IconSizes.Small" />
        }
        else
        {
            <Icon SVGIcon="Icons.FastFood_Client" Size="IconSizes.Small" />
        }
        @_product?.Name
        @if (Quantity > 1)
        {
            <span>@($" x{Quantity.ToString("N0")}")</span>
        }
    </div>
</div>
