@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<Dialog @bind-IsOpen="IsOpen" IsModal="true" MaximumWidth="45rem">
    <DialogHeader>
        <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseDialog()" />
    </DialogHeader>
    <DialogBody>
        <div class="giz-details-dialog-body">
            <div class="giz-details-card-common">
                <!--app info-->
                <div class="giz-details-card-brand">
                    <img src="_content/Gizmo.Client.UI/img/@Product?.Image" alt="loading" />
                </div>
                <!--/app info-->
                <div class="giz-details-card-content">
                    <!--heading-->
                    <div class="giz-details-card-category">
                        Beverages
                    </div>
                    <!--/heading-->
                    <!--title-->
                    <div class="giz-details-card-title">
                        @Product?.Name
                    </div>
                    <!--/title-->
                    <div class="giz-details-card-rating">
                        @if (Product != null)
                        {
                            <Rating @bind-Value="Product.Rate" />
                        }
                        else
                        {
                            <Rating Value="0" IsReadOnly="true" />
                        }
                        <span>@(Product?.Ratings ?? 0) Ratings</span>
                    </div>

                    <div class="giz-details-card-description">
                        @Product?.Description
                    </div>

                    <!--launch btn-->
                    <div class="d-flex">
                        <Button Size="ButtonSizes.Large">Add to cart</Button>
                    </div>
                    <!--/launch btn-->
                </div>
            </div>
            <div class="giz-details-card-extra">
                
                <div class="giz-details-card-extra-title">
                    Related products
                </div>
                
                <div class="giz-video-wrapper giz-scrollbar-h">
                    @foreach (var product in RelatedProducts)
                    {
                        <GizProductCard Product="@product" />
                    }
                </div>
            </div>
        </div>
    </DialogBody>
</Dialog>
