@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase

<div class="giz-timeline-item">
    <div class="giz-bundle-product-details"><ProductIcon />@_product?.Name<span>@($" x{Quantity.ToString("N0")}")</span></div>
</div>
