@inherits ComponentBase
<!--wrapper 1-->
<div class="wrapper_1 border-end">
    <!--Apps and games Categories-->
    <section class="giz-categories py-6">
        <ul class="giz-user-menu">
            <li class="giz-user-menu--items giz-user-menu--heading">
                Categories
            </li>
            <li class="giz-user-menu--items">
                <NavLink class="giz-user-menu--links"
                         href="/profile"
                         Match=@NavLinkMatch.All>
                    Adventure <button>10</button>
                </NavLink>
            </li>
            <li class="giz-user-menu--items">
                <NavLink class="giz-user-menu--links active"
                         href="/profile/history"
                         Match=@NavLinkMatch.All>
                    Online & MMOs <button>6</button>
                </NavLink>
            </li>
            <li class="giz-user-menu--items">
                <NavLink class="giz-user-menu--links"
                         href="/profile/refills"
                         Match=@NavLinkMatch.All>
                    FPS & Action <button>12</button>
                </NavLink>
            </li>
            <li class="giz-user-menu--items">
                <NavLink class="giz-user-menu--links"
                         href="/profile/notifications"
                         Match=@NavLinkMatch.All>
                   Strategy <button>16</button>
                </NavLink>
            </li>
                 <li class="giz-user-menu--items">
                <NavLink class="giz-user-menu--links"
                         href="/profile/notifications"
                         Match=@NavLinkMatch.All>
                  Sports <button>8</button>
                </NavLink>
            </li>
        </ul>
        <!--/Apps and games Categories-->
        <!--filter cards-->
        <div class="giz-filter">
            <div class="giz-filter--heading">
                <div class="giz-filter-text">
                    Filters
                </div>
                <div class="giz-filter-text">
                    Clear
                </div>
            </div>
         <GizFilterCard></GizFilterCard>
         <GizFilterCard></GizFilterCard>
         <GizFilterCard></GizFilterCard>
         <GizFilterCard></GizFilterCard>
         <GizFilterCard></GizFilterCard>
        </div>
          <!--/filter cards-->
    </section>
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 ">
</div>
<!--/wrapper 2-->
