@inherits ComponentBase
<!--wrapper 1-->
<div class="wrapper_1">
    <section class="giz-categories pa-6">
        <!--Apps and games Categories-->
        <ul class="giz-user-site-menu">
            <li class="giz-user-site-menu--items giz-user-site-menu--heading">
                <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.08607 11.3176L6.61423 12.7895L0.351074 6.5263L6.61423 0.263144L8.08607 1.73499L3.3052 6.5263L8.08607 11.3176Z" fill="white" />
                </svg>
                Categories
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links"
                   href="#">
                    Adventure <span class="giz-search-number">10</span>
                </a>
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links active"
                   href="#">
                    Online & MMOs <span class="giz-search-number">6</span>
                </a>
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links"
                   href="#">
                    FPS & Action <span class="giz-search-number">12</span>
                </a>
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links"
                   href="#">
                    Strategy <span class="giz-search-number">16</span>
                </a>
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links"
                   href="#">
                    Sports <span class="giz-search-number">8</span>
                </a>
            </li>
        </ul>
        <!--/Apps and games Categories-->
        <!--filter cards-->
        <div class="giz-filter">
            <div class="giz-filter--heading">
                <div class="giz-filter-text">
                    Filters
                </div>
                <div class="giz-filter-text">
                    Clear
                </div>
            </div>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
        </div>
        <!--/filter cards-->
    </section>
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!--apps and games-->
    <section id="giz-apps" class="px-8 py-6">
        <div class=" giz-app-carousel">
            <!--heading-->
            <div class="giz-app-heading">
                Games & applications
            </div>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/apps and games-->
</div>
<!--/wrapper 2-->
