@inherits ComponentBase
<!--active apps-->
<div class="wrapper_5">
    <div class="giz-bar-wrapper border-bottom">
        <ul class="giz-active-bar">
            <li class="giz-active-bar--items">
                <img src="https://i.postimg.cc/J4RGXr13/Places-folder-red-icon-1.png" alt="loading" />
                <span class="giz-tooltip-text">Files</span>
            </li>
            <li class="giz-active-bar--items">
                <img src="https://i.postimg.cc/XYG3Gmyc/Word-2-icon-1.png" alt="loading" />
                <span class="giz-tooltip-text">Word Pad</span>
            </li>
            <li class="giz-active-bar--items">
                <img src="https://i.postimg.cc/bYm9dBPv/dota-2-icon-1.png" alt="loading" />
                <span class="giz-tooltip-text">Dota</span>
            </li>
            <li class="giz-active-bar--items">
                <img src="https://i.postimg.cc/DZCYcf9W/Chrome-icon-1.png" alt="loading" />
                <span class="giz-tooltip-text giz-fill-text">Google Chrome</span>
            </li>
            <li class="giz-active-bar--items">
                <img src="https://i.postimg.cc/VNmGQb1r/spotify-512.png" alt="loading" />
                <span class="giz-tooltip-text">Spotify</span>
            </li>
            <li class="giz-active-bar--items">
                <img src="https://i.postimg.cc/rpfvf9WF/bNet.png" alt="loading" />
                <span class="giz-tooltip-text">Battlenet</span>
            </li>
        </ul>
        <ul class="giz-apps-bar">
        <li class="giz-apps-bar--title">Active Apps
            <!--svg-->
            <svg class="ml-3" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.72852 9.45745H9.45721V4.72876H4.72852V9.45745ZM11.8216 23.6435H16.5503V18.9148H11.8216V23.6435ZM4.72852 23.6435H9.45721V18.9148H4.72852V23.6435ZM4.72852 16.5505H9.45721V11.8218H4.72852V16.5505ZM11.8216 16.5505H16.5503V11.8218H11.8216V16.5505ZM18.9146 4.72876V9.45745H23.6433V4.72876H18.9146ZM11.8216 9.45745H16.5503V4.72876H11.8216V9.45745ZM18.9146 16.5505H23.6433V11.8218H18.9146V16.5505ZM18.9146 23.6435H23.6433V18.9148H18.9146V23.6435Z" fill="#F1F3F5" fill-opacity="0.95" />
            </svg>
            <!--svg-->
            </li>
        </ul>
    </div>
</div>
<!--active apps-->
<!--wrapper 1-->
<div class="wrapper_1">
    <section class="giz-categories pa-6">
        <!--Apps and games Categories-->
        <ul class="giz-user-site-menu">
            <li class="giz-user-site-menu--items giz-user-site-menu--heading">
                <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.08607 11.3176L6.61423 12.7895L0.351074 6.5263L6.61423 0.263144L8.08607 1.73499L3.3052 6.5263L8.08607 11.3176Z" fill="white" />
                </svg>
                Categories
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links"
                   href="#">
                    Adventure <span class="giz-search-number">10</span>
                </a>
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links active"
                   href="#">
                    Online & MMOs <span class="giz-search-number">6</span>
                </a>
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links"
                   href="#">
                    FPS & Action <span class="giz-search-number">12</span>
                </a>
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links"
                   href="#">
                    Strategy <span class="giz-search-number">16</span>
                </a>
            </li>
            <li class="giz-user-site-menu--items">
                <a class="giz-user-site-menu--links"
                   href="#">
                    Sports <span class="giz-search-number">8</span>
                </a>
            </li>
        </ul>
        <!--/Apps and games Categories-->
        <!--filter cards-->
        <div class="giz-filter">
            <div class="giz-filter--heading">
                <div class="giz-filter-text">
                    Filters
                </div>
                <div class="giz-filter-text">
                    Clear
                </div>
            </div>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
            <GizFilterCard></GizFilterCard>
        </div>
        <!--/filter cards-->
    </section>
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!--apps and games-->
    <section id="giz-apps" class="px-8 py-6">
        <div class=" giz-app-carousel">
            <!--heading-->
            <div class="giz-app-heading">
                Games & applications
            </div>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/apps and games-->
</div>
<!--/wrapper 2-->
