@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div>

</div>

<div>
	<Button Size="ButtonSizes.Large" Color="ButtonColors.Primary">Primary</Button>
	<Button Size="ButtonSizes.Large" Color="ButtonColors.Secondary">Secondary</Button>
	<Button Size="ButtonSizes.Large" Color="ButtonColors.Info">Info</Button>

	<Button Size="ButtonSizes.Large" LeftSVGIcon="Icons.Logout_Client" Color="ButtonColors.Primary">Primary Left Icon</Button>
	<Button Size="ButtonSizes.Large" LeftSVGIcon="Icons.Logout_Client" Color="ButtonColors.Secondary">Secondary Left Icon</Button>
	<Button Size="ButtonSizes.Large" LeftSVGIcon="Icons.Logout_Client" Color="ButtonColors.Info">Info Left Icon</Button>

	<Button Size="ButtonSizes.ExtraLarge" LeftSVGIcon="Icons.Logout_Client" Color="ButtonColors.Primary">Primary Left Icon</Button>
	<Button Size="ButtonSizes.ExtraLarge" LeftSVGIcon="Icons.Logout_Client" Color="ButtonColors.Secondary">Secondary Left Icon</Button>
	<Button Size="ButtonSizes.ExtraLarge" LeftSVGIcon="Icons.Logout_Client" Color="ButtonColors.Info">Info Left Icon</Button>

</div>
