@inherits ComponentBase

<div style="height: 100%; overflow: auto">

    @foreach (Icons icon in (Icons[]) Enum.GetValues(typeof(Icons)))
    {
        <div class="compo-test">
            <Icon SVGIcon="icon" />
            <div>@icon.ToString()</div>
        </div>
    }

</div>
