@inherits ComponentBase;

<!--wrapper 1-->
<div class="wrapper_1">
    <!--News section-->
    <section id="giz-news" class="pa-6">
        <div class="giz-daily-news">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <GizNewsCard></GizNewsCard>
            <!--carousel button-->
            <GizIndicator></GizIndicator>
            <!--/carousel button-->
            <!--giz card-->
            <GizCard_2></GizCard_2>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
        </div>
    </section>
    <!--/News section-->
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!-- New App Section-->
    <section id="giz-apps" class="px-8 py-6">
        <!--row-->
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/New App Section-->
    <!--Top rated apps-->
    <section id="giz-apps" class="mt-10 px-8">
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <!--/carousel cards-->
                <!--order modal-->
                <div class="giz-order-modal" style="display: @(IsOpen ? "" : "none");">
                    <div class="giz-order-modal--content">
                        <div class="giz-order-modal--header">
                            <div class="giz-heading-text">
                                heads up
                            </div>
                            <button @onclick="HideOrderModal" Class="client-button giz-terminate">
                                <!--svg-->
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 1L1 13" stroke="#69748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M1 1L13 13" stroke="#69748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <!--/svg-->
                            </button>
                        </div>
                        <div class="giz-order-modal--title">
                            Order on hold
                        </div>
                        <div class="giz-order-modal--text">
                            Your order is on hold. You will be further be notified once order is accepted.
                        </div>
                    </div>
                </div>
                <!--/order modal-->
            </div>
        </div>
    </section>
    <!--/Top rated apps-->
</div>
<!--/wrapper 2-->
@code {

    private bool IsOpen { get; set; } = true;

    private void HideOrderModal()
    {
        IsOpen = !IsOpen;
    }

}

