@page "/"

@inherits ComponentBase;

<!--body section-->
<!--news container-->
<div class="news">
    <!--News section-->
    <section id="giz-news" class="pa-6">
        <div class="giz-daily-news">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <GizNewsCard></GizNewsCard>
            <!--carousel button-->
            <Indicator></Indicator>
            <!--/carousel button-->
            <!--giz card-->
            <GizCard_2></GizCard_2>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
        </div>
    </section>
    <!--/News section-->
</div>
<!--/news container-->
<!--Apps container-->
<div class="apps border-start">
    <!-- New App Section-->
    <section id="giz-apps" class="px-8 py-6">
        <!--row-->
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <div class="giz-card-wrapper">
                <!--carousel cards-->
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/New App Section-->
    <!--Top rated apps-->
    <section id="giz-apps" class="mt-10 px-8 py-6">
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <div class="giz-card-wrapper">
                <!--carousel cards-->
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/Top rated apps-->
</div>
<!--/Apps container-->
<!--/body section-->