@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<!--wrapper 1-->
<div class="wrapper_1">
    <!--News section-->
    <section id="giz-news" class="pa-6">
        <div class="giz-daily-news">
            <NewsFeedCarousel />
        </div>
    </section>
    <!--/News section-->
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!-- New App Section-->
    <section id="giz-apps" class="px-8 py-6">
        <!--row-->
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/New App Section-->
    <!--Top rated apps-->
    <section id="giz-apps" class="mt-10 px-8">
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                @foreach (var app in Applications)
                {
                    <GizAppCard Application="@app" OnOpenDetails="@OpenDetails"></GizAppCard>
                }
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/Top rated apps-->
</div>
<!--/wrapper 2-->

<AppDetailsDialog @bind-IsOpen="AppDetailsIsOpen" />

@code {

    private bool IsOpen { get; set; } = true;

    private void HideOrderModal()
    {
        IsOpen = !IsOpen;
    }

}

