@inherits ComponentBase;

<!--wrapper 1-->
<div class="wrapper_1">
    <!--News section-->
    <section id="giz-news" class="pr-6 py-6">
        <div class="giz-daily-news">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <GizNewsCard></GizNewsCard>
            <!--carousel button-->
            <GizIndicator></GizIndicator>
            <!--/carousel button-->
            <!--giz card-->
            <GizCard_2></GizCard_2>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
            <!--giz card-->
            <GizCard></GizCard>
            <!--/giz card-->
        </div>
    </section>
    <!--/News section-->
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!-- New App Section-->
    <section id="giz-apps" class="pl-8 py-6">
        <!--row-->
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <GizAppsCard></GizAppsCard>
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/New App Section-->
    <!--Top rated apps-->
    <section id="giz-apps" class="mt-10 pl-8">
        <div class=" giz-app-carousel">
            <!--heading-->
            <GizAppCarousel></GizAppCarousel>
            <!--/heading-->
            <div class="giz-wrapper">
                <!--carousel cards-->
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <GizRatingCard></GizRatingCard>
                <!--/carousel cards-->
            </div>
        </div>
    </section>
    <!--/Top rated apps-->
</div>
<!--/wrapper 2-->

