@layout _EmptyLayout
@inherits ComponentBase
@inject NavigationManager UriHelper

<!--Login-->
<section class="giz-login">

<div class="giz-login--heading">
    <div class="giz-logo"><img src="https://i.postimg.cc/ZqR6bSr5/Logo.png" alt="loading"></div>
    <div class="giz-heading-text">05</div>
</div>


<button class="giz-btn-primary mt-10" @onclick=@Navigate>Login</button>





</section>












<!--login-->




@code {
void Navigate()
{
    UriHelper.NavigateTo("/home");
}
}