@layout _EmptyLayout
@inherits ComponentBase
@inject NavigationManager UriHelper








<button class="giz-btn-primary" @onclick=@Navigate>Login</button>

@code {
void Navigate()
{
    UriHelper.NavigateTo("/home");
}
}