@layout _EmptyLayout
@inherits ComponentBase
@inject NavigationManager UriHelper

<h1>Login page</h1>
<button class="giz-btn-primary" @onclick=@Navigate>Login</button>

@code {
void Navigate()
{
    UriHelper.NavigateTo("/home");
}
}