@inherits ComponentBase
<!--wrapper 1-->
<div class="wrapper_1">
    <section class="giz-shop-categories py-6">
        <!--Apps and games Categories-->
        <div class="giz-header-title">Categories</div>
        <ul class="giz-category-menu">
            <li class="giz-category-menu--items">
                <a class="giz-category-menu--links"
                   href="#">
                    Coffee <span class="giz-search-number">10</span>
                </a>
            </li>
            <li class="giz-category-menu--items">
                <a class="giz-category-menu--links active"
                   href="#">
                    Beverages <span class="giz-search-number">6</span>
                </a>
            </li>
            <li class="giz-category-menu--items">
                <a class="giz-category-menu--links"
                   href="#">
                    FPS & Action <span class="giz-search-number">12</span>
                </a>
            </li>
            <li class="giz-category-menu--items">
                <a class="giz-category-menu--links"
                   href="#">
                    Sandwiches<span class="giz-search-number">16</span>
                </a>
            </li>
            <li class="giz-category-menu--items">
                <a class="giz-category-menu--links"
                   href="#">
                    Snacks <span class="giz-search-number">8</span>
                </a>
            </li>
            <li class="giz-category-menu--items">
                <a class="giz-category-menu--links"
                   href="#">
                    Time offers <span class="giz-search-number">8</span>
                </a>
            </li>
        </ul>
        <!--/Apps and games Categories-->
    </section>
</div>
<!--/wrapper 1-->
<!--wrapper 2-->
<div class="wrapper_2 border-start">
    <!--giz main-->
    <div class="giz-main">
        <!--wrapper 3-->
        <div class="wrapper_3  border-end">
            <!--apps and games-->
            <section id="giz-apps" class="px-8 py-6">
                <!--heading-->
                <div class="giz-shop-items">
                    <div class="giz-shop-items--heading">
                        Beverages
                    </div>
                    <div class="giz-shop-items--sort">
                        <svg width="20" height="8" viewBox="0 0 20 8" fill="white" xmlns="http://www.w3.org/2000/svg" class="mr-4">
                            <path d="M0.666016 0.5H19.3327V2.83333H0.666016V0.5ZM0.666016 5.16667H12.3327V7.5H0.666016V5.16667Z" />
                        </svg>
                        <span>Short by</span> Name
                        <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-2">
                            <path d="M1 1L4 4L7 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <!--/heading-->
                <div class="giz-wrapper">
                    <!--carousel cards-->
                    <GizShopCard></GizShopCard>
                    <GizShopCard></GizShopCard>
                    <GizShopCard></GizShopCard>
                    <GizShopCard></GizShopCard>
                    <GizShopCard></GizShopCard>
                    <GizShopCard></GizShopCard>
                    <GizShopCard></GizShopCard>
                    <GizShopCard></GizShopCard>
                    <!--/carousel cards-->
                </div>
            </section>
        </div>
        <!--/wrapper 3-->
        <!--wrapper 4-->
        <div class="wrapper_4">
            <!--order section-->
            <section class="giz-order py-5 pl-7">
                <!--order menu-->
                <div class="giz-order-menu">
                    <!--order header-->
                    <div class="giz-order-menu--header">
                        <div class="giz-header-title">detail</div>
                        <div class="giz-header-heading">My order</div>
                    </div>
                    <!--/order header-->
                    <!--order body-->
                    <div class="giz-order-menu--body">
                        <!--no order text-->
                        <div class="giz-no-order-wrapper">
                            <div class="giz-no-order-wrapper--title">No products</div>
                            <div class="giz-no-order-wrapper--text">Add products to get started</div>
                        </div>
                        <!--/no order text-->
                        <!--order detail-->
                        <div class="giz-order-wrapper">
                        <div class="giz-order-menu--items">
                            <div class="giz-order-info">
                                Monster Energy Ultra Ripper 500ml
                                <button class="giz-rounded-circle">
                                    <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.19922 3.63989H2.31922H11.2792" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M4.00031 3.6399V2.5199C4.00031 2.22286 4.11831 1.93798 4.32835 1.72794C4.53839 1.5179 4.82327 1.3999 5.12031 1.3999H7.36031C7.65736 1.3999 7.94223 1.5179 8.15227 1.72794C8.36231 1.93798 8.48031 2.22286 8.48031 2.5199V3.6399M10.1603 3.6399V11.4799C10.1603 11.7769 10.0423 12.0618 9.83227 12.2719C9.62223 12.4819 9.33736 12.5999 9.04031 12.5999H3.44031C3.14327 12.5999 2.85839 12.4819 2.64835 12.2719C2.43831 12.0618 2.32031 11.7769 2.32031 11.4799V3.6399H10.1603Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.11914 6.43994V9.79994" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.35938 6.43994V9.79994" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                            <div class="giz-order-amount">7.10€</div>
                            <div class="giz-order-btn">
                                <button class="giz-decrease-btn">-</button>
                                <span>2</span>
                                <button class="giz-increase-btn">+</button>
                            </div>
                        </div>
                        <div class="giz-order-menu--items">
                            <div class="giz-order-info">
                                Monster Energy Ultra Ripper 500ml
                                <button class="giz-rounded-circle">
                                    <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.19922 3.63989H2.31922H11.2792" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M4.00031 3.6399V2.5199C4.00031 2.22286 4.11831 1.93798 4.32835 1.72794C4.53839 1.5179 4.82327 1.3999 5.12031 1.3999H7.36031C7.65736 1.3999 7.94223 1.5179 8.15227 1.72794C8.36231 1.93798 8.48031 2.22286 8.48031 2.5199V3.6399M10.1603 3.6399V11.4799C10.1603 11.7769 10.0423 12.0618 9.83227 12.2719C9.62223 12.4819 9.33736 12.5999 9.04031 12.5999H3.44031C3.14327 12.5999 2.85839 12.4819 2.64835 12.2719C2.43831 12.0618 2.32031 11.7769 2.32031 11.4799V3.6399H10.1603Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.11914 6.43994V9.79994" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.35938 6.43994V9.79994" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                            <div class="giz-order-amount">7.10€</div>
                            <div class="giz-order-btn">
                                <button class="giz-decrease-btn">-</button>
                                <span>2</span>
                                <button class="giz-increase-btn">+</button>
                            </div>
                        </div>
                        </div>
                        <!--order detail-->
                    </div>
                    <!--/order body-->
                    <!--order footer section-->
                    <div class="giz-order-menu--footer">
                        <div class="giz-order-message">
                            <form>
                            <textarea placeholder="Add your note..">  
                            </textarea>
                            </form>
                        </div>
                        <!--order summary-->
                        <div class="giz-order-summary">
                            <div class="giz-order-summary--text">Total</div>
                            <div class="giz-order-summary--number">7.00€</div>
                            <div class="giz-order-summary--text">points</div>
                            <div class="giz-order-summary--number">0</div>
                            <div class="giz-order-summary--text">awards</div>
                            <div class="giz-order-summary--number">0</div>
                        </div>
                        <!--/order summary-->
                        <!--order btn-->
                        <div class="giz-place-order-btn">
                            <button class="giz-btn-dark-graylish giz-dim-white-text d-none">place order</button>
                             <button class="giz-btn-primary">place order</button>
                        </div>
                        <!--order btn-->
                    </div>
                    <!--order footer section-->
                </div>
                <!--/order-->
            </section>
            <!--/order section-->
        </div>
        <!--wrapper 4-->
    </div>
    <!--/giz main-->
</div>
<!--/wrapper 2-->
