//=============== Avatar ================//

/*.giz-avatar {
    display: inline-block;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }

    &--circle {
        border-radius: 50%;
    }

    &--extra-small {
        width: 2.4rem;
        height: 2.4rem;
    }

    &--small {
        width: 3.2rem;
        height: 3.2rem;
    }

    &--medium {
        width: 7.2rem;
        height: 7.2rem;
    }

    &--large {
        width: 10.4rem;
        height: 10.4rem;
    }

    &--extra-large {
        width: 11.2rem;
        height: 11.2rem;
    }
}*/
