//=============== Badge================//

/*.giz-badge {
    display: inline-block;

    &__wrapper {
        .giz-badge__badge {
            white-space: nowrap;
            //Default Skin
            border-radius: 1rem;
            padding: 0 1rem;
        }
    }

    &--corner {
        position: relative;

        .giz-badge__wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            .giz-badge__badge {
                position: absolute;
                //Default Skin
                padding: unset;
                height: 2.0rem;
                min-width: 2.0rem;
                inset: auto auto calc(100% - 0.5rem) calc(100% - 0.5rem);
            }
        }

        &.giz-badge--small {
            .giz-badge__wrapper {
                .giz-badge__badge {
                    //Default Skin
                    padding: unset;
                }
            }
        }
    }

    &--small {
        .giz-badge__wrapper {
            .giz-badge__badge {
                display: inline-block;
                //Default Skin
                line-height: 1;
                height: 1rem;
                min-width: 1rem;
                border-radius: 0.5rem;
                padding: 0;
            }
        }
    }
}*/
