//=============== Button ================//

/*.giz-button {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

        &-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }

    &__content {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        align-items: center;
        height: 100%;

        &_wrapper {
            position: relative;
            display: flex;
            height: 100%;
            overflow: hidden;
            align-items: center;
            justify-content: center;
        }
    }

    &--full-width {
        width: 100%;
    }

    &.disabled, &[disabled] {
        pointer-events: none;
    }

    &--extra-small {
        height: 1.1rem;
    }

    &--small {
        height: 1.7rem;
    }

    &--medium {
        height: 2.4rem;
    }

    &--large {
        height: 2.7rem;
    }

    &--extra-large {
        height: 3.4rem;
    }
}*/
