//=============== CircularProgressBar ================//

/*.giz-circular-progress-bar {
    display: inline-block;
    position: relative;

    & > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .giz-circular-progress-bar-value-bar {
        width: 100%;
        height: 100%;
        border-style: solid;
        position: absolute;
        top: 0;
        box-sizing: border-box;
    }

    &__left {
        left: 0;

        .giz-circular-progress-bar-value-bar {
            left: 100%;
            border-left: 0;
            transform-origin: center left;
        }
    }

    &__right {
        right: 0;

        .giz-circular-progress-bar-value-bar {
            left: -100%;
            border-right: 0;
            transform-origin: center right;
        }
    }

    &__value {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &--extra-small {
        width: 1.7rem;
        height: 1.7rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.1rem;
            width: calc(100% - 0.2rem);
            height: calc(100% - 0.2rem);
        }

        & > .giz-circular-progress-bar__left {

            & > .giz-circular-progress-bar-value-bar {
                border-top-right-radius: 0.8rem;
                border-bottom-right-radius: 0.8rem;
                border-width: 0.1rem;
            }
        }

        & > .giz-circular-progress-bar__right {

            & > .giz-circular-progress-bar-value-bar {
                border-top-left-radius: 0.8rem;
                border-bottom-left-radius: 0.8rem;
                border-width: 0.1rem;
            }
        }

        & > .giz-circular-progress-bar__value {
            font-size: 0.8rem;
        }
    }

    &--small {
        width: 2.6rem;
        height: 2.6rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.2rem;
            width: calc(100% - 0.4rem);
            height: calc(100% - 0.4rem);
        }

        & > .giz-circular-progress-bar__left {

            & > .giz-circular-progress-bar-value-bar {
                border-top-right-radius: 1.6rem;
                border-bottom-right-radius: 1.6rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circular-progress-bar__right {

            & > .giz-circular-progress-bar-value-bar {
                border-top-left-radius: 1.6rem;
                border-bottom-left-radius: 1.6rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circular-progress-bar__value {
            font-size: 1.6rem;
        }
    }

    &--medium {
        width: 3.4rem;
        height: 3.4rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.2rem;
            width: calc(100% - 0.4rem);
            height: calc(100% - 0.4rem);
        }

        & > .giz-circular-progress-bar__left {

            & > .giz-circular-progress-bar-value-bar {
                border-top-right-radius: 2.8rem;
                border-bottom-right-radius: 2.8rem;
                border-width: 0.2rem;
            }
        }

        & > .giz-circular-progress-bar__right {

            & > .giz-circular-progress-bar-value-bar {
                border-top-left-radius: 2.8rem;
                border-bottom-left-radius: 2.8rem;
                border-width: 0.2rem;
            }
        }

        & > .giz-circular-progress-bar__value {
            font-size: 2.8rem;
        }
    }

    &--large {
        width: 4.2rem;
        height: 4.2rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.4rem;
            width: calc(100% - 0.8rem);
            height: calc(100% - 0.8rem);
        }

        & > .giz-circular-progress-bar__left {

            & > .giz-circular-progress-bar-value-bar {
                border-top-right-radius: 2.8rem;
                border-bottom-right-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circular-progress-bar__right {

            & > .giz-circular-progress-bar-value-bar {
                border-top-left-radius: 2.8rem;
                border-bottom-left-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circular-progress-bar__value {
            font-size: 2.8rem;
        }
    }

    &--extra-large {
        width: 5.1rem;
        height: 5.1rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.4rem;
            width: calc(100% - 0.8rem);
            height: calc(100% - 0.8rem);
        }

        & > .giz-circular-progress-bar__left {

            & > .giz-circular-progress-bar-value-bar {
                border-top-right-radius: 2.8rem;
                border-bottom-right-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circular-progress-bar__right {

            & > .giz-circular-progress-bar-value-bar {
                border-top-left-radius: 2.8rem;
                border-bottom-left-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circular-progress-bar__value {
            font-size: 2.8rem;
        }
    }
}*/
