//=============== ComboButton ================//

/*.giz-combo-button {
    display: inline-flex;
    position: relative;

    &--full-width {
        display: flex;

        & > .left-button {
            flex-grow: 1;
        }
    }

    &__dropdown {
        background-color: white;

        &--full-width {
            min-width: 100%;
        }

        &--cursor {
            position: absolute;

            & > .giz-list {
                right: 0;
                left: 0;

                .giz-list-nested-list {
                    &.giz-list--right {
                    }

                    &.giz-list--left {
                    }

                    &.giz-list--top {
                    }
                }
            }
        }

        .giz-list {
            .giz-list-item {
                white-space: nowrap;
            }
        }
    }
}*/
