//=============== DataGrid ================//

/*.giz-data-grid {
    position: relative;
    width: 100%;
    border-collapse: separate;

    &-wrapper {
        position: relative;
        overflow: auto;

        .giz-menu {
            position: absolute !important;
        }
    }

    &-row {
        &-detail {
            display: none;

            &-content {
                position: relative;
                width: 100%;
                display: flex;
                align-items: flex-start;
                box-sizing: border-box;
            }
        }

        &--dropdown {
            &.giz-data-grid-row--open + .giz-data-grid-row-detail {
                display: table-row;
            }
        }

        &--open {
            cursor: pointer;
        }
    }

    & > thead td, & > thead th {
        .giz-data-grid-header {
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    & > tbody > tr:not(.giz-data-grid-row-detail) {
        &.selected {
            cursor: pointer;
        }
    }

    &-check {
        width: 1%;
    }

    &-column-selector {
        &-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2;
        }

        .giz-check-box {
            label {
                margin: 0;
            }
        }
    }

    &--sticky-header {
        max-height: 100%;

        .giz-data-grid-column-selector-wrapper {
            position: sticky;
        }

        .giz-data-grid {
            & > thead td, & > thead th {
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }
    }
}*/
