//=============== GizInput ================//

/*.giz-input {
    &-control {
        position: relative;
        overflow: hidden;
    }

    &-label {
        display: block;
    }

    &-root {
        display: flex;
        align-items: center;
        width: 20.0rem;

        .giz-input-wrapper {
            position: relative;
            width: 100%;
            height: 100%;

            & > input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            background-color: inherit;

            &.disabled, &[disabled] {
                pointer-events: none;
            }
        }

        &.disabled, &[disabled] {
            pointer-events: none;
        }

        &--full-width {
            width: 100%;
        }

        &--small {
            height: 1.7rem;
        }

        &--medium {
            height: 2.4rem;
        }

        &--large {
            height: 2.7rem;
        }
    }

    &-validation-tooltip {
        display: none;
        position: absolute;
        z-index: 1;
    }
}*/
