//=============== IconButton ================//

/*.giz-icon-button {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    align-items: center;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        .giz-tooltip {
            visibility: visible;
        }
    }

    &.disabled, &[disabled] {
        pointer-events: none;
    }
}*/
