//=============== List ================//

/*.giz-list {
    position: relative;

    .giz-list-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;

        &.disabled {
            cursor: default;
            pointer-events: none;
        }
    }

    &.giz-list--with-header {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    &-nested-list {
        position: absolute;
        width: max-content;

        &.giz-list--right {
            left: 100%;
        }

        &.giz-list--left {
            right: 100%;
        }

        &.giz-list--top {
            bottom: 0;
        }
    }
}*/
