//=============== MaskedPhoneInput ================//

/*.giz-masked-phone-input {
    input {
        position: absolute;
    }

    .giz-input-wrapper {
        display: flex;
        cursor: text;

        .giz-phone-prefix {
            cursor: text;
        }

        .giz-phone-wrapper {
            flex-grow: 1;
            position: relative;
        }
    }

    .giz-mask {
        position: absolute;
        display: flex;

        &-done {
            visibility: hidden;
        }
    }
}*/
