//=============== MaskedDateInput ================//

/*.giz-masked-date-input {
    input {
        user-select: none;
    }

    .giz-mask {
        display: flex;

        &-done {
            visibility: hidden;
        }
    }
}*/
