//=============== gizmo menu classes ================//

/*.giz-menu {
    display: inline-block;
    position: relative;

    &--mouse {
        .giz-overlay {
            pointer-events: none;
        }
    }

    & > button {
        width: 100%;
    }

    &__dropdown {
        right: 0;
        left: 0;

        &--cursor {
            position: absolute;

            & > .giz-list {
                right: 0;
                left: 0;
            }
        }

        & > .giz-list.giz-list--right {
            position: absolute;
            left: 0;
            width: max-content;
        }

        & > .giz-list.giz-list--left {
            position: absolute;
            right: 0;
            width: max-content;
        }
    }
}*/
