//=============== MultiSelect ================//

/*.giz-multi-select {
    display: inline-block;
    position: relative;

    &--full-width {
        display: block;
    }

    &__content {
        cursor: pointer;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &_wrapper {
            position: relative;
        }
    }

    &__dropdown {
        background-color: white;

        &--full-width {
            width: 100%;
        }

        &--cursor {
            position: absolute;
            overflow: hidden !important;

            & > .giz-list {
                right: 0;
                left: 0;
                overflow: auto;
            }
        }

        .giz-multi-select-list {
            display: flex;
            flex-wrap: wrap;

            .giz-multi-select-item {
                cursor: pointer;
            }
        }
    }

    .giz-input-control {
        cursor: pointer;

        .giz-input-root {
            justify-content: space-between;
            align-items: center;

            input {
                cursor: pointer;
            }

            .giz-input__icon-right {
                cursor: pointer;
            }
        }
    }

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}*/
