//=============== Overlay ================//

/*.giz-overlay {
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    outline: 0;

    &--visible {
        display: flex;
    }
}*/
