//=============== PasswordInput ================//

/*.giz-password-input {
    display: inline-block;
    position: relative;

    &--full-width {
        display: block;
    }

    input::-ms-reveal {
        display: none;
    }

    .giz-input-button-reveal {
        cursor: pointer;
    }
}*/
