//=============== PercentageStackBar ================//

/*.giz-percentage-stack-bar {
    height: 1rem;
    overflow: hidden;

    .giz-stacked-bar {
        float: left;
        width: 0;
        height: 100%;
    }
}*/
