//=============== ProgressBar ================//

/*.giz-progress-bar {
    position: relative;
    height: 1rem;
    overflow: hidden;
    border-style: none;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    &__value-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: black;
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &--indeterminate {
        .giz-progress-bar__background {
            display: none;
        }

        .giz-progress-bar__value-bar {
        }

        &:after {
            content: none;
        }
    }
}*/
