//=============== Rating ================//

.giz-rating {
    display: inline-block;

    &_star {
        display: inline-flex;
    }

    &:not(.readonly) {
        svg {
            cursor: pointer;
        }
    }
}
