/** @format */

//=============== Select ================//

/*.giz-select {
  display: inline-block;
  position: relative;

  &--full-width {
    display: block;
  }

  &__content {
    cursor: pointer;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &_wrapper {
      position: relative;
    }
  }

  &__dropdown {
    background-color: white;

    &--full-width {
      width: 100%;
    }

    &--cursor {
      position: absolute;

      & > .giz-list {
        right: 0;
        left: 0;
      }
    }
  }

  .giz-input-control {
    cursor: pointer;

    .giz-input-root {
      justify-content: space-between;
      align-items: center;

      input {
        cursor: pointer;
      }

      .giz-input__icon-right {
        cursor: pointer;
      }
    }
  }

  &.disabled,
  &[disabled] {
    .giz-input-control {
      cursor: default;
    }
  }

  .giz-popup {
    display: none;

    overflow-x: hidden;
    overflow-y: auto;

    &--open {
      display: block;
    }
  }
}*/
