//=============== TextInput ================//

/*.giz-text-input {
    display: inline-block;

    &--full-width {
        display: block;
    }

    .giz-input-root {
        textarea {
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            background-color: inherit;
            height: 100%;
        }
    }
}*/
