//=============== Tooltip ================//

/*.giz-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;

    &-root {
        display: inline-block;
        position: relative;

        &:hover {
            .giz-tooltip {
                visibility: visible;
            }
        }
    }

    &--top {
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &--bottom {
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}*/
