//=============== Badge================//

.giz-badge {
    [#{$client-theme-comp-attr}] & {
        display: inline-block;

        &--corner {
            position: relative;

            & > .giz-badge__wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;

                & > .giz-badge__badge {
                    position: absolute;
                    height: unset;
                    min-width: unset;
                    background-color: #E70038;
                    padding: 0.2rem 0.6rem;
                    border-radius: 1rem;
                    white-space: nowrap;
                    inset: auto auto calc(100% - 1.5rem) calc(100% - 1.0rem);
                    //Font ?
                    font-weight: 400;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }
    }
}
