//=============== Card ================//

.giz-card {
    [#{$client-theme-comp-attr}] & {
        .giz-card-header {
            padding: unset;
        }

        .giz-card-body {
            padding: unset;
        }

        .giz-card-footer {
            padding: unset;
        }
    }
}
