//=============== CheckBox ================//

.giz-check-box {
    [#{$client-theme-comp-attr}] & {
        display: inline-flex;

        & input {
            position: absolute;
            left: -9999px;

            & + label {
                position: relative;
                display: flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
                margin: 0.4rem 0;
                color: #fafafa;
                @include font-m-theme-client($font-weight-light-theme-client);

                span {
                    margin-left: 0.8rem;
                }
            }

            &:checked + label {
                overflow: visible;
            }

            & + label:before {
                content: '';
                width: 2.4rem;
                height: 2.4rem;
                background-color: transparent;
                border: 0.2rem solid #fafafa;
                border-radius: 0.4rem;
                //margin-right: 0.8rem;
                box-sizing: border-box;
            }

            &:checked + label:before {
                content: '';
                background-color: $primary-color-theme-client;
                border: 0.2rem solid $primary-color-theme-client;
            }

            &:checked + label:after {
                content: '';
                position: absolute;
                left: 0.9rem;
                top: 0.5rem;
                width: 0.4rem;
                height: 0.8rem;
                border: solid white;
                border-width: 0 0.2rem 0.2rem 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                //background: url('/img/icons/tick.svg') no-repeat; //TODO: doesn't exist
            }

            &.disabled + label:before,
            &[disabled] + label:before {
                cursor: default;
                pointer-events: none;
                border: 0.2rem solid rgba(246, 251, 253, 0.28);
            }

            &.disabled + label,
            &[disabled] + label {
                cursor: default;
                color: rgba(255, 255, 255, 0.24);
            }
        }
    }
}
