//=============== Collapse ================//

.giz-collapse {
    [#{$client-theme-comp-attr}] & {
        display: none;
        position: relative;

        &--expanded {
            display: block;
        }
    }
}
