//=============== Divider ================//

.giz-divider {
    [#{$client-theme-comp-attr}] & {
        border: none;
        border-top: solid;
        border-width: 0.1rem;
        border-color: $unknown-color;

        &--vertical {
            width: 0.1rem;
            height: auto;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }
}
