//=============== GizInput ================//

.giz-input {
    [#{$client-theme-comp-attr}] & {
        &-control {
            position: relative;
            overflow: hidden;

            .giz-input-label {
                display: block;
                margin-bottom: 0.4rem;
                @include font-m-theme-client($font-weight-light-theme-client);
            }

            .giz-input-root {
                display: flex;
                align-items: center;
                color: $text-primary-v2;
                background-color: $bg-1-v2;
                width: 20.0rem;
                transition: border-color $dur-fast-v2 $ease-out-v2,
                            box-shadow $dur-fast-v2 $ease-out-v2;

                .giz-input-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    & > input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                &--full-width {
                    width: 100%;
                }

                svg {
                    color: $text-secondary-v2;
                    vertical-align: baseline;
                }

                &.disabled, &[disabled] {
                    pointer-events: none;
                    color: $text-secondary-v2;
                    background-color: $bg-2-v2;
                    border: 0.1rem solid transparent;
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: inherit;
                    color: $text-primary-v2;

                    &::placeholder {
                        color: $text-tertiary-v2;
                    }

                    &.disabled, &[disabled] {
                        pointer-events: none;
                        color: $text-disabled-v2;
                    }
                }

                &--outline {
                    border: 1px solid $border-strong-v2;
                    border-radius: $radius-md-v2;
                    background-color: $bg-1-v2;

                    &:hover {
                        border: 0.2rem solid $accent-v2;

                        &.giz-input-root--extrasmall {
                            padding: 0.4rem 1.1rem;
                        }

                        &.giz-input-root--small {
                            padding: 0.7rem 1.2rem;
                        }

                        &.giz-input-root--medium {
                            padding: 0.9rem 1.1rem;
                        }

                        &.giz-input-root--large {
                            padding: 1.3rem 1.2rem;
                        }
                    }

                    &:focus-within {
                        border: 0.2rem solid $accent-v2;
                        box-shadow: 0 0 0 0.4rem $accent-soft-v2;

                        &.giz-input-root--extrasmall {
                            padding: 0.4rem 1.1rem;
                        }

                        &.giz-input-root--small {
                            padding: 0.7rem 1.2rem;
                        }

                        &.giz-input-root--medium {
                            padding: 0.9rem 1.1rem;
                        }

                        &.giz-input-root--large {
                            padding: 1.3rem 1.2rem;
                        }
                    }
                }

                &--extrasmall {
                    @include font-s-theme-client($font-weight-light-theme-client);

                    input {
                        @include font-s-theme-client($font-weight-light-theme-client);
                        //@include font-m-theme-client($font-weight-light-theme-client);
                    }
                }

                &--small {
                    height: 1.7rem;
                    @include font-m-theme-client($font-weight-light-theme-client);

                    input {
                        @include font-m-theme-client($font-weight-light-theme-client);
                    }
                }

                &--medium {
                    height: 2.4rem;
                    @include font-l-theme-client($font-weight-light-theme-client);

                    input {
                        @include font-l-theme-client($font-weight-light-theme-client);
                    }
                }

                &--large {
                    height: 2.7rem;
                    @include font-l-theme-client($font-weight-light-theme-client);

                    input {
                        @include font-l-theme-client($font-weight-light-theme-client);
                    }
                }

                &--transparent {
                    background-color: transparent;
                }

                &--extrasmall {
                    //DESIGNER'S L
                    //border-radius: 0.8rem;
                    height: 3.2rem;
                    padding: 0.5rem 1.2rem;

                    input {
                    }

                    .giz-input__icon-left, .giz-input__icon-right {
                        .giz-icon {
                            width: 2.0rem;
                            height: 2.0rem;
                        }
                    }
                }

                &--small {
                    //DESIGNER'S L
                    //border-radius: 0.8rem;
                    height: 4.0rem;
                    padding: 0.8rem 1.3rem;

                    input {
                    }

                    .giz-input__icon-left, .giz-input__icon-right {
                        .giz-icon {
                            width: 2.0rem;
                            height: 2.0rem;
                        }
                    }
                }

                &--medium {
                    //DESIGNER'S XL
                    //border-radius: 0.8rem;
                    height: 4.8rem;
                    padding: 1.0rem 1.2rem;

                    input {
                    }

                    .giz-input__icon-left, .giz-input__icon-right {
                        width: 2.4rem;
                        height: 2.4rem;
                        min-width: 2.4rem;
                        min-height: 2.4rem;
                    }
                }

                &--large {
                    //DESIGNER'S XXL
                    //border-radius: 0.8rem;
                    height: 5.2rem;
                    padding: 1.4rem 1.3rem;

                    input {
                    }

                    .giz-input__icon-left, .giz-input__icon-right {
                        .giz-icon {
                            width: 2.4rem;
                            height: 2.4rem;
                        }
                    }
                }
            }

            &--invalid {
                input {
                    color: $status-danger-v2;
                }

                .giz-input-validation-label {
                    color: $status-danger-v2;
                }

                .giz-input-root--outline {
                    border: 0.1rem solid $status-danger-v2;

                    &:hover {
                        border: 0.1rem solid $status-danger-v2;

                        &.giz-input-root--extrasmall {
                            padding: 0.5rem 1.2rem;
                        }

                        &.giz-input-root--small {
                            padding: 0.8rem 1.3rem;
                        }

                        &.giz-input-root--medium {
                            padding: 1.0rem 1.2rem;
                        }

                        &.giz-input-root--large {
                            padding: 1.4rem 1.3rem;
                        }
                    }

                    &:focus-within {
                        border: 0.2rem solid $status-danger-v2;
                        box-shadow: 0 0 0 0.4rem $status-danger-bg-v2;

                        &.giz-input-root--extrasmall {
                            padding: 0.4rem 1.1rem;
                        }

                        &.giz-input-root--small {
                            padding: 0.7rem 1.2rem;
                        }

                        &.giz-input-root--medium {
                            padding: 0.9rem 1.1rem;
                        }

                        &.giz-input-root--large {
                            padding: 1.3rem 1.2rem;
                        }
                    }
                }

                .giz-input-root--shadow {
                    box-shadow: unset;

                    &:hover {
                        box-shadow: unset;
                    }

                    &:focus-within {
                        box-shadow: unset;
                    }
                }
            }
        }

        &-validation-tooltip {
            display: none;
            position: absolute;
            z-index: 1;
        }
    }
}

.giz-input-validation-label {
    [#{$client-theme-comp-attr}] & {
        min-height: 2.2rem;
        margin-top: 0.4rem;
        @include font-m-theme-client($font-weight-light-theme-client);

        &-root {
            &--outline {
                transition: border-color 0.2s;
            }
        }
    }
}
