//=============== Icon ================//

.giz-icon {
    [#{$client-theme-comp-attr}] & {
        &--extra-small {
            width: 1.0rem;
            height: 1.0rem;
        }

        &--small {
            width: 1.8rem;
            height: 1.8rem;
            min-width: 1.8rem;
            min-height: 1.8rem;
        }

        &--medium {
            width: 2.4rem;
            height: 2.4rem;
            min-width: 2.4rem;
            min-height: 2.4rem;
        }

        &--large {
            width: 2.8rem;
            height: 2.8rem;
            min-width: 2.8rem;
            min-height: 2.8rem;
        }

        &--extra-large {
            width: 3.8rem;
            height: 3.8rem;
            min-width: 3.8rem;
            min-height: 3.8rem;
        }
    }
}
