//=============== PasswordInput ================//

.giz-password-input {
    [#{$client-theme-comp-attr}] & {
        display: inline-block;
        position: relative;

        &--full-width {
            display: block;
        }

        input::-ms-reveal {
            display: none;
        }

        .giz-input-button-reveal {
            cursor: pointer;
        }

        .giz-input__icon-right {
            box-sizing: content-box;
            width: 2.4rem;
            height: 2.4rem;
            min-width: 2.4rem;
            min-height: 2.4rem;
        }
    }
}