//=============== PasswordInput ================//

.giz-password-input {
    [#{$client-theme-comp-attr}] & {
        .giz-input__icon-right {
            box-sizing: content-box;
            width: 2.4rem;
            height: 2.4rem;
            min-width: 2.4rem;
            min-height: 2.4rem;
        }
    }
}