//=============== PercentageStackBar ================//

.giz-percentage-stack-bar {
    [#{$client-theme-comp-attr}] & {
        display: inline-block;
        overflow: hidden;
        vertical-align: inherit;
        position: relative;

        .giz-stacked-bar {
            &:last-child {
                text-align: right;
            }
        }
    }
}