//=============== RadioButton ================//

.giz-radio-button {
    [#{$client-theme-comp-attr}] & {
        display: inline-flex;

        & input {
            position: absolute;
            left: -9999px;

            & + label {
                position: relative;
                display: flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
                margin: 0.4rem 0;

                span {
                    margin-left: 0.75rem;
                }
            }

            &:checked + label {
                overflow: visible;
            }

            & + label:before {
                box-sizing: border-box;
                content: '';
                width: 2.4rem;
                height: 2.4rem;
                //margin-right: 0.75rem;
                border-radius: 50%;
                background-color: transparent;
                border: 0.1rem solid rgba(246, 251, 253, 0.28);
            }

            &:checked + label:before {
                background-color: transparent;
                border-color: #0078D2;
            }

            &.disabled + label:before, &[disabled] + label:before {
                //TODO: A background-color: $gray-color-theme-dark;
            }

            &.disabled + label, &[disabled] + label {
                cursor: default;
                pointer-events: none;
            }

            &:checked + label:after {
                content: '';
                position: absolute;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                left: 0.8rem;
                width: 0.8rem;
                height: 0.8rem;
                background-color: #0078D2;
            }
        }
    }
}
