//=============== TextInput ================//

.giz-text-input {
    [#{$client-theme-comp-attr}] & {
        display: inline-block;

        &--full-width {
            display: block;
        }

        .giz-input-root {
            textarea {
                width: 100%;
                resize: none;
                border: none;
                outline: none;
                background-color: inherit;
                height: 100%;
                color: rgba(255, 255, 255, 0.35);
                //FontF
                font-family: $font-family-text-theme-client;
                @include font-m-theme-client($font-weight-light-theme-client);
            }
        }
    }
}