//=============== Avatar ================//

.giz-avatar {
    [#{$client-theme-comp-attr}] & {
        &--extra-small {
            width: 2.4rem;
            height: 2.4rem;
        }

        &--small {
            width: 3.2rem;
            height: 3.2rem;
        }

        &--medium {
            width: 4.0rem;
            height: 4.0rem;
        }

        &--large {
            width: 5.6rem;
            height: 5.6rem;
        }

        &--extra-large {
            width: 11.2rem;
            height: 11.2rem;
        }
    }
}