//=============== Badge================//

.giz-badge {
    [#{$client-theme-comp-attr}] & {
        &.giz-badge--small {
            .giz-badge__wrapper {
                .giz-badge__badge {
                    display: inline-block;
                    line-height: 1;
                    height: 0.6rem;
                    min-width: 0.6rem;
                    border-radius: 50%;
                    padding: 0;
                    inset: auto auto calc(100% - 0.3rem) calc(100% - 0.3rem);
                    box-shadow: 0 0 0.5rem 0.2rem rgba(37, 140, 246, 0.6);
                }
            }
        }
    }
}