//=============== Chip ================//

.giz-chip {
    [#{$client-theme-comp-attr}] & {
        padding: 0.9rem 1.2rem;
        height: 4.0rem;
        color: #3F8CFF;
        background-color: #0B1A24;
        border-radius: 0.6rem;
        @include font-m-theme-client($font-weight-light-theme-client);

        .giz-icon-button {
            margin-left: 1.0rem;

            svg {
                color: #0B1A24;
            }
        }
    }
}