//=============== List ================//

.giz-list {
    [#{$client-theme-comp-attr}] & {
        text-align: left;

        .giz-divider {
            margin: 0.8rem;
            border-color: rgba(255, 255, 255, 0.2);
        }

        &-nested-list {
            margin-top: -4.5rem;
        }

        &-nested-list-expand-icon {
            margin-right: unset;
        }
    }
}

