//=============== MaskedDateInput ================//

.giz-masked-date-input {
    [#{$client-theme-comp-attr}] & {
        input {
            font-family: $font-family-text-theme-client;
            @include font-m-theme-client($font-weight-light-theme-client);
        }

        .giz-mask {
            color: rgba(255, 255, 255, 0.35);
            //FontF
            font-family: $font-family-text-theme-client;
            @include font-m-theme-client($font-weight-light-theme-client);
        }
    }
}