//== Common Component style ==//

//=== main style ===//

.main {
    /*padding: $spacer-40;*/
    height: calc(100vh - 10rem);
    overflow-y: $overflow-auto;

    &__bg {
        background: #141923;

        [light-theme] & {
            background: $secondary-dark;
        }
    }
}

//==== language selector ===//

.giz {

    &__language-selector {
        box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.1);
    }

    &__language-flag {
        vertical-align: middle;

        img {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    &__language-arrow {
        right: 2.5rem;
        top: 1.2rem;
    }

}

//=== global search box ===//

.giz-global {

    &__search {
        margin-right: 8rem;
    }

    &__search-icon {
        top: 50%;
        left: 0.7rem;
        width: 1.7rem;
        transform: translateY(-50%);
    }

    &__search-input {
        border: $border-0;
        height: 4rem;

        [light-theme] & {
            border-color: $border-light-color !important;
            color: $secondary-color !important;
        }
    }

    &__search-input::placeholder {
        color: $secondary-color;
    }
}

//=== spinner style ===//

.giz-spinner {
    width: 40px;
    height: 40px;
    position: $position-relative;


    &__box {
        position: $position-absolute;
        width: $width-full;
        height: $min-height;
        top: 0;
        left: 0;
        display: $display-flex;
        align-items: $align-center;
        justify-content: $justify-center;
        background: $white-color;
    }

    &__cube1, &__cube2 {
        background-color: #5a7ff2;
        width: 15px;
        height: 15px;
        position: $position-absolute;
        top: 0;
        left: 0;
        -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
        animation: sk-cubemove 1.8s infinite ease-in-out;
    }

    &__cube2 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

//=== hamburger style === //

.giz-hamburger {
    display: $display-flex;
    align-items: $align-center;
    position: $position-relative;
    height: 4rem;
    border-radius: 5px;
    justify-content: $justify-end;
    padding-right: 1rem;
    border: 1px solid $transparent-color;

    &:hover {
        border: 1px solid $border-dark-color;
        width: 12rem;
    }

    [light-theme] &:hover {
        border-color: $border-light-color;
        background: $white-color;
    }


    &__menu {
        display: $display-none;
        align-items: $align-center;
        list-style-type: $list-unstyled;
        margin: $spacer-0;
        position: $position-absolute;
        right: 5rem;
        top: 50%;
        transform: translateY(-50%);

        & > li {
            margin: 0 0 0 2rem;
            padding: $spacer-0;
            cursor: $cursor-pointer;
        }
    }

    &__ico {
        cursor: $cursor-pointer;
    }

    &:hover > &__ico path {
        fill: #5a7ff2;
    }

    &:hover > &__menu {
        display: $display-flex;
    }

    .content-list__item.is-active & {

        &__menu {
            display: $display-flex;
        }
    }
}

//=== simple scroll bar style === //

.ss-wrapper {
    overflow: $overflow-hidden;
    width: $width-full;
    height: $height-full;
    position: $position-relative;
    z-index: 1;
    float: $float-left;
}

.ss-content {
    height: $height-full;
    width: calc(100% + 18px);
    padding: 0 0 0 0;
    position: $position-relative;
    overflow-x: $overflow-auto;
    overflow-y: $overflow-scroll;
}

.ss-content.rtl {
    width: calc(100% + 18px);
    right: auto;
}

.ss-scroll {
    position: $position-relative;
    background: rgba(0, 0, 0, 0.1);
    width: 9px;
    border-radius: $rounded;
    top: 0;
    z-index: 2;
    cursor: $cursor-pointer;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.ss-hidden {
    display: $display-none;
}

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
    opacity: 1;
}

.ss-wrapper {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

