@namespace Gizmo.Client.UI.Pages
@inherits ComponentBase
@using Gizmo.Web.Components
@using Gizmo.Client.UI.Components
@using Gizmo.Client.UI.ViewModels

<div class="giz-product-details">
    <div class="giz-product-details__product">
        <NavLink href="shop" class="giz-product-details__product__navigation">
            <div class="giz-product-details__product__navigation__icon">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.4938 7.99988L9.34743 2.42872L7.96861 0.97998L0.310587 8.26846C-0.103212 8.66229 -0.103578 9.32214 0.309783 9.71643L7.96781 17.0211L9.34824 15.5739L3.50459 9.99988L19.9999 10.0009L20.0001 8.00094L11.7469 8.00041L3.4938 7.99988Z" fill="#FAFAFA"/>
                </svg>
            </div>
            <div class="giz-product-details__product__navigation__label">
                Back to Shop
            </div>
        </NavLink>
        <div class="giz-product-details__product__info">
            <div class="giz-product-details__product__info__image">
                <img src="_content/Gizmo.Client.UI/img/@Product?.Image" alt="loading" />
            </div>
            <div class="giz-product-details__product__info__basic">
                <div class="giz-product-details__product__info__basic__category">
                    Beverages
                </div>
                <div class="giz-product-details__product__info__basic__title">
                    @Product?.Name
                </div>
                <div class="giz-product-details__product__info__basic__description">
                    @Product?.Description
                </div>
                <div class="giz-product-details__product__info__basic__action">
                    <Button Color="ButtonColors.Accent" Size="ButtonSizes.Large" @onclick="@(() => AddProduct(ProductId))">Add to cart</Button>
                </div>
            </div>
            <div class="giz-product-details__product__info__price">
                2e
            </div>
        </div>
        <div class="giz-product-details__product__details">
            123
        </div>
        <div class="giz-product-details__product__related">
            <div class="giz-product-details__product__related__header">
                Related products
            </div>
                
            <div class="giz-product-details__product__related__body">
                @if (RelatedProducts != null)
                {
                    @foreach (var product in RelatedProducts)
                    {
                        <ProductCard Product="@product" IsHoverable="true" OnAddProduct="@AddProduct" />
                    }
                }
            </div>
        </div>
    </div>
    <div class="giz-product-details__order">
        <GizOrder />
    </div>
</div>
