@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<Dialog @bind-IsOpen="IsOpen" IsModal="true" MaximumWidth="629px" MaximumHeight="629px" Class="giz-news-feed-media-item-dialog">
    <DialogHeader>
        <div class="giz-news-feed-media-item-dialog__header">
            <div class="giz-news-feed-media-item-dialog__header__title">news</div>
            <div class="giz-news-feed-media-item-dialog__header__text">via RedBull Gaming News</div>
        </div>
        <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseDialog()" />
    </DialogHeader>
    <DialogBody>
        <div class="giz-news-feed-media-item-dialog__body">
            <img src="@MediaFeed.Image" alt="Image" class="pb-6" />
            <div class="giz-news-feed-media-item-dialog__body__source">@MediaFeed.Source</div>
            <div class="giz-news-feed-media-item-dialog__body__title">
                @MediaFeed.Title
            </div>
            <div class="giz-news-feed-media-item-dialog__body__text">
                @MediaFeed.Description
            </div>
        </div>
    </DialogBody>
    <DialogFooter>

    </DialogFooter>
</Dialog>
