@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<Dialog @bind-IsOpen="IsOpen" IsModal="true" MaximumWidth="629px" MaximumHeight="629px" Class="giz-media-feed-item-dialog">
    <DialogHeader>
        <div class="giz-media-feed-item-dialog-header">
            <div class="giz-media-feed-item-dialog-header-title">news</div>
            <div class="giz-media-feed-item-dialog-header-text">via RedBull Gaming News</div>
        </div>
        <IconButton SVGIcon="Icons.Close" Variant="ButtonVariants.Text" Size="ButtonSizes.Small" Class="close-btn" @onclick="() => CloseDialog()" />
    </DialogHeader>
    <DialogBody>
        <div class="giz-media-feed-item-dialog-body">
            <img src="@MediaFeed.Image" alt="Image" class="pb-6" />
            <div class="giz-media-feed-item-dialog-body-source">@MediaFeed.Source</div>
            <div class="giz-media-feed-item-dialog-body-title">
                @MediaFeed.Title
            </div>
            <div class="giz-media-feed-item-dialog-body-description">
                @MediaFeed.Description
            </div>
        </div>
    </DialogBody>
    <DialogFooter>

    </DialogFooter>
</Dialog>
