@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

@if (MediaFeed != null)
{
    <div @onclick="ShowModal">
        <Card Class="media-feed-item-card">
            <CardBody>
                <div class="media-feed-item-card-heading">
                    <img src="@MediaFeed.Thumb" alt="Image" />
                </div>
                <div class="media-feed-item-card-body">
                    <div class="media-feed-item-card-title">
                        @MediaFeed.Source
                    </div>
                    <div class="media-feed-item-card-text">
                        @MediaFeed.Title
                    </div>
                </div>
            </CardBody>
        </Card>
    </div>
    <MediaFeedItemDialog MediaFeed="@MediaFeed" @bind-IsOpen="_mediaFeedItemDialogIsOpen" />
}