@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

@if (MediaFeed != null)
{
    <div @onclick="ShowModal">
        <Card Class="giz-news-feed-media-item-card">
            <CardBody>
                <div class="giz-news-feed-media-item-card__header">
                    <img src="@MediaFeed.Thumb" alt="Image" />
                </div>
                <div class="giz-news-feed-media-item-card__body">
                    <div class="giz-news-feed-media-item-card__body__title">
                        @MediaFeed.Source
                    </div>
                    <div class="giz-news-feed-media-item-card__body__text">
                        @MediaFeed.Title
                    </div>
                </div>
            </CardBody>
        </Card>
    </div>
    <MediaFeedItemDialog MediaFeed="@MediaFeed" @bind-IsOpen="_mediaFeedItemDialogIsOpen" />
}