@namespace Gizmo.Client.UI.Components
@inherits CustomDOMComponentBase
@using Gizmo.Web.Components

<div class="rss-feed-item-card active">
    <Card>
        <CardBody>
            <div class="rss-feed-item-card-body">
                <div class="rss-feed-item-card-title">
                    @RssFeedItem?.Source
                </div>
                <div class="rss-feed-item-card-text">
                    @RssFeedItem?.Title
                </div>
                <div class="rss-feed-item-card-details">
                    @RssFeedItem?.Description
                </div>
            </div>
        </CardBody>
    </Card>
</div>
