@namespace Gizmo.Client.UI.Components
@inherits ComponentBase
<div class="giz-login-alerts">
    <Toast AlertType="AlertTypes.Warning" Title="Something went wrong" Text="Try again later please"></Toast>
</div>